.go-top,
.masthead {
    text-align: center
}

@font-face {
    font-family: 'Clear Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/clear_sans/ClearSans-Regular-webfont.woff) format('woff')
}

@font-face {
    font-family: 'Clear Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/clear_sans/ClearSans-Bold-webfont.woff) format('woff')
}

@font-face {
    font-family: 'Clear Sans';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/clear_sans/ClearSans-Italic-webfont.woff) format('woff')
}

@font-face {
    font-family: 'Clear Sans';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/clear_sans/ClearSans-BoldItalic-webfont.woff) format('woff')
}

#intro .backstretch {
    opacity: .5
}

#intro_particles_container {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0
}

#intro_container {
    z-index: -1
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: #fbfbfb
}

#menu_principal,
#menu_principal_mobile {
    background-color: #000;
    font-weight: 700
}

#menu_principal.ui.menu {
    height: 4.2em
}

#menu_principal.ui.menu .dropdown.item .menu {
    background-color: rgba(1, 1, 1, 1);
    min-width: 240px
}

#menu_principal.ui.inverted.menu a.item:hover {
    background: rgba(255, 255, 255, .2)!important;
    color: #fff
}

#menu_principal.ui.inverted.menu a.item.active {
    background: rgba(255, 255, 255, .2)!important
}

#menu_principal.ui.menu .item {
    line-height: 1.7
}

#menu_principal.ui.menu .ui.dropdown .menu>.item {
    color: #fff!important
}

.masthead.segment {
    min-height: 100vh;
    padding: 0
}

.masthead {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center
}

#titulo_index {
    font-size: 4em
}

@media only screen and (max-width:767px) {
    #titulo_index {
        font-size: 2.5em
    }
}

#data_evento_por_extenso {
    background-color: rgba(0, 0, 0, .4);
    font-size: 2.5em;
    letter-spacing: 4px;
    padding: .4em .6em;
    text-space: .2;
    margin-bottom: .5em
}

@media (max-width:767px) {
    #data_evento_por_extenso {
        font-size: 1.5em
    }
}

#contador_regressivo {
    color: #fff;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    font-size: 2.8em
}

#contador_regressivo>div {
    padding: 12px;
    border-radius: 3px;
    background: rgba(0, 0, 0, .4);
    display: inline-block
}

#contador_regressivo div>span {
    padding: 18px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0);
    display: inline-block
}

.texto_descricao_contador {
    font-size: .5em
}

#intro_container.ui.container {
    z-index: -1
}

@media (max-width:400px) {
    #contador_regressivo {
        font-size: 1.5em
    }
    #contador_regressivo>div {
        padding: 8px
    }
    #contador_regressivo div>span {
        padding: 10px
    }
}

@media (min-width:401px) and (max-width:767px) {
    #contador_regressivo {
        font-size: 2em
    }
    #contador_regressivo>div {
        padding: 10px
    }
    #contador_regressivo div>span {
        padding: 12px
    }
}

#inscreva_se_ja {
    padding-top: 0
}

#video_encerramento,
#video_teaser {
    position: relative;
    padding-bottom: 56.25%;
    height: 0
}

#video_encerramento iframe,
#video_teaser iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.secao_fundo_cinza {
    background-color: #fafbfc!important
}

.secao_app_android {
    background-color: #ddd!important
}

#secao_app_android,
#secao_conteudo_secomp,
#secao_infos_home,
#secao_realizacao,
#secao_traga_seus_jogos {
    padding-bottom: 3em
}

#grid_conteudo_secomp {
    padding-top: 4em
}

h1.ui.header.titulo_pagina {
    padding-top: 1.8em;
    font-size: 3.5em;
    text-transform: uppercase
}

h1.ui.header.menor_padding_top {
    padding-top: .8em
}

h2.ui.header.titulo_diretoria.menor_padding_top {
    padding-top: .7em
}

h2.ui.header.titulo_secao {
    padding-top: .8em;
    font-size: 2.5em;
    text-transform: uppercase
}

h2.ui.header.titulo_diretoria {
    padding-top: 1.3em;
    padding-bottom: .5em;
    font-size: 2.5em;
    text-transform: uppercase
}

h3.ui.header.titulo_apoio {
    font-size: 2em;
    text-transform: uppercase
}

#entre_em_contato_header {
    font-size: 1.5em;
    padding-top: 16px
}

@media only screen and (max-width:767px) {
    h1.ui.header.titulo_pagina {
        padding-top: 2.2em
    }
    h1.ui.header.menor_padding_top {
        padding-top: .8em
    }
    h2.ui.header.titulo_diretoria {
        font-size: 1.8em
    }
}

#rodape_texto_branco {
    color: #fff;
    font-weight: 700;
    font-size: 1.2em
}

#rodape_texto_cinza {
    color: grey
}

.go-top {
    background-color: rgba(0, 0, 0, .6);
    bottom: .5em;
    right: .5em;
    color: #fff;
    font-size: 26px;
    display: none;
    position: fixed;
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    transition: all .4s ease-in-out;
    border-radius: 5px
}

.go-top:hover {
    background: #2185d0;
    color: #fff
}

#a_secomp,
#a_ufscar,
#o_departamento_de_computacao {
    height: 500px;
    background: url(../images/loading_squared.gif) center center no-repeat
}

@media (max-width:767px) {
    #a_secomp,
    #a_ufscar,
    #o_departamento_de_computacao {
        height: 200px
    }
}

@media (min-width:768px) and (max-width:1023px) {
    #a_secomp,
    #a_ufscar,
    #o_departamento_de_computacao {
        height: 350px;
        background-size: cover
    }
}

.justificado,
.paragrafos_justificados p {
    text-align: justify
}

#capture_the_flag_main_container,
#desafio_de_programadores_main_container,
#futebol_de_robos_main_container,
#gamenight_main_container {
    height: 100vh;
    background-size: cover;
    background-position: center
}

#desafio_de_programadores_texto_main_container {
    background-color: rgba(0, 0, 0, .75);
    height: 100vh
}

#futebol_de_robos_texto_main_container {
    background-color: rgba(0, 0, 0, .65);
    height: 100vh
}

#capture_the_flag_texto_main_container,
#gamenight_texto_main_container {
    background-color: rgba(0, 0, 0, .5);
    height: 100vh
}

#detalhes_desafio_grid {
    padding-top: 2em;
    padding-bottom: 2em
}

#capture_the_flag_titulo_principal,
#desafio_de_programadores_titulo_principal,
#futebol_de_robos_titulo_principal {
    padding-top: 0
}

#desafio_de_programadores_detalhes,
#desafio_de_programadores_texto_informacoes_importantes,
#descricao_capture_the_flag {
    padding-bottom: 2em
}

@media (min-width:321px) and (max-width:767px) {
    h1.ui.header.titulo_pagina {
        font-size: 2.2em
    }
    h2.ui.header.titulo_secao {
        font-size: 1.8em
    }
    #ctf_texto_principal,
    #desafio_de_programadores_texto_principal,
    #gamenight_texto_principal {
        font-size: 1em
    }
}

@media (max-width:320px) {
    h1.ui.header.titulo_pagina {
        font-size: 1.8em
    }
    #desafio_de_programadores_titulo_principal {
        margin-bottom: .2em;
        font-size: 1.4em
    }
    #header_patrocinado_por {
        font-size: .9em;
        margin-top: .2em
    }
    #ctf_texto_principal,
    #desafio_de_programadores_texto_principal,
    #gamenight_texto_principal {
        margin-top: .8em;
        font-size: .85em
    }
}

#sidebar {
    background-color: #000;
    padding-left: 50%!important;
    width: 50%!important
}

@media (min-width:376px) and (max-width:768px) {
    #sidebar {
        padding-left: 75%!important;
        width: 25%!important
    }
}

#sidebar.ui.inverted.menu .item {
    line-height: 2em
}

.ui.card>.content {
    padding: 1em .8em
}

.ui.card {
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 0 #d4d4d5!important
}

.membros_equipe .column {
    padding-left: .5rem!important;
    padding-right: .5rem!important
}

.imagem_tons_de_cinza {
    -webkit-filter: grayscale(20%);
    filter: grayscale(20%)
}

#game_night_header {
    padding-top: 4em;
    padding-bottom: 4em
}

#game_night_grid .column {
    padding: 0!important
}

#dota2,
#hearthstone,
#just_dance,
#league_of_legends,
#truco {
    height: 400px
}

@media (max-width:400px) {
    #dota2,
    #hearthstone,
    #just_dance,
    #league_of_legends,
    #truco {
        height: 200px
    }
}

.container {
    overflow-x: hidden;
    overflow-y: hidden
}

#accordion_perguntas_frequentes.ui.accordion .title {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.5;
    color: rgba(0, 0, 0, .5)
}

#accordion_perguntas_frequentes.ui.accordion .active.title {
    color: #000
}

#accordion_perguntas_frequentes.ui.accordion .content {
    font-size: 1em;
    text-align: justify;
    padding-left: 2.5em
}

.ui.middle.aligned.row.titulo_cota_patrocinio {
    padding-bottom: 0
}

.ui.sixteen.wide.column.secao_patrocinadores {
    padding-left: 7px;
    padding-right: 7px
}

#modal_detalhes_atividade .ui.medium.rounded.image,
.atividade .ui.medium.rounded.image {
    height: 100%
}

.detalhes_atividade .ui.label,
.ui.large.modal .ui.label {
    margin: .25rem .5rem .25rem 0
}

.ui.top.attached.header {
    background: #fafbfc
}

.ui.top.attached.header .patrocinador_ouro_prata {
    margin-top: -25px;
    margin-bottom: -25px
}

.ui.top.attached.header .patrocinador_apoio {
    margin-top: -45px;
    margin-bottom: -45px
}

@media only screen and (max-width:767px) {
    .ui.internally.celled.stackable.padded.grid .patrocinador_apoio,
    .ui.internally.celled.stackable.padded.grid .patrocinador_ouro_prata {
        padding-top: 0!important;
        padding-bottom: 0!important
    }
    .ui.top.attached.header.patrocinador {
        padding-top: 0!important
    }
}

.ui.top.attached.header .patrocinador_apoio img,
.ui.top.attached.header .patrocinador_ouro_prata img {
    overflow: hidden
}

.coluna_foto_ministrante {
    padding-left: 0
}

.coluna_logo_empresa {
    padding-left: 0!important
}

.sem_espacamento {
    margin: 0!important;
    border: 0!important;
    padding: 0!important
}

.profissao_ministrante {
    color: grey;
    font-size: .8em
}

.detalhes_ministrante {
    cursor: pointer
}