{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Special form for you{% endblock %}

{% block meta_description %}Contribua para a SECOMP IX com um conteúdo.{% endblock meta_description %}

{% block body_content %}
    <script src='https://www.google.com/recaptcha/api.js?hl=pt-BR'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
            MadDog
        </h1>
        <div class="ui container">
            <div class="ui stackable ordered fluid mobile mini steps wow fadeInUp" data-wow-delay="0.3s">
                <div class="active step" id="one">
                    <div class="content">
                        <div class="title">Personal</div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div class="step" id="two">
                    <div class="content">
                        <div class="title">Lecture</div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div class="step" id="three">
                    <div class="content">
                        <div class="title">Acommodation and transport</div>
                        <div class="description">

                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <form class="ui form" method="POST" name="cleiton" id="post-form" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="ui hidden divider mobile only"></div>
                    {% include 'secompufscar2018/area_conteudo/maddog/forms_parts/maddog_one.html' %}
                    {% include 'secompufscar2018/area_conteudo/maddog/forms_parts/maddog_two.html' %}
                    {% include 'secompufscar2018/area_conteudo/maddog/forms_parts/maddog_three.html' %}
                </form>
                <div class="ui icon success message" id="sucesso">
                        <i class="send icon"></i>
                        <i class="close icon"></i>
                        <div class="content">
                            <div class="header">Hello Mr. Maddog. Your form was sent successfully!</div>
                            <p>We will contact you soon! :-)</p>
                            <p><a class="ui positive button" href="{% url 'secompufscar2018:index' %}">Back</a></p>
                        </div>
                    </div>

                    <div class="ui icon error message" id="erro">
                        <i class="frown icon"></i>
                        <i class="close icon"></i>
                        <div class="content">
                            <div class="header">There was an error submitting your form!</div>
                            <div id="msgs"></div>
                            <p>If you think you should not be seeing this, please contact at <a
                                    href="mailto:ti@secompufscar.com.br">
                                ti@secompufscar.com.br</a> and report it
                            </p>
                        </div>
                    </div>
                    <div class="ui icon warning message" id="captcha_warning">
                        <i class="close icon"></i>
                        <div class="content">
                            <div class="header">Fill in the CAPTCHA</div>
                            <p> I know you are not a robot, Mr. Maddog! But unfortunately our server does not. :/
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}
    <script src="{% static 'secompufscar2018/js/formulario_maddog.js' %}"></script>
{% endblock body_content %}