{% extends '/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Erro 403{% endblock %}

{% block meta_description %}Ops... Algo deu errado :-({% endblock meta_description %}

{% block body_content %}
    <!-- Erro 403 -->
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Acesso Proibido
                </h1>
            </div>
            <div class="twelve wide computer sixteen wide mobile centered column">
                <div class="row">
                    <div class="ui icon negative message wow fadeInUp" data-wow-delay="0.3s">
                        <i class="frown icon"></i>
                        <div class="content">
                            <div class="header">
                                Você não tem permissão para acessar esta página do servidor!
                            </div>
                            <p>Verifique a URL e tente novamente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '/helpers/patrocinadores.html' %}

{% endblock body_content %}