{% extends '/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Erro ReCaptcha{% endblock %}

{% block meta_description %}Inválida :/{% endblock meta_description %}

{% block body_content %}
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    ReCaptcha inválido
                </h1>
            </div>
            <div class="twelve wide computer sixteen wide mobile centered column">
                <div class="row">
                    <div class="ui icon negative message wow fadeInUp" data-wow-delay="0.3s">
                        <i class="frown icon"></i>
                        <div class="content">
                            <div class="header">Por favor preencha o ReCaptcha corretamente...
                            </div>
                            <p>Se você está vendo essa mensagem provavelmente você não preencheu o recaptcha, ou você estava sem conexão
                            com a internet quando clicou para realizar a inscrição. Desculpe-nos a inconveniência, mas isso garante melhor segurança
                            para o evento.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '/helpers/patrocinadores.html' %}

{% endblock body_content %}