{% extends 'secompufscar2017/listas/lista_base.html' %}
{% block title %}SECOMP UFSCar - Lista de Inscrições{% endblock %}

{% block titulo_table %}{{ titulo }}{% endblock titulo_table %}

{% block theader_block %}
    <th class="center aligned collapsing">#</th>
    {% for atributo in header %}
        <th>
            {{ atributo }}
        </th>
    {% endfor %}
{% endblock theader_block %}

{% block tbody_block %}
    {% for row in dados %}
        <tr>
            <td class="collapsing">{{ forloop.counter }}</td>
            <td class="collapsing">
                <i class="user icon"></i> {{ row.0 | title }}
            </td>
            <td class="collapsing">
                {{ row.1 }}
            </td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
{% endblock tbody_block %}


