{% extends 'secompufscar2017/listas/lista_base.html' %}
{% block title %}SECOMP UFSCar - Lista de Inscricões{% endblock %}

{% block titulo_table %}Lista de Inscrições - VIII Semana da Computação da UFSCar{% endblock titulo_table %}

{% block theader_block %}
    <th class="center aligned collapsing">#</th>
    {% for atributo in header %}
        <th>
            {{ atributo }}
        </th>
    {% endfor %}
{% endblock theader_block %}

{% block tbody_block %}
    {% for row in dados %}
        <tr>
            <td class="collapsing">{{ forloop.counter }}</td>
            <td class="collapsing">
                <i class="user icon"></i> {{ row.0 | title }}  {% if row.3 %}
                <div class="ui orange small label">Pagamento Pendente</div>  {% endif %}
            </td>
            <td class="center aligned collapsing">
                {% if row.1 %} <i class="check icon"></i>  {% endif %}
            </td>
            <td class="center aligned collapsing">{{ row.2 }}</td>
            <td></td>
        </tr>
    {% endfor %}
{% endblock tbody_block %}


