{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'secompufscar2017/semantic/dist/semantic.2.2.13.min.css' %}">
    <link rel="stylesheet" href="{% static 'secompufscar2017/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'secompufscar2017/css/secompufscar_08092017.min.css' %}">

    <script src="{% static 'secompufscar2017/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'secompufscar2017/js/wow.min.js' %}"></script>
    <script src="{% static 'secompufscar2017/js/custom.min.js' %}"></script>

    <script src="{% static 'secompufscar2017/semantic/dist/semantic.2.2.13.min.js' %}"></script>

    {% include 'secompufscar2017/helpers/favicons.html' %}

</head>
<body>

<main class="pusher">

    <table class="ui celled striped table">
        <thead>
        <tr>
            <th class="center aligned" colspan="{{ header|length|add:"1" }}">
                {% block titulo_table %}{% endblock titulo_table %}
            </th>
        </tr>
        <tr>
            {% block theader_block %}{% endblock theader_block %}
        </tr>
        </thead>
        <tbody>
        {% block tbody_block %}{% endblock tbody_block %}
        </tbody>
    </table>

</main>

{#- lista por atividade (pq agora é genérico, seria só trocar o tipo)#}
{#- lista de presentes na atividade X pra sorteio (aliás, acho que podíamos implementar o sorteio dentro da Área#}

</body>
</html>