<div id="part_one">

    <div class="ui stackable grid">
        <div class="row centered wow fadeInUp" data-wow-delay="0.3s">
            <h2 class="ui menor_padding_top header">
                Personal informations
            </h2>
        </div>

        <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
            <div class="ten wide column">
                <div class="required field">
                    <label>Full name</label>
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        {{ form.nome }}
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <div class="required field">
                    <label>Telephone</label>
                    <div class="ui left icon input">
                        <i class="phone icon"></i>
                        {{ form.tel }}
                    </div>
                </div>
            </div>
        </div>

        <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
            <div class="sixteen wide column">
                <div class="required field">
                    <label>E-mail</label>
                    <div class="ui left icon input">
                        <i class="envelope icon"></i>
                        {{ form.email }}
                    </div>
                </div>
            </div>
        </div>

        <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
            <div class="eight wide column">
                <div class="required field">
                    <label>Profession</label>
                    <div class="ui left icon input">
                        <i class="travel icon"></i>
                        {{ form.profissao }}
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="required field">
                    <label>Company / University</label>
                    <div class="ui left icon input">
                        <i class="student icon"></i>
                        {{ form.empresa }}
                    </div>
                </div>
            </div>
        </div>

        <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
            <div class="sixteen wide column">
                <div class="required field">
                    <label>Brief biography</label>
                    {{ form.bio }}
                </div>
            </div>
        </div>

        <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
            <div class="ten wide column">
                <div class="field">
                    <label>Photo</label>
                    {{ form.foto }}
                </div>
            </div>
            <div class="six wide column">
                <div class="required field">
                    <label>T-Shirt size</label>
                    {{ form.tamanho_camiseta }}
                </div>
            </div>
        </div>

        <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
            <div class="eight wide column">
                <div class="field">
                    <label>Facebook</label>
                    <div class="ui left icon input">
                        <i class="facebook icon"></i>
                        {{ form.face }}
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="field">
                    <label>Twitter</label>
                    <div class="ui left icon input">
                        <i class="twitter icon"></i>
                        {{ form.twitter }}
                    </div>
                </div>
            </div>
        </div>

        <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
            <div class="eight wide column">
                <div class="field">
                    <label>LinkedIn</label>
                    <div class="ui left icon input">
                        <i class="linkedin icon"></i>
                        {{ form.linkedin }}
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="field">
                    <label>GitHub</label>
                    <div class="ui left icon input">
                        <i class="github icon"></i>
                        {{ form.github }}
                    </div>
                </div>
            </div>
        </div>

        <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
            <div class="right floated column">
                <div class="ui right floated button" onclick="proxPessoal()">
                    <i class="right arrow icon"></i>
                    Next
                </div>
            </div>
        </div>
    </div>
</div>