{% extends 'secompufscar2018/helpers/base.html' %}

{% load staticfiles %}

{% block title %}SECOMP UFSCar - Área do Participante{% endblock %}

{% block meta_description %}Acesse aqui a Área do Participante da IX SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}

    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    ÁREA DO PARTICIPANTE
                </h1>
            </div>

            <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                <div class="ui top attached header">
                    <div class="ui stackable two column grid">
                        <div class="middle aligned column">
                            <h2 class="ui header">
                                Olá, {{ user.first_name|title }}!
                            </h2>
                        </div>
                        <div class="middle right aligned column">
                            <a class="ui blue button" href="{% url 'secompufscar2017:logout' %}">
                                <i class="sign out icon"></i>
                                Fazer logout
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui attached fluid segment">
                    <div class="ui grid">
                        <!-- TODO colocar as informações desse ano -->
                        {% include 'secompufscar2017/area_do_participante/dashboard/informacoes_cadastro.html' %}

                        {% include 'secompufscar2017/area_do_participante/dashboard/informacoes_inscricao.html' %}

                        {% include 'secompufscar2017/area_do_participante/dashboard/informacoes_compra_kit.html' %}

                        {% include 'secompufscar2017/area_do_participante/dashboard/score.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}
