{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Inscrições indisponíveis{% endblock %}

{% block meta_description %}SECOMP UFSCar - Inscrições indisponíveis{% endblock meta_description %}

{% block body_content %}
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide center aligned column">
                {% if agora < evento.inicio_inscricoes_evento %}
                    <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                        Calma, calma!
                    </h1>
                    <h2 class="ui centered header wow fadeInUp" data-wow-delay="0.4s">
                        As inscrições ainda não abriram...
                    </h2>
                    <h2 class="ui centered header wow fadeInUp" data-wow-delay="0.4s">
                        Aguarde só mais um pouquinho. <br>
                        Logo mais você poderá se inscrever na nossa melhor SECOMP de todas!
                    </h2>
                {% elif agora > evento.fim_inscricoes_evento and agora < evento.data_hora_fim_evento %}
                    <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                        Inscrições encerradas...
                    </h1>
                    <h2 class="ui centered header wow fadeInUp" data-wow-delay="0.4s">
                        Mas não fique triste! Você ainda pode aproveitar boa parte do conteúdo da IX SECOMP!
                        Você pode participar de qualquer atividade que não requeira inscrição. Não perca!
                    </h2>
                {% else %}
                    <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                        Inscrições encerradas...
                    </h1>
                    <h2 class="ui centered header wow fadeInUp" data-wow-delay="0.4s">
                        Ano que vem tem mais!<br>Até 2019!
                    </h2>
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}