{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Inscrições em atividades{% endblock %}

{% block meta_description %}Inscrições em atividades{% endblock meta_description %}

{% block body_content %}
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Inscrições em Atividades
                </h1>
                <br>
            </div>
            <div class="sixteen wide computer sixteen wide mobile centered column">

                {% with atividades=minicursos %}
                    {% include 'secompufscar2017/area_do_participante/dashboard/inscricao_atividades.html' %}
                {% endwith %}

            </div>
            <div class="sixteen wide computer sixteen wide mobile centered column">
                {% with atividades=workshops %}
                    {% include 'secompufscar2017/area_do_participante/dashboard/inscricao_atividades.html' %}
                {% endwith %}
            </div>
            {% include 'secompufscar2017/area_do_participante/dashboard/atualizar_detalhes_inscricao_atividades.html' %}

            {% include 'secompufscar2017/programacao/helpers/modal_atividade.html' %}
        </div>
    </div>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}
