{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Área do Participante: Login{% endblock %}

{% block meta_description %}Faça login para entrar na Área do Participante da IX SECOMP
    UFSCar.{% endblock meta_description %}

{% block body_content %}

    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Área do participante
                </h1>
            </div>
            <div class="middle aligned stackable row">
                <div class="ui sixteen wide mobile six wide tablet six wide computer centered column">
                    <form method="post" action="{% url 'secompufscar2017:login' %}" class="ui form" novalidate>
                        {% csrf_token %}
                        {% if senha_alterada %}
                            <div class="ui positive message">
                                Sua senha foi alterada com sucesso! Por favor, realize seu login novamente com a nova senha.
                            </div>
                        {% endif %}
                        <div class="field">
                            <label for="id_username">E-mail</label>
                            <div class="ui left icon input">
                                <input type="email" name="username" placeholder="E-mail" id="id_username">
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label for="password">Senha</label>
                            <div class="ui left icon input">
                                <input type="password" name="password" placeholder="Senha" id="id_password">
                                <i class="lock icon"></i>
                            </div>
                        </div>
                        <input type="submit" value="Entrar" class="ui blue submit button">
                        <input type="hidden" name="next" value="{{ next }}" />
                        <a href="{% url 'secompufscar2017:password_reset' %}">&nbsp;&nbsp;Esqueci minha senha</a>
                    </form>

                    {% if form.errors %}
                        <div class="ui error message">
                            <div class="content">
                                <div class="header">Falha no login!</div>
                                <p>Usuário ou senha inválidos ou cadastro não confirmado.</p>
                                <p>Caso ainda não tenha confirmado seu cadastro,
                                    <a href="{% url 'secompufscar2017:reenviar_email_confirmacao' %}">clique aqui</a>
                                    para reenviarmos o e-mail de confirmação.
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="ui vertical divider">
                    ou
                </div>

                <div class="ui sixteen wide mobile six wide tablet six wide computer centered center aligned column">
                    <a href="{% url 'secompufscar2017:cadastro' %}">
                        <div class="ui big green labeled icon button">
                            <i class="signup icon"></i>
                            Cadastre-se
                        </div>
                    </a>
                    <p></p>
                    <p>Se você se cadastrou para a VIII SECOMP no ano passado, não é necessário
                    realizar novo cadastro! Caso tenha esquecido sua senha, utilize o link
                    <b>Esqueci minha senha</b> para redefiní-la.</p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.ui.form')
            .form({
                fields: {
                    email: {
                        identifier: 'id_username',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Entre com seu e-mail.'
                            },
                            {
                                type: 'email',
                                prompt: 'Entre com um e-mail válido.'
                            }
                        ]
                    },
                    password: {
                        identifier: 'id_password',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Entre com a senha.'
                            }
                        ]
                    }
                },
                inline: true,
                on: 'blur'
            }
        );
    </script>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}