{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Logout{% endblock %}

{% block meta_description %}Logout realizado com sucesso.{% endblock meta_description %}

{% block body_content %}
    <!-- Inscrição -->
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide center aligned column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Logout realizado com sucesso
                </h1>
                <h2 class="ui centered header wow fadeInUp" data-wow-delay="0.4s">Até mais!</h2>
                <a href="{% url 'secompufscar2017:login' %}">
                    <div class="wow fadeInUp" data-wow-delay="0.5s">
                        <button class="ui blue button">
                            Realizar login novamente
                        </button>
                    </div>
                </a>
            </div>
        </div>
    </div>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}