/*
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


/*@font-face {*/
  /*font-family: "And Black";*/
  /*src: url("myfont-webfont.eot?#iefix") format('embedded-opentype'),*/
       /*url("fonts/and_black.woff") format('woff'),*/
       /*url("fonts/and_black.ttf") format('truetype');*/
/*}*/

/*body {
  margin: 0;
}*/

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  /*background-color: #6ab344;*/
  background-color: #2DAED9;
  color: #fff;
}

::selection {
  /*background-color: #6ab344;*/
  background-color: #2DAED9;
  color: #fff;
}

.secomp-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.secomp-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.secomp-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #64ffda !important;
  color: black !important;
}

.secomp-mobile-title {
  display: none !important;
}


.secomp-logo-image {
 /* height: 28px;
  width: 140px;*/
  height: 60px;
  width: 150px;
}

.secomp-logo-image-mobile {
  height: 40px;
  width: 145px;
}


.secomp-header {
  overflow: visible;
  background-color: white;
}

  .secomp-header .material-icons {
    color: #767777 !important;
  }

  .secomp-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .secomp-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

  .secomp-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .secomp-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    justify-content: flex-end;
    width: 800px;
  }

  .secomp-search-box.is-focused ~ .secomp-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .secomp-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .secomp-navigation .mdl-navigation__link:hover {
      /*border-bottom: 4px solid #8bc34a;*/
      border-bottom: 4px solid #2DAED9;
    }

  .secomp-search-box {
    order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .secomp-more-button {
    order: 3;
  }


.secomp-drawer {
  border-right: none;
}

  .secomp-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .secomp-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .secomp-drawer span.mdl-navigation__link.mdl-navigation__link {
    /*color: #8bc34a;*/
    color: #2DAED9;
  }

  .secomp-drawer .mdl-layout-title {
    position: relative;
    /*background: #6ab344;*/
    background: #E9EAE9;
    height: 160px;

  }

    .secomp-drawer .secomp-logo-image {
      position: absolute;
      bottom: 16px;
    }

.secomp-be-together-section {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url('../images/paginainicial/destaque.jpg') center 30% no-repeat;
  background-size: cover;
}

.secomp-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  /*color: #767777;*/
  color: #FFFFFF;
  font-weight: 300;
}

.secomp-slogan {
  font-size: 60px;
  padding-top: 100px;
  font-weight: bolder;
}

.secomp-sub-slogan {
  /*font-size: 21px;*/
  font-size: 40px;
  padding-top: 24px;
  font-weight: bold;
}

.secomp-create-character {
  font-size: 24px;
  padding-top: 400px;
  font-weight: bold;
}

  .secomp-create-character a {
    text-decoration: none;
    /*color: #767777;*/
    color: #FFFFFF;
    font-weight: 300;
  }

.secomp-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.secomp-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.secomp-screen {
  text-align: center;
}

.secomp-screen .secomp-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.secomp-image-link {
  text-decoration: none;
}

.secomp-container {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

  .secomp-container .secomp-screen-image {
    width: 40%;
    z-index: 1;
  }


.secomp-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}

  .secomp-phone .secomp-screen-image {
    width: 100%;
    z-index: 1;
  }


.secomp-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
}

  .secomp-tablet .secomp-screen-image {
    width: 100%;
    z-index: 1;
  }

  .secomp-tablet .secomp-link {
    display: block;
    z-index: 2;
  }


.secomp-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

  .secomp-tv .secomp-screen-image {
    width: 100%;
    z-index: 1;
  }


.secomp-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

  .secomp-auto .secomp-screen-image {
    display: block;
    height: 300px;
    z-index: 1;
  }

.equipe-section {
  position: relative;
  /*background: url('images/primeiro-lugar.jpg') center top no-repeat;*/
  background-size: cover;
  height: 182px;
}

.secomp-desafio-programadores-top {
  position: relative;
  /*background: url('images/desafio-programadores.jpg') center top no-repeat;*/
  background: url('../images/paginainicial/desafio-programadores.jpg') center 30% no-repeat;
  background-size: cover;
  height: 800px;
  width: auto;

 /* position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url('images/destaque.jpg') center 30% no-repeat;
  background-size: cover;*/
}

.secomp-contato {
  position: relative;
  height: 96px;
  width: auto;
}

.secomp-apresentacao-top {
  position: relative;
  /*background: url('images/desafio-programadores.jpg') center top no-repeat;*/
  /*background: url('images/apresentacao.jpg') center 30% no-repeat;*/
  background-size: cover;
  height: 96px;
  width: auto;
}

.secomp-container-palestras {
  position: relative;
  /*background: url('images/desafio-programadores.jpg') center center no-repeat;*/
  background-size: cover;
  height: 214px;
}

.secomp-container-minicursos {
  position: relative;
  /*background: url('images/desafio-programadores.jpg') center center no-repeat;*/
  background-size: cover;
  height: 181px;
}

.secomp-container-cronograma {
  position: relative;
  /*background: url('images/desafio-programadores.jpg') center center no-repeat;*/
  background-size: cover;
  height: 182px;
}

.secomp-container-patrocinadores {
  position: relative;
  /*background: url('images/desafio-programadores.jpg') center center no-repeat;*/
  background-size: cover;
  height: 182px;
}

.secomp-container-equipe {
  position: relative;
  /*background: url('images/desafio-programadores.jpg') center center no-repeat;*/
  background-size: cover;
  height: 182px;
}

.secomp-container-workshops {
  position: relative;
  /*background: url('images/desafio-programadores.jpg') center center no-repeat;*/
  background-size: cover;
  height: 246px;
}

.secomp-container-mesaredonda {
  position: relative;
  /*background: url('images/desafio-programadores.jpg') center center no-repeat;*/
  background-size: cover;
  height: 214px;
}

.secomp-container-desafio {
  position: relative;
  /*background: url('images/desafio-programadores.jpg') center center no-repeat;*/
  background-size: cover;
  height: 214px;
}

.secomp-container-mais {
  position: relative;
  /*background: url('images/desafio-programadores.jpg') center center no-repeat;*/
  background-size: cover;
  height: 246px;
}

.secomp-container-section {
  position: relative;
  background: url('../images/paginainicial/desafio_programadores.jpg') center center no-repeat;
  background-size: cover;
  height: 800px;
}

.secomp-container-section_game_night {
  position: relative;
  background: url('../images/paginainicial/gamenight.jpg') center center no-repeat;
  background-size: cover;
  height: 800px;
}

.secomp-container-section2 {
  position: relative;
  background: url('../images/paginainicial/edgames.png') bottom center no-repeat;
  background-size: cover;
  height: 800px;
}

.secomp-container-churrasco {
  position: relative;
  background: url('../images/paginainicial/churrasco.jpg') bottom center no-repeat;
  background-size: cover;
  height: 700px;
}

.secomp-container-section3 {
  position: relative;
  background: url('../images/paginainicial/processos_seletivo.jpg') bottom center no-repeat;
  background-size: cover;
  height: 800px;
}

.secomp-container-section4 {
  position: relative;
  background: url('../images/paginainicial/palestras.jpg') bottom center no-repeat;
  background-size: cover;
  height: 850px;
}

.secomp-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /*background-color: #23b7df;*/
  /*background-color: #37474f;*/
  /*background-color: #074A6B;*/
  /*background-color: #154259;*/
  /*background-color: #3F6DB3;*/
  /*background-color: #314B78;*/
  background-color: #154259;
}

.secomp-section-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}

.secomp-section-text2 {
  max-width: 800px;
  margin-left: 10%;
  /*padding: 24px;*/
  padding-left: 24px;
  padding-right: 24px;
  /*padding-top: 10px;*/
  text-align: justify;
  color: black;
}

  .secomp-section-text p {
    padding-top: 8px;
  }

.secomp-link {
  text-decoration: none;
  /*color: #8bc34a !important;*/
  color: #2DAED9 !important;
}

  .secomp-link:hover {
    /*color: #7cb342 !important;*/
    color: #00769E !important;
  }

  .secomp-link .material-icons {
    position: relative;
    top: 6px;
  }

.secomp-alt-link {
  text-decoration: none;
  /*color: #64ffda !important;*/
  color: #2EBEEE !important;
  font-size: 16px;
}


.secomp-alt-link2 {
  text-decoration: none;
  /*color: #64ffda !important;*/
  color: #FFFFFF !important;
  font-size: 30px;

}

  .secomp-alt-link:hover {
    /*color: #00bfa5 !important;*/
    color: #8CE3FF !important;
  }

  .secomp-alt-link .material-icons {
    position: relative;
    top: 6px;
  }

.secomp-customized-section {
  text-align: center;
}

.secomp-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

  .secomp-customized-section-text p {
    padding-top: 16px;
  }

.secomp-customized-section-image {
  background: url('images/devices.jpg') center top no-repeat;
  background-size: cover;
  height: 400px;
}

.secomp-more-section {
  /*padding: 80px 0;*/
  padding: 30px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

  .secomp-more-section .secomp-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
  }

.secomp-card-container {
}

  .secomp-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
  }

    .secomp-card-container .mdl-card__media img {
      width: 100%;
    }

  .secomp-card-container .mdl-card__title {
    background: transparent;
    height: auto;
  }

  .secomp-card-container .mdl-card__title-text {
    color: black;
    height: auto;
  }

  .secomp-card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    /*padding-bottom: 48px;*/
    padding-bottom: 26px;
  }

  .secomp-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }

  .secomp-card-container .mdl-card__actions a {
    border-top: none;
    line-height: 32px;
    font-size: 16px;
  }

.secomp-footer {
  background-color: #fafafa;
  position: relative;
}

  .secomp-footer a:hover {
    /*color: #8bc34a;*/
    color: #2DAED9;
  }

  .secomp-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
  }

  .secomp-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
  }

  .secomp-footer .mdl-mega-footer--bottom-section {
    position: relative;
  }

  .secomp-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
  }

  .secomp-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
  }


.secomp-link-menu:hover {
  cursor: pointer;
}


/**** Mobile layout ****/

/**/

/*A partir daqui é usado na página palestras para controlar o tab bar*/
./*mdl-demo .mdl-layout__header-row {
  padding-left: 40px;
  height: 70px;
  /*height: 53px;
}*/

/*Adicional ao template*/
.mdl-demo .mdl-layout__header-row {
  min-height: 50px;
}

.mdl-demo .mdl-layout__header {
  background-color: white;
  min-height: 50px;
}

.mdl-demo .mdl-layout.is-small-screen .mdl-layout__tab-bar-container {
  display: none;
}
.mdl-demo .mdl-layout.is-small-screen .mdl-layout__header-row {
  padding-left: 60px;
}
.mdl-demo .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit;
}
.mdl-demo .mdl-layout__tab-bar-button {
  display: none;
}
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__drawer-button {
  /*display: none;*/
}
.mdl-demo .mdl-layout__tab-bar-container {
  overflow: visible;
  /*height: 64px;*/
  height: 50px;
}
.mdl-demo .mdl-layout__tab-bar {
  overflow: visible;
  position: relative;
  padding: 0;
  padding-left: 16px;
  height: 100%;
  width: 100%;
}

.mdl-demo .mdl-color--primary-dark {
  background-color: rgb(9,135,167)!important;
  /*#66757f;*/
}


.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
 /* height: 64px;
  line-height: 64px;*/
   height: 50px;
  line-height: 50px;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px;
}

.inscricao {
	line-height: 42px;
}


/**** Mobile layout ****/
@media (max-width: 900px) {
  .secomp-navigation-container {
    display: none;
  }

  .secomp-alt-link2 {
  text-decoration: none;
  /*color: #64ffda !important;*/
  color: #FFFFFF !important;
  font-size: 10px;
  line-height: 5px;


}

.inscricao {
	line-height: 14px;
}

  .secomp-title {
    display: none !important;
  }


  .secomp-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 90px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .secomp-search-box.is-focused ~ .secomp-mobile-title {
    opacity: 0;
  }

  .secomp-more-button {
    display: none;
  }

  .secomp-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .secomp-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .secomp-be-together-section {
    height: 350px;
  }

  .secomp-slogan {
    font-size: 26px;
    margin: 0 16px;
    /*padding-top: 24px;*/
    padding-top: 80px;
  }

  .secomp-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
    padding-bottom: 12px;
  }

  .secomp-create-character {
    /*padding-top: 200px;*/
    padding-top: 150px;
    font-size: 16px;
  }

  .secomp-create-character img {
    height: 12px;
  }

  .secomp-fab {
    display: none;
  }

  .secomp-section-text {
    margin-left: 0;
    padding: 16px;
  }

  .secomp-footer .mdl-mega-footer--bottom-section {
    display: none;
  }

  .secomp-container-section {
    height: 800px;
  }

  .secomp-container-section_game_night {
    height: 850px;
  }

  .secomp-container-section2 {
    height: 900px;
  }

  .secomp-container-section3 {
    height: 900px;
  }

  .secomp-container-section4 {
    height: 900px;
    background: url('images/paginainicial/apresentacao.jpg') center center no-repeat;
  }

  .equipe-section {
  	height: 300px;
  }

  .secomp-container-equipe {
  	height: 220px;
	}
}



/*.mdl-demo main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}*/
/*.mdl-demo .mdl-card {
  height: auto;
  display: flex;
  flex-direction: column;
}
.mdl-demo .mdl-card > * {
  height: auto;
}
.mdl-demo .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}
.mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
.mdl-demo .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}
.mdl-demo .mdl-card__actions a {
  color: #00BCD4;
  margin: 0;
}
.mdl-demo .mdl-card__actions a:hover,
.mdl-demo .mdl-card__actions a:active {
  color: inherit;
  background-color: transparent;
}
.mdl-demo .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.mdl-demo #add {
  position: absolute;
  right: 40px;
  top: 36px;
  z-index: 999;
}

.mdl-demo .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}
.mdl-demo section.section--center {
  max-width: 860px;
}
.mdl-demo #features section.section--center {
  max-width: 620px;
}
.mdl-demo section > header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mdl-demo section > .section__play-btn {
  min-height: 200px;
}
.mdl-demo section > header > .material-icons {
  font-size: 3rem;
}
.mdl-demo section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}
.mdl-demo section .section__circle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 1;
}
.mdl-demo section .section__text {
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 8px;
}
.mdl-demo section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}
.mdl-demo section .section__text a {
  text-decoration: none;
}
.mdl-demo section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}
.mdl-demo section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px;
}
.mdl-demo .is-small-screen section.section--footer .section__circle--big {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 8px 16px;
}
.mdl-demo section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px;
}
.mdl-demo section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}
.mdl-demo .mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px;
}
.mdl-demo .mdl-layout__tab-panel:not(#overview) {
  background-color: white;
}
.mdl-demo #features section {
  margin-bottom: 72px;
}
.mdl-demo #features h4, #features h5 {
  margin-bottom: 16px;
}
.mdl-demo .toc {
  border-left: 4px solid #C1EEF4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}
.mdl-demo .toc h4 {
  font-size: 0.9rem;
  margin-top: 0;
}
.mdl-demo .toc a {
  color: #4DD0E1;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block;
}
.mdl-demo .mdl-menu__container {
  z-index: 99;
}*/
