{% extends 'secompufscar2019/helpers/base.html' %}

{% load staticfiles %}

{% block title %}SECOMP UFSCar - Caravanas{% endblock %}

{% block meta_description %}Traga sua caravana e ganhe desconto no valor do kit, venha para a melhor SECOMP!{% endblock meta_description %}

{% block body_content %}
    <script src='https://www.google.com/recaptcha/api.js?hl=pt-BR'></script>
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered stackable grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Caravanas
                </h1>
            </div>
            <div class="ui nine wide computer sixteen wide tablet sixteen wide mobile column">
                    <div class="ui justificado fluid text container wow fadeInUp" data-wow-delay="0.3s">
                        <p>A SECOMP agora está ofecerendo um desconto especial para caravanas!</p>
                        <p>Para receber o cupom de <B>10%</B> de desconto no valor do kit de cada integrante, sua caravana deve conter ao menos
                            15 pessoas e todas elas devem estar inscritas no evento. Além disso a caravana deve partir de
                            pelo menos 30 km de distância de São Carlos.</p>

                        <p>Caso sua caravana contemple estes requisitos, basta que um dos integrantes preencha o formulário
                            a seguir.</p>

                        <p>Contamos com sua presença, não perca a melhor SECOMP!</p>
                    </div>
            </div>
            <div class="ui one wide computer tablet only column"></div>
            <div class="ui six wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp"
                 data-wow-delay="0.3s">
                <h2 class="ui centered menor_padding_top header">
                    Submissão de caravanas
                </h2>
                <form class="ui form" novalidate>
                    {% csrf_token %}
                    <div class="field">
                        <label for="email">Seu e-mail</label>
                        <input name="email" id="email" type="email" placeholder="Informe aqui seu e-mail.">
                    </div>
                    <div class="field">
                        <label for="cidade">Cidade de partida</label>
                        <input name="cidade" id="cidade" type="text" placeholder="Informe aqui a cidade de partida.">
                    </div>
                    <div class="field">
                        <label for="integrantes">Nome de todos os integrantes</label>
                        <textarea name="integrantes" id="integrantes" type="text" rows="4" placeholder="Informe aqui o nome de todos os integrantes da caravana."></textarea>
                    </div>
                    <div class="field">
                        <div class="g-recaptcha" data-sitekey="6LerM0gUAAAAAAc52ET2parkXXBNm1YvHYOHZ2KP"
                             data-callback="captcha_filled"
                             data-expired-callback="captcha_expired"></div>
                    </div>
                    <div class="ui black button" id="botao_enviar_email">
                        <i class="send icon"></i>
                        Enviar informações
                    </div>
                    <div class="ui icon success message">
                        <i class="send icon"></i>
                        <i class="close icon"></i>
                        <div class="content">
                            <div class="header">As informações foram enviadas com sucesso!</div>
                            <p>Entraremos em contato em breve :-)</p>
                        </div>
                    </div>
                    <div class="ui icon error message">
                        <i class="frown icon"></i>
                        <i class="close icon"></i>
                        <div class="content">
                            <div class="header">Houve um erro no envio das informações!</div>
                            <p>Desculpe-nos pelo transtorno.</p>
                            <p>Por favor, entre em contato conosco pelo e-mail <a
                                    href="mailto:contato@secompufscar.com.br">
                                contato@secompufscar.com.br</a> e informe também que obteve erro ao enviar a mensagem
                                pelo site.
                            </p>
                        </div>
                    </div>
                    <div class="ui icon warning message" id="captcha_warning">
                        <i class="close icon"></i>
                        <div class="content">
                            <div class="header">Preencha o captcha!</div>
                            <p> Confio que você não é um robô! Mas o nosso servidor infelizmente não. :/
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'secompufscar2019/js/formulario_caravanas.js' %}"></script>
    {% include 'secompufscar2019/helpers/patrocinadores.html' %}
{% endblock body_content %}