{% extends 'secompufscar2019/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Contato{% endblock %}

{% block meta_description %}Contribua para a X SECOMP com um conteúdo.{% endblock meta_description %}

{% block body_content %}
    <style>

    </style>
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered stackable grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Contato
                </h1>
            </div>

            <div class="ui wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp" data-wow-delay="0.3s" id="forms">
                <h2 class="ui centered menor_padding_top header" id="entre_em_contato_header">
                    É uma empresa multinacional? É dono de uma empresa? É um aluno? É alguém que tenha algo a contribuir com a SECOMP IX?
                    Entre em contato conosco =)
                </h2>
                <br><br>
                <div class="ui grid container centered">
                    <div class="stackable row">
                        <a class="ui red button four wide column" id="botao_minicurso" href="{% url 'secompufscar2019:mini_curso' %}">
                            <div style="text-align: center;"><p>Quero dar um minicurso!</p></div>
                            <br>
                            <div style="text-align: center;"><i class="ui huge white terminal icon"></i></div>
                        </a>

                        <a class="ui blue button four wide column" id="botao_mesa" href="{% url 'secompufscar2019:mesa_redonda' %}">
                            <div style="text-align: center;"><p>Quero ministrar a mesa redonda!</p></div>
                            <br>
                            <div style="text-align: center;"><i class="ui huge white comments icon"></i></div>
                        </a>

                        <a class="ui green button four wide column" href="{% url 'secompufscar2019:palestra' %}" id="botao_palestra">
                            <div style="text-align: center;"><p>Quero ministrar uma palestra!</p></div>
                            <br>
                            <div style="text-align: center;"><i class="ui huge white microphone icon"></i></div>
                        </a>
                    </div>
                </div>
                <br><br>
            </div>

        </div>
    </div>

    <script type="text/javascript">

        $('#botao_minicurso').on('click',function () {
            $('#botao_minicurso').addClass('loading');
        });

        $('#botao_palestra').on('click',function () {
            $('#botao_palestra').addClass('loading');
        });

        $('#botao_mesa').on('click',function () {
            $('#botao_mesa').addClass('loading');
        });

    </script>

    {% include 'secompufscar2019/helpers/patrocinadores.html' %}
{% endblock body_content %}
