{% extends 'secompufscar2019/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Equipe{% endblock %}

{% block meta_description %}Conheça os membros da equipe organizadora da X SECOMP
    UFSCar.{% endblock meta_description %}

{% block body_content %}
    <!-- =========================
        EQUIPE
    ============================== -->
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column" id="easter">
                <h1 class="ui centered header titulo_pagina wow fadeInUpheading " data-wow-delay="0.3s">
                    Equipe
                </h1>
                {% for diretoria in diretorias %}
                    <div class="row">
                        {% if diretoria.membros %}
                            <h2 class="ui centered header wow titulo_diretoria
                                {% if forloop.counter0 == 0 %}menor_padding_top {% endif %}fadeInUp"
                                data-wow-delay="0.3s">
                                {{ diretoria.nome }}</h2>
                            </div>
                            <div class="row">
                            <div class="ui five column doubling centered grid membros_equipe">
                                {% for membro in diretoria.membros %}
                                    <div class="column">
                                        <div class="ui fluid card item wow fadeInUp" data-wow-delay="0.3s">
                                            <div class="image">
                                                {% if membro.foto %}
                                                    <img src="{% static 'secompufscar2019/images/loading_squared.gif' %}"
                                                         class="imagem_tons_de_cinza"
                                                         data-src="{{ membro.foto.url }}"
                                                         alt="Foto do membro de equipe {{ membro.participante.user.first_name }}
                                                        {{ membro.participante.user.last_name }}">
                                                {% else %}
                                                    <img src="{% static 'secompufscar2019/images/usuario_anonimo.jpg' %}"
                                                         alt="Membro de equipe sem foto">
                                                {% endif %}
                                                {% if membro.cargo and membro.email_secomp %}
                                                    <a class="ui mini bottom left attached black label"
                                                       data-title="{{ membro.participante.usuario.first_name }}
                                                    {{ membro.participante.usuario.last_name }} -
                                                    {{ membro.cargo.nome }}"
                                                       data-content="{{ membro.email_secomp }}"
                                                       data-variation="tiny inverted flowing">
                                                        {{ membro.cargo.nome }}&nbsp; <i
                                                            class="mail icon"></i></a>
                                                {% endif %}
                                            </div>

                                            <div class="content">
                                                <div class="header">{{ membro.participante.usuario.first_name }}<br>
                                                    {{ membro.participante.usuario.last_name }}</div>
                                                <div class="meta">
                                                    {{ membro.participante.curso.nome }},<br>
                                                    {{ membro.participante.ano_ingresso }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.label').popup({
            on: 'hover', hoverable: 'false', addTouchEvents: 'true', position: 'top left'
        });

        $('.membros_equipe .image img').visibility({
            type: 'image'
        });
    </script>

{% endblock body_content %}
