{% extends 'secompufscar2018/area_conteudo/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Área do Conteúdo{% endblock %}

{% block meta_description %} Área reservada para o conteúdo
{% endblock meta_description %}
{% block body_content %}
    <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
        Área Conteúdo - Futuras estatísticas
    </h1>
    <div class="divider"></div>
    <div class="ui four statistics">
        <div class="statistic">
            <div class="value">
                22
            </div>
            <div class="label">
                Saves
            </div>
        </div>
        <div class="statistic">
            <div class="text value">
                Three<br>
                Thousand
            </div>
            <div class="label">
                Signups
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                <i class="plane icon"></i> 5
            </div>
            <div class="label">
                Flights
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                42
            </div>
            <div class="label">
                Team Members
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui segment big  wow fadeInUp sixteen secao_fundo_cinza">
        <div style="text-align: center;">
                <div class="fixed center menu">
                    <a class="ui primary button item"
                       href="{% url 'secompufscar2018:conteudo_formularios' tipo=0%}">Link para Mesa-Redonda</a>
                    <a class="ui primary button item"
                       href="{% url 'secompufscar2018:conteudo_formularios' tipo=1%}">Link para Mini Curso</a>
                    <a class="ui primary button item"
                       href="{% url 'secompufscar2018:conteudo_formularios' tipo=2%}">Link para Palestra</a>
                </div>
        </div>
    </div>
    {% include 'secompufscar2018/helpers/patrocinadores.html' %}
{% endblock body_content %}
