{% extends 'secompufscar2018/area_conteudo/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Área do Conteúdo{% endblock %}

{% block meta_description %}Contribua para a SECOMP IX com um conteúdo.
{% endblock meta_description %}
{% block body_content %}
    <div class="hidden" id="tipo">{{ tipo }}</div>
    <div class="ui container">
        <h1 class="ui header centered titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
            {% if tipo == 0 %}Ministrantes: Mesas Redondas{% endif %}
            {% if tipo == 1 %}Ministrantes: Mini Cursos{% endif %}
            {% if tipo == 2 %}Palestrantes{% endif %}
        </h1>
        <div class="ui link cards wow fadeInUp" data-wow-delay="0.3s">
            {% for mesa in form %}
                <div class="ui card">
                    <div class="image">
                        {% if mesa.foto %}
                            <img class="ui fluid rounded image" style="" src="{{ mesa.foto.url }}" data-src="{{ mesa.foto.url }}" alt="Foto de {{ mesa.mesa }}" id="{{ mesa.tel }}-foto">
                        {% else %}
                            <img class="ui fluid rounded image" src="{% static 'secompufscar2018/images/default/perfil.jpg' %}" alt="Foto de {{ mesa.mesa }}"  id="{{ mesa.tel }}-foto">
                        {% endif %}
                    </div>
                    <div class="content">

                        <div class="header">
                            <span id="{{ mesa.tel }}-nome">{{ mesa.nome }}</span>
                            {% if mesa.linkedin %}<a href="{{ mesa.linkedin }}"><i class="linkedin fitted square icon"></i></a>{% endif %}
                            {% if mesa.github %}<a href="{{ mesa.github }}"><i class="github fitted square icon"></i></a>{% endif %}
                            {% if mesa.face %}<a href="{{ mesa.face }}"><i class="facebook fitted square icon"></i></a>{% endif %}
                            {% if mesa.twitter %}<a href="{{ mesa.twitter }}"><i class="twitter fitted square icon"></i></a>{% endif %}
                        </div>
                        <div class="meta">
                            <span class="profissao_ministrante" id="{{ mesa.tel }}-profissao">
                                {{ mesa.profissao }},
                            </span>
                            <span class="profissao_ministrante" id="{{ mesa.tel }}-empresa">
                                {{ mesa.empresa }}
                            </span>
                        </div>
                    </div>
                    <div class="ui bottom attached button" id='{{ mesa.tel }}' onclick="getAndShowModal(this.id)">
                        <i class="add icon"></i>
                        Mostrar mais
                    </div>
                </div>

            {% empty %}
                </div>
                <div class="ui center aligned grid">
                    <div class="ui sixteen wide column">
                        <div class="ui segment big inverted wow fadeInUp sixteen" style="visibility: visible; animation-name: fadeInUp;">
                            <div style="text-align: center;">
                                <b>
                                </b>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        <div class="ui longer modal large">
            <div class="header" id="modal_nome">Aki Vai O Nome Do Caboclo</div>
            <div class="scrolling content">
                <div class="ui stackable grid">
                    <div class="ui four wide column">
                        <div class="image">
                            <!-- Aki vai a imagem do caboclo, deixei default pra ver o negocio -->
                            <img class="ui fluid rounded image" src="" data-src="" alt="" id="modal_foto">
                        </div>
                    </div>
                    <div class="ui twelve wide column">
                        <div class="field">
                            <h3 class="header">Informações pessoais</h3>
                        </div>
                        <div class="field">
                            <i class="travel icon"></i>
                            <label class="header"><B>Profissão:</B></label>
                            <span id="modal_profissao">####</span>
                        </div>
                        <div class="field">
                            <i class="student icon"></i>
                            <label class="header"><B>Empresa/Universidade:</B></label>
                            <span id="modal_empresa">####</span>
                        </div>
                        <div class="field">
                            <i class="call icon"></i>
                            <label class="header"><B>Telefone:</B></label>
                            <span id="modal_tel">####</span>
                        </div>
                        <div class="field">
                            <i class="spinner icon"></i>
                            <label class="header"><B>Tamanho da camiseta:</B></label>
                            <span id="modal_camiseta">####</span>
                        </div>
                        <div class="field">
                            <i class="user icon"></i>
                            <label class="header"><B>Biografia:</B></label>
                            <label style="display: none;" id="modal_bio">####</label>
                            <a class="link" id="modal_bio_show" onclick="showMore('modal_bio')">mostrar</a>
                        </div>
                        <div class="field">
                            <i class="facebook icon"></i>
                            <label class="header"><B>Facebook:</B></label>
                            <span id="modal_facebook">####</span>
                        </div>
                        <div class="field">
                            <i class="twitter icon"></i>
                            <label class="header"><B>Twitter:</B></label>
                            <span id="modal_twitter">####</span>
                        </div>
                        <div class="field">
                            <i class="github icon"></i>
                            <label class="header"><B>GitHub:</B></label>
                            <span id="modal_git">####</span>
                        </div>
                        <div class="field">
                            <i class="linkedin icon"></i>
                            <label class="header"><B>LinkedIn:</B></label>
                            <span id="modal_linkedin">####</span>
                        </div>
                        <div class="ui divider"></div>
                        <div class="field">
                            <h3 class="header">Informações de locomoção e estadia</h3>
                        </div>
                        <div class="field">
                            <i class="location arrow icon"></i>
                            <label class="header"><B>Cidade:</B></label>
                            <span id="modal_cidade">####</span>
                        </div>
                        <div class="field">
                            <i class="money icon"></i>
                            <label class="header"><b>SECOMP se encarregará dos gastos?</b></label>
                            <i id="modal_locomocao_true" class="green check circle icon"></i>
                            <i id="modal_locomocao_false" class="red remove circle icon"></i>
                        </div>

                        <!-- Este campo depende do de cima -->
                        <div class="field">
                            <i class="truck icon"></i>
                            <label class="header"><b>Modo de locomoção:</b></label>
                            <span id="modal_locomocao_tipo">####</span>
                        </div>

                        <div class="field">
                            <div class="ui green label">
                                <i class="calendar icon"></i>
                                <span id="modal_data_chegada">####</span>
                            </div>
                            <div class="ui red label">
                                <i class="calendar icon"></i>
                                <span id="modal_data_saida">####</span>
                            </div>
                        </div>
                        <div class="field">
                            <i class="home icon"></i>
                            <label class="header"><b>Precisa de acomodação?</b></label>
                            <i id="modal_acomodacao_true" class="green check circle icon"></i>
                            <i id="modal_acomodacao_false" class="red remove circle icon"></i>
                        </div>

                        <!-- este campo depende do anterior -->
                        <div class="field">
                            <i class="car icon"></i>
                            <label class="header"><b>Precisa de vaga na garagem?</b></label>
                            <i id="modal_vaga_true" class="green check circle icon"></i>
                            <i id="modal_vaga_false" class="red remove circle icon"></i>
                        </div>

                        <!-- este campo só existira caso houver observações -->
                        <div class="field">
                            <i class="invisible icon"></i>
                            <label><b>Observações:</b></label>
                            <span id="modal_locomocao_observacao">####</span>
                        </div>

                        <!-- minicurso -->
                        {% if tipo == 1 %}
                            <div class="ui divider"></div>
                            <div class="field">
                                <h3 class="header">Informações do minicurso</h3>
                            </div>
                            <div class="field">
                                <i class="laptop icon"></i>
                                <label class="header"><b>Título do minicurso:</b></label>
                                <span id="modal_mini_titulo"></span>
                            </div>
                            <div class="field">
                                <i class="edit icon"></i>
                                <label class="header"><b>Descrição do minicurso:</b></label>
                                <label id="modal_mini_descricao" style="display: none;">descrição aki</label>
                                <a class="link" id="modal_mini_descricao_show" onclick="showMore('modal_mini_descricao')">mostrar</a>
                            </div>
                            <div class="field">
                                <i class="clipboard icon"></i>
                                <label class="header"><b>Modo da dinâmica:</b></label>
                                <label id="modal_mini_dinamica" style="display: none;">dinamica aki</label>
                                <a class="link" id="modal_mini_dinamica_show" onclick="showMore('modal_mini_dinamica')">mostrar</a>
                            </div>

                            <!-- este campo só aparecerá se o cabloco preencher no form -->
                            <div class="field">
                                <i class="lock icon"></i>
                                <label class="header"><b>Pŕe-requisitos recomendados:</b></label>
                                <label id="modal_mini_prerequisitos" style="display:none;">pre-requisito aki</label>
                                <a class="link" id="modal_mini_prerequisitos_show" onclick="showMore('modal_mini_prerequisitos')">mostrar</a>
                            </div>

                            <div class="ui divider"></div>

                            <div class="field">
                                <h3 class="header">Requisitos de laboratório</h3>
                            </div>
                            <div class="field">
                                <i class="computer icon"></i>
                                <label class="header"><b>Requisitos de Hardware:</b></label>
                                <span id="modal_req_hw"></span>
                            </div>
                            <div class="field">
                                <i class="terminal icon"></i>
                                <label class="header"><b>Requisitos de Software:</b></label>
                                <span id="modal_req_sw"></span>
                            </div>

                            <!-- campo de observações depende do form -->
                            <div class="field">
                                <i class="invisible icon"></i>
                                <label class="header"><B>Observações:</B></label>
                                <span id="modal_req_obs"></span>
                            </div>
                        {% endif %}

                        <!-- palestrante -->
                        {% if tipo == 2 %}
                            <div class="ui divider"></div>
                            <div class="field">
                                <h3 class="header">Informações da Palestra</h3>
                            </div>
                            <div class="field">
                                <i class="idea icon"></i>
                                <label class="header"><b>Título:</b></label>
                                <span id="modal_palestra_titulo">####</span>
                            </div>
                            <div class="field">
                                <i class="edit icon"></i>
                                <label class="header"><b>Descrição:</b></label>
                                <label id="modal_palestra_descricao" style="display: none;">####</label>
                                <a class="link" onclick="showMore('modal_palestra_descricao')">mostrar</a>
                            </div>
                            <div class="field">
                                <i class="lock icon"></i>
                                <label class="header"><b>Recursos necessários:</b></label>
                                <label id="modal_palestra_recursos" style="display: none;">####</label>
                                <a class="link" onclick="showMore('modal_palestra_recursos')">mostrar</a>
                            </div>

                            <!-- esse campo depende do imput -->
                            <div class="field">
                                <i class="invisible icon"></i>
                                <label class="header"><b>Observações:</b></label>
                                <span id="modal_palestra_observacoes">####</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui cancel button red">Fechar</div>
            </div>
        </div>

        <div class="ui divider hidden"></div>


    <script>
        function getInformations(tel_id,callback){
            var servidor = "{% url 'secompufscar2018:api-mesa-redonda' %}?tipo={{ tipo }}&tel_ministrante=" + tel_id;
            $.getJSON( servidor, function(data) {
                callback(JSON.stringify(data));
            });
        }

        function getAndShowModal(tel_id)
        {
            foto = document.getElementById(tel_id+"-foto").getAttribute("src");
            document.getElementById("modal_foto").src = foto;
            document.getElementById("modal_nome").innerHTML = document.getElementById(tel_id+"-nome").innerHTML;
            document.getElementById("modal_profissao").innerHTML = document.getElementById(tel_id+"-profissao").innerHTML;
            document.getElementById("modal_empresa").innerHTML = document.getElementById(tel_id+"-empresa").innerHTML;
            getInformations(tel_id,function (dados) {
                dict = JSON.parse(dados);
                document.getElementById("modal_tel").innerHTML = dict["tel"];
                document.getElementById("modal_profissao").innerHTML = dict["profissao"];
                document.getElementById("modal_camiseta").innerHTML = dict["tamanho_camiseta"];
                document.getElementById("modal_bio").innerHTML = dict["bio"];
                document.getElementById("modal_facebook").innerHTML = dict["face"];
                document.getElementById("modal_twitter").innerHTML = dict["twitter"];
                document.getElementById("modal_git").innerHTML = dict["github"];
                document.getElementById("modal_linkedin").innerHTML = dict["linkedin"];
                document.getElementById("modal_cidade").innerHTML = dict["cidade"];
                if(dict["locomocao"] === false){
                    document.getElementById("modal_locomocao_false").style.display = "inline";
                    document.getElementById("modal_locomocao_true").style.display = "none";
                }
                else{
                    document.getElementById("modal_locomocao_false").style.display = "none";
                    document.getElementById("modal_locomocao_true").style.display = "inline";
                }
                document.getElementById("modal_locomocao_tipo").innerHTML = dict["locomocao_tipo"];
                document.getElementById("modal_data_chegada").innerHTML = dict["data_chegada"];
                document.getElementById("modal_data_saida").innerHTML = dict["data_saida"];
                if(dict["acomodacao"] === false){
                    document.getElementById("modal_acomodacao_false").style.display = "inline";
                    document.getElementById("modal_acomodacao_true").style.display = "none";
                }
                else{
                    document.getElementById("modal_acomodacao_false").style.display = "none";
                    document.getElementById("modal_acomodacao_true").style.display = "inline";
                }
                if(dict["vaga_acomodacao"] === false){
                    document.getElementById("modal_vaga_false").style.display = "inline";
                    document.getElementById("modal_vaga_true").style.display = "none";
                }
                else{
                    document.getElementById("modal_vaga_false").style.display = "none";
                    document.getElementById("modal_vaga_true").style.display = "inline";
                }
                document.getElementById("modal_locomocao_observacao").innerHTML = dict["obs"];

                if({{ tipo }} == 2){
                    document.getElementById("modal_palestra_titulo").innerHTML = dict["palestra_titulo"];
                    document.getElementById("modal_palestra_descricao").innerHTML = dict["palestra_descricao"];
                    document.getElementById("modal_palestra_recursos").innerHTML = dict["recursos"];
                    document.getElementById("modal_palestra_observacoes").innerHTML = dict["obs_palestra"];
                }

                if({{ tipo }} == 1){
                    document.getElementById("modal_mini_titulo").innerHTML = dict["curso_titulo"];
                    document.getElementById("modal_mini_descricao").innerHTML = dict["curso_descricao"];
                    document.getElementById("modal_mini_prerequisitos").innerHTML = dict["prereqs"];
                    document.getElementById("modal_mini_dinamica").innerHTML = dict["tipo_dinamica"];

                    document.getElementById("modal_req_hw").innerHTML = dict["lab_hw"];
                    document.getElementById("modal_req_sw").innerHTML = dict["lab_sw"];
                    document.getElementById("modal_req_obs").innerHTML = dict["obs_lab"];
                }
            });
            $('.ui.longer.modal').modal('show')
        }

        function showMore(IDofObject){
            $('#'+IDofObject).toggle(100);
        }
    </script>
    {% include 'secompufscar2018/helpers/patrocinadores.html' %}
{% endblock body_content %}

