{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Área do Conteúdo{% endblock %}

{% block meta_description %}Contribua para a SECOMP IX com um conteúdo.{% endblock meta_description %}


{% block body_content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Área do Conteúdo
                </h1>
            </div>
            <div class="middle aligned stackable row">
                <div class="ui sixteen wide mobile six wide tablet six wide computer centered column">
                    <form method="post" action="{{url_area_conteudo}}" class="ui form" novalidate>
                        {% csrf_token %}
                        <div class="field">
                            <label for="id_username">E-mail</label>
                            <div class="ui left icon input">
                                {{ form.username }}
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label for="password">Senha</label>
                            <div class="ui left icon input">
                                 {{ form.password }}
                                <i class="lock icon"></i>
                            </div>
                        </div>
                        <input type="submit" value="Entrar" class="ui blue submit button">
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                    {% if form.errors %}
                        <div class="ui error message">
                            <div class="content">
                                <div class="header">Falha no login!</div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock body_content %}