<div>
                                    <div class="ui centered grid">
                                        <div class="ui sixteen wide left aligned column">
                                            <div class="ui black basic button" id="botao_modal_edital">
                                                Leia os termos de uso
                                                <i class="right chevron icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <div class="ui large modal" id="modal_detalhes_atividade">
                                <i class="close icon"></i>
                                <div class="header">
                                    TERMO E CONDIÇÕES DE INSCRIÇÃO
                                </div>
                                <div class="scrooling content">
                                    <h3>DA SECOMP UFSCar</h3>

                                    <p> <ol>
                                    <li>A IX Semana da Computação UFSCar (SECOMP) ocorrerá nos dias 10 a 14 de setembro de 2018.</li>
                                    <li>A SECOMP é uma semana de atividades que incluem palestras, minicursos, workshops e diversas outras atividades, organizada por discentes dos cursos de Bacharelado em Ciência da Computação e Engenharia de Computação da Universidade Federal de São Carlos, Campus São Carlos. O evento será realizado nas dependências do campus São Carlos da UFSCar.</li>
                                </ol> </p>


                                    <h3>DAS INSCRIÇÕES</h3>

                                    <p> <ol>
                                    <li>As inscrições para a IX SECOMP UFSCar deverão ser realizadas apenas pelo site: <a href="https://secompufscar.com.br" target="_blank">https://secompufscar.com.br</a> .</li>
                                </ol> </p>

                                    <h3>DA PRIVACIDADE DA COLETA DE INFORMAÇÕES</h3>

                                    <p> <ol>
                                    <li>A SECOMP preza pelo respeito às informações que forem fornecidas, assim, as informações do cadastro de palestrantes/minicursistas são armazenadas em ambiente seguro e acessado somente pela administração da Organização da SECOMP UFSCar;</li>
                                    <li>Dados cadastrais (nome, telefone, e-mail, etc.) NUNCA serão divulgados para terceiros, mantendo ao máximo a privacidade dos palestrantes/minicursistas;</li>
                                </ol> </p>


                                    <h3>DAS OBSERVAÇÕES FINAIS</h3>

                                    <p> <ol>
                                    <li>A SECOMP preza pelo respeito com seus participantes, palestrantes e minicursistas durante o evento. Por isso, qualquer ato de desrespeito ou discriminação com qualquer participante, palestrante, minicursista ou membro organizador será penalizado. Tais atos poderão resultar na exclusão do participante, palestrante ou minicursista do evento sem nenhuma forma de reembolso.</li>
                                    <li>O evento acontecerá nas instalações da Universidade Federal de São Carlos, sendo assim, é necessário que haja total cuidado dos palestrante durante o uso destas. Caso haja algum caso de vandalismo identificado dentro das instalações da universidade, o palestrante será automaticamente excluído do evento e responderá à universidade pelo dano causado.</li>
                                    <li>A SECOMP não se responsabiliza por objetos esquecidos nas instalações utilizadas, durante a realização do evento.</li>
                                    <li>O uso da internet durante o evento deverá ser feito de forma responsável, sendo assim, o acesso a sites, transferência de dados e qualquer outro uso que fere de alguma forma as regras de conduta da universidade não serão tolerados. Caso houver o descumprimento dessa regra, o palestrante/minicursista estará sujeito às medidas legais adotadas pela universidade. Ademais, nestes casos, serão aplicadas as medidas legais previstas da Legislação Brasileira.</li>
                                    <li>Ao realizar sua inscrição no evento, o palestrante/minicursista cede todos os direitos de imagem durante o evento para a SECOMP, de forma gratuita. A SECOMP poderá fazer uso dessas imagens apenas para fins de divulgação do evento.</li>
                                    <li>Ao efetivar a inscrição, o palestrante/minicursista concorda com todos os termos aqui especificados.</li>
                                </ol>
                                    </p>

                                </div>
                                <div class="actions">
                                    <div class="ui black ok button">
                                        <i class="close icon"></i>
                                        Fechar edital
                                    </div>
                                </div>
                            </div>