{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Área Administrativa{% endblock %}

{% block meta_description %}Veja aquis os processos seletivos que acontecerão na VII SECOMP
    UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}

    <!-- Área Administrativa -->
    <div class="ui vertical stripe segment" id="fundocinza" xmlns="http://www.w3.org/1999/html">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">ÁREA ADMINISTRATIVA</h1>
                </div>
            </div>

            <div class="row">
                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp">
                    <h2 class="ui top attached header" style="text-transform: none;">
                        Olá, {{ user.first_name }}!
                        <a href=".">
                            <button class="ui right floated button">Atualizar página</button>
                        </a>
                        <a href="/2016/areadoparticipante/logout/">
                            <button class="ui right floated button">Fazer logout</button>
                        </a>
                    </h2>

                    <div class="ui attached fluid segment">
                        <div class="ui divided items">
                            <div class="item">
                                <div class="content">
                                    <div class="description">
                                        <p align="center">
                                            <a href="/2016/areadoparticipante/">
                                                <button class="ui blue button">Área do Participante</button>
                                            </a>
                                        </p>

                                        <h3 class="ui horizontal divider header">
                                            <i class="dollar icon"></i>
                                            Confirmação de pagamento presencial {% if user.is_superuser %} ou transferência
                                            bancária{% endif %}
                                        </h3>

                                        <div class="ui two column middle aligned very relaxed stackable grid">
                                            <div class="column">
                                                <form action="/2016/areadoparticipante/areaadministrativa/"
                                                      method="post" class="ui form">
                                                    {% csrf_token %}
                                                    <div class="field">
                                                        <label>E-mail utilizado na inscrição</label>
                                                        <div class="ui left icon input">
                                                            <input type="text" name="email"
                                                                   {% if participante %}value="{{ participante.email }}" {% endif %}placeholder="E-mail">
                                                            <i class="user icon"></i>
                                                        </div>
                                                    </div>
                                                    <input type="submit" value="Verificar inscrição"
                                                           class="ui blue submit button">
                                                </form>
                                            </div>
                                        </div>

                                        {% if participante %}
                                            <table class="ui celled striped unstackable table">
                                                <tbody>
                                                <tr>
                                                    <td class="three wide"><b>Inscrição</b></td>
                                                    <td>{{ participante.inscricao_set.last.numero_inscricao }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="three wide"><b>Participante</b></td>
                                                    <td>{{ participante.first_name }} {{ participante.last_name }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="three wide"><b>Pacote</b></td>
                                                    <td>{{ participante.inscricao_set.last.pacote }}</td>
                                                </tr>

                                                <tr>
                                                    <td class="three wide"><b>Camiseta</b></td>
                                                    <td>
                                                        {% if participante.inscricao_set.all.last.pacote == 'FULL' %}
                                                            {{ participante.inscricao_set.all.last.camiseta }}
                                                        {% else %}
                                                            O pacote {{ participante.inscricao_set.all.last.pacote }}
                                                            não inclui
                                                            camiseta.
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="three wide"><b>Desafio de Programadores</b></td>
                                                    <td>
                                                        {% if participante.inscricao_set.all.last.pacote == 'FULL' %}
                                                            {% if participante.inscricao_set.all.last.desafio_de_programadores %}
                                                                Sim
                                                            {% else %}
                                                                Não
                                                            {% endif %}
                                                        {% else %}
                                                            O pacote {{ participante.inscricao_set.all.last.pacote }}
                                                            não inclui o
                                                            Desafio de Programadores.
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="three wide"><b>Pagamentos</b></td>
                                                    <td>
                                                        {% for pagamento in participante.inscricao_set.last.pagamentos.all %}
                                                            {{ forloop.counter }}.
                                                            {{ pagamento.metodo_pagamento }} em
                                                            {{ pagamento.data_hora_pagamento.day }}/
                                                            {{ pagamento.data_hora_pagamento.month }}
                                                            no valor de R$
                                                            {{ pagamento.valor_pagamento|floatformat:2 }}.

                                                            {% if pagamento.metodo_pagamento == 'Pagamento Presencial' %}
                                                                Confirmado por {{ pagamento.autorizacao_pagamento }}.
                                                            {% elif pagamento.metodo_pagamento == 'PayPal' %}
                                                                Autorização: {{ pagamento.registro_pagamento }}.
                                                            {% endif %}

                                                            Referência: {{ pagamento.referencia_pagamento }}.<br>
                                                        {% endfor %}
                                                        {% if participante.inscricao_set.last.pagamentos.count == 0 %}
                                                            Não há registros de pagamento.<br>
                                                        {% endif %}
                                                    </td>
                                                </tr>
{#                                                <tr>#}
{#                                                    <td class="three wide"><b>Código</b>#}
{#                                                    </td>#}
{#                                                    <td>#}
{#                                                         {% with image_static=pdf417 %}#}
{#                                                            <img class="ui small image" src="{% static image_static %}"#}
{#                                                                 class="img-responsive"#}
{#                                                                 alt="code">#}
{#                                                        {% endwith %}#}
{#                                                    </td>#}
{#                                                </tr>#}
                                                </tbody>
                                            </table>

                                            <form action="/2016/areadoparticipante/areaadministrativa/confirmarpagamentopresencial/"
                                                  method="post" class="ui form">
                                                {% csrf_token %}
                                                <br>
                                                <input type="hidden" value="{{ participante.email }}" name="email">

                                                <input type="submit"
                                                       value="Confirmar pagamento PRESENCIAL{% if not ja_pago %} de R$ {{ valor_a_pagar|floatformat:2 }}{% endif %}"
                                                       class="ui {% if ja_pago %}disabled{% endif %} blue submit button">
                                            </form>

                                            {% if super_admin %}

                                                <form action="/2016/areadoparticipante/areaadministrativa/confirmarpagamentotransferencia/"
                                                      method="post" class="ui form">
                                                    {% csrf_token %}
                                                    <br>
                                                    <input type="hidden" value="{{ participante.email }}" name="email">

                                                    <input type="submit"
                                                           value="Confirmar pagamento por DEPÓSITO/TRANSFERÊNCIA BANCÁRIA{% if not ja_pago %} de R$ {{ valor_a_pagar|floatformat:2 }}{% endif %}"
                                                           class="ui {% if ja_pago %}disabled{% endif %} blue submit button">
                                                </form>

                                            {% endif %}

                                        {% elif email_nao_encontrado != '' and not pagamento_confirmado %}
                                            <br>
                                            <div class="ui negative message">
                                                <b>Não foi encontrada uma inscrição para o
                                                    e-mail {{ email_nao_encontrado }}!<br>Verifique
                                                    o e-mail e tente novamente.</b>
                                            </div>
                                        {% endif %}

                                        {% if ja_pago %}
                                            <div class="ui positive message">
                                                Esta inscrição já foi paga.
                                            </div>
                                        {% endif %}

                                        {% if pagamento_confirmado %}
                                            <div class="ui positive message">
                                                Pagamento
                                                via {{ metodo_pagamento }}
                                                confirmado com sucesso! O participante receberá um e-mail de
                                                confirmação.
                                            </div>
                                        {% endif %}



                                        {#                                        <h4 class="ui horizontal divider header">#}
                                        {#                                            <i class="ticket icon"></i>#}
                                        {#                                            Pagamento de churrasco#}
                                        {#                                        </h4>#}
                                        {#                                        <p>#}
                                        {##}
                                        {#                                        </p>#}


                                        {% if user.is_superuser %}


                                            <h3 class="ui horizontal divider header">
                                                <i class="line chart icon"></i>
                                                Estatísticas
                                            </h3>

                                            <p align="center">

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ pacote_full }}
                                                </div>
                                                <div class="label">
                                                    PACOTE FULL
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ pacote_study }}
                                                </div>
                                                <div class="label">
                                                    PACOTE STUDY
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ pacote_free }}
                                                </div>
                                                <div class="label">
                                                    PACOTE FREE
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ organizacao }}
                                                </div>
                                                <div class="label">
                                                    ORGANIZAÇÃO
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ total_inscricoes_sem_organizacao }}
                                                </div>
                                                <div class="label">
                                                    INSCRIÇÕES<br>
                                                    SEM ORGANIZAÇÃO
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ total_inscricoes }}
                                                </div>
                                                <div class="label">
                                                    TOTAL DE<br>INSCRIÇÕES
                                                </div>
                                            </div>

                                            </p>
                                            <p align="center">

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ camisetas_p.0 }}
                                                </div>
                                                <div class="label">
                                                    CAMISETAS P<br>
                                                    {{ camisetas_p.1|floatformat }}%
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ camisetas_m.0 }}
                                                </div>
                                                <div class="label">
                                                    CAMISETAS M<br>
                                                    {{ camisetas_m.1|floatformat }}%
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ camisetas_g.0 }}
                                                </div>
                                                <div class="label">
                                                    CAMISETAS G<br>
                                                    {{ camisetas_g.1|floatformat }}%
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ camisetas_gg.0 }}
                                                </div>
                                                <div class="label">
                                                    CAMISETAS GG<br>
                                                    {{ camisetas_gg.1|floatformat }}%
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ camisetas_54.0 }}
                                                </div>
                                                <div class="label">
                                                    CAMISETAS 54<br>
                                                    {{ camisetas_54.1|floatformat }}%
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ camisetas_babylook_p.0 }}
                                                </div>
                                                <div class="label">
                                                    CAMISETAS<br>BABYLOOK P<br>
                                                    {{ camisetas_babylook_p.1|floatformat }}%
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ camisetas_babylook_m.0 }}
                                                </div>
                                                <div class="label">
                                                    CAMISETAS<br>BABYLOOK M<br>
                                                    {{ camisetas_babylook_m.1|floatformat }}%
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ camisetas_babylook_g.0 }}
                                                </div>
                                                <div class="label">
                                                    CAMISETAS<br>BABYLOOK G<br>
                                                    {{ camisetas_babylook_g.1|floatformat }}%
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ camisetas_babylook_gg.0 }}
                                                </div>
                                                <div class="label">
                                                    CAMISETAS<br>BABYLOOK GG<br>
                                                    {{ camisetas_babylook_gg.1|floatformat:2 }}%
                                                </div>
                                            </div>
                                            </p>

                                            <p>
                                            <div class="ui statistic">
                                                <div class="value">
                                                    R$ {{ pagamentos_paypal|floatformat:2 }}
                                                </div>
                                                <div class="label">
                                                    PAGAMENTOS<br>PAYPAL
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    R$ {{ pagamentos_presencial|floatformat:2 }}
                                                </div>
                                                <div class="label">
                                                    PAGAMENTOS<br>PRESENCIAIS
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    R$ {{ pagamentos_deposito|floatformat:2 }}
                                                </div>
                                                <div class="label">
                                                    PAGAMENTOS<br>DEPÓSITO
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    R$ {{ pagamentos_cupom|floatformat:2 }}
                                                </div>
                                                <div class="label">
                                                    PAGAMENTOS<br>CUPONS
                                                </div>
                                            </div>

                                             <div class="ui statistic">
                                                <div class="value">
                                                    R$ {{ pagamentos_totais|floatformat:2 }}
                                                </div>
                                                <div class="label">
                                                    PAGAMENTOS<br>TOTAIS (SEM CUPONS)
                                                </div>
                                            </div>

                                            </p>

                                            <p>
                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ inscricoes_full_pagas }}
                                                </div>
                                                <div class="label">
                                                    FULL PAGAS
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ inscricoes_full_parciais }}
                                                </div>
                                                <div class="label">
                                                    FULL<br>PARCIALMENTE PAGAS
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ inscricoes_full_pendentes }}
                                                </div>
                                                <div class="label">
                                                    FULL<br>PENDENTES
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ inscricoes_study_pagas }}
                                                </div>
                                                <div class="label">
                                                    STUDY PAGAS
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ inscricoes_study_parciais }}
                                                </div>
                                                <div class="label">
                                                    STUDY<br>PARCIALMENTE PAGAS
                                                </div>
                                            </div>

                                            <div class="ui statistic">
                                                <div class="value">
                                                    {{ inscricoes_study_pendentes }}
                                                </div>
                                                <div class="label">
                                                    STUDY<br>PENDENTES
                                                </div>
                                            </div>
                                            </p>

                                            <h3 class="ui horizontal divider header">
                                                <i class="line chart icon"></i>
                                                Lista de camisetas da organização
                                            </h3>

                                            <p>

                                            <table class="ui celled striped unstackable table">
                                                <thead>
                                                    <th>Nome</th>
                                                    <th>Tamanho</th>
                                                </thead>
                                                <tbody>

                                            {% for inscricao in membros %}
                                                <tr>
                                                    <td>{{ inscricao.last.user.first_name }} {{ inscricao.last.user.last_name }}</td>
                                                    <td class="two wide">{{ inscricao.last.camiseta }}</td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                            </table>

                                            <table class="ui celled striped unstackable table">
                                                <thead>
                                                    <th>P</th>
                                                <th>M</th>
                                                <th>G</th>
                                                <th>GG</th>
                                                <th>54</th>
                                                <th>BabyLook P</th>
                                                <th>BabyLook M</th>
                                                <th>BabyLook G</th>
                                                <th>BabyLook GG</th>

                                                </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ tamanhos_camisetas_organizacao.0 }}</td>
                                                <td>{{ tamanhos_camisetas_organizacao.1 }}</td>
                                                <td>{{ tamanhos_camisetas_organizacao.2 }}</td>
                                                <td>{{ tamanhos_camisetas_organizacao.3 }}</td>
                                                <td>{{ tamanhos_camisetas_organizacao.4 }}</td>
                                                <td>{{ tamanhos_camisetas_organizacao.5 }}</td>
                                                <td>{{ tamanhos_camisetas_organizacao.6 }}</td>
                                                <td>{{ tamanhos_camisetas_organizacao.7 }}</td>
                                                <td>{{ tamanhos_camisetas_organizacao.8 }}</td>

                                            </tr>
                                            </tbody>
                                            </table>

                                            </p>

                                            <h3 class="ui horizontal divider header">
                                                <i class="ticket icon"></i>
                                                Geração de vouchers
                                            </h3>
                                            <p>

                                            <form action="/2016/areadoparticipante/areaadministrativa/gerarcupons/"
                                                  method="POST" class="ui form">
                                                {% csrf_token %}
                                                <div class="field">
                                                    <label>Quantidade</label>
                                                    <div class="ui input">
                                                        <input type="text" name="quantidade" placeholder="Quantidade">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label>Referência</label>
                                                    <div class="ui input">
                                                        <input type="text" name="referencia" placeholder="Referência">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label>Porcentagem de desconto</label>
                                                    <div class="ui input">
                                                        <input type="text" name="desconto" placeholder="% de desconto">
                                                    </div>
                                                </div>

                                                <button class="ui blue submit button">Gerar cupons</button>
                                            </form>
                                            </p>

                                            {% if cupons_gerados.count != 0 %}
                                                <p>
                                                    Cupons gerados para {{ referencia }} de {{ desconto }}% de desconto.<br>
                                                    {% for cupom in cupons_gerados %}
                                                        {{ cupom }}<br>
                                                    {% endfor %}
                                                </p>
                                            {% endif %}

                                            <h4 class="ui horizontal divider header">
                                                <i class="ticket icon"></i>
                                                Usuários cadastrados não inscritos
                                            </h4>
                                            <p>
                                                {% for user in usuarios_cadastrados_nao_inscritos %}
                                                    {{ user.email }}<br>
                                            {% endfor %}
                                            </p>

                                            <h3 class="ui horizontal divider header">
                                                <i class="mail icon"></i>
                                                Envio de e-mails
                                            </h3>

                                            <h3 class="ui header">Usuários cadastrados não inscritos</h3>
                                            <p>
                                                {% if usuarios_cadastrados_nao_inscritos %}
                                                {% for usuario in usuarios_cadastrados_nao_inscritos %}
                                                    {{ usuario.email }}<br>
                                                {% endfor %}
                                                    {% else %}
                                                        Hoorrraaayy! Todos os usuários cadastrados estão inscritos o/
                                                    {% endif %}
                                            </p>
                                            <p>
                                                <a href="/2016/areadoparticipante/areaadministrativa/enviaremailsinscricoesincompletas/">
                                                    <button class="ui blue {% if not usuarios_cadastrados_nao_inscritos %}disabled {% endif %}button">
                                                        Enviar e-mail para usuários cadastrados mas não inscritos
                                                    </button>
                                                </a>
                                            </p>
                                            <p>
                                                <a href="/2016/areadoparticipante/areaadministrativa/enviaremailcadastrowifi/">
                                                    <button class="ui blue button">
                                                        Enviar e-mail WIFI-UFSCAR-VISITANTE
                                                    </button>
                                                </a>
                                            </p>
                                            <p>
                                                <a href="/2016/areadoparticipante/areaadministrativa/enviaremailchurrasco/">
                                                    <button class="ui blue button">
                                                        Enviar e-mail Churrasco de Integração
                                                    </button>
                                                </a>
                                            </p>
                                            <p>
                                                <a href="/2016/areadoparticipante/areaadministrativa/enviaremaildesafio/">
                                                    <button class="ui blue button">
                                                        Enviar e-mail Desafio de Programadores
                                                    </button>
                                                </a>
                                            </p>
                                            <p>
                                                <a href="/2016/areadoparticipante/areaadministrativa/enviaremailinscricaoworkshops/">
                                                    <button class="ui blue button">
                                                        Enviar e-mail sobre inscrição nos workshops
                                                    </button>
                                                </a>
                                            </p>
                                            <p>
                                                <a href="/2016/areadoparticipante/areaadministrativa/enviaremailcredenciamento/">
                                                    <button class="ui blue button">
                                                        Enviar e-mail de credenciamento
                                                    </button>
                                                </a>
                                            </p>
                                            <p>
                                                <a href="/2016/areadoparticipante/areaadministrativa/enviaremailprogramacao/">
                                                    <button class="ui blue button">
                                                        Enviar e-mail de programação
                                                    </button>
                                                </a>
                                            </p>

                                            <h4 class="ui horizontal divider header">
                                                <i class="ticket icon"></i>
                                                Troca de pacotes
                                            </h4>
                                            <p>

                                            </p>

                                            <h4 class="ui horizontal divider header">
                                                <i class="mail icon"></i>
                                                Relatórios
                                            </h4>
                                            <p>

                                            </p>

                                            <h4 class="ui horizontal divider header">
                                                <i class="mail icon"></i>
                                                Credenciais
                                            </h4>
                                            <p>
                                                <a href="/2016/areadoparticipante/areaadministrativa/gerarcodigos/"><button class="ui blue button">Geração de códigos FULL</button></a>
                                            </p>

                                            <h4 class="ui horizontal divider header">
                                                <i class="mail icon"></i>
                                                Emissão de certificados
                                            </h4>
                                            <p><br> <br>

                                            </p>

                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}
{% endblock body_content %}