{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Área Administrativa{% endblock %}

{% block meta_description %}Veja aquis os processos seletivos que acontecerão na VII SECOMP
    UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}

    <!-- Área Administrativa -->
    <div class="ui vertical stripe segment" id="fundocinza" xmlns="http://www.w3.org/1999/html">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">ÁREA ADMINISTRATIVA</h1>
                </div>
            </div>

            <div class="row">
                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp">
                    <h2 class="ui top attached header" style="text-transform: none;">
                        Olá, {{ user.first_name }}!
                        <a href=".">
                            <button class="ui right floated button">Atualizar página</button>
                        </a>
                        <a href="/2016/areadoparticipante/logout/">
                            <button class="ui right floated button">Fazer logout</button>
                        </a>
                    </h2>

                    <div class="ui attached fluid segment">
                        <div class="ui divided items">
                            <div class="item">
                                <div class="content">
                                    <div class="description">
                                        <p align="center">
                                            <a href="/2016/areadoparticipante/">
                                                <button class="ui blue button">Área do Participante</button>
                                            </a>
                                        </p>

                                        {% if user.is_superuser %}


                                            <h3 class="ui horizontal divider header">
                                                <i class="ticket icon"></i>
                                                Usuários cadastrados não inscritos
                                            </h3>
                                            <p>

                                            <a href="/2016/areadoparticipante/areadministrativa/enviaremailsinscricoesincompletas/">
                                            <button class="ui blue button">
                                                Enviar e-mail para usuários cadastrados mas não inscritos
                                            </button>
                                            </a>

                                                {% for user in usuarios_cadastrados_nao_inscritos %}
                                                    {{ user.email }}<br>
                                                {% endfor %}
                                            </p>

                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}
{% endblock body_content %}