{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Erro 400{% endblock %}

{% block meta_description %}Ops... Algo deu errado :-({% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}
    <!-- Erro 400 -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Requisição inválida</h1>
                    <p><br></p>
                </div>
                <div class="row">
                    <div class="ui centered grid">
                        <div class="eight wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui icon negative message wow fadeInUp" data-wow-delay="0.3s">
                                    <i class="frown icon"></i>
                                    <div class="content">
                                        <div class="header">Seu navegador enviou uma requisição que o servidor não
                                            conseguiu entender.
                                        </div>
                                        <p>Por favor, contate o administrador do sistema pelo e-mail <a
                                                href="mailto:marcelo@secompufscar.com.br">marcelo@secompufscar.com.br</a>
                                            para informar que você recebeu este erro, e os passos que você acabou de
                                            fazer antes de receber esta mensagem de erro.</p>
                                    </div>
                                </div>
                                <p><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}