{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Erro 403{% endblock %}

{% block meta_description %}Ops... Algo deu errado :-({% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}
    <!-- Erro 403 -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Acesso Proibido</h1>
                    <p><br></p>
                </div>
                <div class="row">
                    <div class="ui centered grid">
                        <div class="eight wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui icon negative message wow fadeInUp" data-wow-delay="0.3s">
                                    <i class="frown icon"></i>
                                    <div class="content">
                                        <div class="header">Você não tem permissão para acessar esta página do
                                            servidor!
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p><br></p>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}