{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Erro 404{% endblock %}

{% block meta_description %}Ops... Algo deu errado :-({% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}
    <!-- Erro 404 -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Erro 404 - Página não
                        encontrada</h1>
                    <p><br></p>
                </div>
                <div class="row">
                    <div class="ui centered grid">
                        <div class="eight wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui icon negative message wow fadeInUp" data-wow-delay="0.3s">
                                    <i class="frown icon"></i>
                                    <div class="content">
                                        <div class="header">A página que você está tentando acessar não foi
                                            encontrada.
                                        </div>
                                        <p>Se você acha que isso é um erro, entre em contato conosco pelo email <a
                                                href="mailto:contato@secompufscar.com.br">contato@secompufscar.com.br</a>.
                                        </p>
                                    </div>
                                </div>
                                <p><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}