{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Apresentação{% endblock %}

{% block meta_description %}Confira aqui um pouco mais sobre o propósito da Semana da Computação da UFSCar, bem como um
    pouquinho sobre o Departamento de Computação e a Universidade Federal de São Carlos.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}
    <style>
        #fundosecomp {
            background: url({% static 'secompufscar2016/images/fundo.png' %});
            background-size: cover;
        }

        .apresentacao p {
            font-size: 16px;
            text-align: justify;
        }
    </style>

    <!-- Apresentação -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row apresentacao">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">A SECOMP UFSCar</h1>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp">
                    <div class="row apresentacao">
                        <p>A Semana Acadêmica da Computação da Universidade Federal de São Carlos surgiu da
                            necessidade de se trazer assuntos que fossem de interesse tanto da comunidade acadêmica
                            quanto de entusiastas. Nela, pessoas de diferentes áreas são convidadas a apresentar,
                            discutir e debater experiências e novidades que trarão informação, conhecimento e
                            inovação aos participantes.</p>
                        <p>
                            Desde a sua primeira edição, a SECOMP trabalha para que os assuntos sejam os mais
                            atuais possíveis e que sejam transmitidos da maneira mais dinâmica tentando aproximar o
                            participante de áreas que vão da academia até o mercado de trabalho através de
                            minicursos, workshops, palestras técnicas, empresariais, mesas redondas, feira de
                            recrutamento e muitos outros conteúdos que foram pensados ao longo do tempo em busca de
                            um evento cada vez melhor.</p>
                        <p>
                            Em prol disso, os estudos são constantes para que o modelo de evento sempre melhore e se
                            torne referência, trazendo cada vez mais experiências únicas a quem nos acompanha e
                            encurtando as relações para que todos os segmentos de público sejam beneficiados.</p>
                        <p>
                            Convidamos vocês a acompanhar nosso crescimento e inclusive a nos sugerir melhorias, por
                            entendermos que você, participante, é a peça fundamental para a nossa evolução!<br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        #fundosecomp {
            background: url({% static 'secompufscar2016/images/apresentacao/vi_secomp.jpg' %});
            background-size: cover;
            background-position: center;
            height: 500px;
        }

        #fundoufscaraerea {
            background: url({% static 'secompufscar2016/images/apresentacao/ufscar_aerea.jpg' %});
            background-size: cover;
            background-position: center;
            height: 500px;
        }

        #fundofachadadc {
            background: url({% static 'secompufscar2016/images/apresentacao/fachada_dc_ufscar.jpg' %});
            background-size: cover;
            background-position: bottom;
            height: 500px;
        }

        @media (max-width: 374px) {
            .apresentacao h1.ui.header {
                font-size: 2em;
            }
        }

        @media (max-width: 767px) {
            #fundosecomp {
                height: 200px;
            }

            #fundoufscaraerea {
                height: 200px;
            }

            #fundofachadadc {
                height: 200px;
            }
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            #fundosecomp {
                height: 350px;
                background-size: cover;
            }

            #fundoufscaraerea {
                height: 350px;
                background-size: cover;
                background-position: center;
            }

            #fundofachadadc {
                height: 350px;
                background-size: cover;
                background-position: bottom;
            }
        }
    </style>
    <div class="ui vertical stripe segment" id="fundosecomp">
    </div>

    <div class="ui inverted vertical stripe segment">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row apresentacao">
                    <p><br></p>
                    <h1 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.3s">A UFSCar</h1>
                </div>
            </div>
            <div class="row apresentacao">
                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp">
                    <p>Fundada em 1968, a Universidade Federal de São Carlos (UFSCar), única instituição federal
                        de Ensino Superior localizada no interior do Estado de São Paulo, destaca-se pelo alto
                        nível de qualificação de seu corpo docente: 96,1% são doutores ou mestres. Em sua
                        maioria, 98,6% dos professores desenvolvem atividades de ensino, pesquisa e extensão em
                        regime de dedicação exclusiva.</p>

                    <p>A Universidade possui quatro campi, sendo que o principal fica em São Carlos, município
                        localizado a 235 km da capital do Estado, e tem 645 hectares de extensão, sendo 196 mil
                        m² de área construída.</p>

                    <p>O Campus São Carlos possui 300 laboratórios, uma biblioteca, um ambulatório, dois
                        teatros, nove anfiteatros, 12 auditórios, um ginásio, um parque esportivo, sete quadras,
                        duas piscinas, um restaurante universitário, quatro lanchonetes, 124 salas de aula e 672
                        vagas internas e externas de moradia estudantil.</p>

                    <p>Os 48 departamentos acadêmicos da Universidade estão divididos em oito centros: Ciências
                        Agrárias, Ciências Biológicas e da Saúde, Ciências em Gestão e Tecnologia, Ciências e
                        Tecnologias para a Sustentabilidade, Ciências Exatas e de Tecnologia, Ciências Humanas e
                        Biológicas, Educação e Ciências Humanas e Ciências da Natureza.</p>

                    <p>A UFSCar oferece 62 cursos e um total de 2.807 novas vagas na graduação presencial. São
                        39 opções de cursos em São Carlos (1.797 vagas), seis em Araras (240 vagas), 14 em
                        Sorocaba (620) e três em Buri (150 vagas).</p>
                    <p><i>Texto obtido da página institucional da UFSCar, disponível em <a href="http://www.ufscar.br"
                                                                                           target="_blank">www.ufscar.br</a>.</i><br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="ui vertical stripe segment" id="fundoufscaraerea"></div>

    <div class="ui vertical stripe segment">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row apresentacao">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">O Departamento de Computação</h1>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp">
                    <div class="row apresentacao">
                        <p>O Departamento de Computação existe desde 1972, sendo responsável por habilitar e colocar com
                            excelência anualmente no mercado de trabalho cerca de uma centena de profissionais, que
                            atuam em empresas e em Instituições de Ensino Superior.</p>

                        <p>Atento à constante evolução na área de computação, o DC-UFSCar tem atuado na vanguarda do
                            desenvolvimento tecnológico, firmando-se no cenário nacional e internacional como um centro
                            de pesquisa bastante atuante.</p>
                        <p><i>Texto obtido da página institucional do Departamento de Computação da UFSCar, disponível
                            em <a href="http://www.dc.ufscar.br" target="_blank">www.dc.ufscar.br</a>.</i><br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment" id="fundofachadadc"></div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}