{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - A SECOMP{% endblock %}

{% block meta_description %}Confira aqui um pouco mais sobre o propósito da Semana da Computação da UFSCar, bem como um
    pouquinho sobre o Departamento de Computação e a Universidade Federal de São Carlos.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="sixteen wide center aligned column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">A SECOMP</h1>
                    <p></p>
                </div>
            </div>
            <div class="eight wide mobile four wide tablet three wide computer center aligned column">
                <style>
                    .ui.menu .item.disabled, .ui.menu .item.disabled {
                        color: rgba(40, 40, 40, 0.3);
                    }
                </style>
                <div class="row wow fadeInUp" data-wow-delay="0.5s">
                    <div class="ui vertical labeled icon menu">
                        <a class="item" href="/2016/asecomp/apresentacao/">
                            <i class="smile icon"></i>
                            Apresentação
                        </a>
                        <a class="disabled item">
                            <i class="line chart icon"></i>
                            Histórico (EM BREVE)
                        </a>
                        <a class="item" href="/2016/asecomp/sociocultural/">
                            <i class="heart icon"></i>
                            Sociocultural
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}
{% endblock body_content %}

