{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Contato{% endblock %}

{% block meta_description %}Tire suas dúvidas em nosso FAQ ou entre em contato conosco.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}
    <style>
        .ui.styled.accordion, .ui.styled.accordion .accordion {
            box-shadow: 0 0px 0px 0 rgba(34, 36, 38, .15), 0 0 0 1px rgba(34, 36, 38, .15);
        }
    </style>

    <!-- FAQ + Contato -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Perguntas frequentes</h1>
                </div>
            </div>

            <div class="row">
                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp">
                    <div class="ui styled fluid accordion">
                        {% for pergunta_frequente in perguntas_frequentes %}
                            <div class="{% if forloop.counter == 1 %}active {% endif %}title">
                                {{ pergunta_frequente.pergunta|safe }}
                            </div>
                            <div class="{% if forloop.counter == 1 %}active {% endif %}content">
                                {{ pergunta_frequente.resposta|safe }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <p><br></p>
                <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Contato</h1>
            </div>
            <div class="row">
                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp">

                    <div class="row">
                        <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6">Ainda ficou alguma dúvida?
                            Gostaria de deixar alguma sugestão ou comentário? Deseja se tornar um patrocinador? Entre em
                            contato conosco pelo e-mail <a
                                    href="mailto:contato@secompufscar.com.br">contato@secompufscar.com.br</a> ou pelo
                            formulário abaixo.</h3>
                        <p><br></p>
                    </div>
                </div>
                <div class="eight wide computer fifteen wide tablet fifteen wide mobile column wow fadeInUp">
                    <form action="/2016/contato/" method="post" class="ui form">
                        {% csrf_token %}
                        <div class="two fields">
                            <div class="required field">
                                <label>Seu nome:</label>
                                <input type="text" name="name" placeholder="Seu nome">
                            </div>
                            <div class="required field">
                                <label>Seu e-mail:</label>
                                <input type="email" name="email" placeholder="email@exemplo.com">
                            </div>
                        </div>
                        <div class="required field">
                            <label>Mensagem:</label>
                            <textarea name="message" rows="5"></textarea>
                        </div>
                        <input type="submit" value="Enviar mensagem" class="ui submit button">
                        <div class="ui error message"></div>
                    </form>
                </div>
            </div>
        </div>
        <br>
    </div>

    <script type="text/javascript">
        $('.ui.accordion')
                .accordion()
        ;
        $('.ui.form')
                .form({
                    fields: {
                        name: {
                            identifier: 'name',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Entre com seu nome.'
                                }
                            ]
                        },
                        email: {
                            identifier: 'email',
                            rules: [
                                {
                                    type: 'email',
                                    prompt: 'Entre com um endereço de email válido.'
                                }
                            ]
                        },
                        message: {
                            identifier: 'message',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Entre com a mensagem.'
                                }
                            ]
                        }
                    }
                });
    </script>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}
{% endblock body_content %}