{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Cronograma{% endblock %}

{% block meta_description %}Faça login para entrar na Área do Participante da VII SECOMP
    UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}

    <!-- Pacotes -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">CRONOGRAMA</h1>
                    <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">Consulte aqui um resumo das atividades da VII SECOMP e seus respectivos locais.</h3>
                </div>
            </div>
            <div class="ui sixteen wide center aligned column wow fadeInUp">
                <p align="center">
                <img class="ui huge image" alt="Cronograma da VII SECOMP UFSCar." src="{% static 'secompufscar2016/images/cronograma/cronograma.png' %}"></p>
            </div>
            <h3 class="ui centered header">Programação sujeita a alterações.</h3>
        </div>
        <br>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}