{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Desafio de Programadores{% endblock %}

{% block meta_description %}Vem aí a 3ª edição do Desafio de Programadores da UFSCar. Premiação de R$ 1000,00 para a
    equipe vencedora e brindes para as segunda e terceira melhores equipes.{% endblock meta_description %}

{% block body_content %}
    <style>
        #desafiodeprogramadores {
            background: url({% static 'secompufscar2016/images/desafio/codigo.jpg' %});
            height: 100vh;
            background-size: cover;
            background-position: center;
        }

        #desafio_header {
            background-color: rgba(0, 0, 0, 0.6);
            height: 100vh;
        }

        /* Máx iPhone 5S */
        @media (max-width: 374px) {
            h1.ui.header {
                font-size: 2.3rem;
            }

            h3.ui.header {
                font-size: 1.18rem;
            }
        }
    </style>

    <div class="ui vertical stripe segment" id="desafiodeprogramadores">
        <div class="ui middle aligned centered grid" id="desafio_header">
            <div class="row">
                <div class="ui twelve wide computer fifteen wide mobile column">
                    <h1 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.3s">III Desafio de
                        Programadores</h1>
                    <h3 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.6s"
                        style="text-transform: none;">
                        O Desafio de Programadores é uma competição similar à Maratona de Programação. Os times são
                        formados por três pessoas, que tentam resolver em quatro horas o maior número de problemas
                        possível de uma prova com diversos problemas, usando as linguagens C, C++ ou Java. As resoluções
                        são corrigidas por um juiz online e a colocação é determinada pelo número de problemas
                        resolvidos, tendo como critério de desempate o tempo gasto nas resoluções. Teremos prêmios para
                        as três equipes melhores colocadas!
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted vertical stripe segment">
        <div class="ui centered grid container">
            <div class="ui sixteen wide computer sixteen wide mobile column">
                <div class="row">
                    <p></p>
                    <h2 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.3s">Monte sua equipe e já
                        comece a se preparar!</h2>

                    <h3 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.6s">Sexta-feira, dia 30/09 às
                        8h, no Departamento de Computação
                        da
                        UFSCar.<br>Aquecimento para o desafio na quarta-feira, dia 28/09, às 19h, também no Departamento
                        de Computação.</h3>
                    <h3 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.9s">Informações
                        importantes:</h3>
                    <h4 class="ui inverted centered header wow fadeInUp" data-wow-delay="1.1s">A equipe deve ter
                        obrigatoriamente três participantes. Todos os membros da equipe devem estar inscritos no pacote
                        FULL. Todos os participantes devem estar cursando no máximo a graduação. Apenas um dos membros
                        da equipe deverá inscrever a equipe toda através da Área do Participante. Leia o edital completo
                        abaixo.</h4>
                    <p><br></p>
                </div>


            </div>
        </div>
    </div>

    {#    <div class="vertical stripe segment" id="fundocinza">#}
    {#        <div class="ui centered grid container">#}
    {#            <div class="ui sixteen wide column">#}
    {#                <div class="row>"><p><br></p></div>#}
    {#                <div class="row">#}
    {#                    #}
    {#                </div>#}
    {#            </div>#}

    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Edital do III Desafio de
                        Programadores da UFSCar</h1>
                </div>
            </div>

            <div class="row">
                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp">
                    <h3 class="ui horizontal divider header">1. Disposições gerais</h3>
                    <p>
                        A terceira edição do Desafio de Programadores da Universidade Federal de São Carlos,
                        realizado na VII Semana da Computação será uma competição similar à Maratona de Programação
                        (<a href="http://maratona.ime.usp.br">http://maratona.ime.usp.br</a>), promovida pela
                        Sociedade Brasileira de Computação (SBC).</p>

                    <p>O III Desafio de Programadores da UFSCar será realizado na sexta-feira, dia 30 de setembro de
                        2016 e será organizado por membros da organização da VII SECOMP UFSCar e por professores do
                        Departamento de Computação da UFSCar São Carlos e Sorocaba.</p>

                    <h3 class="ui horizontal divider header">2. Dos times</h3>
                    <p>
                        Os participantes competirão em times formados estritamente por três pessoas¹. Os integrantes
                        do time podem ser alunos da UFSCar ou não, sem restrições em relação a instituições de
                        ensino e de idade, porém devem estar <b>no máximo cursando a graduação</b>.</p>

                    <p>Um participante pode participar de apenas um time.</p>

                    <h3 class="ui horizontal divider header">3. Das inscrições</h3>


                    <p>Os interessados deverão fazer sua inscrição na VII SECOMP UFSCar, pelo site: <a
                            href="https://secompufscar.com.br">https://secompufscar.com.br</a>, escolhendo o pacote
                        FULL e indicar o interesse em participar do desafio. Caso não seja indicado o interesse em
                        participar do Desafio no momento da inscrição, o participante ainda poderá manifestar
                        interesse através da Área do Participante, no site do evento.</p>

                    <p>Os participantes que manifestaram interesse em participação no Desafio de Programadores
                        receberão instruções, pelo e-mail cadastrado na inscrição, de quando e como realizar a
                        inscrição de equipes, que será feita através da Área do Participante no site do evento. Será
                        divulgado também na página do evento no Facebook (<a
                                href="https://facebook.com/secompufscar">https://facebook.com/secompufscar</a>) o
                        início das inscrições de equipes. Apenas um dos membros da equipe deverá fazer a inscrição
                        da equipe toda. Para realizar a inscrição da equipe, todos os integrantes da mesma deverão
                        estar inscritos no evento, no pacote FULL e com suas inscrições pagas.</p>

                    <p>Existem 25 (vinte e cinco) vagas para equipes. Caso ocorra lotação das vagas, os times
                        participantes serão definidos por ordem de inscrição das equipes no Desafio de
                        Programadores.</p>

                    <p>No dia do desafio, os inscritos deverão apresentar o atestado de matrícula ou qualquer outro
                        documento que comprove que estes estão cursando no máximo a graduação. Este procedimento
                        também poderá ser feito no dia do aquecimento (vide item 4).</p>

                    <h3 class="ui horizontal divider header">4. Da prova</h3>


                    <p>A prova será composta de diversos problemas. Os times terão quatro horas para resolver o
                        maior número de problemas que conseguirem.
                        A prova será aplicada apenas no Departamento de Computação da Universidade Federal de São
                        Carlos, não tendo a opção de participação remota.</p>

                    <p>O acesso aos problemas que compõem a prova são restritos aos organizadores do Desafio de
                        Programadores, que criarão os problemas. Os organizadores do Desafio serão divulgados na
                        página do Desafio no site do evento. Este mesmo grupo será responsável pela impressão da
                        prova e pela configuração do desafio. Os demais membros da Organização da SECOMP não terão
                        acesso a nenhum desses recursos.</p>

                    <p>Na quarta-feira anterior à prova (dia vinte e oito de setembro) às dezenove horas, ocorrerá o
                        aquecimento. O aquecimento é composto por três problemas e serve para os participantes
                        testarem as máquinas. Os resultados não serão computados na competição e a participação é
                        opcional.</p>

                    <p>Os problemas estarão disponíveis na plataforma de contests Codeforces (<a
                            href="http://www.codeforces.com/">http://www.codeforces.com/</a>), que permite a
                        submissão em diversas linguagens. A equipe da VII SECOMP garante que os computadores terão
                        ferramentas para desenvolvimento nas linguagens C, C++, Python e Java. Não há a necessidade
                        de resolver todos os problemas da prova utilizando a mesma linguagem.</p>

                    <p>As equipes utilizarão usuários criados pela Organização da SECOMP para realizar a prova, a
                        fim de facilitar na identificação dos vencedores.</p>

                    <p>Cada time terá à sua disposição apenas um computador e poderá levar material impresso
                        (livros, coletâneas de códigos) para consulta, entretanto não será permitido consulta à
                        internet ou arquivos armazenados digitalmente.</p>


                    <h3 class="ui horizontal divider header">5. Das correções</h3>


                    <p>As soluções para os problemas deverão ser submetidas na plataforma Codeforces. Esta
                        plataforma aceitará um programa como correto se toda resposta retornada por ele, em cada
                        caso de teste, for a esperada e estiver dentro do limite de tempo pré-estabelecido.
                        Os casos de teste usados pela plataforma serão desconhecidos pelos competidores.</p>

                    <p>Cada resposta não aceita retorna o erro ocorrido, como: resposta errada, tempo de execução
                        excedido, erro de execução, erro de compilação, etc.</p>

                    <p>Para cada submissão correta, uma quantidade de pontos é atribuída à equipe, em relação ao
                        tempo decorrido desde o começo da prova até o momento do envio. Cada submissão incorreta
                        gera uma penalidade na pontuação do exercício em questão.</p>


                    <h3 class="ui horizontal divider header">6. Dos resultados</h3>


                    <p>A colocação será determinada pelo número de problemas resolvidos, tendo como critério de
                        desempate o tempo.</p>

                    <p>Em caso de empate, será considerado vencedor o time cuja última submissão correta tenha sido
                        feita mais cedo. Persistindo o empate, passará à penúltima submissão correta e assim por
                        diante. Se persistir o empate a organização fará um sorteio entre os times envolvidos.</p>

                    <h3 class="ui horizontal divider header">7. Das premiações</h3>


                    <p>A organização da competição oferece medalhas aos três times melhores colocados.

                        Haverá também prêmios para os primeiros colocados:

                    <ul>
                        <li><b>Primeiro lugar</b>: R$ 1.000,00 (mil reais) em dinheiro para a equipe + camisetas da
                            ASRock + canecas + canetas da ASRock + camisetas exclusivas.
                        </li>
                        <li><b>Segundo lugar</b>: R$ 300,00 (trezentos reais) em dinheiro para a equipe + camisetas da ASRock +
                            canecas + canetas da ASRock + camisetas exclusivas.
                        </li>
                        <li><b>Terceiro lugar</b>: livros da Novatec + canecas + canetas da ASRock + camisetas
                            exclusivas.
                        </li>
                    </ul>

                    <p>A premiação em dinheiro será feita em até 30 dias após o término da competição via depósito
                        bancário e/ou transferência bancária para as contas dos membros da equipe vencedora. Para
                        tal, os membros da equipe vencedora deverão informar à organização: banco, número da conta e
                        CPF.</p>

                    <h3 class="ui horizontal divider header">8. Da divulgação</h3>

                    <p>Os times inscritos permitem o uso e divulgação de suas imagens e programas submetidos pela
                        organização da VII SECOMP.</p>

                    <p align="right">São Carlos, 23 de setembro de 2016<br>Organização da VII SECOMP UFSCar</p>


                    <p><br><i>¹Caso haja interesse de participação de pessoas que não tenham o time completo, favor
                        entrar em contato com a organização, pois durante todo o período de inscrições e durante os
                        três primeiros dias do evento faremos uma relação de interessados e tentaremos organizar
                        times entre eles.</i></p>

                    <br>
                    <h2 class="ui centered header">Os organizadores da prova</h2>
                    <br>
                    <div class="ui centered grid">
                        <div class="three wide computer four wide tablet eight wide mobile column">
                            <div class="ui fluid black card item">
                                <div class="image">
                                    <img src="{% static 'secompufscar2016/images/desafio/organizadores/delano_beder.jpg' %}"
                                         alt="Foto Delano">
                                </div>
                                <div class="content">
                                    <div class="header">Delano Beder

                                    </div>
                                    <div class="meta">
                                        Professor, DC/UFSCar
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="three wide computer four wide tablet eight wide mobile column">
                            <div class="ui fluid black card item">
                                <div class="image">
                                    <img src="{% static 'secompufscar2016/images/desafio/organizadores/mario_lizier.jpg' %}"
                                         alt="Foto Mario">
                                </div>
                                <div class="content">
                                    <div class="header">Mario Liziér

                                    </div>
                                    <div class="meta">
                                        Professor, DComp/UFSCar Sorocaba
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="three wide computer four wide tablet eight wide mobile column">
                            <div class="ui fluid black card item">
                                <div class="image">
                                    <img src="{% static 'secompufscar2016/images/desafio/organizadores/bianca_oe.jpg' %}"
                                         alt="Foto Bianca">
                                </div>
                                <div class="content">
                                    <div class="header">Bianca Oe

                                    </div>
                                    <div class="meta">
                                        Mestranda, ICMC/USP
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="three wide computer four wide tablet eight wide mobile column">
                            <div class="ui fluid black card item">
                                <div class="image">
                                    <img src="{% static 'secompufscar2016/images/desafio/organizadores/caio_herrera.jpg' %}"
                                         alt="Foto Caio">
                                </div>
                                <div class="content">
                                    <div class="header">Caio Herrera

                                    </div>
                                    <div class="meta">
                                        Estudante de Engenharia de Computação, UFSCar
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="three wide computer four wide tablet eight wide mobile column">
                            <div class="ui fluid black card item">
                                <div class="image">
                                    <img src="{% static 'secompufscar2016/images/desafio/organizadores/nicolas_oe.jpg' %}"
                                         alt="Foto Nicolas">
                                </div>
                                <div class="content">
                                    <div class="header">Nicolas Oe

                                    </div>
                                    <div class="meta">
                                        Mestrando, ICMC/USP
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}
{% endblock body_content %}