{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Enterprise Day{% endblock %}

{% block meta_description %}Veja aqui as empresas que virão para a VII SECOMP
    UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}

    <!-- Processos seletivos -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">ENTERPRISE DAY</h1>
                    <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">Venha conhecer de perto algumas
                        das maiores empresas de tecnologia da região!<br>Terça-feira, dia 27/09</h3>
                </div>
            </div>

        <h2 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">Estandes das empresas<br>das 13h às 18h no
                Saguão da Biblioteca Comunitária da UFSCar</h2>
            <div class="row">
                <div class="ui centered grid container">
                    <div class="middle aligned row">
                        <div class="ui five wide center aligned column wow fadeInUp" data-wow-delay="0.7s">
                            <div class="ui medium image">
                                <img class="ui large image"
                                     src="{% static 'secompufscar2016/images/patrocinadores/amdocs.png' %}">
                            </div>
                        </div>
                        <div class="ui five wide center aligned column wow fadeInUp" data-wow-delay="0.8s">
                            <div class="ui image">
                                <img class="ui large image"
                                     src="{% static 'secompufscar2016/images/patrocinadores/asrock.png' %}">
                            </div>
                        </div>
                        <div class="ui five wide center aligned column wow fadeInUp" data-wow-delay="0.9s">
                            <div class="ui middle aligned medium image">
                                <img class="ui large image"
                                     src="{% static 'secompufscar2016/images/patrocinadores/daitan_group.png' %}">
                            </div>
                        </div>
                        <div class="ui five wide center aligned column wow fadeInUp" data-wow-delay="1s">
                            <div class="ui medium image">
                                <img class="ui large image"
                                     src="{% static 'secompufscar2016/images/patrocinadores/konker.png' %}">
                            </div>
                        </div>
                        <div class="ui five wide center aligned column wow fadeInUp" data-wow-delay="1.1s">
                            <div class="ui medium image">
                                <img class="ui large image"
                                     src="{% static 'secompufscar2016/images/patrocinadores/monitora2.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">Palestras empresariais</h2>
            <div class="ui sixteen wide column">
                <table class="ui celled striped selectable table wow fadeInUp" data-wow-delay="0.9s">
                    <thead>
                    <tr>
                        <th>Palestra</th>
                        <th>Horário</th>
                        <th>Local</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for atividade in palestras %}
                        <tr>
                            <td>
                                <h4 class="ui image header">
                                    <img src="{% static 'secompufscar2016/images/palestrantes/palestras/'|add:atividade.ministrante_atividade.get.foto_ministrante %}"
                                         class="ui mini bordered rounded image">
                                    <div class="content">
                                        {{ atividade.nome_atividade }}
                                        <div class="sub header">{{ atividade.ministrante_atividade.get.nome_ministrante }}
                                        </div>
                                    </div>
                                </h4>
                            </td>
                            <td class="three wide">{{ atividade.data_inicio_atividade|date:"l, d/m" }},<br>
                                {{ atividade.hora_inicio_atividade.hour }}h{% if atividade.hora_inicio_atividade|time:'i' != '00' %}{{ atividade.hora_inicio_atividade|time:'i' }}{% endif %}
                                - {{ atividade.hora_fim_atividade.hour }}h{% if atividade.hora_fim_atividade|time:'i' != '00' %}
                                    {{ atividade.hora_fim_atividade|time:'i' }}{% endif %}
                            </td>
                            <td class="three wide">{{ atividade.local_atividade }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.9s">Leia mais detalhes sobre as palestras na página <a
                        href="/2016/programacao/palestras/">Palestras</a> do nosso site. Mais palestras em breve.</h3>
            <h3 class="ui centered header wow fadeInUp" data-wow-delay="1.2s">Programação sujeita a alterações.</h3>
            </div>
        </div>
        <br>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}
{% endblock body_content %}