{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Equipe{% endblock %}

{% block meta_description %}Conheça os membros da equipe organizadora da VII SECOMP
    UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}
    <!-- =========================
        EQUIPE
    ============================== -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">

                {% for diretoria in diretorias %}
                    <div class="row">
                        {% if forloop.counter0 == 0 %}
                            <p><br></p>
                            <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">EQUIPE SECOMP 2016</h1>
                            <br>
                            </div>
                            <div class="row">
                        {% endif %}

                        <h2 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">{{ diretoria.nome }}</h2><br>
                        </div>
                    <div class="row">
                        <div class="ui centered grid">
                            {% for membro in diretoria.membros %}
                                <div class="three wide computer four wide tablet eight wide mobile column">
                                    <div class="ui fluid black card item wow fadeInUp" data-wow-delay="0.3s">
                                        <div class="image">
                                            <img src="{% static 'secompufscar2016/images/equipe/'|add:membro.foto_membro_equipe %}"
                                                 alt="Foto do membro de equipe {{ membro.nome_membro_equipe }}">
                                        </div>
                                        <div class="content">
                                            <div class="header">{{ membro.nome_membro_equipe }}</div>
                                            {% if membro.curso_membro_equipe == 'BCC' %}
                                                <div class="meta">Ciência da
                                                    Computação, {{ membro.ano_ingresso_membro_equipe }}</div>
                                            {% else %}
                                                <div class="meta">Engenharia de
                                                    Computação, {{ membro.ano_ingresso_membro_equipe }}</div>
                                            {% endif %}

                                            {% if membro.cargo_membro_equipe != '' %}
                                                <a class="ui mini bottom right attached label"
                                                   data-title="{{ membro.nome_membro_equipe }} - {{ membro.cargo_membro_equipe }}"
                                                   data-content="{{ membro.email_membro_equipe }}"
                                                   data-variation="tiny inverted flowing">
                                                    {{ membro.cargo_membro_equipe.split.0 }} &nbsp;<i
                                                        class="mail icon"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <br><br><br>
                    {% endif %}
                {% endfor %}
                <p><br></p>
                <!-- Necessário para evitar que os últimos cards fiquem com a borda inferior cortada, devido a estarem colados com o fim do container. -->
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.label')
                .popup({
                    on: 'hover', hoverable: 'false', addTouchEvents: 'true', position: 'top left'
                })
        ;
    </script>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}