{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Game Night{% endblock %}

{% block meta_description %}Prepare-se para uma noite de muita jogatina e café! Game Night by CAEnC: das 7 às
    7.{% endblock meta_description %}

{% block body_content %}
    <section id="headingpages_gamenight">
        <div class="ui container">
            <div class="row">
                <div class="sixteen wide column">
                    <p></p>
                </div>
            </div>
        </div>
    </section>

    <style>
        #leagueoflegends {
            background: url({% static 'secompufscar2016/images/gamenight/league_of_legends.jpg' %});
            height: 100vh;
            background-size: cover;
            background-position: bottom;
        }

        #hearthstone {
            background: url({% static 'secompufscar2016/images/gamenight/hearthstone.jpg' %});
            height: 100vh;
            background-size: cover;
            background-position: bottom;
        }

        #justdance {
            background: url({% static 'secompufscar2016/images/gamenight/just_dance2016.jpg' %});
            height: 100vh;
            background-size: cover;
        }

        #dota2 {
            background: url({% static 'secompufscar2016/images/gamenight/dota2.jpg' %});
            height: 100vh;
            background-size: cover;
            background-position: bottom;
        }

        @media (max-width: 1023px) {
            #dota2 {
                height: 800px;
            }
        }

        @media (max-width: 700px) {
            #leagueoflegends {
                height: 300px;
            }

            #justdance {
                height: 300px;
            }

            #hearthstone {
                height: 300px;
            }

            #dota2 {
                height: 300px;
            }
        }
    </style>
    <div class="ui inverted vertical stripe segment">
        <div class="ui centered grid container">
            <div class="row">
                <div class="ui sixteen wide column">
                    <p><br></p>
{#                    <h1 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.3s">Game Night#}
{#                        by</h1>#}
                    <img src="{% static 'secompufscar2016/images/gamenight/gamenight.png' %}" alt="Logo da GameNight 3.0.2"
                        class="ui large centered image wow fadeInUp" data-wow-delay="'0.4s">
{#                    <img src="{% static 'secompufscar2016/images/gamenight/caenc.png' %}" alt="Logo do CAEnC"#}
{#                         class="ui small centered image wow fadeInUp" data-wow-delay="0.6s">#}
                    <h2 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.9s">Prepare-se para uma noite
                        de muita jogatina e café!
                        <br>Game Night by CAEnC: das 7 às 7.
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical stripe segment" id="leagueoflegends">
    </div>
    <div class="ui vertical stripe segment" id="hearthstone">
    </div>
    <div class="ui vertical stripe segment" id="dota2">
    </div>
    <div class="ui vertical stripe segment" id="justdance">
    </div>
    <div class="ui inverted vertical stripe segment">
        <div class="ui centered grid container">
            <div class="ui sixteen wide computer sixteen wide mobile column">
                <div class="row">
                    <p></p>
                    <h2 class="ui inverted centered header">Traga seu notebook e também os seus jogos!</h2>

                    <h3 class="ui inverted centered header">Será disponibilizado acesso à rede Wi-Fi do Departamento, bem como pontos de rede cabeada, mediante cadastro prévio. Entretanto, por decisão do Departamento de Computação, os computadores dos laboratórios não poderão ser utilizados para jogos (mas o espaço dos laboratórios estará aberto, então recomendamos que você traga seu notebook).</h3>

                    <h3 class="ui inverted centered header">Segunda-feira, dia 26/09 às 19h, no Departamento de
                        Computação da
                        UFSCar.</h3>
                    <h3 class="ui inverted centered header">Confirme presença no <a href="https://www.facebook.com/events/1092579617528543/">evento do Facebook</a>.</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}