{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar 2016{% endblock %}

{% block meta_description %}A VII Semana da Computação da UFSCar ocorrerá neste ano nos dias 26 a 30 de
    setembro.{% endblock meta_description %}

{% block body_content %}
    <style>
        #intro {
        {% if horario >= 8 and horario < 18 %}
            background: url('{% static 'secompufscar2016/images/homepage/secompbg_1.jpg' %}') 50% 0 fixed;
        {% elif horario >= 18 and horario < 22 %}
            background: url('{% static 'secompufscar2016/images/homepage/secompbg_2.jpg' %}') 50% 0 fixed;
        {% else %}
            background: url('{% static 'secompufscar2016/images/homepage/secompbg_3.jpg' %}') 50% 0 fixed;
        {% endif %}
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center center;
            color: #ffffff;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            text-align: center;
        }

        @media (max-width: 1024px) {
            #intro {
                background-size: cover;
                -webkit-background-size: cover;
                background-position: center;
                background-attachment: scroll;
                background-repeat: no-repeat;
            }
        }

        #novaidentidade {
            background-color: #21ba45;
        }
    </style>

    <div class="ui inverted vertical masthead center aligned segment" id="intro">
        <div class="ui container">
            <div class="row">
                <div class="sixteen wide vertical column">
                    <!-- Usado para evitar que o logo fique embaixo do menu em resoluções 320px -->
                    <div class="mobile only row">
                        <br><br><br>
                    </div>
                    <p class="wow fadeInUp" data-wow-delay="0.3s" align="center">
                        <img src="{% static 'secompufscar2016/images/logos/secomp_logo_branco.png' %}"
                             class="ui big fluid image"
                             alt="Logo da SECOMP UFSCar na versão branca."><br>
                    </p>
                    <h1 class="ui inverted header wow fadeInUp" data-wow-delay="0.6s" style="text-transform: none;"
                        id="titulo_index">VII Semana da Computação da UFSCar</h1>
                    <div class="wow fadeInUp" data-wow-delay="0.9s">
                        <div class="ui black medium button" id="data">
                            26 A 30 DE SETEMBRO DE 2016
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>


    <div class="ui inverted vertical stripe segment">
        <div class="ui centered grid container">
            <div class="row">
                <h3 class="ui centered inverted header"><span><i class="ui signup icon"></i></span> <b>INSCRIÇÕES ENCERRADAS!</b></h3>
            </div>
        </div>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

    <!-- O que tem na SECOMP? -->
    <div id="oquetemnasecomp">
        <div class="ui inverted vertical stripe segment">
            <div class="center aligned ui grid container">
                <div class="sixteen wide column">
                     <h2 class="ui centered inverted header"><br>
                        O que tem na SECOMP UFSCar?
                    </h2>
                </div>
                <div class="five wide computer five wide tablet eight wide mobile column wow fadeInUp"
                     data-wow-delay="0.3s">
                    <p></p>
                    <!-- Esta linha é usada para adicionar um pouco mais de espaço vertical entre os ícones. -->
                    <i class="ui huge green users icon"></i>
                    <h3>450+ participantes</h3>
                </div>
                <div class="five wide computer five wide tablet eight wide mobile column wow fadeInUp"
                     data-wow-delay="0.4s">
                    <p></p>
                    <i class="ui huge green clock icon"></i>
                    <h3>50+ horas de atividades</h3>
                </div>
                <div class="five wide computer five wide tablet eight wide mobile column wow fadeInUp"
                     data-wow-delay="0.5s">
                    <p></p>
                    <i class="ui huge green microphone icon"></i>
                    <h3>Palestras</h3>
                </div>
                <div class="five wide computer five wide tablet eight wide mobile column wow fadeInUp"
                     data-wow-delay="0.6s">
                    <p></p>
                    <i class="ui huge green comments icon"></i>
                    <h3>Mesas-redondas</h3>
                </div>
                <div class="five wide computer five wide tablet eight wide mobile column wow fadeInUp"
                     data-wow-delay="0.7s">
                    <p></p>
                    <i class="ui huge green terminal icon"></i>
                    <h3>Minicursos e workshops</h3>
                </div>
                <div class="five wide computer five wide tablet eight wide mobile column wow fadeInUp"
                     data-wow-delay="0.8s">
                    <p></p>
                    <i class="ui huge green globe icon"></i>
                    <h3>Enterprise Day</h3>
                </div>
                <div class="five wide computer five wide tablet eight wide mobile column wow fadeInUp"
                     data-wow-delay="0.9s">
                    <p></p>
                    <i class="ui huge green briefcase icon"></i>
                    <h3>Processos Seletivos</h3>
                </div>
                <div class="five wide computer five wide tablet eight wide mobile column wow fadeInUp"
                     data-wow-delay="1s">
                    <p></p>
                    <i class="ui huge green trophy icon"></i>
                    <h3>Desafio de Programadores</h3>
                </div>
                <div class="five wide computer five wide tablet eight wide mobile column wow fadeInUp"
                     data-wow-delay="1.1s">
                    <p></p>
                    <i class="ui huge green gamepad icon"></i>
                    <h3>Game Night</h3>
                </div>
            </div>
        <p><br></p>
        </div>
    </div>

    <!-- Nova identidade visual + vídeo teaser -->
    <div class="ui vertical stripe segment" id="novaidentidade">
        <div class="center aligned ui grid container">
            <p></p>
            <div class="row">

                <style>
                    #novaidentidadeh2 {
                        font-size: 1.8em;
                    }
                </style>
                <div class="eight wide computer sixteen wide tablet sixteen wide mobile column">
                    <br>
                    <img src="{% static 'secompufscar2016/images/logos/secomp_logo_branco.png' %}"
                         class="ui centered large fluid image wow fadeInUp"
                         data-wow-delay="0.9" alt="Logo SECOMP UFSCar branco">
                    <br>
                    <h2 class="ui inverted header wow fadeInUp" data-wow-delay="0.3s" id="novaidentidadeh2">SECOMP 2016:
                        Identidade Visual
                        Renovada</h2>
                    <h3 class="ui inverted header wow fadeInUp" data-wow-delay="0.6s">Novo logo, novo site e muitas
                        novidades ainda por vir!</h3>
                </div>

                <div class="eight wide computer sixteen wide tablet sixteen wide mobile column">
                    <div class="mobile tablet only row">
                        <p><br></p>
                    </div>
                    <div class="ui embed active wow fadeInUp" data-wow-delay="0.3s">
                        <div class="embed">
                            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fsecompufscar%2Fvideos%2F10155013433704196%2F&show_text=0&width=560"
                                    width="560" height="315" style="border:none;overflow:hidden" scrolling="no"
                                    frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <p><br></p>
        </div>
    </div>

{% endblock body_content %}