{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Mesas-redondas{% endblock %}

{% block meta_description %}Confira aqui as palestras da programação da VII SECOMP USFCar{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}

    <style>
        @media only screen and (max-width: 767px) {
            .ui.modal .content > .image {
                padding: 0rem 0rem 0rem !important;
            }

            .ui.items > .item > .image, .ui.items > .item > .image > img {
                max-height: 300px !important;
            }
        }
    </style>

    <!-- Mesas-redondas -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">MESAS-REDONDAS</h1>
                    <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">Assim como as palestras, as
                        mesas-redondas são abertas a todos
                        os interessados, sem necessidade de inscrição no evento. Entretanto, para receber o certificado
                        de participação, você deve realizar sua inscrição, em qualquer pacote, incluindo o pacote
                        FREE.</h3>
                </div>
            </div>

            <div class="row">
                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp">

                    {% for atividade in atividades %}
                        {% load staticfiles %}
                        <h2 class="ui top attached header" style="text-transform: none;">
                            [Mesa-redonda] {{ atividade.nome_atividade }}
                        </h2>
                        <div class="ui attached fluid segment">
                            {{ atividade.descricao_atividade|safe }}
                        <h2>Os participantes:</h2>
                            <p>
                            <div class="ui centered grid">
                            {% for ministrante in atividade.ministrante_atividade.all %}
                                <div class="three wide computer four wide tablet eight wide mobile column">
                                    <div class="ui fluid black card item wow fadeInUp" data-wow-delay="0.3s">
                                        <div class="image">
                                            <img src="{% static 'secompufscar2016/images/palestrantes/mesasredondas/'|add:ministrante.foto_ministrante %}"
                                                 alt="Foto de {{ ministrante.foto_ministrante }}">
                                        </div>
                                        <div class="content">
                                            <div class="header">{{ ministrante.nome_ministrante }}

                                                {% if ministrante.facebook_ministrante != '' %}
                                                <a href="{{ ministrante.facebook_ministrante }}"
                                                   target="_blank"><i
                                                        class="facebook fitted square icon"
                                                        id="icone_rede_social_ministrantes"></i></a>
                                            {% endif %}

                                            {% if ministrante.twitter_ministrante != '' %}
                                                <a href="{{ ministrante.twitter_ministrante }}"
                                                   target="_blank"><i
                                                        class="twitter fitted square icon"
                                                        id="icone_rede_social_ministrantes"></i></a>
                                            {% endif %}

                                            {% if ministrante.github_ministrante != '' %}
                                                <a href="{{ ministrante.github_ministrante }}"
                                                   target="_blank"><i
                                                        class="github fitted square icon"
                                                        id="icone_rede_social_ministrantes"></i></a>
                                            {% endif %}

                                            {% if ministrante.linkedin_ministrante != '' %}
                                                <a href="{{ ministrante.linkedin_ministrante }}"
                                                   target="_blank"><i
                                                        class="linkedin fitted square icon"
                                                        id="icone_rede_social_ministrantes"></i></a>
                                            {% endif %}

                                            {% if ministrante.aboutme_ministrante != '' %}
                                                <a href="{{ ministrante.aboutme_ministrante }}"
                                                   target="_blank"><i
                                                        class="share alternate fitted square icon"
                                                        id="icone_rede_social_ministrantes"></i></a>
                                            {% endif %}

                                            </div>
                                            <div class="meta">
                                                {{ ministrante.profissao_ministrante }}, {{ ministrante.empresa_ministrante }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                         <p><br></p>
                        {% for ministrante in atividade.ministrante_atividade.all %}
                            <div class="ui divider"></div>
                            <b>Sobre {{ ministrante.nome_ministrante }}: </b> {{ ministrante.descricao_ministrante|safe }}
                        {% endfor %}
                        <div class="ui divider"></div>
                            <div class="ui label" id="tags">
                                <i class="calendar icon"></i>{{ atividade.data_inicio_atividade|date:"l, d/m" }}
                            </div>
                            <div class="ui label" id="tags">
                                <i class="clock icon"></i>{{ atividade.hora_inicio_atividade.hour }}h{% if atividade.hora_inicio_atividade|time:'i' != '00' %}{{ atividade.hora_inicio_atividade|time:'i' }}{% endif %}
                                - {{ atividade.hora_fim_atividade.hour }}h{% if atividade.hora_fim_atividade|time:'i' != '00' %}{{ atividade.hora_fim_atividade|time:'i' }}{% endif %}
                                {% if atividade.hora_retorno_atividade %}
                                    e {{ atividade.hora_retorno_atividade.hour }}h{% if atividade.hora_retorno_atividade|time:'i' != '00' %}
                                        {{ atividade.hora_retorno_atividade|time:'i' }}{% endif %} -
                                    {{ atividade.hora_fim_retorno_atividade.hour }}h{% if atividade.hora_fim_retorno_atividade|time:'i' != '00' %}{{ atividade.hora_fim_retorno_atividade|time:'i' }}{% endif %}
                                {% endif %}
                            </div>
                            <div class="ui label" id="tags"><i
                                    class="marker icon"></i>{{ atividade.local_atividade }}
                            </div>
                            </p>
                        </div>
                        {% endfor %}
                        <h3 class="ui centered header">Programação sujeita a alterações.</h3>
                    </div>
                </div>
            </div>
            <br>
        </div>

        {% include 'secompufscar2016/helpers/patrocinadores.html' %}
{% endblock body_content %}