{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Pacotes{% endblock %}

{% block meta_description %}Faça login para entrar na Área do Participante da VII SECOMP
    UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}

    <style>
        @media (max-width: 500px) {
            h2 {
                font-size: 1.2em;
            }
        }
    </style>
    <!-- Pacotes -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">PACOTES DA VII SECOMP UFSCAR</h1>
                    <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">Veja aqui os pacotes que serão
                        disponibilizados na inscrição do evento. Lembrando que, para receber o certificado de
                        participação do evento, você deve fazer a sua inscrição, mesmo que no pacote FREE, e fazer o seu
                        credenciamento durante o evento.</h3>
                </div>
            </div>
            <div class="ui sixteen wide column wow fadeInUp">
                <p>
                    <div class="ui positive icon message">
                        <i class="empty star icon"></i>
                        <div class="content">
{#                            <div class="header">#}
{#                                Novidade neste ano: camisetas BabyLook!#}
{#                            </div>#}
{#                            <p>Este ano disponibilizaremos camisetas BabyLook para <b>inscrições realizadas até o dia 04/09</b>. Após esta data, serão disponibilizadas na inscrição apenas camisetas no modelo tradicional.</p>#}
                            <div class="header">
                                Novidade neste ano: camisetas BabyLook!
                            </div>
                            <p>Este ano disponibilizamos camisetas BabyLook para inscrições realizadas até o dia 04/09. Para novas inscrições, temos disponibilidade de camisetas nos tamanhos P, M, G, GG e 54, no modelo tradicional.</p>
{#                <p>Não conseguiu fazer sua inscrição a tempo e gostaria de uma camiseta BabyLook? Faça sua inscrição normalmente escolhendo um tamanho de camiseta do modelo tradicional e entre em contato conosco pelo e-mail <a href="mailto:contato@secompufscar.com.br">contato@secompufscar.com.br</a>. Faremos uma lista de espera para uma quantidade adicional de camisetas BabyLook que iremos pedir.</p>#}

                        </div>
                    </div>

                    <div class="ui positive icon message">
                        <i class="thumbs outline up icon"></i>
                        <div class="content">
                            <div class="header">
                                Desconto para associados da SBC - Sociedade Brasileira de Computação:
                            </div>
                            <p>É associado da SBC? Então você tem direito a <b>15% de desconto</b> em sua inscrição. Entre em contato conosco pelo e-mail <a href="mailto:contato@secompufscar.com.br">contato@secompufscar.com.br</a>.</p>
                        </div>
                    </div>
                    {% include 'secompufscar2016/helpers/tabeladepacotes.html' %}
                </p>

                <h2 class="ui centered header wow fadeInUp">FORMAS DE PAGAMENTO:</h2>
                <h3 class="ui centered header wow fadeInUp">- Via PayPal: cartões de crédito Visa, MasterCard, American Express,
                    Elo, HiperCard e Hiper;<br>- Transferência bancária para contas do Banco do Brasil ou Santander;
                    <br><br>- Pagamento presencial:<br>
{#                    <br>Segunda-feira, dia 22/08 - 9h às 11h e 14h às 18h.<br>#}
{#                    Terça-feira, dia 23/08 - 9h às 11h e 13h às 18h.<br>#}
{#                    Quarta-feira, dia 24/08 - 13h às 18h.<br>#}
{#                    Quinta-feira, dia 25/08 - 13h às 18h e 19h às 20h.<br>#}
{#                    Sexta-feira, dia 26/08 - 9h às 11h, 13h às 18h e 19h às 20h.<br>#}
{#                    Segunda-feira, dia 29/08 - 13h às 16h30 e 18h às 20h.<br>#}
{#                    Terça-feira, dia 30/08 - 9h às 11h, 13h às 16h30 e 18h às 20h.<br>#}
{#                    Quarta-feira, dia 31/08 - 9h às 11h, 13h às 16h30 e 18h às 20h.<br>#}
{#                    Quinta-feira, dia 01/09 - 9h às 11h e 14h às 16h30.<br>#}
{#                    Sexta-feira, dia 02/09 - 9h às 11h e 14h às 16h30.<br><br>#}
{#                    Segunda-feira, dia 05/09 - 11h30 às 13h.<br>#}
{#                    Terça-feira, dia 06/09 - 11h30 às 14h30 e 18h às 19h.<br>#}
{#                    Quinta-feira, dia 08/09 - 11h30 às 14h30 e 18h às 19h.<br>#}
{#                    Sexta-feira, dia 09/09 - 11h30 às 14h30.<br><br>#}
{#                    Segunda-feira, dia 12/09 - 11h30 às 14h30 e 18h às 19h.<br>#}
{#                    Terça-feira, dia 13/09 - 11h30 às 14h30.<br>#}
{#                    Quarta-feira, dia 14/09 - 11h30 às 14h30.<br>#}
{#                    Quinta-feira, dia 15/09 - 13h às 14h30 e 18h às 19h.<br>#}
{#                    Sexta-feira, dia 16/09 - 11h30 às 13h.<br><br>#}
                    Segunda-feira, dia 19/09 - 11h30 às 14h30 e 18h às 19h.<br>
                    Terça-feira, dia 20/09 - 11h30 às 14h30 e 18h às 19h.<br>
                    Quarta-feira, dia 21/09 - 11h30 às 13h.<br>
                    Quinta-feira, dia 22/09 - 11h30 às 14h30<br>
                    Sexta-feira, dia 23/09 - 11h30 às 14h30.<br><br>

                    Local: LIG do Departamento de Computação.<br><br>
{#                    Dias e horários de recebimento de pagamento presencial serão atualizados semanalmente nesta página.<br><br>#}
{#                    no Departamento de Computação em dias e horários a serem divulgados em nossa#}
{#                    página no Facebook.#}

                </h3>
                <div class="ui fluid bordered image wow fadeInUp">
                    <img src="{% static 'secompufscar2016/images/extras/tabela_de_medidas.jpg' %}" alt="Tamanho das camisetas">
                </div>

                <h3 class="ui centered header"><a href="{% static 'secompufscar2016/images/extras/tabela_de_medidas.png' %}" target="_blank">Clique aqui</a> para acessar a imagem em maior resolução.</h3>
            </div>
        </div>
        <br>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}