{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Processos Seletivos{% endblock %}

{% block meta_description %}Veja aquis os processos seletivos que acontecerão na VII SECOMP
    UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}

    <!-- Processos seletivos -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">PROCESSOS SELETIVOS</h1>
                    <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">De olho em uma vaga de estágio?
                        Participe dos processos seletivos das maiores empresas de tecnologia da região. Aberto a todos
                        os participantes do evento. Não é necessário se inscrever previamente.</h3>
{#                    <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s"> Mais processos seletivos em#}
{#                        breve.</h3>#}
                </div>
            </div>

            <div class="row">
                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp">
                    <h2 class="ui top attached header" style="text-transform: none;">
                        [Processo Seletivo] Daitan Group
                    </h2>

                    <div class="ui attached fluid segment">
                        <div class="ui divided items">
                            <div class="item">
                                <div class="content">
                                    <p align="center">
                                        <img class="ui medium image"
                                             src="{% static 'secompufscar2016/images/patrocinadores/daitan_group.png' %}">
                                        <br>
                                    </p>
                                    <div class="description">

                                        <p align="center">A Daitan é uma empresa especializada nos mercados de Serviços
                                            e Soluções de Software, Pesquisa e Desenvolvimento (P&D) e Serviços de
                                            Engenharia (Consultoria e Serviços Profissionais). </p>
                                        <p align="center">Mais informações: <a href="http://www.daitangroup.com.br"
                                                                               target="_blank">http://www.daitangroup.com.br</a>.
                                        </p>
                                    </div>
                                    <div class="extra">
                                        <div class="ui label"><i class="calendar icon"></i>Terça-feira, dia
                                            27/09
                                        </div>
                                        <div class="ui label"><i class="clock icon"></i>12h45 - 14h45
                                        </div>
                                        <div class="ui label"><i class="marker icon"></i>Departamento de
                                            Computação, Sala PPG-CC 1
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="ui top attached header" style="text-transform: none;">
                        [Processo Seletivo] Monitora
                    </h2>

                    <div class="ui attached fluid segment">
                        <div class="ui divided items">
                            <div class="item">
                                <div class="content">
                                    <p align="center">
                                        <img class="ui medium image"
                                             src="{% static 'secompufscar2016/images/patrocinadores/monitora.png' %}">
                                        <br>
                                    </p>
                                    <div class="description">

                                        <p align="center">A Monitora é uma empresa com o objetivo de fornecer aos seus
                                            clientes as melhores soluções em software, garantindo eficiência e
                                            excelência, por meio de processos inovadores de desenvolvimento.
                                            Inovação, criatividade, qualidade de vida, ética, desenvolvimento humano e
                                            profissional: esses são os valores que a Monitora pratica em seu dia a
                                            dia.</p>
                                        <p align="center">
                                            Se você também se identifica com esse ambiente e quer fazer a diferença,
                                            faça parte da nossa equipe.</p>
                                        <p align="center">Mais informações: <a href="http://monitoratec.com.br"
                                                                               target="_blank">http://monitoratec.com.br</a>.
                                        </p>
                                    </div>
                                    <div class="extra">
                                        <div class="ui label"><i class="calendar icon"></i>Terça-feira, dia
                                            27/09
                                        </div>
                                        <div class="ui label"><i class="clock icon"></i>17h - 18h
                                        </div>
                                        <div class="ui label"><i class="marker icon"></i>Departamento de
                                            Computação, LE 4
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="ui top attached header" style="text-transform: none;">
                        [Processo Seletivo] Tempest Security Intelligence
                    </h2>

                    <div class="ui attached fluid segment">
                        <div class="ui divided items">
                            <div class="item">
                                <div class="content">
                                    <p align="center">
                                        <img class="ui medium image"
                                             src="{% static 'secompufscar2016/images/patrocinadores/tempest.png' %}">
                                        <br>
                                    </p>
                                    <div class="description">

                                        <p align="center">A Tempest é referência nacional em segurança da informação,
                                            conhecida por sua expertise técnica, credibilidade e qualidade das soluções
                                            que entrega aos seus clientes.</p>
                                        <p align="center">Mais informações: <a href="http://tempest.com.br/pt/"
                                                                               target="_blank">http://tempest.com.br/pt/</a>.
                                        </p>
                                    </div>
                                    <div class="extra">
                                        <div class="ui label"><i class="calendar icon"></i>Quarta-feira, dia
                                            28/09
                                        </div>
                                        <div class="ui label"><i class="clock icon"></i>9h - 10h
                                        </div>
                                        <div class="ui label"><i class="marker icon"></i>Departamento de
                                            Computação, Sala PPG-CC 1
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="ui top attached header" style="text-transform: none;">
                        [Processo Seletivo] Ícaro Technologies
                    </h2>

                    <div class="ui attached fluid segment">
                        <div class="ui divided items">
                            <div class="item">
                                <div class="content">
                                    <p align="center">
                                        <img class="ui medium image"
                                             src="{% static 'secompufscar2016/images/patrocinadores/icaro_tech_processo_seletivo.png' %}">
                                        <br>
                                    </p>
                                    <div class="description">

                                        <p align="center">A Icaro Tech é uma empresa de tecnologia especializada em
                                            soluções de gerência e analytics para operações mais inteligentes.</p>
                                        <p align="center">Mais informações: <a href="http://www.icarotech.com/cala/pt/"
                                                                               target="_blank">http://www.icarotech.com/cala/pt/</a>.
                                        </p>
                                    </div>
                                    <div class="extra">
                                        <div class="ui label"><i class="calendar icon"></i>Quarta-feira, dia
                                            28/09
                                        </div>
                                        <div class="ui label"><i class="clock icon"></i>10h - 12h
                                        </div>
                                        <div class="ui label"><i class="marker icon"></i>Departamento de
                                            Computação, Sala PPG-CC 1
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="ui top attached header" style="text-transform: none;">
                        [Processo Seletivo] Amdocs
                    </h2>

                    <div class="ui attached fluid segment">
                        <div class="ui divided items">
                            <div class="item">
                                <div class="content">
                                    <p align="center">
                                        <br>
                                        <img class="ui medium image"
                                             src="{% static 'secompufscar2016/images/patrocinadores/amdocs.png' %}">
                                        <br>
                                    </p>
                                    <div class="description">

                                        <p align="center">A Amdocs é a líder do mercado em soluções e serviços de software de experiência do cliente para os maiores provedores de serviços de comunicações, entretenimento e mídia do mundo. Há mais de 30 anos, as soluções da Amdocs, que incluem BSS, OSS, controle e otimização de rede e virtualização de funções da rede com serviços profissionais e gerenciados, aceleram o valor dos negócios para os clientes simplificando a complexidade dos negócios, reduzindo custos e oferecendo experiência do cliente de nível mundial.</p>
                                        <p align="center">Mais informações: <a href="http://amdocs.com"
                                                                               target="_blank">http://amdocs.com</a>.
                                        </p>
                                    </div>
                                    <div class="extra">
                                        <div class="ui label"><i class="calendar icon"></i>Quinta-feira, dia
                                            29/09
                                        </div>
                                        <div class="ui label"><i class="clock icon"></i>Prova: 12h30 - 14h; Entrevistas a partir das 14h.
                                        </div>
                                        <div class="ui label"><i class="marker icon"></i>Departamento de
                                            Computação, Sala PPG-CC 1
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}
{% endblock body_content %}