{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Programação{% endblock %}

{% block meta_description %}A programação deste ano conta com palestras, minicursos, workshops, mesas-redondas, Game
    Night, Desafio de Programadores, Enterprise Day e muito mais!{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="sixteen wide center aligned column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">PROGRAMAÇÃO</h1>
                    <p></p>
                </div>
            </div>
            <div class="eight wide mobile four wide tablet three wide computer center aligned column">
                <style>
                    .ui.menu .item.disabled, .ui.menu .item.disabled {
                        color: rgba(40, 40, 40, 0.3);
                    }
                </style>
                <div class="row wow fadeInUp" data-wow-delay="0.5s">
                    <div class="ui vertical labeled icon menu">
                        <a class="item" href="/2016/programacao/cronograma/">
                            <i class="time icon"></i>
                            Cronograma
                        </a>
                        <a class="item" href="/2016/programacao/palestras/">
                            <i class="microphone icon"></i>
                            Palestras
                        </a>
                        <a class="item" href="/2016/programacao/minicursos/">
                            <i class="terminal icon"></i>
                            Minicursos
                        </a>
                        <a class="item" href="/2016/programacao/workshops/">
                            <i class="at icon"></i>
                            Workshops
                        </a>
                        <a class="item" href="/2016/programacao/mesasredondas/">
                            <i class="comments icon"></i>
                            Mesas-redondas
                        </a>
                        <a class="item" href="/2016/programacao/processosseletivos/">
                            <i class="briefcase icon"></i>
                            Processos Seletivos
                        </a>
                        <a class="item" href="/2016/programacao/enterpriseday/">
                            <i class="globe icon"></i>
                            Enterprise Day
                        </a>
                        <a class="item" href="/2016/programacao/desafiodeprogramadores/">
                            <i class="trophy icon"></i>
                            Desafio de Programadores
                        </a>
                        <a class="item" href="/2016/programacao/gamenight/">
                            <i class="gamepad icon"></i>
                            Game Night
                        </a>
                        <a class="item" href="/2016/programacao/churrascodeintegracao/">
                            <i class="food icon"></i>
                            Churrasco de Integração
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}