{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Sociocultural{% endblock %}

{% block meta_description %}Saiba mais sobre o trabalho realizado pela Diretoria Sociocultural da SECOMP
    UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}
    <style>
        #fundosecomp {
            background: url({% static 'secompufscar2016/images/fundo.png' %});
            background-size: cover;
        }

        .apresentacao p {
            font-size: 16px;
            text-align: justify;
        }
    </style>

    <!-- Apresentação -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row apresentacao">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">SOCIOCULTURAL SECOMP UFSCar</h1>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp">
                    <div class="row apresentacao">
                        <h2>Quem somos</h2>
                        <p>Na estrutura de organização atual, a SECOMP conta com sete diretorias. A diretoria
                            Sociocultural foi criada para unificar os membros da organização da SECOMP e promover a
                            cultura de consciência social não apenas para seus membros e sim para toda a comunidade do
                            Departamento de Computação. O ideal é de liderança servidora, ou seja, não apenas promover
                            conteúdo para o âmbito acadêmico, mas também contribuir socialmente para a população,
                            servindo-a. O principal objetivo da diretoria é atuar promovendo capital cultural e
                            desenvolver o sentido de responsabilidade social. Desta forma, as ações desta diretoria se
                            estendem durante todo o período do ano, envolvendo todos os membros da equipe SECOMP.</p>

                        <h2>Mãos na massa</h2>
                        <div class="ui right floated statistic">
                            <div class="value">
                                20.000+
                            </div>
                            <div class="label">
                                notas digitadas para a<br> APAE São Carlos
                            </div>
                        </div>
                        <p>
                            As primeiras ações desenvolvidas foram parcerias com duas organizações extremamente ativas
                            na cidade de São Carlos, atingindo diferentes grupos: a APAE e os Salesianos.</p>

                        <p>Em relação à APAE, promovemos eventos e encontros de digitação de notas fiscais fundamentais
                            para garantir o retorno de tributos à esta instituição. O sucesso é absoluto, com mais de
                            20.000 notas digitadas.</p>

                        <div class="ui left floated statistic">
                            <div class="value">
                                R$ 750
                            </div>
                            <div class="label">
                                revertidos em doação de<br>materiais para o<br>Grupo Salesianos
                            </div>
                        </div>

                        <div class="ui right floated statistic">
                            <div class="value">
                                200Kg+
                            </div>
                            <div class="label">
                                de alimentos doados<br> para os Salesianos
                            </div>
                        </div>
                        <p>Aos Salesianos, por sua vez, em continuidade ao trabalho da VI SECOMP UFSCar, foram doados
                            materiais diversos cuja necessidade foi determinada pela entidade, tais como: bolas de
                            futebol, materiais de secretaria, cabos audiovisuais, construção do espaço de areia para
                            atividades lúdicas no parque, totalizando 750,00 reais, provenientes das inscrições dos
                            participantes na edição 2015 da SECOMP.</p>


                        <p>Ainda com os Salesianos, no ano passado fizemos a doação de mais de 200 Kg de alimentos,
                            vindos da contribuição dos participantes inscritos nos workshops do evento.</p>
                        <p>Para conhecer mais sobre estas instituições visite:</p>
                        <p>
                            <b>APAE São Carlos:</b> <a href="http://www.apaesc.org.br" target="_blank">http://www.apaesc.org.br</a>.<br>
                            <b>Salesianos São Carlos:</b> <a href="http://www.salesianos.dmti.com.br" target="_blank">http://www.salesianos.dmti.com.br</a>
                        </p>
                        <p>
                            É apenas o início do trabalho que pretende ampliar ainda mais o alcance da capacidade humana
                            da SECOMP, mostrando que vamos além da Ciência e Tecnologia!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}

