{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Termos da Inscrição{% endblock %}

{% block meta_description %}Termos de Inscrição da VII Semana da Computação da UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}

    <!-- Termos de inscrição -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">INSCRIÇÃO NA VII SECOMP
                        UFSCAR</h1>
                </div>
            </div>

            <div class="row">
                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp">

                    <h2 class="ui centered header">REGULAMENTO DA INSCRIÇÃO NA VII SEMANA DA COMPUTAÇÃO DA UFSCAR
                        2016</h2>

                    <h3 class="ui horizontal divider header">1. Características</h3>
                    <p>
                        1.1. A VII Semana da Computação UFSCar (SECOMP) ocorrerá nos dias 26 a 30 de setembro de
                        2016.<br>
                        1.2. A SECOMP é uma semana de atividades que incluem palestras, minicursos, workshops e diversas
                        outras atividades, organizada por discentes dos cursos de Bacharelado em Ciência da Computação e
                        Engenharia de Computação da Universidade Federal de São Carlos, Campus São Carlos. O evento será
                        realizado nas dependências do campus São Carlos da UFSCar.</p>


                    <h3 class="ui horizontal divider header">2. Inscrições</h3>

                    <p>
                        2.1. As inscrições para a VII SECOMP UFSCar deverão ser realizadas apenas pelo site:
                        <a href="https://secompufscar.com.br">https://secompufscar.com.br.</a><br>
                        2.2. Todas as inscrições deverão ser realizadas no período de 21 de agosto de 2016 até 23 de
                        setembro de 2016.<br>
                        2.3. Todos os participantes deverão selecionar durante o processo de inscrição qual pacote
                        gostariam de adquirir. O pacote poderá ser alterado pelo participante enquanto o mesmo não tiver
                        realizado nenhum pagamento. Após a realização de qualquer pagamento ou aplicação de cupons de
                        desconto, o pacote não poderá mais ser alterado pelo participante diretamente pelo sistema de
                        inscrições. Para o caso de alterações de pacote que impliquem adquirir um pacote superior, o
                        participante deve entrar em contato com a equipe através do e-mail <a
                            href="mailto:contato@secompufscar.com.br">contato@secompufscar.com.br</a>.<br>
                        2.4. Os pacotes disponíveis são: FREE, STUDY e FULL. As especificações de cada pacote e seus
                        respectivos valores estão disponíveis para consulta no site do evento.<br>
                        2.4.1 O tamanho da camiseta do kit de participantes (para inscrições realizadas no pacote FULL)
                        deverá ser definido durante o ato de inscrição.<br>
                        2.4.2 Uma vez realizado o pagamento da inscrição, NÃO HAVERÁ REEMBOLSO do valor pago.<br>
                        2.4.3. O pagamento da inscrição poderá ser realizado até o dia 23 de setembro por transferência
                        bancária, via PayPal ou presencialmente em dinheiro com os membros da Diretoria
                        Jurídico-Financeira da SECOMP. Os dias e horários em que serão recebidos pagamentos presenciais
                        serão divulgados em nosso site. As inscrições só serão efetivadas após a confirmação de
                        pagamento.<br>
                        2.4.4 Todas as inscrições que não forem efetivadas serão canceladas após o término do período de
                        inscrições.<br>
                        2.4.5 Para os pagamentos realizados por transferência bancária ou depósito, o participante
                        deverá enviar o comprovante de pagamento para o e-mail <a
                            href="mailto:pagamentos@secompufscar.com.br"> pagamentos@secompufscar.com.br</a>. As
                        informações de contas bancárias estarão disponíveis no sistema de inscrições no site do
                        evento. O participante receberá um e-mail de confirmação de pagamento em até dois dias úteis.
                        Caso não o receba, o mesmo deverá entrar em contato com a equipe através do e-mail <a
                            href="mailto:contato@secompufscar.com.br">contato@secompufscar.com.br</a>.<br>
                        2.4.6 A SECOMP não se responsabiliza por pagamentos feitos em outras contas bancárias que não
                        sejam as informadas no ato da inscrição.
                    </p>

                    <h3 class="ui horizontal divider header">3. Credenciamento, registro de presenças e certificado</h3>

                    <p>


                        3.1. O credenciamento dos participantes será realizado a partir do primeiro dia do evento em
                        horário definido no cronograma a ser apresentado no site da SECOMP.<br>
                        3.2. Durante o credenciamento serão entregues crachás de identificação para os participantes. O
                        credenciamento poderá ser realizado em qualquer dia do evento, entretanto o crachá será
                        necessário para registro das presenças no evento, então se o credenciamento não for realizado, a
                        presença do participante em palestras que este entre sem o crachá não será contabilizada.<br>
                        3.3 O participante que tenha participado de pelo menos 75% de todas as atividades do evento
                        (excluindo-se minicursos, workshops, Game Night e Desafio de Programadores), terá direito a
                        certificado de participação do evento.<br>
                        3.4 O horário máximo para registro da presença nas atividades será de 15 minutos após o início
                        da atividade.
                    </p>

                    <h3 class="ui horizontal divider header">4. Minicursos</h3>
                    <p>

                        4.1 As inscrições para os minicursos só poderão ser realizadas pelos participantes que
                        adquirirem os pacotes STUDY ou FULL e tiverem com a inscrição efetivada e paga.<br>
                        4.2 As inscrições para os minicursos serão realizadas em data a ser divulgada no site do evento,
                        no perfil do Facebook do evento e/ou através de envio de e-mail aos participantes inscritos.<br>
                        4.3 Cada participante poderá escolher apenas UM minicurso dentre os disponibilizados.<br>
                        4.4 Os minicursos têm vagas limitadas, que serão preenchidas por ordem de inscrição. Ou seja,
                        quando o link para inscrição em minicursos for disponibilizado, os participantes que se
                        inscreverem primeiro no minicurso terão suas vagas garantidas.<br>
                        4.5 O número de vagas de cada minicurso pode sofrer alterações conforme disponibilidade.<br>
                        4.6 O controle de presença dos minicursos será realizado pelo crachá de identificação, portanto
                        é necessária a utilização deste.<br>
                        4.7 O participante só receberá o certificado de participação do minicurso se tiver cumprido 75%
                        do tempo de minicurso.<br>
                    </p>

                    <h3 class="ui horizontal divider header">5. Workshops</h3>

                    <p>

                        5.1 As inscrições em workshops também serão realizadas em data a ser divulgada tal como a
                        inscrição em minicursos.<br>
                        5.2 As inscrições em workshops podem ser feitas para inscrições realizadas em qualquer pacote.
                        As vagas são limitadas e serão preenchidas por ordem de inscrição.<br>
                        5.3 Cada participante pode participar de quantos workshops tiver interesse.<br>
                        5.4 Para participar dos workshops será necessário levar um 1 kg de alimento não perecível PARA
                        CADA WORKSHOP QUE SE INSCREVER. Os alimentos arrecadados serão doados a organizações
                        beneficentes de São Carlos.<br>
                    </p>

                    <h3 class="ui horizontal divider header">6. Observações finais</h3>

                    <p>
                        6.1 A SECOMP preza pelo respeito com seus participantes durante o evento. Por isso, qualquer ato
                        de desrespeito ou preconceito com qualquer participante, palestrante ou membro organizador será
                        penalizado. Tais atos poderão resultar na exclusão do participante do evento sem nenhuma forma
                        de reembolso.<br>
                        6.2 O evento acontecerá nas instalações da Universidade Federal de São Carlos, sendo assim, é
                        necessário que haja total cuidado dos participantes durante o uso destas. Caso haja algum caso
                        de vandalismo identificado dentro das instalações da universidade, o participante será
                        automaticamente excluído do evento e responderá à universidade pelo dano causado.<br>
                        6.3 A SECOMP não se responsabiliza por objetos esquecidos nas instalações utilizadas, durante a
                        realização do evento.<br>
                        6.4 O uso da internet durante o evento deverá ser feito de forma responsável, sendo assim, o
                        acesso a sites, transferência de dados e qualquer outro uso que fere de alguma forma as regras
                        de conduta da universidade não serão tolerados. Caso houver o descumprimento dessa regra, o
                        participante estará sujeito às medidas legais adotadas pela universidade.<br>
                        6.5 Ao realizar sua inscrição no evento, o participante cede todos os direitos de imagem durante
                        o evento para a SECOMP, de forma gratuita. A SECOMP poderá fazer uso dessas imagens apenas para
                        fins de divulgação do evento.<br>
                        6.6 Ao efetivar a inscrição, o participante concorda com todos os termos aqui especificados.

                    </p>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}
{% endblock body_content %}