{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Workshops{% endblock %}

{% block meta_description %}Confira aqui as palestras da programação da VII SECOMP USFCar{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}

    <style>
        #imagem_modal {
            min-width: 300px;
            width: 300px;
            height: auto;
            max-height: 300px;
        }

        @media only screen and (max-width: 767px) {
            .ui.modal .content > .image {
                padding: 0rem 0rem 0rem !important;
            }

            .ui.items > .item > .image, .ui.items > .item > .image > img {
                max-height: 300px !important;
            }

            #imagem_modal {
                min-width: 240px;
            }
        }
    </style>

    <!-- Minicursos -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">WORKSHOPS</h1>
                    <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">Para se
                        inscrever nos workshops, você precisa estar inscrito no evento (em qualquer pacote, inclusive
                        o pacote FREE) e deverá levar 1kg de alimento não-perecível para cada workshop que participar.
                        <br>Os alimentos
                        recolhidos serão doados a uma instituição de caridade de São Carlos.</h3>
                    <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">Inscrições a partir de 25/09 às 19h pela Área do Participante.</h3>
                </div>
            </div>

            <div class="row">
                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp">

                    {% for atividade in atividades %}
                        {% load staticfiles %}
                        <h2 class="ui top attached header" style="text-transform: none;">
                            [Workshop] {{ atividade.nome_atividade }}
                        </h2>
                        <div class="ui attached fluid segment">
                            <div class="ui divided items">
                                <div class="item">
                                    {% if atividade.ministrante_atividade.get.foto_ministrante != '' %}
                                        <img class="ui medium rounded bordered image"
                                             src="{% static 'secompufscar2016/images/palestrantes/workshops/'|add:atividade.ministrante_atividade.get.foto_ministrante %}"
                                             id="imagem_modal">
                                    {% endif %}
                                    <div class="content">
                                        <h2>{{ atividade.ministrante_atividade.get.nome_ministrante }}
                                            {% if atividade.ministrante_atividade.get.facebook_ministrante != '' %}
                                                <a href="{{ atividade.ministrante_atividade.get.facebook_ministrante }}"
                                                   target="_blank"><i
                                                        class="facebook fitted square icon"
                                                        id="icone_rede_social_ministrantes"></i></a>
                                            {% endif %}

                                            {% if atividade.ministrante_atividade.get.twitter_ministrante != '' %}
                                                <a href="{{ atividade.ministrante_atividade.get.twitter_ministrante }}"
                                                   target="_blank"><i
                                                        class="twitter fitted square icon"
                                                        id="icone_rede_social_ministrantes"></i></a>
                                            {% endif %}

                                            {% if atividade.ministrante_atividade.get.github_ministrante != '' %}
                                                <a href="{{ atividade.ministrante_atividade.get.github_ministrante }}"
                                                   target="_blank"><i
                                                        class="github fitted square icon"
                                                        id="icone_rede_social_ministrantes"></i></a>
                                            {% endif %}

                                            {% if atividade.ministrante_atividade.get.linkedin_ministrante != '' %}
                                                <a href="{{ atividade.ministrante_atividade.get.linkedin_ministrante }}"
                                                   target="_blank"><i
                                                        class="linkedin fitted square icon"
                                                        id="icone_rede_social_ministrantes"></i></a>
                                            {% endif %}

                                            {% if atividade.ministrante_atividade.get.aboutme_ministrante != '' %}
                                                <a href="{{ atividade.ministrante_atividade.get.aboutme_ministrante }}"
                                                   target="_blank"><i
                                                        class="share alternate fitted square icon"
                                                        id="icone_rede_social_ministrantes"></i></a>
                                            {% endif %}
                                            {% if atividade.ministrante_atividade.get.profissao_ministrante %}
                                                <div id="headercinza">{{ atividade.ministrante_atividade.get.profissao_ministrante }},
                                                    {{ atividade.ministrante_atividade.get.empresa_ministrante }}</div>{% endif %}
                                        </h2>
                                        <div class="description">
                                            {{ atividade.ministrante_atividade.get.descricao_ministrante|safe }}
                                            <p>
                                                <br>
                                                <button class="ui small primary button"
                                                        id="botaoModal{{ forloop.counter0 }}">
                                                    Descrição do workshop <i class="right chevron icon"></i>
                                                </button>
                                            </p>
                                            <div class="extra">
                                                <div class="ui label" id="tags">
                                                    <i class="calendar icon"></i>{{ atividade.data_inicio_atividade|date:"l, d/m" }}
                                                </div>
                                                 <div class="ui label" id="tags">
                                                    <i class="clock icon"></i>{{ atividade.hora_inicio_atividade.hour }}h{% if atividade.hora_inicio_atividade|time:'i' != '00' %}{{ atividade.hora_inicio_atividade|time:'i' }}{% endif %}
                                                    - {{ atividade.hora_fim_atividade.hour }}h{% if atividade.hora_fim_atividade|time:'i' != '00' %}{{ atividade.hora_fim_atividade|time:'i' }}{% endif %}
                                                </div>
                                                <div class="ui label" id="tags"><i
                                                        class="marker icon"></i>{{ atividade.local_atividade }}
                                                </div>
                                                {% if atividade.vagas_atividade != '' %}
                                                <div class="ui label" id="tags"><i
                                                        class="users icon"></i>{{ atividade.vagas_atividade }}
                                                    vagas
                                                </div>
                                                <div class="ui {% if atividade.vagas_disponiveis_atividade > 0 %} blue {% else %} red {% endif %} label" id="tags"><i
                                                        class="info circle icon"></i>{{ atividade.vagas_disponiveis_atividade }}
                                                    vagas disponíveis
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui long large modal" id="modal_{{ forloop.counter0 }}">
                        <i class="close icon"></i>
                        <div class="header">
                            [Workshop] {{ atividade.nome_atividade }}
                        </div>
                        {% if atividade.ministrante_atividade.get.foto_ministrante %}
                            <div class="image content">
                            <img id="imagem_modal" class="ui rounded bordered image"
                                 src="{% static 'secompufscar2016/images/palestrantes/workshops/'|add:atividade.ministrante_atividade.get.foto_ministrante %}">
                        {% else %}
                            <div class="content">
                        {% endif %}
                    <div class="description">
                        <div class="ui header">
                            Ministrante: {{ atividade.ministrante_atividade.get.nome_ministrante }}</div>
                        <p>{{ atividade.descricao_atividade|safe }}</p>

                        {% if atividade.pre_requisitos_atividade != '' %}
                            <p><b>Pré-requisitos: </b>{{ atividade.pre_requisitos_atividade }}. </p>
                        {% endif %}
                        {% if atividade.pre_requisitos_recomendados_atividade != '' %}
                            <p><b>Pré-requisitos recomendados: </b>{{ atividade.pre_requisitos_recomendados_atividade }}.
                            </p>
                        {% endif %}

                        <div class="extra">
                            <div class="ui label" id="tags">
                                <i class="calendar icon"></i>{{ atividade.data_inicio_atividade|date:"l, d/m" }}
                            </div>
                            <div class="ui label" id="tags">
                                <i class="clock icon"></i>{{ atividade.hora_inicio_atividade.hour }}h{% if atividade.hora_inicio_atividade|time:'i' != '00' %}{{ atividade.hora_inicio_atividade|time:'i' }}{% endif %} - {{ atividade.hora_fim_atividade.hour }}h{% if atividade.hora_fim_atividade|time:'i' != '00' %}{{ atividade.hora_fim_atividade|time:'i' }}{% endif %}
                                {% if atividade.hora_retorno_atividade %}
                                    e {{ atividade.hora_retorno_atividade.hour }}h{% if atividade.hora_retorno_atividade|time:'i' != '00' %}{{ atividade.hora_retorno_atividade|time:'i' }}{% endif %} - {{ atividade.hora_fim_retorno_atividade.hour }}h{% if atividade.hora_fim_retorno_atividade|time:'i' != '00' %}{{ atividade.hora_fim_retorno_atividade|time:'i' }}{% endif %}
                                {% endif %}
                            </div>
                            <div class="ui label" id="tags"><i
                                    class="marker icon"></i>{{ atividade.local_atividade }}
                            </div>
                            {% if atividade.vagas_atividade != '' %}
                                <div class="ui label"><i class="users icon"></i>{{ atividade.vagas_atividade }}
                                    vagas
                                </div>
                                <div class="ui blue label"><i
                                        class="info circle icon"></i>{{ atividade.vagas_disponiveis_atividade }}
                                    vagas disponíveis
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                    <div class="actions">
                        <div class="ui blue ok button">
                            <i class="close icon"></i>
                            Fechar descrição
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                    </div>
                    <h3 class="ui centered header">Programação sujeita a alterações.</h3>
                </div>
            </div>
            <br>
        </div>

        <script type="text/javascript">
            {% for atividade in atividades %}
                $('#modal_{{ forloop.counter0 }}')
                        .modal('attach events', '#botaoModal{{ forloop.counter0 }}', 'show')
                ;
            {% endfor %}
        </script>

        {% include 'secompufscar2016/helpers/patrocinadores.html' %}
{% endblock body_content %}