{% load staticfiles %}

{% url 'root:index' as url_root %}
{% url 'secompufscar2019:index' as url_site2018 %}
{% url 'secompufscar2019:area-conteudo' as url_area_conteudo %}
{% url 'secompufscar2019:area_conteudo_logout' as url_area_conteudo_logout %}
{% url 'secompufscar2017:area_do_participante' as url_area_do_participante %}
{% url 'secompufscar2017:area_administrativa' as url_area_administrativa %}

<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    <meta name="keywords"
          content="secomp, semana, computação, computacao, ufscar, universidade, federal, secompufscar, computing, week, acadêmica, academica, academic, dc, departamento">
    <meta name="author" content="Gabriel Olivato">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="theme-color" content="#314B78">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="{% static 'secompufscar2017/semantic/dist/semantic.2.2.13.min.css' %}">
    <link rel="stylesheet" href="{% static 'secompufscar2017/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'secompufscar2017/css/secompufscar_19092017.min.css' %}">
    <script src="{% static 'secompufscar2017/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'secompufscar2017/js/wow.min.js' %}"></script>
    <script src="{% static 'secompufscar2017/js/custom.min.js' %}"></script>

    {% if request.path == url_root or request.path == url_site2017 or request.path == url_apresentacao or request.path == url_desafio_de_programadores or request.path == url_game_night or request.path == url_ctf or request.path == url_futebol_de_robos%}
        <script src="{% static 'secompufscar2017/js/jquery.backstretch.min.js' %}"></script>
    {% endif %}
    <script src="{% static 'secompufscar2017/semantic/dist/semantic.2.2.13.min.js' %}"></script>

    {% if request.path == url_root or request.path == url_site2017 %}
        <script src="{% static 'secompufscar2017/js/particles.min.js' %}"></script>
    {% endif %}

    {% if request.path == url_feira_de_projetos %}
        <script src="{% static 'secompufscar2017/js/jquery.mask.min.js' %}"></script>
    {% endif %}

    {% if producao %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ google_analytics_key }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Event",
            "name": "X SECOMP UFSCar",
            "description": "Vem aí a 10ª edição da Semana da Computação da UFSCar. Palestras, minicursos, workshops, CTF (Capture the Flag), Game Night, Enterprise Day e muito mais!",
            "startDate" : "2019-09-09T08:00",
            "endDate": "2019-09-13T18:00",
            "image": "https://secompufscar.com.br/static/secompufscar2019/images/logos/secomp_logo.png",
            "url" : "https://secompufscar.com.br",
            "sameAs" : "http://www.facebook.com/secompufscar",
            "location" : {
                "@type" : "Place",
                "sameAs" : "http://www.ufscar.br",
                "name" : "UFSCar - campus São Carlos",
                "address" : {
    	                "streetAddress": "Rodovia Washington Luís, Km 235 - Bairro Jardim Guanabara - São Carlos/SP",
                    "addressLocality": "São Carlos/SP"
                }
            }
        }

    </script>

    {% include 'secompufscar2019/helpers/favicons.html' %}
</head>

<body>

{% include 'secompufscar2019/area_conteudo/helpers/sidebar.html' %}

<main class="pusher">

    {% include 'secompufscar2019/helpers/preloader.html' %}

    {% include 'secompufscar2019/area_conteudo/helpers/menu.html' %}

    {% block body_content %}{% endblock body_content %}

    {% include 'secompufscar2019/helpers/realizacao.html' %}

    {% include 'secompufscar2019/helpers/footer.html' %}

    {% include 'secompufscar2019/helpers/backtotop.html' %}

</main>

<script type="text/javascript">
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", $("[name=csrfmiddlewaretoken]").val());
            }
        }
    });
</script>
</body>
</html>
