{% load staticfiles %}

<div class="ui grid fixed">
    <div class="computer only row">
        <div class="ui fixed inverted medium menu" id="menu_principal">
        <a class="item" href="{% url 'secompufscar2019:index' %}">
                <img class="ui small image" src="{% static 'secompufscar2019/images/logos/secomp_logo_branco.png' %}"
                     alt="Logo da SECOMP UFSCar">
            </a>
            <div class="fixed right menu">
                <a class="{% if request.path == url_patrocinio %}active {% endif %}item"
                   href="{% url 'secompufscar2019:area_conteudo_info' tipo=2%}">Palestra</a>
            <a class="{% if request.path == url_patrocinio %}active {% endif %}item"
                   href="{% url 'secompufscar2019:area_conteudo_info' tipo=1%}">Mini-Curso</a>
            <a class="{% if request.path == url_patrocinio %}active {% endif %}item"
                   href="{% url 'secompufscar2019:area_conteudo_info' tipo=0%}">Mesa-Redonda</a>
            <a class="{% if request.path == url_patrocinio %}active {% endif %}item"
                   href="{% url 'secompufscar2019:area_conteudo_logout'%}">Logout</a>
            </div>

        </div>
    </div>
    <div class="mobile tablet only row">
        <div class="ui fixed inverted medium menu" id="menu_principal_mobile">
            <a class="item" href="{% url 'secompufscar2019:index' %}">
                <img class="ui tiny image" src="{% static 'secompufscar2017/images/logos/secomp_logo_branco.png' %}"
                     alt="Logo da SECOMP UFSCar">
            </a>
            <div class="right menu">
                <a class="toc item">
                    <i class="large sidebar icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.ui.dropdown')
        .dropdown({
            on: 'hover'
        })
    ;
    $('.ui.sidebar')
        .sidebar('setting', 'transition', 'overlay')
        .sidebar('setting', 'mobileTransition', 'top overlay')
        .sidebar('attach events', '.toc.item')
    ;
</script>
