{% load staticfiles %}

<div class="ui vertical inverted right sidebar menu" id="sidebar">
    <a class="item" href="#">
        <img class="ui small image" src="{% static 'secompufscar2017/images/logos/secomp_logo_branco.png' %}">
    </a>
    <a class="active item" href="{% url 'secompufscar2019:area_conteudo_logout' %}">Sair</a>

</div>