<div class="ui mini modal">
    <div class="ui icon header" id="titulo_modal">
        <i class="heartbeat icon"></i>
        Você deseja inscrever-se nesta atividade?
    </div>
    <div class="content">
        Você irá se inscrever em:
        <b><p id="conteudo_modal"></p></b>
        Escolha com cuidado, você pode inscrever-se em <b>apenas um</b> minicurso!
        <br>
        Mas você pode inscrever-se em <b>mais de um</b> workshop!
    </div>
    <div class="actions">
        <div class="ui red cancel button">
            <i class="remove icon"></i>
            Não
        </div>
        <div class="ui green ok button" onclick="resultado_gregorio()">
            <i class="checkmark icon"></i>
            Sim
        </div>
    </div>
</div>
{% csrf_token %}
<script type="text/javascript">

    atualizarDisponibilidadeInscricao();
    var error_counter = 0;



    function atualizarDisponibilidadeInscricao() {
        $.ajax({
            url: '{% url 'secompufscar2017:api_vagas_atividades' %}',
            dataType: 'json',
            cache: false,
            success: function (data) {
                var atividades = data.atividades || [];
                var atividades_inscritas = [];
                var minicursos_inscritos = [];

                atividades.forEach(function (atividade, index) {
                    if (atividade.inscrito) {
                        atividades_inscritas.push(index);
                        if (atividade.minicurso) {
                            minicursos_inscritos.push(index);
                        }
                    }
                });

                atividades.forEach(function (atividade) {
                    var botaoInscreverAtividade = $('#id_botao_inscrever_atividade_' + atividade.id);
                    var tagInscrito = $('#tag_inscrito_atividade_' + atividade.id);

                    if (atividade.desafio_de_programadores) {
                        if (atividade.inscrito) {

                            $.ajax({
                                url: "",
                                data: function (data) {
                                    return data.responseJSON;
                                },
                                success: function (data) {
                                    console.log(data);
                                    botao_show_inscrever.hide();
                                    botao_inscrever_desafio.hide();
                                    tag_nome_equipe.html('<i class="users icon"></i>Equipe: ' + data.nome_equipe).show(200);
                                },
                                fail: function (data) {
                                    tag_nome_equipe.hide()
                                }
                            });

                            if (!atividade.inscricoes_encerradas) {
                                botaoInscreverAtividade.removeClass('disabled');
                                botao_show_inscrever.removeClass('disabled');
                                botaoInscreverAtividade.text('Cancelar');
                                botaoInscreverAtividade.removeClass('blue').removeClass('red').removeClass('green').addClass('yellow');
                                tagInscrito.show(200);
                            } else {
                                botaoInscreverAtividade.addClass('disabled');
                                botaoInscreverAtividade.text('Inscrito');
                                botaoInscreverAtividade.addClass('green').removeClass('red').removeClass('blue').removeClass('yellow');
                                tagInscrito.show(200);
                            }


                        } else {
                            botao_show_inscrever.addClass('disabled');
                            botaoInscreverAtividade.removeClass('disabled');
                            botaoInscreverAtividade.html('<i class="trophy icon"></i>Inscrever no Desafio de Programadores');
                            botaoInscreverAtividade.addClass('blue').removeClass('red').removeClass('green').removeClass('yellow');
                            tagInscrito.hide(200);
                        }
                    } else {
                        $('#id_vagas_totais_atividade_' + atividade.id).text(atividade.vagas_totais);
                        $('#id_vagas_restantes_atividade_' + atividade.id).text(atividade.vagas_disponiveis);

                        var linhaAtividade = $('#id_linha_atividade_' + atividade.id);

                        if (atividade.inscrito) {
                            linhaAtividade.addClass('positive');
                            tagInscrito.show();
                        } else {
                            linhaAtividade.removeClass('positive');
                            tagInscrito.hide();
                        }
                        botaoInscreverAtividade.addClass('blue').removeClass('yellow').removeClass('red').removeClass('green');
                        if (atividade.inscricao_disponivel && !atividade.inscrito && (atividade.vagas_disponiveis > 0 || atividade.processo_seletivo)) {
                            if (minicursos_inscritos.length === 0 || atividade.processo_seletivo || atividade.workshop) {
                                botaoInscreverAtividade.removeClass('disabled');
                            }
                            botaoInscreverAtividade.text('Inscrever');
                            if (atividade.minicurso && minicursos_inscritos.length > 0) {
                                if (!atividade.inscrito) {
                                    botaoInscreverAtividade.addClass('disabled');
                                }
                            }
                        } else {
                            if (atividade.inscrito && atividade.inscricao_disponivel && !atividade.inscricao_encerrada) {
                                botaoInscreverAtividade.removeClass('disabled');
                                botaoInscreverAtividade.text('Cancelar');
                                botaoInscreverAtividade.removeClass('blue').removeClass('red').removeClass('green').addClass('yellow');
                            } else if (!atividade.processo_seletivo && atividade.vagas_disponiveis < 1 && atividade.inscricao_disponivel && !atividade.inscricao_encerrada) {
                                botaoInscreverAtividade.addClass('disabled').addClass('red');
                                botaoInscreverAtividade.text('Esgotado');
                            } else if (!atividade.processo_seletivo && !atividade.inscricao_encerrada) {
                                botaoInscreverAtividade.addClass('disabled');
                                botaoInscreverAtividade.text('Indisponível');
                            } else {
                                botaoInscreverAtividade.addClass('disabled');
                                if (atividade.inscrito) {
                                    botaoInscreverAtividade.addClass('green').removeClass('yellow').removeClass('blue').removeClass('red');
                                    botaoInscreverAtividade.text('Inscrito');
                                } else if (!atividade.processo_seletivo) {
                                    botaoInscreverAtividade.addClass('blue').removeClass('yellow').removeClass('red').removeClass('green');
                                    botaoInscreverAtividade.text('Encerrada');
                                }
                            }
                        }
                    }
                    botaoInscreverAtividade.removeClass('loading');
                });
                $('#data_hora_ultima_atualizacao_vagas').text((new Date(data.ultima_atualizacao)).toLocaleString('pt-BR'));
                $('#data_hora_ultima_atualizacao_vagas_workshops').text((new Date(data.ultima_atualizacao)).toLocaleString('pt-BR'));
            }
        });
    }

    function inscreverEmAtividade(idAtividade) {
        var idBotaoAtividade = $('#id_botao_inscrever_atividade_' + idAtividade);
        idBotaoAtividade.addClass('loading');
        $.ajax({
            type: 'POST',
            url: '{% url 'secompufscar2017:api_vagas_atividades' %}',
            dataType: 'json',
            data: {
                id_atividade: idAtividade
            },
            success: function (data) {
                atualizarDisponibilidadeInscricao();
            },
            error: function (data) {
                atualizarDisponibilidadeInscricao();
            }
        });
    }
</script>

<div class="ui small modal" id="modal_erro_inscricao_atividade">
    <i class="close icon"></i>
    <div class="icon header">
        <i class="remove icon"></i>
        Erro ao realizar inscrição
    </div>
    <div class="content">
        <div class="description">
            <div class="ui negative message">
                <b><span id="detalhes_erro_inscricao_atividade"></span></b>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui blue ok button">
            <i class="close icon"></i>
            Fechar
        </div>
    </div>
</div>
<div class="ui small modal" id="modal_erro_inscricao_atividade">
    <i class="close icon"></i>
    <div class="icon header">
        <i class="remove icon"></i>
        Erro ao realizar inscrição
    </div>
    <div class="content">
        <div class="description">
            <div class="ui negative message">
                <b><span id="detalhes_erro_inscricao_atividade"></span></b>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui blue ok button">
            <i class="close icon"></i>
            Fechar
        </div>
    </div>
</div>
