<div class="sixteen wide column">
    <div class="ui divider"></div>
</div>
<div class="ui three wide computer three wide tablet sixteen wide mobile center aligned column">
    <h3 class="ui icon header">
        <i class="add to cart icon"></i>
        Compra do KIT<br>
    </h3>

    {% if inscricao.pacote.nome == 'FULL' %}
        <div class="ui fluid big green label">
            Camiseta: {{ inscricao.camiseta.tamanho }}
        </div>
    {% endif %}
</div>
<div class="ui thirteen wide computer thirteen wide tablet sixteen wide mobile column">
    {% if inscricao.pacote.nome == 'FULL' %}
        <div class="ui message">
            <b>Você já comprou o KIT da IX SECOMP \o/</b><br>
        </div>
    {% else %}
        <div class="ui message">
            <div class="content">
                <div class="header">
                    Você ainda não comprou o KIT da SECOMP :-(
                </div>
                <p>Não perca tempo, compre já o seu e reserve o tamanho de sua camiseta!</p>
                <p>
                    <a href="{% url 'secompufscar2017:comprar_kit' %}">
                        <button class="ui blue button">
                            <i class="add to cart icon"></i>
                            Comprar o kit
                        </button>
                    </a>
                </p>
            </div>
        </div>
    {% endif %}

    {% include 'secompufscar2017/area_do_participante/dashboard/informacoes_pagamentos_realizados.html' %}
</div>