<div class="sixteen wide column">
    <div class="ui divider"></div>
</div>
<div class="ui three wide computer three wide tablet sixteen wide mobile center aligned column">
    <h3 class="ui icon header">
        <i class="ticket icon"></i>
        Sua Inscrição
    </h3>
</div>
<div class="ui thirteen wide computer thirteen wide tablet sixteen wide mobile column">
    <table class="ui celled striped table">
        <tbody>
        <tr>
            <td class="three wide"><b>ID</b></td>
            <td class="thirteen wide">{{ inscricao.codigo }}</td>
        </tr>
        <tr>
            <td class="three wide"><b>QR CODE</b></td>
            <td class="thirteen wide"><img src="https://barcode.tec-it.com/barcode.ashx?data={{ inscricao.codigo }}&code=PDF417&dpi=96&dataseparator="></td>
        </tr>
        <tr>
            <td class="three wide"><b>Realizada em</b></td>
            <td class="thirteen wide">
                {{ inscricao.data_hora_inscricao|date:'l, d/m/y, \à\s H\hi' }}
            </td>
        </tr>

        <tr>
            {% if inscricao.presencas.all %}
                <td class="three wide"><b>Presenças:</b></td>
                <td class="thirteen wide">
                    {% for x in inscricao.presencas.all %}
                        <br>{{ x }}
                    {% endfor %}
                </td>
            {% endif %}
        </tr>
        </tbody>
    </table>
</div>