<div class="ui three wide computer three wide tablet sixteen wide mobile center aligned column">
    <h3 class="ui icon header">
        <i class="user icon"></i>
        Seu Cadastro
    </h3>
</div>
<div class="ui thirteen wide computer thirteen wide tablet sixteen wide mobile column">
    <table class="ui celled striped table">
        <tbody>
        <tr>
            <td class="three wide"><b>Nome completo</b></td>
            <td class="thirteen wide">
                <div id="id_span_nome_completo">
                    <span id="id_span_nome">{{ user.first_name }} </span>
                    <span id="id_span_sobrenome">{{ user.last_name }}</span>
                </div>
            </td>
        </tr>

        <tr>
            <td class="three wide"><b>E-mail</b></td>
            <td class="thirteen wide">{{ user.email }}</td>
        </tr>
        </tbody>
    </table>
    <button class="ui left floated blue button" id="id_botao_editar_cadastro">
        <i class="write icon"></i>
        Editar Nome
    </button>

    {% include 'secompufscar2017/area_do_participante/dashboard/modais/modal_editar_cadastro.html' %}
</div>