{% if inscricao.pagamentos.count > 0 %}
    <table class="ui celled striped table">
        <tbody>
        {% for pagamento in inscricao.pagamentos.all %}
            {% if forloop.first %}
                <tr>
                    <td><b>Pagamentos registrados</b></td>
                </tr>
            {% endif %}
            <tr>
                <td class="sixteen wide">
                    <b>Meio de pagamento:</b> {{ pagamento.tipo_pagamento.nome }}<br>
                    <b>Valor registrado:</b> R$ {{ pagamento.valor|floatformat:2 }}<br>
                    <b>Registro:</b> {{ pagamento.registro }}<br>
                    <b>
                        {% if pagamento.tipo_pagamento.nome == 'Depósito/Transferência' %}
                            Comprovante enviado em:
                        {% else %}
                            Realizado em:
                        {% endif %}
                    </b>
                    {{ pagamento.data_hora_pagamento|date:'l, d/m/y, \à\s H\hi'|lower }}<br>
                    <b>Status:</b>
                    {% if pagamento.status_atual.nome == 'Aguardando aprovação' %}
                        Aguardando aprovação <i class="yellow attention icon"></i>
                    {% elif pagamento.status_atual.nome == 'Rejeitado' %}
                        Rejeitado em {{ pagamento.data_hora_mudanca_status|date:'l, d/m/y, \à\s H\hi'|lower }}
                        <i class="red remove circle icon"></i>
                    {% else %}
                        Aprovado em {{ pagamento.data_hora_mudanca_status|date:'l, d/m/y, \à\s H\hi'|lower }}
                        <i class="green check circle icon"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}