<div class="ui sixteen wide center aligned column">
    <div class="ui divider"></div>
</div>
<div class="ui three wide computer three wide tablet sixteen wide mobile center aligned column">
    <h3 class="ui icon header">
        <i class="code branch icon"></i>
        Inscrição em Atividades
    </h3>
</div>
<div class="ui thirteen wide computer thirteen wide tablet sixteen wide mobile column">
    <div class="ui message">
        <div class="content">
            <div class="header">
                 Inscreva-se nas atividades da SECOMP UFSCar =D
            </div>
            <p>Corre que ainda tem vagas!</p>
            <p>
                <a href="{% url 'secompufscar2017:pagina-inscrever-minicurso' %}">
                    <button class="ui blue button">
                        <i class="code branch icon"></i>
                        Escolher atividades
                    </button>
                </a>
            </p>
        </div>
    </div>
</div>
