<div class="ui wide center aligned column">
    <center><h3 class="ui icon header">
        {% if atividades.first.tipo.nome == 'Minicurso' %}
            <i class="terminal icon"></i>
            Inscrição em Minicurso
        {% elif atividades.first.tipo.nome == 'Workshop' %}
            <i class="at icon"></i>
            Inscrição em Workshop
        {% elif atividades.first.tipo.nome == 'Processo Seletivo' %}
            <i class="travel icon"></i>
            Inscrição em Processos Seletivos
        {% endif %}
    </h3></center>
    <center>
        {% if atividades.first.tipo.nome == 'Minicurso' %}

            <p>
                Informações de vagas atualizadas em: <b><span id="data_hora_ultima_atualizacao_vagas">{{ agora }}</span></b>
            </p>

        {% endif %}

        {% if atividades.first.tipo.nome == 'Workshop' %}
            <p>
                Informações de vagas atualizadas em: <b><span id="data_hora_ultima_atualizacao_vagas_workshops"></span></b>
            </p>
        {% endif %}
    </center>
    <br>
    <table class="ui celled striped selectable table">
        <thead>
        <tr>
            <th>{{ atividades.first.tipo.nome|title }}</th>
            {% if atividades.first.tipo.nome != 'Processo Seletivo' %}
                <th class="center aligned">Vagas<br>totais</th>
                <th class="center aligned">Vagas<br>restantes</th>
                <th class="center aligned">Inscrição</th>
            {% else %}
                <th class="center aligned">Manifestação de interesse</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>

        {% for atividade in atividades %}
            <tr id="id_linha_atividade_{{ atividade.id }}">
                <td>
                    <div class="ui {% if atividade.tipo.nome == 'Processo Seletivo' %}internally celled{% endif %} grid">
                        {% if atividade.tipo.nome != 'Processo Seletivo' %}
                            <h4 class="ui image header">
                                {% for ministrante in atividade.ministrante.all %}
                                    {% if ministrante.foto %}
                                        <img src="{{ ministrante.foto.url }}"
                                             class="ui mini bordered rounded image">
                                    {% endif %}
                                {% endfor %}

                                <div class="content">
                                    <span id="info_modal_{{ atividade.id }}">{{ atividade.titulo }}</span>
                                    <a id="botao_modal_{{ atividade.id }}" class="ui mini button" onclick="buscarDadosDaAtividade({{ atividade.id }})">
                                        <i class="info circle icon"></i>Detalhes
                                    </a>
                                    <div class="ui green label" id="tag_inscrito_atividade_{{ atividade.id }}">
                                        Inscrito
                                    </div>
                                    {% if atividade.tipo.nome != 'Processo Seletivo' %}
                                        <div class="sub header">
                                            {% for ministrante in atividade.ministrante.all %}
                                                {{ ministrante.nome }} {{ ministrante.sobrenome }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                            </h4>
                        {% else %}
                            <div class="middle aligned stackable row">
                                <div class="ui three wide center aligned column">
                                    {% if atividade.empresa %}
                                        <img class="ui small image"
                                             src="{{ atividade.empresa.logo.url }}"
                                             alt="Logo da empresa {{ atividade.empresa.nome }}">
                                    {% endif %}
                                </div>
                                <div class="ui twelve wide column">
                                    <h3 class="ui header">{{ atividade.titulo }}
                                        <span class="ui green label" id="tag_inscrito_atividade_{{ atividade.id }}">
                                            Inscrito
                                        </span>
                                    </h3>

                                    {% include 'secompufscar2017/programacao/helpers/data_hora_local_atividade.html' %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </td>

                {% if atividade.tipo.nome != 'Processo Seletivo' %}
                    <td class="one wide center aligned">
                        <span id="id_vagas_totais_atividade_{{ atividade.id }}">
                            {% if atividade.vagas_totais %}{{ atividade.vagas_totais }}{% else %}-{% endif %}
                        </span>
                    </td>
                    <td class="one wide center aligned">
                        <span id="id_vagas_restantes_atividade_{{ atividade.id }}">
                            {% if atividade.vagas_disponiveis %}{{ atividade.vagas_disponiveis }}{% else %}-{% endif %}
                        </span>
                    </td>
                {% endif %}

                <td class="two center aligned wide">
                    <button class="ui disabled blue fluid button" id="id_botao_inscrever_atividade_{{ atividade.id }}"
                            onclick="inscreverEmAtividade({{ atividade.id }})">
                        Inscrever
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        horario = new Date(Date.now()).toLocaleString();

        $("#data_hora_ultima_atualizacao_vagas_workshops").html(""+horario);
        $("#data_hora_ultima_atualizacao_vagas").html(""+horario);
        {% for atividade in atividades %}
            $('#tag_inscrito_atividade_{{ atividade.id }}').hide();
        {% endfor %}
    </script>
</div>
