<div class="ui three wide computer three wide tablet sixteen wide mobile center aligned column">
    <center>
        <h3 class="ui icon header">
            <i class="check circle icon"></i>
            Parabéns! Inscrição concluída
        </h3>
    </center>
</div>
<div class="ui thirteen wide computer thirteen wide tablet sixteen wide mobile column">
    <table class="ui celled striped table">
        <tbody>
        <tr>
            <td class="three wide"><b>Inscrito em</b></td>
            <td class="thirteen wide">
                {{ alr_minicurso }}
            </td>
        </tr>
        <tr>
            <td class="three wide"><b>Detalhes</b></td>
            <td class="thirteen wide">{{ alr_minicurso.descricao |safe }}</td>
        </tr>
        {% if work.horarios == secompufscar_bd.IntervalosDeHorario.None %}
        <tr>
            <td class="three wide"><b>Horário</b></td>
            <td class="thirteen wide">{{ work.horarios  }}</td>
        </tr>
        {% endif %}
        <tr>
            <td class="three wide"><b>Local</b></td>
            <td class="thirteen wide">{{ alr_minicurso.local  }}</td>
        </tr>

        </tbody>
    </table>
</div>