<div class="ui sixteen wide center aligned column">
    <div class="ui divider"></div>
</div>
<div class="ui three wide computer three wide tablet sixteen wide mobile center aligned column">
    <h3 class="ui icon header">
        <i class="gamepad icon"></i>
        SECOMP SCORE
    </h3>
</div>
<div class="ui thirteen wide computer thirteen wide tablet sixteen wide mobile column">
    <div class="ui message">
        <div class="content">
            <div class="header">
                Participe das atividades e ganhe pontos!
            </div>
            <p>Quanto mais você participa, mais pontos você ganha! Premiações segunda, terça, quarta e sexta a grande final!</p>
            <br>
            <p>Em caso de empate os melhores pontuados participarão de um sorteio para decidir o ganhador do brinde.</p>
            <p>
                <a href="#">
                    <button class="ui green button">
                        <i class="chess queen icon white"></i>
                        Score geral: {{ score }}000
                    </button>
                </a>
                <br><br>
                <a href="#">
                    <button class="ui blue button">
                        <i class="chess pawn icon white"></i>
                        Score da Segunda-Feira: {{ monday }}000
                    </button>
                </a>
                <br><br>
                <a href="#">
                    <button class="ui blue button">
                        <i class="chess pawn icon white"></i>
                        Score da Terça-Feira: {{ tuesday }}000
                    </button>
                </a>
                <br><br>
                <a href="#">
                    <button class="ui blue button">
                        <i class="chess pawn icon white"></i>
                        Score da Quarta-Feira: {{ wednesday }}000
                    </button>
                </a>
                <br><br>
            </p>
        </div>
    </div>
</div>
