{% extends 'secompufscar2017/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Cadastro na rede wifi{% endblock %}

{% block meta_description %}Faça login para entrar na Área do Participante da VII SECOMP
    UFSCar.{% endblock meta_description %}

{% block body_content %}

    <!-- Pacotes -->
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">CADASTRO NA REDE WIFI-UFSCAR-VISITANTE</h1>
{#                    <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">Veja aqui os pacotes que serão#}
{#                        disponibilizados na inscrição do evento. Lembrando que, para receber o certificado de#}
{#                        participação do evento, você deve fazer a sua inscrição, mesmo que no pacote FREE, e fazer o seu#}
{#                        credenciamento durante o evento.</h3>#}
                </div>
            </div>
            <div class="ui sixteen wide column wow fadeInUp">
                <p align="center">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd98mPrNfre-SzmA50VfTJ-0K-XjhQS4Ad8m8YTJdzltmkn8w/viewform?embedded=true" width="760" height="1350" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
                </p>
            </div>
        </div>
        <br>
    </div>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}

{% endblock body_content %}