{% extends 'secompufscar2017/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Contato{% endblock %}

{% block meta_description %}Tire suas dúvidas em nosso FAQ ou entre em contato conosco.{% endblock meta_description %}

{% block body_content %}

    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered stackable grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Contato + FAQ
                </h1>
            </div>
            {% if perguntas_frequentes %}
                <div class="ui nine wide computer sixteen wide tablet sixteen wide mobile column">
                    <div class="ui accordion wow fadeInUp" id="accordion_perguntas_frequentes" data-wow-delay="0.3s">
                        {% for pergunta_frequente in perguntas_frequentes %}
                            <div class="{% if forloop.counter == 1 %}active {% endif %}title">
                                <i class="dropdown icon"></i>
                                {{ pergunta_frequente.pergunta|safe }}
                            </div>
                            <div class="{% if forloop.counter == 1 %}active {% endif %}content">
                                {{ pergunta_frequente.resposta|safe }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ui one wide computer tablet only column"></div>
            {% endif %}

            <div class="ui six wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp"
                 data-wow-delay="0.3s">
                <h2 class="ui centered menor_padding_top header" id="entre_em_contato_header">
                    Entre em contato com a organização
                </h2>
                <form class="ui form" novalidate>
                    {% csrf_token %}
                    <div class="field">
                        <label for="id_nome">Seu nome:</label>
                        {{ form.nome }}
                    </div>
                    <div class="field">
                        <label for="id_email">Seu e-mail:</label>
                        {{ form.email }}
                    </div>
                    <div class="field">
                        <label for="id_mensagem">Mensagem:</label>
                        {{ form.mensagem }}
                    </div>
                    <div class="ui black button" id="botao_enviar_email">
                        <i class="send icon"></i>
                        Enviar mensagem
                    </div>
                    <div class="ui icon success message">
                        <i class="send icon"></i>
                        <i class="close icon"></i>
                        <div class="content">
                            <div class="header">Sua mensagem foi enviada com sucesso!</div>
                            <p>Entraremos em contato em breve :-)</p>
                        </div>
                    </div>
                    <div class="ui icon error message">
                        <i class="frown icon"></i>
                        <i class="close icon"></i>
                        <div class="content">
                            <div class="header">Houve um erro no envio de sua mensagem!</div>
                            <p>Desculpe-nos pelo transtorno.</p>
                            <p>Por favor, entre em contato conosco pelo e-mail <a
                                    href="mailto:contato@secompufscar.com.br">
                                contato@secompufscar.com.br</a> e informe também que obteve erro ao enviar a mensagem
                                pelo site.
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function isFormularioValido(formulario) {
            return formulario.form('is valid', ['name', 'email', 'message']);
        }

        $('#botao_enviar_email').on('click', function () {
                var formulario = $('.ui.form');
                formulario.removeClass('success').removeClass('error');

                if (isFormularioValido(formulario)) {
                    $('#botao_enviar_email').addClass('loading');
                    $.post("{% url 'secompufscar2017:enviar_email_contato' %}", formulario.serialize())
                        .done(function () {
                            formulario.addClass('success');
                            $('#botao_enviar_email').removeClass('loading');
                        }).fail(function () {
                        formulario.addClass('error');
                        $('#botao_enviar_email').removeClass('loading');
                    })
                }
            }
        );

        $('.message .close').on('click', function () {
            $('.ui.form').removeClass('success').removeClass('error');
        });

        $('.ui.accordion').accordion();

        $('.ui.form').form({
            fields: {
                name: {
                    identifier: 'id_nome',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Digite o seu nome.'
                        }
                    ]
                },
                email: {
                    identifier: 'id_email',
                    rules: [
                        {
                            type: 'email',
                            prompt: 'Digite um endereço de email válido.'
                        }
                    ]
                },
                message: {
                    identifier: 'id_mensagem',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Digite a mensagem.'
                        }
                    ]
                }
            },
            inline: true,
            on: 'blur',
            onSuccess: function () {
                $(".ui.form").removeClass('success').removeClass('error');
            },
            onFailure: function () {
                $(".ui.form").removeClass('success').removeClass('error');
            }
        }).on('submit', function (e) {
            e.preventDefault();
            return false
        });

    </script>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}
{% endblock body_content %}