{% extends 'secompufscar2017/helpers/base.html' %}
{% load staticfiles %}
{% load tz %}

{% block title %}SECOMP UFSCar 2017{% endblock %}

{% block meta_description %}A VIII Semana da Computação da UFSCar ocorrerá neste ano nos dias 18 a 22 de
    setembro.{% endblock meta_description %}

{% block body_content %}
    <section class="ui inverted vertical masthead center aligned segment" id="intro">
        <div id="intro_particles_container"></div>
        <div class="ui container" id="intro_container">
            <div class="row">
                <div class="sixteen wide vertical column">
                    <div class="ui centered grid">
                        <div class="ui ten wide computer eight wide tablet twelve wide mobile column">
                            <div class="ui fluid image wow fadeInUp" data-wow-delay="0.3s">
                                <img src="{% static 'secompufscar2017/images/logos/secomp_logo_branco.png' %}"
                                     alt="Logo da SECOMP UFSCar na versão branca.">
                            </div>
                        </div>
                    </div>
                    <h1 class="ui inverted header wow fadeInUp" data-wow-delay="0.6s"
                        id="titulo_index">VIII Semana da Computação da UFSCar</h1>
                    <div class="wow fadeInUp" data-wow-delay="0.9s">
                        <div class="ui black medium button" id="data_evento_por_extenso">
                            18 A 22 DE SETEMBRO DE 2017
                        </div>

                    </div>

                    {% if agora < evento.data_hora_inicio_evento %}
                        <div id="contador_regressivo">
                            <div class="wow fadeInUp" data-wow-delay="1.2s">
                                <span class="days"></span>
                                <div class="texto_descricao_contador">Dias</div>
                            </div>
                            <div class="wow fadeInUp" data-wow-delay="1.4s">
                                <span class="hours"></span>
                                <div class="texto_descricao_contador">Horas</div>
                            </div>
                            <div class="wow fadeInUp" data-wow-delay="1.6s">
                                <span class="minutes"></span>
                                <div class="texto_descricao_contador">Minutos</div>
                            </div>
                            <div class="wow fadeInUp" data-wow-delay="1.8s">
                                <span class="seconds"></span>
                                <div class="texto_descricao_contador">Segundos</div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% if evento.inicio_inscricoes_evento and evento.fim_inscricoes_evento and agora < evento.data_hora_fim_evento %}
        <section class="ui inverted vertical stripe segment" id="informe_inscricoes">
            <div class="ui centered grid">
                {% if agora > evento.inicio_inscricoes_evento %}
                    {% if agora > evento.fim_inscricoes_evento %}
                        <div class="ui sixteen wide center aligned column">
                            <h3 class="ui inverted header">
                                INSCRIÇÕES ENCERRADAS
                            </h3>
                        </div>
                    {% else %}
                        <div class="two column middle aligned computer tablet only row">
                            <div class="right aligned column">
                                <h3 class="ui inverted header">
                                    INSCRIÇÕES ABERTAS
                                </h3>
                            </div>
                            <div class="left aligned column">
                                <a href="{% url 'secompufscar2017:area_do_participante' %}">
                                    <button class="ui green button">
                                        <i class="ui signup icon"></i>INSCREVA-SE JÁ!<i class="right chevron icon"></i>
                                    </button>
                                </a>
                            </div>
                        </div>

                        <div class="middle aligned mobile only row">
                            <div class="ui centered grid">
                                <div class="row">
                                    <h3 class="ui inverted header">
                                        INSCRIÇÕES ABERTAS
                                    </h3>
                                </div>
                                <div class="row" id="inscreva_se_ja">
                                    <a href="{% url 'secompufscar2017:area_do_participante' %}">
                                        <button class="ui green button">
                                            <i class="ui signup icon"></i>INSCREVA-SE JÁ!<i
                                                class="right chevron icon"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="ui sixteen wide center aligned column">
                        <h3 class="ui inverted header">
                            INÍCIO DAS INSCRIÇÕES EM {{ evento.inicio_inscricoes_evento|date:"d/m \à\s H\hi"|upper }}
                        </h3>
                    </div>
                {% endif %}
            </div>
        </section>
    {% endif %}

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}

    <section class="ui inverted vertical stripe segment" id="secao_conteudo_secomp">
        <div class="sixteen wide column">
            <div class="row">
                <h2 class="ui centered inverted header titulo_secao">
                    O que tem na SECOMP UFSCar?
                </h2>
            </div>
            <div class="row">
                <div class="ui six column center aligned doubling grid container" id="grid_conteudo_secomp">
                    <div class="column wow fadeInUp"
                         data-wow-delay="0.3s">
                        <i class="ui huge white users icon"></i>
                        <h3>450+ participantes na edição 2016</h3>
                    </div>
                    <div class="column wow fadeInUp"
                         data-wow-delay="0.4s">
                        <i class="ui huge white clock icon"></i>
                        <h3>50+ horas de atividades</h3>
                    </div>
                    <div class="column wow fadeInUp"
                         data-wow-delay="0.5s">
                        <i class="ui huge white microphone icon"></i>
                        <h3>Palestras</h3>
                    </div>
                    <div class="column wow fadeInUp"
                         data-wow-delay="0.6s">
                        <i class="ui huge white comments icon"></i>
                        <h3>Mesas-redondas</h3>
                    </div>
                    <div class="column wow fadeInUp"
                         data-wow-delay="0.7s">
                        <i class="ui huge white terminal icon"></i>
                        <h3>Minicursos</h3>
                    </div>
                    <div class="column wow fadeInUp"
                         data-wow-delay="0.8s">
                        <i class="ui huge white at icon"></i>
                        <h3>Workshops</h3>
                    </div>
                    <div class="column wow fadeInUp"
                         data-wow-delay="0.9s">
                        <i class="ui huge white announcement icon"></i>
                        <h3>Palestras Empresariais</h3>
                    </div>
                    <div class="column wow fadeInUp"
                         data-wow-delay="1s">
                        <i class="ui huge white globe icon"></i>
                        <h3>Enterprise Day</h3>
                    </div>
                    <div class="column wow fadeInUp"
                         data-wow-delay="1.1s">
                        <i class="ui huge white briefcase icon"></i>
                        <h3>Processos Seletivos</h3>
                    </div>
                    <div class="column wow fadeInUp"
                         data-wow-delay="1.2s">
                        <i class="ui huge student icon"></i>
                        <h3>Feira de Projetos</h3>
                    </div>
                    <div class="column wow fadeInUp"
                         data-wow-delay="1.3s">
                        <i class="ui huge white flag icon"></i>
                        <h3>Capture The Flag</h3>
                    </div>
                    <div class="column wow fadeInUp"
                         data-wow-delay="1.4s">
                        <i class="ui huge white soccer icon"></i>
                        <h3>Futebol de Robôs</h3>
                    </div>
                    <div class="column wow fadeInUp"
                         data-wow-delay="1.5s">
                        <i class="ui huge white trophy icon"></i>
                        <h3>Desafio de Programadores</h3>
                    </div>
                    <div class="column wow fadeInUp"
                         data-wow-delay="1.6s">
                        <i class="ui huge white gamepad icon"></i>
                        <h3>Game Night</h3>
                    </div>
                    <div class="column wow fadeInUp"
                         data-wow-delay="1.7s">
                        <i class="ui huge white food icon"></i>
                        <h3>Churrasco de Integração</h3>
                    </div>
                    <div class="column wow fadeInUp"
                         data-wow-delay="1.8s">
                        <i class="ui huge white coffee icon"></i>
                        <h3>Coffee-breaks</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ui vertical stripe segment secao_app_android" id="secao_app_android">
        <div class="ui centered grid container">
            <div class="ui sixteen wide center aligned column">
                <div class="row">
                    <h2 class="ui centered icon header">
                        <i class="android green icon"></i>
                        NOVIDADE ESTE ANO: <br>App SECOMP UFSCar para Android
                    </h2>
                    <h3 class="ui centered header">
                        Tenha todo o cronograma em suas mãos, acesso às redes sociais
                        do evento, salve atividades favoritas, acesse informações dos palestrantes, locais das atividades
                        e muito mais! Baixe já!
                    </h3>
                    <div class="ui centered grid">
                        <div class="ui three wide computer three wide tablet twelve wide mobile column">
                            <a href='https://play.google.com/store/apps/details?id=br.com.secompufscar.app&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank">
                                <img class="ui fluid image" alt='Disponível no Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/pt-br_badge_web_generic.png'/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui sixteen wide column">
                <div class="row">
                     <div class="ui three column center aligned stackable grid">
                        <div class="column">
                            <img class="ui fluid image imagem_app" src="{% static 'secompufscar2017/images/loading_squared.gif' %}"
                                 data-src="{% static 'secompufscar2017/images/android_app/android_app1.png' %}"
                                 alt="Screenshot da home no app para Android da SECOMP">
                        </div>
                        <div class="column">
                            <img class="ui fluid image imagem_app" src="{% static 'secompufscar2017/images/loading_squared.gif' %}"
                                 data-src="{% static 'secompufscar2017/images/android_app/android_app2.png' %}"
                                 alt="Screenshot do cronograma no app para Android da SECOMP">
                        </div>
                        <div class="column">
                            <img class="ui fluid image imagem_app" src="{% static 'secompufscar2017/images/loading_squared.gif' %}"
                                 data-src="{% static 'secompufscar2017/images/android_app/android_app3.png' %}"
                                 alt="Screenshot dos detalhes de uma atividade no app para Android da SECOMP">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ui vertical stripe segment secao_fundo_cinza">
        <div class="center aligned ui grid container">
            <div class="sixteen wide column">
                <h2 class="ui centered header titulo_secao">
                    Curtiu? Se liga nesse teaser super maneiro
                </h2>
            </div>
            <div class="sixteen wide column wow fadeInUp" data-wow-delay="0.3s">
                <div id="video_teaser">
                    <iframe frameborder="0" height="100%" width="100%" allowfullscreen="allowfullscreen"
                            mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen"
                            oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
                            src="https://youtube.com/embed/4OtwzXNwQmM?autoplay=0&controls=1&showinfo=1&autohide=1">
                    </iframe>
                </div>
                <p><br></p>
            </div>
        </div>
    </section>

    <section class="ui vertical stripe segment secao_fundo_cinza">
        <div class="center aligned ui grid container">
            <div class="sixteen wide column">
                <h2 class="ui centered header titulo_secao">
                    Confira um pouquinho de como foi em 2016
                </h2>
            </div>
            <div class="sixteen wide column wow fadeInUp" data-wow-delay="0.3s">
                <div id="video_encerramento">
                    <iframe frameborder="0" height="100%" width="100%" allowfullscreen="allowfullscreen"
                            mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen"
                            oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
                            src="https://youtube.com/embed/RWY7khNWmVI?autoplay=0&controls=1&showinfo=1&autohide=1">
                    </iframe>
                </div>
                <p><br></p>
            </div>
        </div>
    </section>

    <section class="ui vertical inverted stripe segment" id="secao_infos_home">
        <p><br></p>
        <div class="center aligned ui three column stackable grid container">
            <div class="column wow fadeInUp" data-wow-delay="0.3s">
                <h3 class="ui center aligned icon inverted header">
                    <i class="calendar icon"></i>
                    QUANDO?</h3>
                <p><b>18 a 22 de setembro de 2017, com o credenciamento começando no dia 18 às 8h</b></p>
            </div>
            <div class="column wow fadeInUp" data-wow-delay="0.5s">
                <h3 class="ui center aligned icon inverted header">
                    <i class="marker icon"></i>
                    ONDE?</h3>
                <p><b>Anfiteatro Bento Prado Jr. e Departamento de Computação, na Universidade Federal de São Carlos</b>
                </p>
            </div>
            <div class="column wow fadeInUp" data-wow-delay="0.7s">
                <h3 class="ui center aligned icon inverted header">
                    <i class="help circle icon"></i>
                    DÚVIDAS?</h3>
                <p><b>Consulte mais informações no
                    <a href="{% url 'secompufscar2017:contato' %}">FAQ</a> e,
                    se necessário, entre em contato com a organização</b></p>
            </div>
        </div>
    </section>

    <script type="application/javascript">
        particlesJS.load('intro_particles_container',
            '{% static 'secompufscar2017/json/particlesjs-config.min.json' %}',
            function () {
            }
        );

        $('#intro').backstretch([
            "{% static 'secompufscar2017/images/homepage/secompbg_0.jpg' %}",
            "{% static 'secompufscar2017/images/homepage/secompbg_1.jpg' %}",
            "{% static 'secompufscar2017/images/homepage/secompbg_2.jpg' %}",
            "{% static 'secompufscar2017/images/homepage/secompbg_3.jpg' %}"
        ], {
            fade: 750,
            duration: 10000,
            preload: 1 // Use the lazy-loading functionality
        });

        {% if agora < data_hora_inicio_evento %}
            function getTimeRemaining(endtime) {
                var t = Date.parse(endtime) - Date.parse(new Date());
                var seconds = Math.floor((t / 1000) % 60);
                var minutes = Math.floor((t / 1000 / 60) % 60);
                var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
                var days = Math.floor(t / (1000 * 60 * 60 * 24));
                return {
                    'total': t,
                    'days': days,
                    'hours': hours,
                    'minutes': minutes,
                    'seconds': seconds
                };
            }

            function initializeClock(id, endtime) {
                var clock = document.getElementById(id);
                var daysSpan = clock.querySelector('.days');
                var hoursSpan = clock.querySelector('.hours');
                var minutesSpan = clock.querySelector('.minutes');
                var secondsSpan = clock.querySelector('.seconds');

                function updateClock() {
                    var t = getTimeRemaining(endtime);

                    daysSpan.innerHTML = t.days;
                    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                    if (t.total <= 0) {
                        clearInterval(timeinterval);
                    }
                }

                updateClock();
                var timeinterval = setInterval(updateClock, 1000);
            }
            var deadline = 'September 18 2017 ' +
                '{{ data_hora_inicio_evento|date:'H' }}:{{ data_hora_inicio_evento|date:'i' }}:00 GMT-0300';
            initializeClock('contador_regressivo', deadline);

        {% endif %}

        $('.imagem_app').visibility({
            type: 'image'
        });
    </script>

{% endblock body_content %}