{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Área do Participante: Cadastro{% endblock %}

{% block meta_description %}Faça aqui o seu cadastro para a VII SECOMP UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}
    <script type="text/javascript">
        function escolherCurso() {
            document.getElementById('outroCurso').checked = false;
        }

        function selecionaOutroCurso() {
            if (!document.getElementById('outroCurso').checked) {
                document.getElementById('outroCurso').checked = true;
            }
        }

        function escolherInstituicao() {
            document.getElementById('outraInstituicao').checked = false;
        }

        function selecionaOutraInstituicao() {
            document.getElementById('outraInstituicao').checked = true;
        }
    </script>

    <!-- Formulário de cadastro -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Cadastro de nova conta</h1>
                </div>
            </div>
            <div class="ui sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                <div class="row">
                    <p><br></p>

                    <form action="/2016/areadoparticipante/cadastro/" method="post" class="ui form">
                        {% csrf_token %}
                        {#                    <form class="ui form">#}
                        <div class="ui attached message">
                            <div class="header">Dados da conta</div>
                            <p>Informe aqui os dados de acesso à área do participante. Note que os campos marcados com *
                                são obrigatórios.</p>
                        </div>

                        <div class="ui attached fluid segment">
                            {% if integrityerror %}
                                <div class="ui negative message">
                                    <b>Ops, há algo de errado! Este e-mail já está cadastrado em nosso sistema.</b>
                                </div>
                            {% endif %}
                            <div class="required field">
                                <label>E-mail</label>
                                <div class="ui left icon input">
                                    <input type="email" name="email" placeholder="E-mail">
                                    <i class="mail icon"></i>
                                </div>
                            </div>
                            <div class="required field">
                                <label>Confirmação do e-mail</label>
                                <div class="ui left icon input">
                                    <input type="email" name="confirmacaodeemail" placeholder="Confirmação do e-mail">
                                    <i class="mail icon"></i>
                                </div>
                            </div>
                            <div class="required field">
                                <label>Senha</label>
                                <div class="ui left icon input">
                                    <input type="password" name="password" placeholder="Senha">
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                            <div class="required field">
                                <label>Confirmação da senha</label>
                                <div class="ui left icon input">
                                    <input type="password" name="confirmacaodesenha" placeholder="Confirmação da senha">
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="ui attached message">
                            <div class="header">Dados do participante</div>
                            <p>Informe aqui os dados de acesso à área do participante.</p>
                        </div>
                        <div class="ui attached fluid segment">
                            <div class="ui message">
                                <div class="header">Atenção para os campos nome e sobrenome!</div>
                                <p>Os dados aqui informados serão os utilizados para emissão de seu certificado.</p>
                            </div>
                            <div class="ui two fields">

                                <div class="required field">
                                    <label>Nome</label>
                                    <input type="text" name="first_name" placeholder="Nome">
                                </div>
                                <div class="required field">
                                    <label>Sobrenome Completo</label>
                                    <input type="text" name="last_name" placeholder="Sobrenome">
                                </div>
                            </div>

                            <div class="ui three fields">
                                <div class="grouped fields">
                                    <label for="instituicao">Instituição/Empresa</label>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="instituicao" tabindex="0"
                                                   class="hidden" value="UFSCar - campus São Carlos" checked="">
                                            <label>UFSCar - campus São Carlos</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="instituicao" tabindex="0" class="hidden"
                                                   value="UFSCar - campus Sorocaba">
                                            <label>UFSCar - campus Sorocaba</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="instituicao" tabindex="0" class="hidden"
                                                   value="UFSCar - campus Araras">
                                            <label>UFSCar - campus Araras</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="instituicao" tabindex="0" class="hidden"
                                                   value="UFSCar - campus Lagoa do Sino">
                                            <label>UFSCar - campus Lagoa do Sino</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="instituicao" tabindex="0" class="hidden"
                                                   value="USP - São Carlos">
                                            <label>USP - São Carlos</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="instituicao" tabindex="0" class="hidden"
                                                   value="IFSP - São Carlos">
                                            <label>IFSP - São Carlos</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="instituicao" tabindex="0" class="hidden"
                                                   value="IFSP - São Carlos">
                                            <label>UNICEP</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox" onclick="selecionaOutraInstituicao()">
                                            <input type="radio" name="instituicao" tabindex="0" class="hidden"
                                                   value="Outra"
                                                   id="outraInstituicao">
                                            <label>Outra instituição/Empresa:</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="field" id="outroInstituicaoTextField"
                                             onclick="selecionaOutraInstituicao()">
                                            <input type="text" name="outrainstituicao" placeholder="Qual?"
                                                   id="outraInstituicaoTextFieldInput">
                                        </div>
                                    </div>
                                </div>

                                <div class="grouped fields">
                                    <label for="curso">Curso/Cargo</label>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="curso" tabindex="0" class="hidden"
                                                   value="Ciência da Computação" checked="">
                                            <label>Ciência da Computação</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="curso" tabindex="0" class="hidden"
                                                   value="Engenharia de Computação">
                                            <label>Engenharia de Computação</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="curso" tabindex="0" class="hidden"
                                                   value="Sistemas de Informação">
                                            <label>Sistemas de Informação</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="curso" tabindex="0" class="hidden"
                                                   value="Análise e Desenvolvimento de Sistemas">
                                            <label>Análise e Desenvolvimento de Sistemas</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox" onclick="selecionaOutroCurso()">
                                            <input type="radio" name="curso" tabindex="0" class="hidden" value="Outro"
                                                   id="outroCurso">
                                            <label>Outro curso/Cargo na empresa: </label>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="field" id="outroCursoTextField" onclick="selecionaOutroCurso()">
                                            <input type="text" name="outrocurso" placeholder="Qual?"
                                                   id="outroCursoTextFieldInput">
                                        </div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $('.ui.radio.checkbox')
                                            .checkbox()
                                    ;
                                </script>

                                <div class="field">
                                    <label>Ano de Ingresso<br> (utilize a rolagem para ver mais opções)</label>
                                    <div class="ui search selection dropdown" id="anodropdown">
                                        <input type="hidden" name="anodeingresso">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Ano de Ingresso</div>
                                        <div class="menu">
                                            <div class="item" data-value="2016">2016</div>
                                            <div class="item" data-value="2015">2015</div>
                                            <div class="item" data-value="2014">2014</div>
                                            <div class="item" data-value="2013">2013</div>
                                            <div class="item" data-value="2012">2012</div>
                                            <div class="item" data-value="2011">2011</div>
                                            <div class="item" data-value="2010">2010</div>
                                            <div class="item" data-value="2009">2009</div>
                                            <div class="item" data-value="2008">2008</div>
                                            <div class="item" data-value="2007">2007</div>
                                            <div class="item" data-value="2006">2006</div>
                                            <div class="item" data-value="2005">2005</div>
                                            <div class="item" data-value="2004">2004</div>
                                            <div class="item" data-value="2003">2003</div>
                                            <div class="item" data-value="2002">2002</div>
                                            <div class="item" data-value="2001">2001</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script type="text/javascript">
                                $('#anodropdown').dropdown();
                            </script>

                            <input type="submit" value="Cadastrar" class="ui blue submit button">

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
    </div>

    <script type="text/javascript">
        $('.ui.form')
                .form({
                    fields: {
                        email: {
                            identifier: 'email',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Por favor, entre com seu e-mail.'
                                },
                                {
                                    type: 'email',
                                    prompt: 'Por favor, entre com um e-mail válido.'
                                }

                            ]
                        },
                        confirmacaodeemail: {
                            identifier: 'confirmacaodeemail',
                            rules: [

                                {
                                    type: 'email',
                                    prompt: 'Por favor, entre com um e-mail válido.'
                                },
                                {
                                    type: 'match[email]',
                                    prompt: 'O e-mail de confirmação não confere com o e-mail digitado.'
                                }

                            ]
                        },
                        password: {
                            identifier: 'password',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Por favor, insira uma senha.'
                                }
                            ]
                        },
                        confirmacaodesenha: {
                            identifier: 'confirmacaodesenha',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Por favor, entre com a confirmação da senha.'
                                },
                                {
                                    type: 'match[password]',
                                    prompt: 'A senha de confirmação não confere com a senha digitada.'
                                }
                            ]
                        },
                        first_name: {
                            identifier: 'first_name',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Por favor, entre com seu nome.'
                                }
                            ]
                        },
                        last_name: {
                            identifier: 'last_name',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Por favor, entre com seu sobrenome.'
                                }
                            ]
                        },
                    },
                    inline: true,
                    on: 'blur'

                })
        ;
    </script>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}