{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Logout{% endblock %}

{% block meta_description %}Logout realizado com sucesso.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}
    <!-- Cadastro Inválido -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Inscrição inválida!</h1>
                    <p><br></p>
                </div>
                <div class="row">
                    <div class="ui centered grid">
                        <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <h2 class="ui centered header" style="text-transform: none;">Você não pode alterar os parâmetros do cadastro.</h2>
                                <h2 class="ui centered header" style="text-transform: none;">O administrador foi notificado e seu cadastro será verificado manualmente.</h2>

                                <p align="center">
                                    <br><a href="/2016/areadoparticipante/cadastro/"><button class="ui blue button">Voltar para o cadastro</button></a><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}