{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Confirmação de e-mail{% endblock %}

{% block meta_description %}Confirmação de e-mail do cadastro na SECOMP UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}
    <!-- Confirmação de e-mail -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Confirmação de e-mail</h1>
                    <p><br></p>
                </div>
                <div class="row">
                    <div class="ui centered grid">
                        <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui attached segment">
                                    {% if not email_confirmado %}
                                    <h2>Quase pronto o seu cadastro!</h2>
                                    <p>Um código de confirmação foi enviado para o seu e-mail.</p>
                                    <p>Insira este código no campo abaixo para concluir o seu cadastro, ou clique no link do e-mail enviado.</p>

                                    <form action="/2016/areadoparticipante/cadastro/confirmaremail/" method="post"
                                          class="ui form">
                                        {% csrf_token %}
                                        <div class="field">
                                            <label>Código de confirmação do e-mail</label>
                                            <input type="text" name="confirmacaodeemail"
                                                   placeholder="Código de confirmação">
                                        </div>
                                        <input type="submit" value="Submeter código" class="ui blue submit button">
                                    </form>
                                    {% else %}
                                        <h2>Cadastro concluído!</h2>
                                        <div class="ui positive message">
                                            <div class="content">
                                                <div class="header">E-mail confirmado com sucesso!
                                                </div>
                                                <p>Agora você já pode se inscrever na VII SECOMP UFSCar. Clique no botão
                                                    <b>Fazer login e ir para a inscrição</b>.</p>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if usuario_inativo %}
                                        <div class="ui error message">
                                            <div class="content">
                                                <div class="header">Você ainda não pode acessar a página de inscrição!
                                                </div>
                                                <p>Você precisa confirmar o seu endereço de e-mail primeiro.</p>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if codigo_invalido %}
                                        <div class="ui error message">
                                            <div class="content">
                                                <div class="header">Código inválido!
                                                </div>
                                                <p>Verifique-o e tente novamente.</p>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if not email_confirmado %}
                                        <form action="/2016/areadoparticipante/cadastro/enviaremaildeconfirmacao/" method="post"
                                          class="ui form">
                                        {% csrf_token %}
                                        <h3 class="ui horizontal divider header">
                                            <i class="mail icon"></i>
                                            Problemas?
                                        </h3>

                                        <h2>Não recebi o email :-(</h2>
                                        <p>Verifique a caixa de spam. Ainda não recebeu? Clique no botão abaixo para
                                            tentarmos novamente.</p>


                                            <div class="field">
                                                <label>Digite o e-mail utilizado no cadastro</label>
                                                <input type="text" name="email"
                                                       placeholder="E-mail">
                                            </div>
                                            <div class="field">
{#                                                <a href="/2016/areadoparticipante/cadastro/enviaremaildeconfirmacao/">#}
                                                    <button class="ui submit blue button">
                                                        Reenviar e-mail de confirmação
                                                    </button>
{#                                                </a>#}
                                            </div>
                                            {% if email_reenviado %}
                                                <div class="ui positive message">
                                                    E-mail de confirmação reenviado.
                                                </div>
                                            {% endif %}
                                        </form>
                                        <br>
                                    {% else %}
                                        <div class="row">
                                            <p align="right"><br>
                                                <a href="/2016/areadoparticipante/">
                                                    <button class="ui primary right labeled icon button">
                                                        <i class="right arrow icon"></i>
                                                        Fazer login e ir para a inscrição
                                                    </button>
                                                </a>
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}