{% load static from staticfiles %}
<!doctype html>
<!--
   Material Design Lite
   Copyright 2015 Google Inc. All rights reserved.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License
-->

<!--
   This file has been modified by Marcelo De Oliveira Da Silva, under
   the terms of the license atributed above.
-->

<html lang="pt">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Saiba mais sobre a SECOMP, o Departamento de Computação e a UFSCar.">
		<meta name="viewport" content="width=1024">
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-pink.min.css">
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
	    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	    <title>SECOMP UFSCar - Apresentação</title>

	    <!-- Page styles -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <link rel="stylesheet" href="{% static 'secompufscar2015/css/styles.css' %}">
	    <link rel="shortcut icon" href="{% static 'secompufscar2015/images/favicon.ico' %}" type="image/x-icon">
	    <link rel="icon" href="{% static 'secompufscar2015/images/favicon.ico' %}" type="image/x-icon">
    </head>
    <body class="mdl-color--grey-100">
    <!--  EXTREMELY IMPORTANT TO INCLUDE: style="-webkit-overflow-scrolling: touch;"    -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="-webkit-overflow-scrolling: touch;">
            <div class="secomp-header mdl-layout__header mdl-layout__header--waterfall">
                <div class="mdl-layout__header-row">
                    <span class="secomp-title mdl-layout-title">
                        <a href="/2015/"><img class="secomp-logo-image" src="{% static 'secompufscar2015/images/secomp-logo-mini.png' %}"></a>
                    </span>
                    <!-- Add spacer, to align navigation to the right in desktop -->
                    <div class="secomp-header-spacer mdl-layout-spacer"></div>

                    <!-- Navigation -->
                    <div class="secomp-navigation-container">
                        <nav class="secomp-navigation mdl-navigation">
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Apresentação</a>
						    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/programacao/">Programação</a>
						    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/cronograma/">Cronograma</a>
						    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/patrocinadores/">Patrocinadores</a>
						    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/equipe/">Equipe</a>
						    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/contato/">Contato</a>
					    </nav>
				    </div>

				    <span class="secomp-mobile-title mdl-layout-title">
					    <img class="secomp-logo-image-mobile" src="{% static 'secompufscar2015/images/secomp-logo-mini-mobile.png' %}">
				    </span>
			    </div>
		    </div>

		    <div class="secomp-drawer mdl-layout__drawer">
			    <span class="mdl-layout-title">
				    <img class="secomp-logo-image" src="{% static 'secompufscar2015/images/secomp-logo-mini.png' %}">
			    </span>
			    <nav class="mdl-navigation">
				    <a class="mdl-navigation__link" href="/2015/apresentacao/">Apresentação</a>
				    <a class="mdl-navigation__link" href="/2015/programacao/">Programação</a>
				    <a class="mdl-navigation__link" href="/2015/cronograma/">Cronograma</a>
				    <a class="mdl-navigation__link" href="/2015/patrocinadores/">Patrocinadores</a>
				    <a class="mdl-navigation__link" href="/2015/equipe/">Equipe</a>
				    <a class="mdl-navigation__link" href="/2015/contato/">Contato</a>
			    </nav>
		    </div>

		    <div class="secomp-content mdl-layout__content">
			    <a name="top"></a>

			    <div class="secomp-apresentacao-top">
				    <div class="secomp-section">
					    <div class="secomp-section-text">
						    <div class="mdl-typography--display-2 mdl-typography--font-thin">Apresentação</div>
					    </div>
				    </div>
			    </div>

			    <div class="secomp-more-section mdl-color--white mdl-shadow--2dp">
				    <div class="secomp-section-text2">
					    <p class="mdl-typography--display-1-color-contrast mdl-typography--font-normal text-align: left">
						    Sobre a SECOMP
					    </p>

					    <!-- Image card -->
					    <style>
						    .demo-card-image3.mdl-card {
							    width: 800px;
							    height: 300px;
							    background: url('{% static 'secompufscar2015/images/apresentacao/credenciamento.jpg' %}') center / cover;
						    }
						    .demo-card-image3 > .mdl-card__actions {
							    height: 52px;
							    padding: 16px;
							    background: rgba(0, 0, 0, 0.2);
						    }
						    .demo-card-image3__filename {
							    color: #fff;
						    }
					    </style>

					    <div class="mdl-card mdl-shadow--2dp demo-card-image3">
						    <div class="mdl-card__title mdl-card--expand"></div>
						    <div class="mdl-card__actions">
							    <span class="demo-card-image__filename">Mesa de credenciamento da V SeComp</span>
						    </div>
					    </div>

					    <p class="mdl-typography--body-1 mdl-typography--font-normal"><br />
                            A Semana da Computação (SECOMP) da Universidade Federal de São Carlos – UFSCar, campus São Carlos, é um evento direcionado aos alunos dos cursos de Bacharelado em Ciência da Computação e Engenharia da Computação, profissionais de tecnologia, e empresas do ramo tecnológico e computacional. Porém, são convidados todos os interessados que queiram prestigiar o evento e conhecer melhor esta área que vem crescendo cada vez mais, tanto no mercado de trabalho quanto na área acadêmica.<br /><br />

						    O objetivo do evento é trazer ao público participante novas tecnologias, assuntos que estão em voga na área de computação e também assuntos relacionados ao mercado de trabalho, contribuindo para o conhecimento de todos em diferentes áreas da computação.<br /><br />

						    O evento conta com minicursos em diversas áreas, palestras sobre diversos assuntos atuais da computação e do mercado de trabalho, debate geral sobre a área, proporcionado por “mesa redonda” composta por profissionais e/ou docentes da área, workshops, coffee-breaks, eventuais sorteios de brindes e grandes oportunidades no mercado de trabalho por meio dos colaboradores empresariais que far-se-ão presentes. Na última edição da SeComp, em 2014, contamos também com o inédito Desafio de Programadores, com um prêmio de R$ 1000,00 à equipe vencedora, e a Exposição de Projetos dos alunos de graduação e pós-graduação da UFSCar. Para este ano, estamos trabalhando para trazer ainda mais novidades!<br/ ><br />

						    A VI Semana da Computação da Universidade Federal de São Carlos, campus São Carlos, acontecerá nos dias 21 a 25 de setembro de 2015.<br /><br />
					    </p>

					    <p class="mdl-typography--display-1-color-contrast mdl-typography--font-normal text-align: left">
						    Sobre o Departamento de Computação
					    </p>

					    <style>
						    .demo-card-image.mdl-card {
							    width: 800px;
							    height: 300px;
							    background: url('{% static 'secompufscar2015/images/apresentacao/dc_40anos.jpg' %}') center / cover;
						    }
						    .demo-card-image > .mdl-card__actions {
							    height: 52px;
							    padding: 16px;
							    background: rgba(0, 0, 0, 0.2);
						    }
						    .demo-card-image__filename {
							    color: #fff;
						    }
					    </style>

					    <div class="mdl-card mdl-shadow--2dp demo-card-image">
						    <div class="mdl-card__title mdl-card--expand"></div>
						    <div class="mdl-card__actions">
							    <span class="demo-card-image__filename">Departamento de Computação</span>
						    </div>
					    </div>

					    <p class="mdl-typography--display-0 mdl-typography--font-normal"><br />
						    O Departamento de Computação existe desde 1972, sendo responsável por habilitar e colocar com excelência anualmente no mercado de trabalho cerca de uma centena de profissionais, que atuam em empresas e em Instituições de Ensino Superior.<br /><br />

						    Atento à constante evolução na área de computação, o DC-UFSCar tem atuado na vanguarda do desenvolvimento tecnológico, firmando-se no cenário nacional e internacional como um centro de pesquisa bastante atuante.<br /><br />

						    Para conhecer mais sobre a história do Departamento de Computação da UFSCar e, em paralelo, um pouco da história da própria computação, dos cursos que são oferecidos, das pesquisas que são desenvolvidas no departamento e alguns dos projetos e parcerias, acesse a revista eletrônica em comemoração aos 40 anos do departamento: <a href="http://www2.dc.ufscar.br/revista40anos/">http://www2.dc.ufscar.br/revista40anos/</a>.<br /><br />
					    </p>

					    <p class="mdl-typography--display-1-color-contrast mdl-typography--font-normal text-align: left">
                            Sobre a UFSCar
					    </p>

					    <!-- Image card -->
					    <style>
						    .demo-card-image2.mdl-card {
							    width: 800px;
							    height: 300px;
							    background: url('{% static 'secompufscar2015/images/apresentacao/ufscar_aerea.jpg' %}') bottom / cover;
						    }
						    .demo-card-image2 > .mdl-card__actions {
							    height: 52px;
							    padding: 16px;
							    background: rgba(0, 0, 0, 0.2);
						    }
						    .demo-card-image2__filename {
							    color: #fff;
						    }
					    </style>

					    <div class="mdl-card mdl-shadow--2dp demo-card-image2">
						    <div class="mdl-card__title mdl-card--expand"></div>
						    <div class="mdl-card__actions">
							    <span class="demo-card-image__filename">Universidade Federal de São Carlos</span>
						    </div>
					    </div>

					    <p class="mdl-typography--display-0 mdl-typography--font-normal"><br />
						    Fundada em 1968, a Universidade Federal de São Carlos (UFSCar), única instituição federal de Ensino Superior localizada no interior do Estado de São Paulo, destaca-se pelo alto nível de qualificação de seu corpo docente: 96,1% são doutores ou mestres. Em sua maioria, 98,6% dos professores desenvolvem atividades de ensino, pesquisa e extensão em regime de dedicação exclusiva.<br /><br />

						    A Universidade possui quatro campi, sendo que o principal fica em São Carlos, município localizado a 235 km da capital do Estado, e tem 645 hectares de extensão, sendo 196 mil m² de área construída.<br /><br />

						    O Campus São Carlos possui 300 laboratórios, uma biblioteca, um ambulatório, dois teatros, nove anfiteatros, 12 auditórios, um ginásio, um parque esportivo, sete quadras, duas piscinas, um restaurante universitário, quatro lanchonetes, 124 salas de aula e 672 vagas internas e externas de moradia estudantil.<br /><br />

						    Distante 170 km da capital está o Campus Araras, que possui 230 hectares, sendo 50 mil m² em áreas construídas. São 28 laboratórios divididos entre ensino e pesquisa, 22 salas de aulas, uma biblioteca, um ambulatório, um anfiteatro, uma quadra, um núcleo de esportes aquáticos, um restaurante universitário, uma lanchonete e 33 vagas externas na moradia estudantil.<br /><br />

						    O Campus Sorocaba, localizado próximo ao km 100 da rodovia João Leme dos Santos (SP-264), tem 70 hectares de extensão e 48 mil m² de área construída. São 44 laboratórios, uma biblioteca, um ambulatório, dois auditórios, uma quadra esportiva, um restaurante universitário, uma lanchonete, 29 salas de aula, um campo de futebol com pista de atletismo e 80 vagas externas de moradia estudantil.<br /><br />

						    O recém criado Campus Lago do Sino, localizado em Buri (SP) possui 647 hectares e 10 mil m² de área construída. São quatro laboratórios, uma biblioteca, um restaurante universitário, uma lanchonete e duas salas de aula (50 alunos).<br /><br />

						    Os 48 departamentos acadêmicos da Universidade estão divididos em oito centros: Ciências Agrárias, Ciências Biológicas e da Saúde, Ciências em Gestão e Tecnologia, Ciências e Tecnologias para a Sustentabilidade, Ciências Exatas e de Tecnologia, Ciências Humanas e Biológicas, Educação e Ciências Humanas e Ciências da Natureza.<br /><br />

						    A UFSCar oferece 62 cursos e um total de 2.807 novas vagas na graduação presencial. São 39 opções de cursos em São Carlos (1.797 vagas), seis em Araras (240 vagas), 14 em Sorocaba (620) e três em Buri (150 vagas).
					    </p>
				    </div>
			    </div>
			    <p></p>

			    <div class="secomp-more-section">
				    <div class="secomp-section-title mdl-typography--display-1-color-contrast">Patrocinadores Master</div>
				    <div class="secomp-card-container mdl-grid">
					    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
						    <div class="mdl-card__media">
							    <img src="{% static 'secompufscar2015/images/patrocinadores/intel.png' %}">
						    </div>
						    <div class="mdl-card__title">
							    <h4 class="mdl-card__title-text">Intel</h4>
						    </div>
						    <div class="mdl-card__supporting-text">
				                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
			                </div>
			                <div class="mdl-card__actions">
				                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.intel.com.br" target="_blank">
				                    intel.com.br
				                    <i class="material-icons">chevron_right</i>
				                </a>
			                </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/amdocs.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Amdocs</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.amdocs.com" target="_blank">
                                    amdocs.com
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/microsoft.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Microsoft</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.microsoft.com.br" target="_blank">
                                    microsoft.com.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/uol.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">UOL</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.uol.com.br/" target="_blank">
                                    uol.com.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>
                        "Intel, the Intel logo are trademarks or registered trademarks of Intel Corporation or its subsidiaries in the United States and other Countries.”
                    </div>
                </div>

                <div class="secomp-more-section">
                    <div class="secomp-section-title mdl-typography--display-1-color-contrast">Patrocinadores Senior</div>
                    <div class="secomp-card-container mdl-grid">

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/icaro_tech.png' %}">
							</div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Ícaro Tech</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.icarotech.com/cala/pt/" target="_blank">
                                    icarotech.com
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/daitan.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Daitan Group</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.daitangroup.com" target="_blank">
                                    daitangroup.com
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/nicbr.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">NIC.BR</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://nic.br" target="_blank">
                                    nic.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="secomp-more-section">
                    <div class="secomp-section-title mdl-typography--display-1-color-contrast">Apoio</div>
                    <div class="secomp-card-container mdl-grid">
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/cati_jr.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">CATI Jr.</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/caenc.png' %}">
							</div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">CAEnC</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/pyladies.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">PyLadies São Carlos</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/petbcc.png' %}">
							</div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">PETBCC</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/novatec.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Editora Novatec</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/monitora.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Monitora</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/boolabs.png' %}">
							</div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">BooLabs</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/edufscar.png' %}">
							</div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Editora UFSCar</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="secomp-more-section">
                    <div class="secomp-section-title mdl-typography--display-1-color-contrast">Realização</div>
                    <div class="secomp-card-container mdl-grid">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/dc.png' %}">
							</div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Departamento de Computação</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.dc.ufscar.br">
                                    dc.ufscar.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/ufscar.png' %}">
							</div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Universidade Federal de São Carlos</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.ufscar.br">
                                    ufscar.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/secomp.png' %}">
							</div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Equipe SECOMP UFSCar</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://fb.com/secomp.ufscar">
                                    Facebook
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="secomp-footer mdl-mega-footer">
                    <div class="mdl-mega-footer--top-section">
                        <div class="mdl-mega-footer--right-section">
                            <a class="mdl-typography--font-light" href="#top">
                                Voltar ao topo
                                <i class="material-icons">expand_less</i>
                            </a>
                        </div>
                        <div class="mdl-mega-footer--middle-section">
                            <p class="mdl-typography--font-light">© 2015 SECOMP UFSCar<br />Departamento de Computação<br />Universidade Federal de São Carlos<br />Rodovia Washington Luís, km 235 - São Carlos - SP, Brasil - CEP 13565-905</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
