{% load static from staticfiles %}
<!doctype html>
<!--
   Material Design Lite
   Copyright 2015 Google Inc. All rights reserved.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License
-->

<!--
   This file has been modified by Marcelo De Oliveira Da Silva, under
   the terms of the license atributed above.
-->

<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Conheça os membros da equipe de organização da VI SECOMP UFSCar.">
        <meta name="viewport" content="width=1024">
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-pink.min.css">
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <title>SECOMP UFSCar - Equipe</title>

        <!-- Page styles -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'secompufscar2015/css/styles.css' %}">
        <link rel="shortcut icon" href="{% static 'secompufscar2015/images/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'secompufscar2015/images/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        <!--  EXTREMELY IMPORTANT TO INCLUDE: style="-webkit-overflow-scrolling: touch;"    -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="-webkit-overflow-scrolling: touch;">

            <div class="secomp-header mdl-layout__header mdl-layout__header--waterfall">
                <div class="mdl-layout__header-row">
                    <span class="secomp-title mdl-layout-title">
                        <a href="/2015/">
                            <img class="secomp-logo-image" src="{% static 'secompufscar2015/images/secomp-logo-mini.png' %}">
                        </a>
                    </span>

                    <!-- Add spacer, to align navigation to the right in desktop -->
                    <div class="secomp-header-spacer mdl-layout-spacer"></div>

                    <!-- Navigation -->
                    <div class="secomp-navigation-container">
                        <nav class="secomp-navigation mdl-navigation">
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/apresentacao/">Apresentação</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/programacao/">Programação</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/cronograma/">Cronograma</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/patrocinadores/">Patrocinadores</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Equipe</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/contato/">Contato</a>
                        </nav>
                    </div>

                    <span class="secomp-mobile-title mdl-layout-title">
                        <img class="secomp-logo-image-mobile" src="{% static 'secompufscar2015/images/secomp-logo-mini-mobile.png' %}">
                    </span>
                </div>
            </div>

            <div class="secomp-drawer mdl-layout__drawer">
               <span class="mdl-layout-title">
                   <img class="secomp-logo-image" src="{% static 'secompufscar2015/images/secomp-logo-mini.png' %}">
               </span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/2015/apresentacao/">Apresentação</a>
                    <a class="mdl-navigation__link" href="/2015/programacao/">Programação</a>
                    <a class="mdl-navigation__link" href="/2015/cronograma/">Cronograma</a>
                    <a class="mdl-navigation__link" href="/2015/patrocinadores/">Patrocinadores</a>
                    <a class="mdl-navigation__link" href="/2015/equipe/">Equipe</a>
                    <a class="mdl-navigation__link" href="/2015/contato/">Contato</a>
                </nav>
            </div>

            <div class="secomp-content mdl-layout__content">
                <a name="top"></a>

                <div class="equipe-section">
                    <div class="secomp-section">
                        <div class="secomp-section-text">
                            <div class="mdl-typography--display-2 mdl-typography--font-thin">Equipe SECOMP UFSCar</div>
                            <p class="mdl-typography--headline mdl-typography--font-thin">
                                Conheça aqui os membros da equipe de organização que são grandes responsáveis pelo acontecimento
                                da SECOMP.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="secomp-more-section">
                    <div class="secomp-section-title mdl-typography--display-1-color-contrast">Equipe 2015</div>
                    <div class="secomp-card-container mdl-grid">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/ana_dulce_padovan.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Ana Dulce Padovan</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/andre_rocha.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">André Rocha</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/arieh_fabbro.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Arieh Fabbro</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/bruna_magalhaes.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Bruna Magalhães</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/caio_herrera.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Caio Herrera</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/camila_araujo.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Camila Araújo</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/eduardo_yamauchi.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Eduardo Yamauchi</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/felipe_quecole.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Felipe Quécole</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/felipe_takeo.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Felipe Takeo</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/fernando_messias_da_silva.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Fernando Messias da Silva</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/frankson_teotonho.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Frankson Teotonho</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/gabriela_vanessa_pereira_alves_mattos.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Gabriela Vanessa Pereira Alves Mattos</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/italo_jorge_vieira.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Italo Jorge Vieira</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/jefferson_alves_silva.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Jefferson Alves Silva</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/jessica_antunes.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Jéssica Antunes</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/jessica_caroline.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Jéssica Caroline</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/joao_francisco_maues_araujo.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">João Francisco Maués Araujo</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/joao_victor.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">João Victor</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/julia_moura_caetano.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Julia Moura Caetano</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/juliano_lanssarini.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Juliano Lanssarini</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/leticia_amaral.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Leticia Amaral</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/lucas_hauptmann_pereira.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Lucas Hauptmann Pereira</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/lucas_lins.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Lucas Lins</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/lucas_queiroz.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Lucas Queiroz</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/marcelo_de_oliveira_da_silva.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Marcelo de Oliveira da Silva</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/marcio_lima.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Márcio Lima</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/marcos_faglioni.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Marcos Faglioni</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/marcos_vinicius_azevedo_da_silva.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Marcos Vinicius Azevedo da Silva</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/matheus_dos_santos_freitas.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Matheus dos Santos Freitas</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/mayara_amaral.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Mayara Amaral</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/moises_dourado.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Moisés Dourado</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/pedro_henrique_dumont_mauad.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Pedro Henrique Dumont Mauad</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/pedro_migliatti.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Pedro Migliatti</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/rebeca_lima_rocha.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Rebeca Lima Rocha</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/romao_martines.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Romão Martines</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/solon_yukio_shibata_meira.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Solon Yukio Shibata Meira</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/victor_cassano.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Victor Cassano</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/william_picon_studart.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">William Picon Studart</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/yuri_h_lovalho.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Yuri H. Lovalho</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="secomp-more-section">
                    <div class="secomp-section-title mdl-typography--display-1-color-contrast">Professores colaboradores</div>
                    <div class="secomp-card-container mdl-grid">

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/professores/delano_m_beder.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Dr. Delano M. Beder</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead">Professor do DC/UFSCar</span>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/professores/mario_lizier.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Dr. Mario Liziér</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead">Professor do DComp/UFSCar Sorocaba</span>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/equipe/professores/sandra_abib.jpg' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Dr.ª Sandra Abib</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead">Professora do DC/UFSCar</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="secomp-more-section">
                    <div class="secomp-section-title mdl-typography--display-1-color-contrast">Patrocinadores Master</div>
                    <div class="secomp-card-container mdl-grid">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/intel.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Intel</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.intel.com.br" target="_blank">
                                    intel.com.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/amdocs.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Amdocs</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.amdocs.com" target="_blank">
                                    amdocs.com
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/microsoft.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Microsoft</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.microsoft.com.br" target="_blank">
                                    microsoft.com.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/uol.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">UOL</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.uol.com.br/" target="_blank">
                                    uol.com.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        "Intel, the Intel logo are trademarks or registered trademarks of Intel Corporation or its subsidiaries
                        in the United States and other Countries.”
                    </div>
                </div>

                <div class="secomp-more-section">
                    <div class="secomp-section-title mdl-typography--display-1-color-contrast">Patrocinadores Senior</div>
                    <div class="secomp-card-container mdl-grid">

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/icaro_tech.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Ícaro Tech</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.icarotech.com/cala/pt/" target="_blank">
                                    icarotech.com
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/daitan.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Daitan Group</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.daitangroup.com" target="_blank">
                                    daitangroup.com
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/nicbr.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">NIC.BR</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://nic.br" target="_blank">
                                    nic.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="secomp-more-section">
                    <div class="secomp-section-title mdl-typography--display-1-color-contrast">Apoio</div>
                    <div class="secomp-card-container mdl-grid">
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/cati_jr.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">CATI Jr.</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/caenc.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">CAEnC</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/pyladies.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">PyLadies São Carlos</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/petbcc.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">PETBCC</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/novatec.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Editora Novatec</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/monitora.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Monitora</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/boolabs.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">BooLabs</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/edufscar.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Editora UFSCar</h4>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="secomp-more-section">
                    <div class="secomp-section-title mdl-typography--display-1-color-contrast">Realização</div>
                    <div class="secomp-card-container mdl-grid">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/dc.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Departamento de Computação</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.dc.ufscar.br">
                                    dc.ufscar.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/ufscar.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Universidade Federal de São Carlos</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.ufscar.br">
                                    ufscar.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/secomp.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Equipe SECOMP UFSCar</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://fb.com/secomp.ufscar">
                                    Facebook
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="secomp-footer mdl-mega-footer">
                    <div class="mdl-mega-footer--top-section">
                        <div class="mdl-mega-footer--right-section">
                            <a class="mdl-typography--font-light" href="#top">
                                Voltar ao topo
                                <i class="material-icons">expand_less</i>
                            </a>
                        </div>
                        <div class="mdl-mega-footer--middle-section">
                            <p class="mdl-typography--font-light">© 2015 SECOMP UFSCar<br/>
                                Departamento de Computação<br/>Universidade Federal de São Carlos<br/>Rodovia Washington Luís,
                                km 235 - São Carlos - SP, Brasil - CEP 13565-905</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
