{% load static from staticfiles %}
<!doctype html>
<!--
   Material Design Lite
   Copyright 2015 Google Inc. All rights reserved.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License
-->

<!--
   This file has been modified by Marcelo De Oliveira Da Silva, under
   the terms of the license atributed above.
-->

<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="VI Semana da Computação da UFSCar: 21 a 25 de setembro de 2015.">
        <meta name="viewport" content="width=1024">
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-pink.min.css">
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <title>SECOMP UFSCar</title>

        <!-- Page styles -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'secompufscar2015/css/styles.css' %}">
        <link rel="shortcut icon" href="{% static 'secompufscar2015/images/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'secompufscar2015/images/favicon.ico' %}" type="image/x-icon">

    </head>
    <body class="mdl-color--grey-100">
        <!--  EXTREMELY IMPORTANT TO INCLUDE: style="-webkit-overflow-scrolling: touch;"    -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="-webkit-overflow-scrolling: touch;">
            <div class="secomp-header mdl-layout__header mdl-layout__header--waterfall">
                <div class="mdl-layout__header-row">
                    <span class="secomp-title mdl-layout-title">
                        <a href=""><img class="secomp-logo-image" src="{% static 'secompufscar2015/images/secomp-logo-mini.png' %}"></a>
                    </span>

                    <!-- Add spacer, to align navigation to the right in desktop -->
                    <div class="secomp-header-spacer mdl-layout-spacer"></div>

                    <!-- Navigation -->
                    <div class="secomp-navigation-container">
                        <nav class="secomp-navigation mdl-navigation">
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/apresentacao/">Apresentação</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/programacao/">Programação</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/cronograma/">Cronograma</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/patrocinadores/">Patrocinadores</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/equipe/">Equipe</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/contato/">Contato</a>
                        </nav>
                    </div>

                    <span class="secomp-mobile-title mdl-layout-title">
                        <img class="secomp-logo-image-mobile" src="{% static 'secompufscar2015/images/secomp-logo-mini-mobile.png' %}">
                    </span>
                </div>
            </div>

            <div class="secomp-drawer mdl-layout__drawer">
               <span class="mdl-layout-title">
                   <img class="secomp-logo-image" src="{% static 'secompufscar2015/images/secomp-logo-mini.png' %}">
               </span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/2015/apresentacao/">Apresentação</a>
                    <a class="mdl-navigation__link" href="/2015/programacao/">Programação</a>
                    <a class="mdl-navigation__link" href="/2015/cronograma/">Cronograma</a>
                    <a class="mdl-navigation__link" href="/2015/patrocinadores/">Patrocinadores</a>
                    <a class="mdl-navigation__link" href="/2015/equipe/">Equipe</a>
                    <a class="mdl-navigation__link" href="/2015/contato/">Contato</a>
                </nav>
            </div>

            <div class="secomp-content mdl-layout__content">
                <a name="top"></a>
                <div class="secomp-be-together-section mdl-typography--text-center">
                    <div class="secomp-font secomp-slogan">MUITO OBRIGADO!</div>
                    <div class="secomp-font secomp-sub-slogan">VI SEMANA DA COMPUTAÇÃO DA UFSCAR<br/>
                        <!-- <br />Inscrições de equipes do Desafio de Programadores e <br />inscrição de projetos para Exposição abertas!<br /><br />Inscrições continuam durante todo o evento :-)<br /><br /> -->
                    </div>

        {#            <div class="secomp-font secomp-sub-slogan">Inscrições abertas!</div><br />#}

        {#            <p class="inscricao">#}
        {#                <a class="mdl-typography--font-bold mdl-typography--text-uppercase secomp-alt-link2" href="http://secomp.azurewebsites.net">#}
        {#                    Inscreva-se no evento&nbsp;#}
        {#                </a><br />#}
        {#                <a class="mdl-typography--font-bold mdl-typography--text-uppercase secomp-alt-link2" href="http://secomp.azurewebsites.net/Evento/MiniCurso">#}
        {#                    Inscreva-se em minicursos&nbsp;>#}
        {#                </a><br />#}
        {#                <a class="mdl-typography--font-bold mdl-typography--text-uppercase secomp-alt-link2" href="pacotes.html">#}
        {#                    Veja os pacotes disponíveis&nbsp;></a><br />#}
        {#                <a class="mdl-typography--font-bold mdl-typography--text-uppercase secomp-alt-link2" href="https://docs.google.com/forms/d/1DIh_T3BjaAnpTgKASHmV4OJOCODUS4TaNM-HdXN5W4o/viewform" target="_blank">#}
        {#                    Inscreva sua equipe no Desafio de Programadores&nbsp;>#}
        {#                </a><br />#}
        {#                <a class="mdl-typography--font-bold mdl-typography--text-uppercase secomp-alt-link2" href="https://docs.google.com/forms/d/1WGp7Bkm3CtR0OdFJHInPTpSRsxqKhi5noL7fP8ZnYlg/viewform" target="_blank">#}
        {#                    Inscreva seu projeto&nbsp;>#}
        {#                </a>#}
        {#            </p>#}
                </div>

                <div class="secomp-container-section">
                    <div class="secomp-section">
                        <div class="secomp-section-text">
                            <div class="mdl-typography--display-2 mdl-typography--font-thin">Desafio de Programadores</div>
                            <p class="mdl-typography--headline mdl-typography--font-thin">
                                A VI SECOMP contou com a segunda edição do Desafio de Programadores da UFSCar. E a equipe "Bob"
                                foi a grande vencedora do prêmio de R$1000,00, resolvendo todos os 10 problemas da prova.
                                Parabéns! :-)
                            </p>
                            <p>
                                <a class="mdl-typography--font-regular mdl-typography--text-uppercase secomp-alt-link" href="/2015/programacao/">
                                    Consulte a programação&nbsp;
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="secomp-container-section_game_night">
                    <div class="secomp-section">
                        <div class="secomp-section-text">
                            <div class="mdl-typography--display-2 mdl-typography--font-thin">
                                Game Night (organizada pelo CAEnc) + Movie Night
                            </div>
                            <p class="mdl-typography--headline mdl-typography--font-thin">
                                Counter Strike, League of Legends, Dota, Just Dance, Guitar Hero, jogos de Nintendo, open de café e muito mais na Game Night da VI SECOMP.
                            </p>
                            <p>
                                <a class="mdl-typography--font-regular mdl-typography--text-uppercase secomp-alt-link" href="/2015/programacao/">
                                    Consulte a programação&nbsp;<i class="material-icons">chevron_right</i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="secomp-container-section3">
                    <div class="secomp-section">
                        <div class="secomp-section-text">
                            <div class="mdl-typography--display-2 mdl-typography--font-thin">
                                Feira de Recrutamento e Processos Seletivos
                            </div>
                            <p class="mdl-typography--headline mdl-typography--font-thin">
                                Este ano contamos com estandes da Amdocs, Daitan Group e Ícaro Tech em nossa Feira de
                                Recrutamento, assim como palestras empresariais do UOL, Ícaro Tech, Daitan Group e Microsoft.
                                Ícaro Tech, UOL e Daitan Group ainda aplicaram processos seletivos no Departamento de
                                Computação.
                            </p>
                            <p>
                                <a class="mdl-typography--font-regular mdl-typography--text-uppercase secomp-alt-link" href="/2015/programacao/">
                                    Consulte a programação&nbsp;<i class="material-icons">chevron_right</i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="secomp-container-section2">
                    <div class="secomp-section">
                        <div class="secomp-section-text">
                            <div class="mdl-typography--display-2 mdl-typography--font-thin">Premiação do EDGames 2015</div>
                            <p class="mdl-typography--headline mdl-typography--font-thin">
                                No encerramento da VI SECOMP aconteceu a premiação dos projetos vencedores da competição EDGames
                                2015, promovida pelo professor Roberto Ferrari, do Departamento de Computação da UFSCar para os
                                alunos da disciplina de Estruturas de Dados.
                            </p>
                            <p>
                                <a class="mdl-typography--font-regular mdl-typography--text-uppercase secomp-alt-link" href="/2015/programacao/">
                                    Consulte a programação&nbsp;<i class="material-icons">chevron_right</i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="secomp-container-churrasco">
                    <div class="secomp-section">
                        <div class="secomp-section-text">
                            <div class="mdl-typography--display-2 mdl-typography--font-thin">Churrasco de Integração</div>
                            <p class="mdl-typography--headline mdl-typography--font-thin">
                                Palestrantes, minicursistas, organização, professores e alunos juntos num fantástico churrasco
                                de integração, que contou até com karaokê e Just Dance.
                            <p>
                                <a class="mdl-typography--font-regular mdl-typography--text-uppercase secomp-alt-link" href="/2015/programacao/">
                                    Consulte a programação&nbsp;<i class="material-icons">chevron_right</i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="secomp-container-section4">
                    <div class="secomp-section">
                        <div class="secomp-section-text">
                            <div class="mdl-typography--display-2 mdl-typography--font-thin">E é claro: palestras, minicursos,
                                workshops...
                            </div>
                            <p class="mdl-typography--headline mdl-typography--font-thin">
                                Uma programação repleta de muito conteúdo, contando com 9 palestras, 4 palestras empresariais, 4
                                workshops, 2 mesas-redondas, 9 minicursos e 3 processos seletivos.</p>
                            <p>
                                <a class="mdl-typography--font-regular mdl-typography--text-uppercase secomp-alt-link" href="/2015/programacao/">
                                    Consulte a programação&nbsp;
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="secomp-more-section">
                    <div class="secomp-section-title mdl-typography--display-1-color-contrast">Patrocinadores Master</div>
                    <div class="secomp-card-container mdl-grid">

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/intel.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Intel</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.intel.com.br" target="_blank">
                                    intel.com.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/amdocs.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Amdocs</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.amdocs.com" target="_blank">
                                    amdocs.com
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/microsoft.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Microsoft</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.microsoft.com.br" target="_blank">
                                    microsoft.com.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/uol.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">UOL</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase"
                                   href="http://www.uol.com.br/" target="_blank">
                                    uol.com.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        "Intel, the Intel logo are trademarks or registered trademarks of Intel Corporation or its subsidiaries
                        in the United States and other Countries.”
                    </div>
                </div>

                <div class="secomp-more-section">
                    <div class="secomp-section-title mdl-typography--display-1-color-contrast">Patrocinadores Senior</div>
                    <div class="secomp-card-container mdl-grid">

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/icaro_tech.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Ícaro Tech</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.icarotech.com/cala/pt/" target="_blank">
                                    icarotech.com
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/daitan.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Daitan Group</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.daitangroup.com" target="_blank">
                                    daitangroup.com
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/nicbr.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">NIC.BR</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://nic.br" target="_blank">
                                    nic.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="secomp-more-section">
                    <div class="secomp-section-title mdl-typography--display-1-color-contrast">Apoio</div>
                    <div class="secomp-card-container mdl-grid">
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/cati_jr.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">CATI Jr.</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/caenc.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">CAEnC</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/pyladies.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">PyLadies São Carlos</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/petbcc.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">PETBCC</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/novatec.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Editora Novatec</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/monitora.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Monitora</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/boolabs.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">BooLabs</h4>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/edufscar.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Editora UFSCar</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="secomp-more-section">
                    <div class="secomp-section-title mdl-typography--display-1-color-contrast">Realização</div>
                    <div class="secomp-card-container mdl-grid">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/dc.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Departamento de Computação</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.dc.ufscar.br">
                                    dc.ufscar.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/ufscar.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Universidade Federal de São Carlos</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.ufscar.br">
                                    ufscar.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/secomp.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Equipe SECOMP UFSCar</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://fb.com/secomp.ufscar">
                                    Facebook
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="secomp-footer mdl-mega-footer">
                    <div class="mdl-mega-footer--top-section">
                        <div class="mdl-mega-footer--right-section">
                            <a class="mdl-typography--font-light" href="#top">
                                Voltar ao topo
                                <i class="material-icons">expand_less</i>
                            </a>
                        </div>
                        <div class="mdl-mega-footer--middle-section">
                            <p class="mdl-typography--font-light">© 2015 SECOMP UFSCar<br/>
                                Departamento de Computação<br/>Universidade Federal de São Carlos<br/>Rodovia Washington Luís,
                                km 235 - São Carlos-SP, Brasil - CEP 13565-905</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
