{% load static from staticfiles %}
<!doctype html>
<!--
   Material Design Lite
   Copyright 2015 Google Inc. All rights reserved.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License
-->

<!--
   This file has been modified by Marcelo De Oliveira Da Silva, under
   the terms of the license atributed above.
-->

<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Conheça os patrocinadores e apoiadores da VI SECOMP UFSCar.">
        <meta name="viewport" content="width=1024">
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-pink.min.css">
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <title>SECOMP UFSCar - Patrocinadores</title>

        <!-- Page styles -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'secompufscar2015/css/styles.css' %}">
        <link rel="shortcut icon" href="{% static 'secompufscar2015/images/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'secompufscar2015/images/favicon.ico' %}" type="image/x-icon">
    </head>
    <body class="mdl-color--grey-100">
    <!--  EXTREMELY IMPORTANT TO INCLUDE: style="-webkit-overflow-scrolling: touch;"    -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="-webkit-overflow-scrolling: touch;">
            <div class="secomp-header mdl-layout__header mdl-layout__header--waterfall">
                <div class="mdl-layout__header-row">
                    <span class="secomp-title mdl-layout-title">
                        <a href="/2015/">
                            <img class="secomp-logo-image" src="{% static 'secompufscar2015/images/secomp-logo-mini.png' %}">
                        </a>
                    </span>

                    <!-- Add spacer, to align navigation to the right in desktop -->
                    <div class="secomp-header-spacer mdl-layout-spacer"></div>

                    <!-- Navigation -->
                    <div class="secomp-navigation-container">
                        <nav class="secomp-navigation mdl-navigation">
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/apresentacao/">Apresentação</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase"
                               href="/2015/programacao/">Programação</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase"
                               href="/2015/cronograma/">Cronograma</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Patrocinadores</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/equipe/">Equipe</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/2015/contato/">Contato</a>
                        </nav>
                    </div>

                    <span class="secomp-mobile-title mdl-layout-title">
                        <img class="secomp-logo-image-mobile" src="{% static 'secompufscar2015/images/secomp-logo-mini-mobile.png' %}">
                    </span>
                </div>
            </div>

            <div class="secomp-drawer mdl-layout__drawer">
               <span class="mdl-layout-title">
                   <img class="secomp-logo-image" src="{% static 'secompufscar2015/images/secomp-logo-mini.png' %}">
               </span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/2015/apresentacao/">Apresentação</a>
                    <a class="mdl-navigation__link" href="/2015/programacao/">Programação</a>
                    <a class="mdl-navigation__link" href="/2015/cronograma/">Cronograma</a>
                    <a class="mdl-navigation__link" href="/2015/patrocinadores/">Patrocinadores</a>
                    <a class="mdl-navigation__link" href="/2015/equipe/">Equipe</a>
                    <a class="mdl-navigation__link" href="/2015/contato/">Contato</a>
                </nav>
            </div>

            <div class="secomp-content mdl-layout__content">
                <a name="top"></a>
                <div class="secomp-container-patrocinadores">
                    <div class="secomp-section">
                        <div class="secomp-section-text">
                            <div class="mdl-typography--display-2 mdl-typography--font-thin">Patrocinadores</div>
                            <p class="mdl-typography--headline mdl-typography--font-thin">
                                A VI SECOMP agradece a todos os patrocinadores que colaboram imensamente para a realização deste
                                evento.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="secomp-more-section">
                    <style>
                        h4, h5, p {
                            margin-top: 0px;
                            margin-bottom: 14px;
                        }

                    </style>

                    <div class="secomp-section-title mdl-typography--display-1-color-contrast">Patrocinadores Master</div>

                    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                        <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--gray-100 mdl-color-text--white">
                            <img src="{% static 'secompufscar2015/images/patrocinadores/intel.png' %}" width="266px" height="190px">
                        </header>

                        <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                            <div class="mdl-card__supporting-text">
                                <h4>Intel</h4>
                                <p>
                                    <strong>A Intel Promove a Inovação em Todo o Mundo</strong>
                                </p>
                                <p>
                                    Talvez você nos conheça pelos nossos processadores. Mas nós fazemos muito mais. Por meio da
                                    inovação em computação, ampliamos os limites da computação inteligente e conectada para
                                    possibilitar experiências incríveis para todas as pessoas sobre a face da Terra. Desde os
                                    mais modernos dispositivos e a nuvem da qual você depende até conduzir a política,
                                    diversidade, sustentabilidade e educação, criamos valores para nossos acionistas, clientes e
                                    a sociedade.
                                </p>
                                <p>
                                    Saiba mais em <a href="http://www.intel.com.br" target="_blank">intel.com.br</a>.<br/><br/>
                                    "Intel, the Intel logo are trademarks or registered trademarks of Intel Corporation or its
                                    subsidiaries in the United States and other Countries.”
                                </p>
                            </div>
                        </div>
                    </section>

                    <p></p>
                    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                        <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--gray-100 mdl-color-text--white">
                            <img src="{% static 'secompufscar2015/images/patrocinadores/amdocs.png' %}" width="266px"
                                 height="180px">
                        </header>

                        <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                            <div class="mdl-card__supporting-text">
                                <h4>Amdocs</h4>
                                <p>
                                    A Amdocs é líder em Soluções de Software de Experiência do Cliente e serviços para os
                                    maiores provedores de serviços de comunicação, entretenimento e media do mundo. Nosso
                                    portfólio suporta o Novo Mundo de Experiência do Cliente™, onde uma vasta gama de serviços
                                    inovadores e personalizados é entregue continuamente ao consumidor final, independente de
                                    aparelho ou rede.
                                </p>
                                <p>
                                    Por mais de 30 anos, as soluções da Amdocs, que incluem BSS, OSS, controle de rede e
                                    otimização, combinadas aos nossos serviços profissionais e gerenciados, têm acelerado o
                                    valor de negócio para nossos clientes simplificando ambientes de operação complexa,
                                    reduzindo custos e acelerando o tempo de mercado para novos produtos e serviços.
                                </p>
                                <p>
                                    A Amdocs e nossos mais de 24.000 funcionários atendem clientes em mais de 90 países. Listada
                                    na NASDAQ, a Amdocs teve faturamento de USD 3,6 bilhões no ano fiscal 2014.
                                </p>
                                <p>
                                    <strong>Amdocs: Embrace Challenge, Experience Success.</strong>
                                </p>
                                <p>
                                    Para mais informações, visite a Amdocs em <a href="http://www.amdocs.com" target="_blank">www.amdocs.com</a>.
                                </p>
                            </div>
                        </div>
                    </section>

                    <p></p>
                    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                        <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--gray-100 mdl-color-text--white">
                            <img src="{% static 'secompufscar2015/images/patrocinadores/microsoft.png' %}" width="258px" height="180px">
                        </header>
                        <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                            <div class="mdl-card__supporting-text">
                                <h4>Microsoft</h4>
                                <p>
                                    A Microsoft é uma empresa de 90 mil pessoas que trabalham em mais de 100 países. À medida em
                                    que crescemos, nosso compromisso vai além de nossos próprios produtos e serviços, alcançando
                                    soluções junto a entidades sem fins lucrativos.
                                </p>
                                <p>
                                    Não somente investimos em tecnologia como também na ampliação do seu acesso. A Microsoft
                                    acredita que a capacitação dos jovens é fundamental para o desenvolvimento pessoal e para o
                                    futuro das economias ao redor do mundo. Nos últimos nove anos, a subsidiária brasileira
                                    investiu mais de R$ 151,3 milhões em projetos sociais, levando tecnologia a escolas,
                                    universidades, ONGs e comunidades carentes.
                                </p>
                                <p>
                                    Saiba mais em <a href="http://www.microsoft.com.br" target="_blank">microsoft.com.br</a>.
                                </p>
                            </div>
                        </div>
                    </section>

                    <p></p>
                    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                        <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--gray-100 mdl-color-text--white">
                            <img src="{% static 'secompufscar2015/images/patrocinadores/uol.png' %}" width="258px"
                                 height="180px">
                        </header>
                        <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                            <div class="mdl-card__supporting-text">
                                <h4>UOL</h4>
                                <p>
                                    <strong>O UOL é a maior empresa brasileira de conteúdo, produtos e serviços de internet,
                                        desde sua estreia em abril de 1996.</strong>
                                </p>
                                <p>
                                    O UOL conquistou essa posição devido à sua história de credibilidade e inovação. Segundo a
                                    Omniture, o UOL hoje possui mais de <strong>7,4 bilhões</strong> de páginas vistas todos os
                                    meses e sua home page recebe mais de <strong>50 milhões de visitantes únicos por
                                    mês</strong>.</p>
                                <p>
                                    Pioneiro na internet brasileira oferece um extenso conteúdo disponível em língua portuguesa,
                                    com mais de <strong>1.000 canais de jornalismo</strong> e atrai sete em cada dez internautas
                                    brasileiros.</p>
                                <p>
                                    Além do conteúdo jornalístico, o UOL possui a mais completa plataforma de produtos e
                                    serviços da internet brasileira <strong>para você</strong> e <strong>para seus
                                    negócios</strong>.</p>
                                </p>
                                <p>
                                    Saiba mais em <a href="http://www.uol.com.br" target="_blank">uol.com.br</a>.
                                </p>
                            </div>
                        </div>
                    </section>

                    <div class="secomp-more-section">
                        <div class="secomp-section-title mdl-typography--display-1-color-contrast">Patrocinadores Senior</div>
                        <div class="secomp-card-container mdl-grid">
                            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--3-col-phone mdl-card mdl-shadow--3dp">
                                <div class="mdl-card__media">
                                    <img src="{% static 'secompufscar2015/images/patrocinadores/icaro_tech.png' %}">
                                </div>
                                <div class="mdl-card__title">
                                    <h4 class="mdl-card__title-text">Ícaro Tech</h4>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                                </div>
                                <div class="mdl-card__actions">
                                    <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.icarotech.com" target="_blank">
                                        icarotech.com
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone mdl-card mdl-shadow--3dp">
                                <div class="mdl-card__media">
                                    <img src="{% static 'secompufscar2015/images/patrocinadores/daitan.png' %}">
                                </div>
                                <div class="mdl-card__title">
                                    <h4 class="mdl-card__title-text">Daitan Group</h4>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                                </div>
                                <div class="mdl-card__actions">
                                    <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.daitangroup.com" target="_blank">
                                        daitangroup.com
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone mdl-card mdl-shadow--3dp">
                                <div class="mdl-card__media">
                                    <img src="{% static 'secompufscar2015/images/patrocinadores/nicbr.png' %}">
                                </div>
                                <div class="mdl-card__title">
                                    <h4 class="mdl-card__title-text">NIC.BR</h4>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                                </div>
                                <div class="mdl-card__actions">
                                    <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://nic.br" target="_blank">
                                        nic.br
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="secomp-more-section">
                        <div class="secomp-section-title mdl-typography--display-1-color-contrast">Apoio</div>
                        <div class="secomp-card-container mdl-grid">
                            <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                                <div class="mdl-card__media">
                                    <img src="{% static 'secompufscar2015/images/patrocinadores/cati_jr.png' %}">
                                </div>
                                <div class="mdl-card__title">
                                    <h4 class="mdl-card__title-text">CATI Jr.</h4>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                                <div class="mdl-card__media">
                                    <img src="{% static 'secompufscar2015/images/patrocinadores/caenc.png' %}">
                                </div>
                                <div class="mdl-card__title">
                                    <h4 class="mdl-card__title-text">CAEnC</h4>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                                <div class="mdl-card__media">
                                    <img src="{% static 'secompufscar2015/images/patrocinadores/pyladies.png' %}">
                                </div>
                                <div class="mdl-card__title">
                                    <h4 class="mdl-card__title-text">PyLadies São Carlos</h4>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                                <div class="mdl-card__media">
                                    <img src="{% static 'secompufscar2015/images/patrocinadores/petbcc.png' %}">
                                </div>
                                <div class="mdl-card__title">
                                    <h4 class="mdl-card__title-text">PETBCC</h4>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                                <div class="mdl-card__media">
                                    <img src="{% static 'secompufscar2015/images/patrocinadores/novatec.png' %}">
                                </div>
                                <div class="mdl-card__title">
                                    <h4 class="mdl-card__title-text">Editora Novatec</h4>
                                </div>
                            </div>


                            <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                                <div class="mdl-card__media">
                                    <img src="{% static 'secompufscar2015/images/patrocinadores/monitora.png' %}">
                                </div>
                                <div class="mdl-card__title">
                                    <h4 class="mdl-card__title-text">Monitora</h4>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                                <div class="mdl-card__media">
                                    <img src="{% static 'secompufscar2015/images/patrocinadores/boolabs.png' %}">
                                </div>
                                <div class="mdl-card__title">
                                    <h4 class="mdl-card__title-text">BooLabs</h4>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                                <div class="mdl-card__media">
                                    <img src="{% static 'secompufscar2015/images/patrocinadores/edufscar.png' %}">
                                </div>
                                <div class="mdl-card__title">
                                    <h4 class="mdl-card__title-text">Editora UFSCar</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="secomp-more-section">
                    <div class="secomp-section-title mdl-typography--display-1-color-contrast">Realização</div>
                    <div class="secomp-card-container mdl-grid">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/dc.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Departamento de Computação</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.dc.ufscar.br">
                                    dc.ufscar.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/ufscar.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Universidade Federal de São Carlos</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://www.ufscar.br">
                                    ufscar.br
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <img src="{% static 'secompufscar2015/images/patrocinadores/secomp.png' %}">
                            </div>
                            <div class="mdl-card__title">
                                <h4 class="mdl-card__title-text">Equipe SECOMP UFSCar</h4>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <span class="mdl-typography--font-light mdl-typography--subhead"></span>
                            </div>
                            <div class="mdl-card__actions">
                                <a class="secomp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://fb.com/secomp.ufscar">
                                    Facebook
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="secomp-footer mdl-mega-footer">
                    <div class="mdl-mega-footer--top-section">
                        <div class="mdl-mega-footer--right-section">
                            <a class="mdl-typography--font-light" href="#top">
                                Voltar ao topo
                                <i class="material-icons">expand_less</i>
                            </a>
                        </div>
                        <div class="mdl-mega-footer--middle-section">
                            <p class="mdl-typography--font-light">© 2015 SECOMP UFSCar<br/>
                                Departamento de Computação<br/>Universidade Federal de São Carlos<br/>Rodovia Washington Luís,
                                km 235 - São Carlos-SP, Brasil - CEP 13565-905</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
