{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Equipe{% endblock %}

{% block meta_description %}Conheça os membros da equipe organizadora da IX SECOMP
    UFSCar.{% endblock meta_description %}

{% block body_content %}
    <!-- =========================
        EQUIPE
    ============================== -->
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column" id="easter">
                <h1 class="ui centered header titulo_pagina wow fadeInUpheading " data-wow-delay="0.3s">
                    Equipe
                </h1>
                {% for diretoria in diretorias %}
                    <div class="row">
                        {% if diretoria.membros %}
                            <h2 class="ui centered header wow titulo_diretoria
                                {% if forloop.counter0 == 0 %}menor_padding_top {% endif %}fadeInUp"
                                data-wow-delay="0.3s">
                                {{ diretoria.nome }}</h2>
                            </div>
                            <div class="row">
                            <div class="ui five column doubling centered grid membros_equipe">
                                {% for membro in diretoria.membros %}
                                    <div class="column">
                                        <div class="ui fluid card item wow fadeInUp" data-wow-delay="0.3s">
                                            <div class="image">
                                                {% if membro.foto %}
                                                    <img src="{% static 'secompufscar2018/images/loading_squared.gif' %}"
                                                         class="imagem_tons_de_cinza"
                                                         data-src="{{ membro.foto.url }}"
                                                         alt="Foto do membro de equipe {{ membro.participante.user.first_name }}
                                                        {{ membro.participante.user.last_name }}">
                                                {% else %}
                                                    <img src="{% static 'secompufscar2018/images/usuario_anonimo.jpg' %}"
                                                         alt="Membro de equipe sem foto">
                                                {% endif %}
                                                {% if membro.cargo and membro.email_secomp %}
                                                    <a class="ui mini bottom left attached black label"
                                                       data-title="{{ membro.participante.usuario.first_name }}
                                                    {{ membro.participante.usuario.last_name }} -
                                                    {{ membro.cargo.nome }}"
                                                       data-content="{{ membro.email_secomp }}"
                                                       data-variation="tiny inverted flowing">
                                                        {{ membro.cargo.nome }}&nbsp; <i
                                                            class="mail icon"></i></a>
                                                {% endif %}
                                            </div>

                                            <div class="content">
                                                <div class="header">{{ membro.participante.usuario.first_name }}<br>
                                                    {{ membro.participante.usuario.last_name }}</div>
                                                <div class="meta">
                                                    {{ membro.participante.curso.nome }},<br>
                                                    {{ membro.participante.ano_ingresso }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        </div>
                {% endfor %}
            </div>
            <button class="ui black basic button" onclick="start()" id="play-video">【=◈︿◈=】</button>
        </div>
    </div>
    <h1 class="ui centered header titulo_pagina wow fadeInUpheading" data-target-resolver data-wow-delay="0.3s">
        </h1>
    <iframe id="video" width="1" height="1" src="//www.youtube.com/embed/tL_TFXbSnLY?rel=0" frameborder="0"></iframe>
    <!-- Load Babel -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <!-- Your custom script here -->
    <script type="text/babel">
        const resolver = {
            resolve: function resolve(options, callback) {
                // The string to resolve
                const resolveString = options.resolveString || options.element.getAttribute('data-target-resolver');
                const combinedOptions = Object.assign({}, options, {resolveString: resolveString});

                function getRandomInteger(min, max) {
                    return Math.floor(Math.random() * (max - min + 1)) + min;
                };

                function randomCharacter(characters) {
                    return characters[getRandomInteger(0, characters.length - 1)];
                };

                function doRandomiserEffect(options, callback) {
                    const characters = options.characters;
                    const timeout = options.timeout;
                    const element = options.element;
                    const partialString = options.partialString;

                    let iterations = options.iterations;

                    setTimeout(() => {
                        if (iterations >= 0) {
                            const nextOptions = Object.assign({}, options, {iterations: iterations - 1});

                            // Ensures partialString without the random character as the final state.
                            if (iterations === 0) {
                                element.textContent = partialString;
                            } else {
                                // Replaces the last character of partialString with a random character
                                element.textContent = partialString.substring(0, partialString.length - 1) + randomCharacter(characters);
                            }

                            doRandomiserEffect(nextOptions, callback)
                        } else if (typeof callback === "function") {
                            callback();
                        }
                    }, options.timeout);
                };

                function doResolverEffect(options, callback) {
                    const resolveString = options.resolveString;
                    const characters = options.characters;
                    const offset = options.offset;
                    const partialString = resolveString.substring(0, offset);
                    const combinedOptions = Object.assign({}, options, {partialString: partialString});

                    doRandomiserEffect(combinedOptions, () => {
                        const nextOptions = Object.assign({}, options, {offset: offset + 1});

                        if (offset <= resolveString.length) {
                            doResolverEffect(nextOptions, callback);
                        } else if (typeof callback === "function") {
                            callback();
                        }
                    });
                };

                doResolverEffect(combinedOptions, callback);
            }
        }

        /* Some GLaDOS quotes from Portal 2 chapter 9: The Part Where He Kills You
         * Source: http://theportalwiki.com/wiki/GLaDOS_voice_lines#Chapter_9:_The_Part_Where_He_Kills_You
         */
        const strings = [
            'Oh thank god, you\'re alright.',
            'You know, being {{ easter }} taught me a valuable lesson. I thought you were my greatest enemy. When all along you were my best friend.',
            'The surge of emotion that shot through me when I saved your life taught me an even more valuable lesson: where {{ easter }} lives in my brain.',
            'Goodbye, {{ easter }}.',
            'You know, deleting {{ easter }} just now taught me a valuable lesson. The best solution to a problem is usually the easiest one. And I\'ll be honest.',
            'Killing you? Is hard.',
            'You know what my days used to be like? I just tested. Nobody murdered me. Or put me in a potato. Or fed me to birds. I had a pretty good life.',
            'And then you showed up. You dangerous, mute lunatic. So you know what?',
            'You win.',
            'Just go.',
            'It\'s been fun. Don\'t come back.',
            '......'
        ];

        let counter = 0;

        const options = {
            // Initial position
            offset: 0,
            // Timeout between each random character
            timeout: 1,
            // Number of random characters to show
            iterations: 10,
            // Random characters to pick from
            characters: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'x', 'y', 'x', '#', '%', '&', '-', '+', '_', '?', '/', '\\', '='],
            // String to resolve
            resolveString: strings[counter],
            // The element
            element: document.querySelector('[data-target-resolver]')
        }

        // Callback function when resolve completes
        function callback() {
            setTimeout(() => {
                counter ++;

                if (counter >= strings.length) {
                    counter = 0;
                }

                let nextOptions = Object.assign({}, options, {resolveString: strings[counter]});
                resolver.resolve(nextOptions, callback);
            }, 6000);
        }

        function start(){
            resolver.resolve(options, callback);
            $(".row").hide(1000);
            $("#secao_realizacao").hide(1000);
            $(".button").hide(1000);
            $(".vertical").hide(1000);
            $(".stripe").hide(1000);
        }
    </script>

    <script type="text/javascript">
        $('.label').popup({
            on: 'hover', hoverable: 'false', addTouchEvents: 'true', position: 'top left'
        });

        $('.membros_equipe .image img').visibility({
            type: 'image'
        });
        $(document).ready(function() {
            $('#play-video').on('click', function(ev) {

                $("#video")[0].src += "&autoplay=1";
                ev.preventDefault();

            });
        });
    </script>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}
