{% extends 'secompufscar2018/helpers/base.html' %}

{% load staticfiles %}

{% block title %}SECOMP UFSCar - FAQ{% endblock %}

{% block meta_description %}Tire suas dúvidas em nosso FAQ ou entre em contato conosco.{% endblock meta_description %}

{% block body_content %}
    <script src='https://www.google.com/recaptcha/api.js?hl=pt-BR'></script>
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered stackable grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    FAQ
                </h1>
            </div>
            {% if perguntas_frequentes %}
                <div class="ui nine wide computer sixteen wide tablet sixteen wide mobile column">
                    <div class="ui accordion wow fadeInUp" id="accordion_perguntas_frequentes" data-wow-delay="0.3s">
                        {% for pergunta_frequente in perguntas_frequentes %}
                            <div class="{% if forloop.counter == 1 %}active {% endif %}title">
                                <i class="dropdown icon"></i>
                                {{ pergunta_frequente.pergunta|safe }}
                            </div>
                            <div class="{% if forloop.counter == 1 %}active {% endif %}content">
                                {{ pergunta_frequente.resposta|safe }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ui one wide computer tablet only column"></div>
            {% endif %}

            <div class="ui six wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp"
                 data-wow-delay="0.3s">
                <h2 class="ui centered menor_padding_top header" id="entre_em_contato_header">
                    Tem alguma dúvida sobre o evento? Entre em contato com a organização
                </h2>
                <form class="ui form" novalidate>
                    {% csrf_token %}
                    <div class="field">
                        <label for="id_nome">Seu nome:</label>
                        {{ form.nome }}
                    </div>
                    <div class="field">
                        <label for="id_email">Seu e-mail:</label>
                        {{ form.email }}
                    </div>
                    <div class="field">
                        <label for="id_mensagem">Mensagem:</label>
                        {{ form.mensagem }}
                    </div>
                    <div class="field">
                        <div class="g-recaptcha" data-sitekey="6LerM0gUAAAAAAc52ET2parkXXBNm1YvHYOHZ2KP"
                             data-callback="captcha_filled"
                             data-expired-callback="captcha_expired"></div>
                    </div>
                    <div class="ui black button" id="botao_enviar_email">
                        <i class="send icon"></i>
                        Enviar mensagem
                    </div>
                    <div class="ui icon success message">
                        <i class="send icon"></i>
                        <i class="close icon"></i>
                        <div class="content">
                            <div class="header">Sua mensagem foi enviada com sucesso!</div>
                            <p>Entraremos em contato em breve :-)</p>
                        </div>
                    </div>
                    <div class="ui icon error message">
                        <i class="frown icon"></i>
                        <i class="close icon"></i>
                        <div class="content">
                            <div class="header">Houve um erro no envio de sua mensagem!</div>
                            <p>Desculpe-nos pelo transtorno.</p>
                            <p>Por favor, entre em contato conosco pelo e-mail <a
                                    href="mailto:ti@secompufscar.com.br">
                                ti@secompufscar.com.br</a> e informe também que obteve erro ao enviar a mensagem
                                pelo site.
                            </p>
                        </div>
                    </div>
                    <div class="ui icon warning message" id="captcha_warning">
                        <i class="close icon"></i>
                        <div class="content">
                            <div class="header">Preencha o captcha!</div>
                            <p> Confio que você não é um robô! Mas o nosso servidor infelizmente não. :/
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'secompufscar2018/js/formulario_faq.js' %}"></script>
    {% include 'secompufscar2018/helpers/patrocinadores.html' %}
{% endblock body_content %}