{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Patrocínio{% endblock %}

{% block meta_description %}Conheça os patrocinadores da IX SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}
    <!--<div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered stackable grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Seja um patrocinador
                </h1>
                <div class="ui segment big inverted wow fadeInUp sixteen">
                    <div style="text-align: center;"><b>Entre e contato com a organização enviando um email para: <a href="mailto:contato@secompufscar.com.br"><i class="big mail inverted square grey icon"></i>contato@secompufscar.com.br</b><br></div>
                </div>

            </div>
        </div>
    </div>-->
    {% include 'secompufscar2018/helpers/patrocinadores.html' %}
{% endblock body_content %}