{% extends 'secompufscar2018/helpers/base.html' %}

{% load staticfiles %}

{% block title %}SECOMP UFSCar - Processo Seletivo{% endblock %}

{% block meta_description %}Venha fazer parte do processo seletivo.{% endblock meta_description %}

{% block body_content %}
    <script src='https://www.google.com/recaptcha/api.js?hl=pt-BR'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered stackable grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Faça parte da equipe!
                </h1>
            </div>
            <div class="ui nine wide computer sixteen wide tablet sixteen wide mobile column">
                <div>
                    <h2 class="ui centered menor_padding_top header wow fadeInUp" data-wow-delay="0.3s">Sobre as diretorias</h2>
                    <div class="ui accordion wow fadeInUp" data-wow-delay="0.3s">
                        <div class="title active">
                            <i class="dropdown icon"></i>
                            <b>Design & Marketing (DM)</b>
                        </div>
                        <div class="content active">
                            <p class="transition">A diretoria de Design & Marketing tem a função de
                                fazer a manutenção e divulgação da imagem da SECOMP pelas redes sociais
                                (Facebook, Twitter e Instagram), além de ser responsável pela criação de
                                materiais gráficos para a mesma, estes sendo banners, panfletos, toda a arte
                                do kit, entre outros. Para que isso seja realizado, são usadas ferramentas
                                de edição como Photoshop e Corel.</p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            <b>Sociocultural</b>
                        </div>
                        <div class="content">
                            <p class="transition">A diretoria Sociocultural da SECOMP tem o objetivo de promover
                                o espírito de solidariedade entre os participantes da Semana com instituições
                                da cidade, além de promover eventos culturais e de integração, como a SECOMP
                                XP e o Churrasco de Integração da SECOMP.</p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            <b>Tecnologia da Informação (TI)</b>
                        </div>

                        <div class="content">
                            <p class="transition">A diretoria de TI é responsável por criar e
                                gerenciar todos os sistemas e aplicações que dão suporte ao funcionamento
                                da SECOMP, como o sistema de cadastro no evento, aplicativo de controle
                                de presença, site e o aplicativo Android.</p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            <b>Jurídico-Financeira</b>
                        </div>

                        <div class="content">
                            <p class="transition">A diretoria Jurídico-Financeira da SECOMP é responsável
                                por todo o planejamento financeiro, pelo controle do fluxo de caixa
                                e pela organização dos documentos, contratos e orçamentos relacionados à SECOMP.</p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            <b>Patrocínio</b>
                        </div>

                        <div class="content">
                            <p class="transition">A diretoria de Patrocínio é encarregada de fazer a arrecadação de verba
                                proveniente das empresas parceiras da SECOMP, e a manutenção de contato com
                                elas. A diretoria elabora estratégias para que a parceria traga o máximo de
                                benefícios possíveis, entre a SECOMP e as empresas que apoiam o projeto, desde
                                empreendimentos locais até grandes multinacionais.</p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            <b>Conteúdo</b>
                        </div>

                        <div class="content">
                            <p class="transition">A diretoria de Conteúdo tem como objetivo organizar o cronograma da SECOMP
                                e trazer as mais diversas áreas da Computação para o evento em forma de palestras,
                                minicursos, workshops, mesas redondas, entre outros. Durante o ano, os membros da
                                diretoria contatam empresas, professores, pesquisadores e ex-alunos de computação,
                                para que a Semana tenha a maior qualidade possível para os participantes.</p>
                        </div>
                        <div class="ui divider"></div>
                        <a href="{% static 'secompufscar2018/pdfs/editalv2.pdf' %}" class="ui green button">Acesse o novo edital aqui</a>
                    </div>
                </div>
            </div>
            <div class="ui one wide computer tablet only column"></div>
            <div class="ui six wide computer sixteen wide tablet sixteen wide mobile column">
                <h2 class="ui centered menor_padding_top header wow fadeInUp" data-wow-delay="0.3s">Inscreva-se</h2>
                <form class="ui form wow fadeInUp" data-wow-delay="0.3s" method="POST" id="post-form" action="{%url 'secompufscar2018:cadastra_processo_seletivo'%}">
                    {% csrf_token %}
                    <div class="ui sixteen wide required field">
                        <label>Nome completo:</label>
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            {{ form.nome }}
                        </div>
                    </div>
                    <div class="ui sixteen wide required field">
                        <label>Telefone:</label>
                        <div class="ui left icon input">
                            <i class="call icon"></i>
                            {{ form.tel }}
                        </div>
                    </div>
                    <div class="ui sixteen wide required field">
                        <label>Email:</label>
                        <div class="ui left icon input">
                            <i class="envelope icon"></i>
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="ui sixteen wide required field">
                        <label>Primeira opção de diretoria:</label>
                        {{ form.primeira_opcao }}
                    </div>
                    <div class="ui sixteen wide required field">
                        <label>Segunda opção de diretoria:</label>
                        {{ form.segunda_opcao }}
                    </div>
                    <div class="ui sixteen wide required field">
                        <label>Curso:</label>
                        {{ form.curso }}
                    </div>
                    <div class="field">
                        <div class="g-recaptcha" data-sitekey="6LerM0gUAAAAAAc52ET2parkXXBNm1YvHYOHZ2KP" data-callback="captcha_filled"
                             data-expired-callback="captcha_expired"></div>
                    </div>
                    <button class="ui submit button" type="submit" id="botao_enviar"><i class="send icon"></i>Inscrever!</button>
                </form>
                <div class="ui icon success message" id="sucesso">
                    <i class="send icon"></i>
                    <i class="close icon"></i>
                    <div class="content">
                        <div class="header">Sua inscrição foi enviada com sucesso!</div>
                        <p>Entraremos em contato em breve :-)</p>
                        <p><a class="ui positive button" href="{% url 'secompufscar2018:index' %}">Voltar</a></p>
                    </div>
                </div>
                <div class="ui icon error message" id="erro">
                    <i class="frown icon"></i>
                    <i class="close icon"></i>
                    <div class="content">
                        <div class="header">Houve um erro no envio de seu contato!</div>
                        <div id="msgs"></div>
                        <p>Se você acha que não deveria estar vedo isso por favor, entre em contato conosco pelo e-mail <a
                                href="mailto:ti@secompufscar.com.br">
                            ti@secompufscar.com.br</a> e informe o ocorrido
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'secompufscar2018/js/formulario_ps.js' %}"></script>

{% endblock body_content %}
