{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Processo Seletivo{% endblock %}

{% block meta_description %}Sucesso :-){% endblock meta_description %}

{% block body_content %}
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Inscrições para o processo seletivo encerradas!
                </h1>
            </div>
            <div class="twelve wide computer sixteen wide mobile centered column">
                <div class="row">
                    <div class="ui icon positive message wow fadeInUp" data-wow-delay="0.3s">
                        <i class="smile icon"></i>
                        <div class="content">
                            <div class="header">
                                Caso você tenha se inscrito, fique ligado no seu email para mais informações!
                            </div>
                            <p>Qualquer dúvida nos contate pelo e-mail <a
                                    href="mailto:contato@secompufscar.com.br">contato@secompufscar.com.br</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}
