{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Capture The Flag{% endblock %}

{% block meta_description %}II Capture The Flag da SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}

    <div class="ui inverted vertical stripe segment" id="capture_the_flag_main_container">
        <div class="ui grid" id="capture_the_flag_texto_main_container">
            <div class="ui middle aligned centered grid container">
                <div class="sixteen wide mobile computer fifteen wide tablet column">
                    <h1 class="ui inverted centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s"
                        id="capture_the_flag_titulo_principal">
                        Capture The Flag</h1>
                    <h2 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.4s"
                        id="header_patrocinado_por">
                        patrocinado por
                    </h2>
                    <div class="row">
                        <div class="ui centered middle aligned grid">
                            <div class="ui six wide computer six wide tablet eight wide mobile column">
                                <img class="ui fluid image wow fadeInUp" data-wow-delay="0.5s"
                                     src="{% static 'secompufscar2017/images/ctf/hackers_to_hackers_conference.png' %}"
                                     alt="Logotipo da H2HC">
                            </div>

                            <div class="ui four wide computer four wide tablet six wide mobile column">
                                <img class="ui fluid image wow fadeInUp" data-wow-delay="0.5s"
                                     src="{% static 'secompufscar2017/images/ctf/logo_ctf.png' %}"
                                     alt="Logotipo da CTF-BR">
                            </div>
                        </div>
                    </div>

                    <h3 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.6s" id="ctf_texto_principal">
                        A SECOMP UFSCar conta com uma competição chamada Capture The Flag (CTF), constituída de desafios
                        que envolvem engenharia reversa, criptografia, computação forense, networking, web hacking e outros
                        temas presentes na área de segurança.</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted vertical stripe segment" id="desafio_de_programadores_detalhes">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h2 class="ui inverted centered header titulo_secao wow fadeInUp" data-wow-delay="0.3s">
                    Monte sua equipe e inscreva-se!</h2>
                <div class="ui sixteen wide column">
                    <div class="ui four column stackable center aligned grid" id="detalhes_desafio_grid">
                        <div class="column wow fadeInUp" data-wow-delay="0.3s">
                            <h3 class="ui center aligned icon inverted header">
                                <i class="calendar icon"></i>
                                QUANDO?</h3>
                            <p><b>Início: a ser divulgado</b></p>
                            <p><b>Fim: a ser divulgado</b></p>
                        </div>

                        <div class="column wow fadeInUp" data-wow-delay="0.5s">
                            <h3 class="ui center aligned icon inverted header">
                                <i class="users icon"></i>
                                EQUIPES</h3>
                            <p><b>Até 4 participantes limitados à formação com mestrado incompleto</b></p>
                        </div>

                        <div class="column wow fadeInUp" data-wow-delay="0.7s">
                            <h3 class="ui center aligned icon inverted header">
                                <i class="edit icon"></i>
                                INSCRIÇÕES</h3>
                            <p><b>Será feita através de plataforma própria disponível no GitHub. Todos
                                    os participantes deverão ter conta no site.</b></p>

                        </div>
                        <div class="column wow fadeInUp" data-wow-delay="0.7s">
                            <h3 class="ui center aligned icon inverted header">
                                <i class="trophy icon"></i>
                                PREMIAÇÃO</h3>
                            <p><b>4 ingressos para o evento <a
                                    href="https://www.h2hc.com.br" target="_blank">H2HC</a></b></p>
                        </div>
                    </div>

                    <div class="ui sixteen wide column">
                        <div class="row">
                            <hr class="wow fadeInUp" data-wow-delay="0.9s">
                            <h3 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.9s">
                                DESCRIÇÃO:
                            </h3>
                            <h4 class="ui inverted centered header wow fadeInUp" data-wow-delay="1.1s"></h4>
                            <h4 class="ui inverted centered header wow fadeInUp" data-wow-delay="1.1s">
                                A competição ocorrerá do dia 11 de setembro de 2018 às 23h59 até dia 13 de setembro
                                de 2018 às 23h59 e terá como formato o Jeopardy-style. Durante a competição as equipes
                                deverão resolver os desafios propostos com a finalidade de obter pontos e também uma
                                melhor classificação. Além dos desafios, haverá flags espalhados durante o evento que
                                também poderão ser utilizados para se obter os pontos.</h4>
                            <h4 class="ui inverted centered header wow fadeInUp" data-wow-delay="1.1s">
                                Haverá um aquecimento presencial aberto ao público em geral no dia 11 de setembro, que
                            contará com um coffee break opcional pelo valor de R$ 10,00 (e R$ 8,00 para aqueles que
                            compraram o kit da IX SECOMP UFSCar).</h4>

                            <h4 class="ui inverted centered header wow fadeInUp" data-wow-delay="1.1s"
                                id="descricao_capture_the_flag">
                                Saiba mais em nosso edital abaixo!
                            </h4>
                        </div>

                        <div class="row wow fadeInUp" data-wow-delay="1.2s">
                            <div class="ui centered grid">
                                <div class="ui sixteen wide center aligned column">
                                    <div class="ui inverted blue button" id="botao_modal_edital">
                                        Acesse o edital
                                        <i class="right chevron icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui large modal" id="modal_detalhes_atividade">
                            <i class="close icon"></i>
                            <div class="header">
                                Edital do CTF da SECOMP UFSCar
                            </div>
                            <div class="scrooling content">
                                <h3>1. SOBRE O CTF</h3>
                                <p>
                                    Na área da computação, CTF (Capture the Flag) são competições que envolvem a
                                    resolução
                                    de desafios relacionados a segurança da informação, tendo como principal objetivo a
                                    captura da bandeira (um código) para a obtenção de pontos.
                                </p>

                                <p>
                                    Existem dois tipos de CTFs, a Jeopardy-style que são apresentadas diversas questões
                                    e desafios de diferentes categorias, níveis de dificuldade e pontuações, e os
                                    Attack/Defense, no qual as equipes obtém uma VM com diversos serviços e o seu
                                    objetivo é capturar as bandeiras dos adversários e proteger as do seu time.
                                </p>

                                <h3>2. SOBRE A COMPETIÇÃO</h3>
                                <p>
                                    A competição ocorrerá do dia 11 de setembro de 2018 às 23h59 até dia 13 de setembro
                                    de 2018 às 23h59 e terá como formato o Jeopardy-style. Durante a competição as
                                    equipes deverão resolver os desafios propostos com a finalidade de obter pontos e
                                    também uma melhor classificação. Além dos desafios, haverá flags espalhados durante
                                    o evento que também poderão ser utilizados para se obter os pontos.
                                </p>

                                <h3>2.1 Equipes</h3>

                                <p>
                                    Os participantes poderão competir em equipes formadas por até 4 pessoas com formação
                                    acadêmica inferior ao nível de mestrado completo, sendo que cada competidor pode
                                    participar apenas de uma única equipe durante toda a competição.

                                </p>

                                <h3>2.2 Inscrições</h3>

                                <p>
                                    As inscrições para o evento serão realizadas através de plataforma própria disponível
                                    no GitHub. Todos os participantes deverão ter conta no site.

                                </p>

                                <h3>2.3 Premiação</h3>

                                <ul>
                                    <li>
                                        A premiação para a equipe com maior pontuação será  4 entradas para o evento H2HC.

                                    </li>
                                </ul>

                                <h3>2.4 Regras</h3>

                                <p>
                                    É expressamente proibido, acarretando a desclassificação da equipe, os seguintes items:
                                </p>

                                <ul>
                                    <li>
                                        Compartilhamento de flags.
                                    </li>
                                    <li>
                                        Ataques à infraestrutura.
                                    </li>
                                    <li>
                                        Divulgar write-ups/resoluções antes do término da competição.
                                    </li>
                                </ul>

                                <h3>3. DISPOSIÇÕES LEGAIS</h3>

                                <p>
                                    Os participantes inscritos na competição concordam com este edital em sua integridade.
                                </p>

                                <p>
                                    Quaisquer descumprimentos em relação ao estabelecido neste edital acarretará nas devidas
                                    providências legais, que serão tomadas pela AASECOMP UFSCar. As equipes inscritas permitem
                                    o uso e divulgação de suas imagens, para eventuais registros na semana, e programas
                                    submetidos pela AASECOMP UFSCar.

                                </p>

                                <p><i>São Carlos, 20 de  junho de 2018.</i></p>

                            </div>
                            <div class="actions">
                                <div class="ui blue ok button">
                                    <i class="close icon"></i>
                                    Fechar edital
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(window).on('load', function () {
            $('#capture_the_flag_main_container').backstretch(
                "{% static 'secompufscar2017/images/ctf/ctf_background.jpg' %}", {
                    fade: 700
                });
        });


        var modal_edital = $('.ui.large.modal');
        modal_edital.modal();
        modal_edital.modal('attach events', '#botao_modal_edital');
    </script>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}
{% endblock body_content %}