{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Ministrantes{% endblock %}

{% block meta_description %}Conheça os ministrantes da IX SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}
    <div class="hidden" id="foto_default">{% static 'secompufscar2018/images/default/perfil.jpg' %}</div>
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered stackable grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Ministrantes
                </h1>

                <br/>
                <br/>

                <div class="ui five column doubling grid container">
                    {% for ministrante in ministrantes %}
                    <div class="column sem_espacamento">
                        <div class="ui medium image">
                            <div class="ui dimmer" id="{{ ministrante.id }}_{{ ministrante.tipo }}" onclick="open_modal(this.id)">
                                <div class="content">
                                    <h2 class="ui inverted header"><a class="detalhes_ministrante">
                                        {{ ministrante.nome }}
                                    </a></h2>
                                </div>
                            </div>
                            <img src="{% if ministrante.foto == '' %}
                                            {% static 'secompufscar2018/images/default/perfil.jpg' %}
                                      {% endif %}
                                      {% if ministrante.foto != '' %}
                                            /media/{{ ministrante.foto }}

                                      {% endif %}" class="ui image">
                        </div>
                    </div>
                    {% endfor %}

                    <div class="ui large modal" id="modal_detalhes_ministrante">
                        <i class="close icon"></i>
                        <div class="header">
                            <span id="nome_ministrante"></span>
                            <a href="" target="_blank" id="face_ministrantes"><i class="facebook fitted square icon"></i></a>
                            <a href="" target="_blank" id="twitter_ministrantes"><i class="twitter fitted square icon" ></i></a>
                            <a href="" target="_blank" id="linkedin_ministrantes"><i class="linkedin fitted square icon" ></i></a>
                            <a href="" target="_blank" id="github_ministrantes"><i class="github fitted square icon" ></i></a>
                        </div>
                        <div class="ui sixteen wide one column stackable center aligned page grid" id="gif">
                                <div class="column">
                                    <img src="{% static 'secompufscar2018/images/loading_squared.gif' %}" class="ui image centered">
                                </div>
                        </div>
                        <div class="image content" style="display: flex;align-items: flex-start;">
                            <img src="" class="ui rounded medium image" id="foto" style="min-height:220px;min-width:220px">
                            <div class="description" id="description">
                                <div class="ui twelve wide column">
                                    <h2><spam class="profissao_ministrante" id="profissao"></spam></h2>
                                    <div class="field justificado">
                                        <label class="header" id="bio"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="ui blue ok button">
                                <i class="close icon"></i>
                                Fechar descrição
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="ui hidden divider"></div>
    </div>

    <script>
        $('.ui.dimmer')
            .dimmer({
                on: 'hover'
            });
    </script>
    <script src="{% static 'secompufscar2018/js/ministrantes.js' %}"></script>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}
{% endblock body_content %}
