<div id="part_two">

     <div class="ui stackable grid">

         <div class="row centered wow fadeInUp" data-wow-delay="0.3s">
            <h2 class="ui menor_padding_top header">
                Lecture informations
            </h2>
         </div>

         <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
             <div class="sixteen wide column">
                 <div class="required field">
                     <label>Title</label>
                     <div class="ui left icon input">
                         <i class="idea icon"></i>
                         {{ form.palestra_titulo }}
                    </div>
                 </div>
             </div>
         </div>

         <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
              <div class="eight wide column">
                  <div class="required field">
                      <label>Description</label>
                      {{ form.palestra_descricao }}
                  </div>
              </div>
              <div class="stackable eight wide column">
                  <div class="required field">
                      <label>Necessary resources</label>
                      {{ form.recursos }}
                  </div>
              </div>
         </div>

         <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
             <div class="sixteen wide column">
                 <div class="field">
                     <label>Obs</label>
                     {{ form.obs_palestra }}
                 </div>
             </div>
         </div>

         <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
             <div class="sixteen wide column">
                <div class="ui left floated button" onclick="anterior2()">
                     <i class="left arrow icon"></i>
                     Previous
                 </div>


                 <div class="ui right floated button" onclick="proximo2()">
                     <i class="right arrow icon"></i>
                     Next
                 </div>
             </div>
         </div>
     </div>

</div>