<div id="part_three">
     <div class="ui stackable grid">

         <div class="row centered wow fadeInUp" data-wow-delay="0.3s">
            <h2 class="ui menor_padding_top header">
                Informations of accommodation and transport
            </h2>
         </div>

         <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
             <div class="sixteen wide column">
                 <div class="required field">
                     <label>What city are you coming from?</label>
                     <div class="ui left icon input">
                         <i class="plane icon"></i>
                         {{ form.cidade }}
                    </div>
                 </div>
             </div>
         </div>

         <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
             <div class="four wide column">
                 <div class="required field">
                     <label>Arrival date</label>
                     {{ form.data_chegada }}
                 </div>
             </div>
             <div class="four wide column">
                 <div class="required field">
                     <label>Departure date</label>
                     {{ form.data_saida }}
                 </div>
             </div>
         </div>

         <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
             <div class="sixteen wide column">
                 <div class="grouped fields">
                     <label>Will SECOMP UFSCar be in charge of your travel expenses? Car fuel or bus ticket, etc.</label>
                     <div class="field">
                         <div class="ui radio checkbox">
                             {{ form.locomocao }}
                             <label>Yes</label>
                         </div>
                     </div>
                 </div>
             </div>
         </div>

         <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
             <div class="eight wide column" id="locomocao_tipo_modo">
                 <div class="field">
                     <label>If so, how?</label>
                     {{ form.locomocao_tipo }}
                 </div>
             </div>
         </div>

         <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
             <div class="sixteen wide column">
                 <div class="grouped fields">
                     <label>Will SECOMP UFSCar be in charge of your hotel stay expenses?</label>
                     <div class="field">
                         <div class="ui radio checkbox">
                             {{ form.acomodacao }}
                             <label>Yes</label>
                         </div>
                     </div>
                 </div>
             </div>
         </div>

         <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
             <div class="sixteen wide column" id="vaga_garagem">
                 <div class="grouped fields">
                     <label>Will you need parking lot?</label>
                     <div class="field">
                         <div class="ui radio checkbox">
                             {{ form.vaga_acomodacao }}
                             <label>Yes</label>
                         </div>
                     </div>
                 </div>
             </div>
         </div>

         <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
             <div class="sixteen wide column">
                 <div class="field">
                     <label>Obs</label>
                     {{ form.obs }}
                 </div>
             </div>
         </div>

         <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
             <div class="sixteen wide column">
                <div class="field">
                    <div class="g-recaptcha" data-sitekey="6LerM0gUAAAAAAc52ET2parkXXBNm1YvHYOHZ2KP"
                         data-callback="captcha_filled"
                         data-expired-callback="captcha_expired"></div>
                </div>
             </div>
         </div>

         <div class="stackable row wow fadeInUp" data-wow-delay="0.3s">
             <div class="sixteen wide column">
                <div class="ui left floated button" onclick="anterior3()">
                     <i class="left arrow icon"></i>
                     Previous
                 </div>


                 <button class="ui right floated button" type="submit" id="botao_enviar" onclick="isValid()">
                     <i class="send icon"></i>
                     Send
                 </button>
             </div>
         </div>

     </div>
</div>