{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    <meta name="keywords"
          content="secomp, semana, computação, computacao, ufscar, universidade, federal, secompufscar, computing, week, acadêmica, academica, academic, dc, departamento">
    <meta name="author" content="Marcelo de Oliveira da Silva">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="theme-color" content="#62b550">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <!-- CSS do Semantic-UI -->
    <link rel="stylesheet" type="text/css" href="{% static 'secompufscar2016/semantic/dist/semantic.min.css' %}">

    <!-- WOW Animations -->
    <link rel="stylesheet" href="{% static 'secompufscar2016/css/animate.css' %}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'secompufscar2016/css/style2.css' %}">

    <!-- =========================
     SCRIPTS
    ============================== -->
    <script src="{% static 'secompufscar2016/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'secompufscar2016/js/jquery.parallax.js' %}"></script>
    <script src="{% static 'secompufscar2016/js/wow.min.js' %}"></script>
    <script src="{% static 'secompufscar2016/js/custom.js' %}"></script>
    <script src="{% static 'secompufscar2016/semantic/dist/semantic.min.js' %}"></script>

    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ google_analytics_key }}', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Google Rich Snippets -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Event",
            "name": "VII SECOMP UFSCar",
            "description": "Vem aí a 7ª edição da Semana da Computação da UFSCar. Palestras, minicursos, workshops, Desafio de Programadores, Game Night, Enterprise Day e muito mais!",
            "startDate" : "2016-09-26T08:30",
            "endDate": "2016-09-30T18:00",
            "image": "https://secompufscar.com.br/static/secompufscar2016/images/logos/secomp_logo.png",
            "url" : "https://secompufscar.com.br",
            "sameAs" : "http://www.facebook.com/secompufscar",
            "location" : {
                "@type" : "Place",
                "sameAs" : "http://www.ufscar.br",
                "name" : "UFSCar São Carlos",
                "address" : {
    	            "streetAddress": "Rodovia Washington Luís, Km 235 - Bairro Jardim Guanabara - São Carlos/SP",
                    "addressLocality": "São Carlos/SP"
                }
            }
        }
    </script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57"
          href="{% static 'secompufscar2016/images/favicons/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60"
          href="{% static 'secompufscar2016/images/favicons/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72"
          href="{% static 'secompufscar2016/images/favicons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76"
          href="{% static 'secompufscar2016/images/favicons/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114"
          href="{% static 'secompufscar2016/images/favicons/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120"
          href="{% static 'secompufscar2016/images/favicons/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144"
          href="{% static 'secompufscar2016/images/favicons/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152"
          href="{% static 'secompufscar2016/images/favicons/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'secompufscar2016/images/favicons/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" href="{% static 'secompufscar2016/images/favicons/favicon-32x32.png' %}"
          sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'secompufscar2016/images/favicons/android-chrome-192x192.png' %}"
          sizes="192x192">
    <link rel="icon" type="image/png" href="{% static 'secompufscar2016/images/favicons/favicon-96x96.png' %}"
          sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'secompufscar2016/images/favicons/favicon-16x16.png' %}"
          sizes="16x16">
    <link rel="manifest" href="{% static 'secompufscar2016/images/favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'secompufscar2016/images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
</head>

<body data-spy="scroll" data-offset="50">
{% include 'secompufscar2016/helpers/sidebar.html' %}

<div class="pusher">
    {% include 'secompufscar2016/helpers/preloader.html' %}

    {% include 'secompufscar2016/helpers/menu.html' %}

    {% block headerspace %}{% endblock headerspace %}

    {% block body_content %}{% endblock body_content %}

    {% include 'secompufscar2016/helpers/realizacao.html' %}

    {% include 'secompufscar2016/helpers/footer.html' %}

    {% include 'secompufscar2016/helpers/backtotop.html' %}

</div>
</body>
</html>