{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8"/>
    <title>Contato SECOMP UFSCar</title>
</head>
<body>
    <h1>Contato via site</h1>
    <p><b>Mensagem de:</b><br>{{ user_name }}</p>
    <p><b>E-mail:</b><br>{{ user_email }}<br></p>
    <p><b>Texto da mensagem:</b><br>{{ user_message }}</p>
</body>
</html>
