{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8"/>
    <title>Contato SECOMP UFSCar</title>
    <link rel="stylesheet" type="text/css" href="http://django.secompufscar.com.br/static/secompufscar2016/semantic/dist/semantic.css">

</head>
<body>
<style>
    #background {
        background: #f9f9f9;
    }
</style>
<div class="ui centered grid container">

    <div class="row">
        <div class="ui eight wide computer ten wide tablet sixteen wide mobile column">
<div class="ui raised text container segment">
    <div id="background">
        <img class="ui centered medium image"
             src="http://django.secompufscar.com.br/static/secompufscar2016/images/logos/secomp_logo.png">
        <h1 class="ui centered aligned header">Recebemos a sua mensagem!</h1>
        <div class="ui center aligned grid">
            <div class="fifteen wide column">
                <div class="ui segment">
                    <p>
                    Sua mensagem foi enviada com sucesso.
                        </p><p>Entraremos em contato em breve :-)</p>
                </div>
            </div>
        </div>
        <div class="ui center aligned basic segment">
            <div class="ui horizontal divider">
                Redes sociais
            </div>
            <div class="ui buttons">
                <a class="ui facebook button" href="https://www.facebook.com/secompufscar">
                    <i class="facebook icon"></i>
                    Facebook
                </a>
                <div class="or"></div>
                <a class="ui twitter button" href="https://twitter.com/secompufscar">
                    <i class="twitter icon"></i>
                    Twitter
                </a>
            </div>
        </div>
    </div>
</div>
    </div>
    </div>
    </div>
</body>
</html>
