{% load staticfiles %}

<!-- Footer -->
<div class="ui black inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="sixteen wide centered column">

            <div class="row">
                <p></p>
                <p id="rodapebranco">&copy; 2016 SECOMP UFSCar<br></p>
                <p id="rodapecinza">
                    <b>Desenvolvido por Marcelo de Oliveira da Silva <a href="mailto:marcelo@secompufscar.com.br"><br>marcelo@secompufscar.com.br</a></b><br>----<br>
                    Universidade Federal de São Carlos<br>
                    Departamento de Computação<br>
                    Rodovia Washington Luís, Km 235 - Bairro Jardim Guanabara - São Carlos/SP - CEP 13565-905</p>
                <p>
                    <a href="https://facebook.com/secompufscar" target="_blank">
                        <button class="tiny ui facebook button"><i class="facebook icon"></i>Facebook</button>
                    </a>
                    <a href="https://twitter.com/secompufscar" target="_blank">
                        <button class="tiny ui twitter button"><i class="twitter icon"></i>&nbsp;&nbsp;Twitter
                            &nbsp;</button>
                    </a>
                    <a href="https://www.youtube.com/channel/UChj1pycWmHOJDeJkDf6RraA" target="_blank">
                        <button class="tiny ui youtube button"><i class="youtube icon"></i>&nbsp;YouTube&nbsp;</button>
                    </a>
                </p>
                <p></p>
            </div>
        </div>
    </div>
</div>