{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Mensagem Enviada{% endblock %}

{% block meta_description %}Mensagem enviada com sucesso! Entraremos em contato em breve.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}
    <!-- Mensagem enviada pelo formulário de contato -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Contato</h1>
                </div>
            </div>
            <div class="row">
                <div class="six wide computer fifteen wide tablet fifteen wide mobile column">
                    <div class="ui icon positive message wow fadeInUp" data-wow-delay="0.3s">
                        <i class="send icon"></i>
                        <div class="content">
                            <div class="header">Sua mensagem foi enviada com sucesso!</div>
                            <p>Entraremos em contato em breve :-)</p>
                        </div>
                    </div>
                    <p><br></p>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}