{% load staticfiles %}

<!-- Menu  -->
<div class="ui grid fixed">
    <div class="computer only row">
        <div class="ui fixed inverted medium menu" id="menuprincipal">
            <a class="item" href="/2016/"> {# id="menuprincipal_home #}
                <img class="ui small image" src="{% static 'secompufscar2016/images/logos/secomp_logo_branco.png' %}">
            </a>

            <div class="fixed right menu">
                <div class="ui dropdown item">
                    A SECOMP <i class="ui dropdown icon"></i>
                    <div class="ui inverted vertical menu">
                        <a class="item" href="/2016/asecomp/apresentacao/"><i class="ui smile icon"></i>Apresentação</a>
                        <a class="item" href="/2016/asecomp/sociocultural/"><i class="ui heart icon"></i>Sociocultural</a>
                        <a class="item" href="/2015/"><i class="ui star icon"></i>Site da edição 2015</a>
                    </div>
                </div>

                <style>
                .ui.vertical.menu .item > i.icon {
                    float: left;
                    margin: 0em 0.5em 0em 0.5em;
                }
            </style>

                <div class="ui large dropdown item">
                    PROGRAMAÇÃO <i class="ui dropdown icon"></i>
                    <div class="ui inverted vertical menu">
                        <a class="item" href="/2016/programacao/cronograma/"><i class="ui time icon"></i>Cronograma</a>
                        <a class="item" href="/2016/programacao/palestras/"><i class="ui microphone icon"></i>Palestras</a>
                        <a class="item" href="/2016/programacao/minicursos/"><i class="ui terminal icon"></i>Minicursos</a>
                        <a class="item" href="/2016/programacao/workshops/"><i class="ui at icon"></i>Workshops</a>
                        <a class="item" href="/2016/programacao/mesasredondas"><i class="ui comments icon"></i>Mesas-redondas</a>
                        <a class="item" href="/2016/programacao/processosseletivos/"><i class="ui briefcase icon"></i>Processos Seletivos</a>
                        <a class="item" href="/2016/programacao/enterpriseday/"><i class="ui globe icon"></i>Enterprise Day</a>
                        <a class="item" href="/2016/programacao/desafiodeprogramadores/"><i class="ui trophy icon"></i>Desafio de Programadores</a>
                        <a class="item" href="/2016/programacao/gamenight/"><i class="ui gamepad icon"></i>Game Night</a>
                        <a class="item" href="/2016/programacao/churrascodeintegracao/"><i class="ui food icon"></i>Churrasco de Integração</a>
                    </div>
                </div>
                <a class="item" href="/2016/pacotes/">
                    PACOTES
                </a>
                <a class="item" href="/2016/patrocinio/">
                    PATROCÍNIO
                </a>
                <a class="item" href="/2016/equipe/">
                    EQUIPE
                </a>
                <a class="item" href="/2016/contato/">
                    CONTATO + FAQ
                </a>
                <a class="item" href="/2016/areadoparticipante/">
                    ÁREA DO PARTICIPANTE
                </a>
                <a class="item" href="{% url 'secompufscar2017:index' %}">
                    <div class="ui blue button">SITE 2017</div>
                </a>
                <a class="toc item">
                    <i class="large sidebar icon"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="mobile tablet only row">
        <div class="ui fixed inverted medium menu" id="menuprincipal">
            <a class="item" href="/2016/" id="menuprincipal_home">
                SECOMP UFSCar
            </a>
            <div class="right menu">
                <a class="toc item">
                    <i class="large sidebar icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.ui.dropdown')
            .dropdown({
                on: 'hover'
            })
    ;
    $('.ui.sidebar')
            .sidebar('setting', 'transition', 'overlay')
            .sidebar('setting', 'mobileTransition', 'overlay')
            .sidebar('attach events', '.toc.item')
    ;
</script>