{% load staticfiles %}

<!-- Patrocinadores -->
<div class="ui vertical stripe segment" id="fundocinza">
    <div class="ui centered grid container">
        <div class="sixteen wide column">
            <div class="row">
                {% if pagina == 'Patrocínio' %}
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">
                        PATROCÍNIO
                    </h1>
                {% else %}
                    <p></p>
                    <h2 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">
                        PATROCÍNIO
                    </h2>
                {% endif %}
            </div>
        </div>
        {% if patrocinadores_diamante|length != 0 %}
            <div class="middle aligned row">
                {% for patrocinador in patrocinadores_diamante %}
                    <div class="twelve wide mobile five wide tablet four wide computer column">
                        <div class="wow fadeInUp" data-wow-delay="{{ patrocinador.tempo_animacao_patrocinador }}">
                            {% if patrocinador.website_patrocinador != '' %}
                                <a href="{{ patrocinador.website_patrocinador }}" target="_blank">
                            {% endif %}
                            <img class="ui huge image"
                                 src="{% static "secompufscar2016/images/patrocinadores/"|add:patrocinador.logo_patrocinador %}"
                                 class="img-responsive"
                                 alt="Logotipo {{ patrocinador.nome_patrocinador }}">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if patrocinadores_ouro|length != 0 or patrocinadores_prata|length != 0 %}
            <div class="top aligned row">
                {% for patrocinador in patrocinadores_ouro %}
                    <div class="eight wide mobile four wide tablet three wide computer column">
                        <div class="wow fadeInUp" data-wow-delay="{{ patrocinador.tempo_animacao_patrocinador }}">
                            {% if patrocinador.website_patrocinador != '' %}
                                <a href="{{ patrocinador.website_patrocinador }}" target="_blank">
                            {% endif %}
                            <img class="ui huge image"
                                 src="{% static "secompufscar2016/images/patrocinadores/"|add:patrocinador.logo_patrocinador %}"
                                 class="img-responsive"
                                 alt="Logotipo {{ patrocinador.nome_patrocinador }}">
                            </a>
                        </div>
                    </div>
                {% endfor %}

                {% for patrocinador in patrocinadores_prata %}
                    <div class="eight wide mobile four wide tablet three wide computer column">
                        <div class="wow fadeInUp" data-wow-delay="{{ patrocinador.tempo_animacao_patrocinador }}">
                            {% if patrocinador.website_patrocinador != '' %}
                                <a href="{{ patrocinador.website_patrocinador }}" target="_blank">
                            {% endif %}
                            <img class="ui huge image"
                                 src="{% static "secompufscar2016/images/patrocinadores/"|add:patrocinador.logo_patrocinador %}"
                                 class="img-responsive"
                                 alt="Logotipo {{ patrocinador.nome_patrocinador }}">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <style>
            #apoio_titulo {
                padding-bottom: 0px;
            }

            #apoio_logos {
                padding-top: 10px;
            }
        </style>

        {% if apoiadores|length != 0 %}
            <div class="middle aligned row" id="apoio_titulo">
                <h2 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">
                    APOIO
                </h2>
            </div>
            <div class="middle aligned row" id="apoio_logos">
                {% for patrocinador in apoiadores %}
                    <div class="five wide mobile three wide tablet two wide computer column">
                        <div class="wow fadeInUp" data-wow-delay="{{ patrocinador.tempo_animacao_patrocinador }}">
                            {% if patrocinador.website_patrocinador != '' %}
                                <a href="{{ patrocinador.website_patrocinador }}" target="_blank">
                            {% endif %}
                            <img class="ui huge image"
                                 src="{% static "secompufscar2016/images/patrocinadores/"|add:patrocinador.logo_patrocinador %}"
                                 class="img-responsive"
                                 alt="Logotipo {{ patrocinador.nome_patrocinador }}">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {# Ativar para a Intel #}
        <div class="row">
            <div class="ui sixteen wide center aligned column">
                <div class="wow fadeInUp" data-wow-delay="2s" style="font-size: 12px">Intel and the Intel logo
                    are trademarks of Intel Corporation in the U.S. and/or other countries.
                </div>
            </div>
        </div>
    </div>
</div>


