{% load staticfiles %}

<!-- Sidebar Menu -->
<div class="ui vertical inverted right sidebar menu" style="background-color: rgba(0, 0, 0, 0.7);">
    <a class="item" href="/2016/" id="menuprincipal_home">
        <img src="{% static 'secompufscar2016/images/logos/secomp_logo_branco.png' %}" class="small fluid image">
    </a>
    <a class="item" href="/2016/asecomp/">
        A SECOMP
    </a>
    <a class="ui item" href="/2016/programacao/">
        PROGRAMAÇÃO
    </a>
    <a class="ui item" href="/2016/pacotes/">
        PACOTES
    </a>
    <a class="item" href="/2016/patrocinio/">
        PATROCÍNIO
    </a>
    <a class="item" href="/2016/equipe/">
        EQUIPE
    </a>
    <a class="item" href="/2016/contato/">
        CONTATO + FAQ
    </a>
    <a class="item" href="/2016/areadoparticipante/">
        ÁREA DO PARTICIPANTE
    </a>
    <a class="item" href="{% url 'secompufscar2017:index' %}">
        <div class="ui blue button">VOLTAR PARA O SITE 2017</div>
    </a>
</div>