<table class="ui celled striped unstackable table">
    <thead>
    <tr>
        <th class="ten wide">Pacote</th>
        <th class="center aligned two wide">FREE</th>
        <th class="center aligned two wide">STUDY</th>
        <th class="center aligned two wide">FULL</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Kit do evento com camiseta e brindes</td>
        <td class="center aligned"></td>
        <td class="center aligned"></td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
    </tr>
    <tr>
        <td>Desafio de Programadores</td>
        <td class="center aligned"></td>
        <td class="center aligned"></td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
    </tr>
    <tr>
        <td>Desconto no Churrasco de Integração</td>
        <td class="center aligned"></td>
        <td class="center aligned"></i>
        </td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
    </tr>
    <tr>
        <td>Minicurso</td>
        <td class="center aligned"></td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
    </tr>
    <tr>
        <td>Coffee-breaks</td>
        <td class="center aligned"></td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
    </tr>
    <tr>
        <td>Palestras</td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
    </tr>
    <tr>
        <td>Workshops</td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
    </tr>
    <tr>
        <td>Processos Seletivos</td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
    </tr>
    <tr>
        <td>Enterprise Day</td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
    </tr>
    <tr>
        <td>Game Night</td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
        <td class="center aligned"><i class="large green checkmark icon"></i>
        </td>
    </tr>
    {% if pagina == 'Pacotes' %}
    <tr>
        <td><b>Valores</b></td>
        <td class="positive center aligned"><h2>R$ 0,00</h2>
        </td>
        <td class="positive center aligned"><h2>R$ 20,00</h2>
        </td>
        <td class="positive center aligned"><h2>R$ 30,00</h2>
        </td>
    </tr>
    {% else %}
    <tr>
        <td><b>Valores</b></td>
        <td class="positive center aligned"><b>R$ 0,00</b>
        </td>
        <td class="positive center aligned"><b>R$ 20,00</b>
        </td>
        <td class="positive center aligned"><b>R$ 30,00</b>
        </td>
    </tr>
    {% endif %}
    </tbody>
</table>