<div class="ui large modal" id="id_modal_editar_cadastro">
    <i class="close icon"></i>
    <div class="icon header">
        <i class="write icon"></i>
        Editar Cadastro
    </div>
    <div class="content">
        <div class="description">
            <form class="ui warning form" id="id_formulario_editar_cadastro">
                {% csrf_token %}
                <div class="ui grid">
                    <div class="ui sixteen wide column">
                        <div class="ui warning message">
                            <div class="header">Atenção para os campos nome e sobrenome!</div>
                            <p>Os dados aqui informados serão os utilizados para emissão de seu
                                certificado.</p>
                        </div>
                    </div>
                    <div class="two column stackable row">
                        <div class="column">
                            <div class="field required">
                                <label for="id_nome">{{ form_editar_cadastro.nome.label }}</label>
                                {{ form_editar_cadastro.nome }}
                            </div>
                        </div>
                        <div class="column">
                            <div class="field required">
                                <label for="id_sobrenome">{{ form_editar_cadastro.sobrenome.label }}</label>
                                {{ form_editar_cadastro.sobrenome }}
                            </div>
                        </div>
                    </div>
                    <div class="ui sixteen wide column">
                        <div class="ui icon success message" id="id_editar_cadastro_mensagem_sucesso">
                            <i class="check icon"></i>
                            <div class="content">
                                <div class="header">
                                    Sucesso!
                                </div>
                                <span id="id_editar_cadastro_conteudo_mensagem_sucesso"></span>
                            </div>
                        </div>
                        <div class="ui icon error message" id="id_editar_cadastro_mensagem_erro">
                            <i class="remove icon"></i>
                            <div class="content">
                                <div class="header">
                                    Erro :-(
                                </div>
                                <span id="id_editar_cadastro_conteudo_mensagem_erro"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="actions">
        <button class="ui primary button" id="id_botao_salvar_cadastro">
            <i class="save icon"></i>
            Salvar alterações
        </button>
    </div>
</div>


<script type="text/javascript">

    var formularioEditarCadastro = $('#id_formulario_editar_cadastro');

    formularioEditarCadastro.form({
        fields: {
            nome: {
                identifier: 'id_nome',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Digite seu nome.'
                    }
                ]
            },
            sobrenome: {
                identifier: 'id_sobrenome',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Digite seu sobrenome.'
                    }
                ]
            }
        },
        inline: true,
        on: 'blur'
    });

    $('#id_botao_editar_cadastro').on('click', function () {
        formularioEditarCadastro.removeClass('error').removeClass('success');
        var first_name = $('#id_span_nome').text().trim();
        var last_name = $('#id_span_sobrenome').text().trim();
        $('#{{ form_editar_cadastro.nome.auto_id }}').val(first_name);
        $('#{{ form_editar_cadastro.sobrenome.auto_id }}').val(last_name);
        $('#id_mensagem').hide();
        $('#id_modal_editar_cadastro').modal('refresh').modal('show');
        $('#id_botao_salvar_cadastro').removeClass('disabled');
    });

    var botaoSalvarCadastro = $('#id_botao_salvar_cadastro');
    var nome = $('#id_span_nome');
    var sobrenome = $('#id_span_sobrenome');

    botaoSalvarCadastro.on('click', function() {
        if (formularioEditarCadastro.form('is valid')) {
            formularioEditarCadastro.removeClass('success').removeClass('error');
            editarCadastro();
        }
    });

    function editarCadastro () {
        botaoSalvarCadastro.addClass('loading');
        var first_name =  $('#{{ form_editar_cadastro.nome.auto_id }}').val();
        var last_name =  $('#{{ form_editar_cadastro.sobrenome.auto_id }}').val();

        $.post("{% url 'secompufscar2017:editar_cadastro' %}", formularioEditarCadastro.serialize())
            .done(function () {
                botaoSalvarCadastro.removeClass('loading');
                formularioEditarCadastro.removeClass('error').addClass('success');
                nome.text(first_name);
                sobrenome.text(last_name);
                $('#id_editar_cadastro_conteudo_mensagem_sucesso').text("Alterações efetuadas com sucesso!");
                $('#id_modal_editar_cadastro').modal('refresh');
            }).fail(function(data) {
                botaoSalvarCadastro.removeClass('loading');
                formularioEditarCadastro.removeClass('success').addClass('error');
                $('#id_editar_cadastro_conteudo_mensagem_erro').text(
                    data.mensagem ? data.mensagem : "Os campos Nome e Sobrenome devem ser preenchidos!");
                 $('#id_modal_editar_cadastro').modal('refresh');
            }
        );
    }

</script>