<div class="ui large modal" id="id_modal_inscricao_equipe">
    <i class="close icon"></i>
    <div class="icon header">
        <i class="write icon"></i>
        Inscrever Equipe
    </div>
    <div class="content">
        <div class="description">
            <form class="ui warning form"
                  id="id_formulario_inscrever_equipe" method="post">
                {% csrf_token %}
                <div class="ui grid">
                    <div class="row">
                        <div class="column">
                            <div class="field required">
                                <label for="id_nomeEquipe">{{ form_inscricao_equipe_desafio.nomeEquipe.label }}</label>
                                {{ form_inscricao_equipe_desafio.nomeEquipe }}
                            </div>
                        </div>
                    </div>
                    <div class="ui sixteen wide column">
                        <div class="ui warning message">
                            <div class="header">Atenção</div>
                            <p>Utilize o email cadastrado em nosso sistema para realizar as inscrições</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="field">
                                <label for="id_nome">Integrante 1</label>
                                <p>{{ request.user }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="field">
                                <label for="id_nome">{{ form_inscricao_equipe_desafio.participante1.label }}</label>
                                {{ form_inscricao_equipe_desafio.participante1 }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="field">
                                <label for="id_nome">{{ form_inscricao_equipe_desafio.participante2.label }}</label>
                                {{ form_inscricao_equipe_desafio.participante2 }}
                            </div>
                        </div>
                    </div>
                    <div class="ui sixteen wide column">
                        <div class="ui icon success message" id="id_inscrever_equipe_mensagem_sucesso">
                            <i class="check icon"></i>
                            <div class="content">
                                <div class="header">
                                    Sucesso!
                                </div>
                                <span id="id_inscrever_equipe_conteudo_mensagem_sucesso"></span>
                            </div>
                        </div>
                        <div class="ui icon error message" id="id_inscrever_equipe_mensagem_erro">
                            <i class="remove icon"></i>
                            <div class="content">
                                <div class="header">
                                    Erro :-(
                                </div>
                                <span id="id_inscrever_equipe_conteudo_mensagem_erro"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="actions">
        <button class="ui primary button" id="id_botao_inscrever_equipe">
            <i class="save icon"></i>
            Inscrever Equipe
        </button>
    </div>
</div>


<script type="text/javascript">

    var formularioInscreverEquipe = $('#id_formulario_inscrever_equipe');
    var botao_inscrever_equipe = $('#id_botao_inscrever_equipe');
    formularioInscreverEquipe.removeClass('error').removeClass('success');


    formularioInscreverEquipe.form({
        fields: {
            nomeEquipe: {
                identifier: 'id_nomeEquipe',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'É necessário informar o nome da equipe.'
                    }
                ]
            }
        },
        inline: true,
        on: 'blur'
    }).on('submit', function (e) {
        e.preventDefault();
        formularioInscreverEquipe.removeClass('error').removeClass('success');
        return false
    });

    function isFormularioValido(formulario) {
        return formulario.form('is valid', ['nomeEquipe', 'participante1', 'participante2']);
    }

    botao_inscrever_equipe.on('click', function () {
        if (isFormularioValido(formularioInscreverEquipe)) {
            formularioInscreverEquipe.removeClass('error').removeClass('success');
            botao_inscrever_equipe.addClass('loading');

            $.post("{% url 'secompufscar2017:inscrever_equipe_desafio' %}", formularioInscreverEquipe.serialize())
                .done(function (data) {
                    botao_inscrever_equipe.removeClass('loading');
                    formularioInscreverEquipe.removeClass('error');
                    formularioInscreverEquipe.addClass('success');
                    $('#id_inscrever_equipe_conteudo_mensagem_sucesso').text(JSON.parse(data.responseText).mensagem);

                }).fail(function (data) {
                botao_inscrever_equipe.removeClass('loading');
                formularioInscreverEquipe.removeClass('success');
                formularioInscreverEquipe.addClass('error');
                $('#id_inscrever_equipe_conteudo_mensagem_erro').text(JSON.parse(data.responseText).mensagem);
            });
        }
    });

</script>