{% load staticfiles %}

<footer class="ui black inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="sixteen wide centered column">
            <div class="row">
                <p id="rodape_texto_branco">IX SECOMP - SEMANA DA COMPUTAÇÃO DA UFSCAR<br></p>
                <p id="rodape_texto_cinza">
                    <b>Desenvolvido por Marcelo de Oliveira da Silva<br>
                        <a href="mailto:marcelo@secompufscar.com.br">marcelo@secompufscar.com.br</a><br>
                        Com contribuições de Felipe Quécole, Felipe Sampaio de Souza e Gabriel Olivato</b>
                    <br><b>Atualmente mantido por Karina Mayumi, Nathan Oliveira e Lucas Reis</b>
                    <br>----<br>
                    Universidade Federal de São Carlos<br>
                    Departamento de Computação<br>
                    Rodovia Washington Luís, Km 235 - Bairro Jardim Guanabara - São Carlos/SP - CEP 13565-905</p>
                <p>
                    <a href="https://facebook.com/secompufscar" target="_blank">
                        <i class="big facebook square grey inverted icon"></i>
                    </a>

                    <a href="https://twitter.com/secompufscar" target="_blank">
                        <i class="big twitter square grey inverted icon"></i>
                    </a>

                    <a href="https://www.youtube.com/channel/UChj1pycWmHOJDeJkDf6RraA" target="_blank">
                        <i class="big youtube square grey inverted icon"></i>
                    </a>

                    <a href="https://instagram.com/secompufscar" target="_blank">
                        <i class="big instagram grey inverted icon"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
