{% if 'Cronograma' in menus_ativos %}
    <a class="{% if request.path == url_cronograma %}active {% endif %}item"
       href="{% url 'secompufscar2018:cronograma' %}">
        <i class="ui time icon"></i>Cronograma</a>
{% endif %}
{% if 'Ministrantes' in menus_ativos %}
    <a class="{% if request.path == url_ministrantes %}active {% endif %}item"
       href="{% url 'secompufscar2018:ministrantes' %}">
        <i class="ui user icon"></i>Ministrantes</a>
{% endif %}
{% if 'Palestras' in menus_ativos %}
    <a class="{% if request.path == url_palestras %}active {% endif %}item"
       href="{% url 'secompufscar2018:palestras' %}">
        <i class="ui microphone icon"></i>Palestras</a>
{% endif %}
{% if 'Palestras Empresariais' in menus_ativos %}
    <a class="{% if request.path == url_palestras_empresariais %}active {% endif %}item"
       href="{% url 'secompufscar2018:palestras_empresariais' %}">
        <i class="ui announcement icon"></i>Palestras Empresariais</a>
{% endif %}
{% if 'Minicursos' in menus_ativos %}
    <a class="{% if request.path == url_minicursos %}active {% endif %}item"
       href="{% url 'secompufscar2018:minicursos' %}">
        <i class="ui terminal icon"></i>Minicursos</a>
{% endif %}
{% if 'Workshops' in menus_ativos %}
    <a class="{% if request.path == url_workshops %}active {% endif %}item"
       href="{% url 'secompufscar2018:workshops' %}">
        <i class="ui at icon"></i>Workshops</a>
{% endif %}
{% if 'Mesas-Redondas' in menus_ativos %}
    <a class="{% if request.path == url_mesas_redondas %}active {% endif %}item"
       href="{% url 'secompufscar2018:mesasredondas' %}">
        <i class="ui comments icon"></i>Mesas-redondas</a>
{% endif %}
{% if 'Processos Seletivos' in menus_ativos %}
    <a class="{% if request.path == url_processos_seletivos %}active {% endif %}item"
       href="{% url 'secompufscar2018:processosseletivos' %}">
        <i class="ui briefcase icon"></i>Processos Seletivos</a>
{% endif %}
{% if 'Enterprise Day' in menus_ativos %}
    <a class="{% if request.path == url_enterprise_day %}active {% endif %}item"
       href="{% url 'secompufscar2018:enterpriseday' %}">
        <i class="ui globe icon"></i>Enterprise Day</a>
{% endif %}
{% if 'Feira de Projetos' in menus_ativos %}
    <a class="{% if request.path == url_feira_de_projetos %}active {% endif %}item"
       href="{% url 'secompufscar2018:feiradeprojetos' %}">
        <i class="ui student icon"></i>Feira de Projetos</a>
{% endif %}
{% if 'Futebol de Robôs' in menus_ativos %}
    <a class="{% if request.path == url_futebol_de_robos %}active {% endif %}item"
       href="{% url 'secompufscar2018:futebol_de_robos' %}">
        <i class="ui soccer icon"></i>Futebol de Robôs</a>
{% endif %}
{% if 'Capture The Flag' in menus_ativos %}
    <a class="{% if request.path == url_ctf %}active {% endif %}item"
       href="{% url 'secompufscar2018:ctf' %}">
        <i class="ui flag icon"></i>Capture The Flag</a>
{% endif %}
{% if 'Game Night' in menus_ativos %}
    <a class="{% if request.path == url_game_night %}active {% endif %}item"
       href="{% url 'secompufscar2018:gamenight' %}">
        <i class="ui gamepad icon"></i>Game Night</a>
{% endif %}
{% if 'Churrasco de Integração' in menus_ativos %}
    <a class="{% if request.path == url_churrasco_de_integracao %}active {% endif %}item"
       href="{% url 'secompufscar2018:churrascodeintegracao' %}">
        <i class="ui food icon"></i>Churrasco de Integração</a>
{% endif %}
