{% if 'Equipe' in menus_ativos %}
    <a class="{% if request.path == url_equipe %}active {% endif %}item"
       href="{% url 'secompufscar2018:equipe' %}">
        <i class="ui users icon"></i>Equipe Atual</a>
{% endif %}
<a class="{% if request.path == url_processo_seletivo %}active {% endif %}item"
   href="{% url 'secompufscar2018:processo-seletivo' %}">
    <i class="ui user plus icon"></i>Faça parte!</a>
