{% if 'Apresentação' in menus_ativos %}
    <a class="{% if request.path == url_apresentacao %}active {% endif %}item"
       href="{% url 'secompufscar2018:apresentacao' %}">
        <i class="ui smile icon"></i>Apresentação</a>
{% endif %}
{% if 'História' in menus_ativos %}
    <a class="{% if request.path == url_historia %}active {% endif %}item"
       href="{% url 'secompufscar2018:historia' %}">
        <i class="ui line chart icon"></i>História</a>
{% endif %}
{% if 'Sociocultural' in menus_ativos %}
    <a class="{% if request.path == url_sociocultural %}active {% endif %}item"
       href="{% url 'secompufscar2018:sociocultural' %}">
        <i class="ui heart icon"></i>Sociocultural</a>
{% endif %}
{% if 'Site atual' in menus_ativos %}
  <a class="{% if request.path == url_equipe %}active {% endif %}item"
      href="{% url 'secompufscar2019:index' %}"><i class="arrow alternate circle right icon"></i>Site atual</a>
{% endif %}
