{% load staticfiles %}

<div class="ui vertical inverted right sidebar menu" id="sidebar">
    <a class="item" href="#">
        <img class="ui small image" src="{% static 'secompufscar2018/images/logos/secomp_logo_branco.png' %}">
    </a>
    {% if 'A SECOMP' in menus_ativos %}
        <a class="{% if request.path == url_a_secomp %}active {% endif %}item"
           href="{% url 'secompufscar2018:asecomp' %}">A SECOMP</a>
    {% endif %}
    {% if 'Programação' in menus_ativos %}
        <a class="{% if request.path == url_programacao %}active {% endif %}item"
           href="{% url 'secompufscar2018:programacao' %}">PROGRAMAÇÃO</a>
    {% endif %}
    {% if 'Patrocínio' in menus_ativos %}
        <a class="{% if request.path == url_patrocinio %}active {% endif %}item"
           href="{% url 'secompufscar2018:patrocinio' %}">PATROCÍNIO</a>
    {% endif %}
    {% if 'Equipe' in menus_ativos %}
        <a class="{% if request.path == url_equipe %}active {% endif %}item"
           href="{% url 'secompufscar2018:equipe' %}">EQUIPE</a>
    {% endif %}
    {% if 'Processo Seletivo' in menus_ativos %}
        <a class="{% if request.path == url_processo_seletivo %}active {% endif %}item"
           href="{% url 'secompufscar2018:processo-seletivo' %}">FAÇA PARTE!</a>
    {% endif %}
    {% if 'Caravanas' in menus_ativos %}
        <a class="{% if request.path == url_caravanas %}active {% endif %}item"
           href="{% url 'secompufscar2018:caravanas' %}">CARAVANAS</a>
    {% endif %}
    {% if 'Contato' in menus_ativos %}
        <a class="{% if request.path == url_contato_faq %}active {% endif %}item"
           href="{% url 'secompufscar2018:contato' %}">CONTATO</a>
    {% endif %}
    {% if 'FAQ' in menus_ativos %}
        <a class="{% if request.path == url_contato_faq %}active {% endif %}item"
           href="{% url 'secompufscar2018:faq' %}">FAQ</a>
    {% endif %}
    {% if 'Área do Participante' in menus_ativos %}
        <a class="{% if request.path == url_area_do_participante %}active {% endif %}item"
           href="{% url 'secompufscar2017:area_do_participante' %}">ÁREA DO PARTICIPANTE</a>
    {% endif %}
    {% if request.user in permissoes.AREA_ADMINISTRATIVA %}
        <a class="{% if request.path == url_area_administrativa %}active {% endif %}item"
           href="{% url 'secompufscar2017:area_administrativa' %}">ÁREA ADMINISTRATIVA</a>
    {% endif %}
</div>
