{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - E-mail de redefinição de senha{% endblock %}

{% block meta_description %}{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}

    <!-- Redefinição de Senha -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Redefinição de Senha</h1>
                    <p><br></p>
                </div>
                <div class="row">
                    <div class="ui centered grid">
                        <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui four top attached steps">
                                    <div class="step">
                                        <i class="user icon"></i>
                                        <div class="content">
                                            <div class="title">Identifique-se</div>
                                            <div class="description">Informe seu e-mail cadastrado</div>
                                        </div>
                                    </div>
                                    <div class="active step">
                                        <i class="mail icon"></i>
                                        <div class="content">
                                            <div class="title">E-mail de redefinição enviado</div>
                                            <div class="description">Verifique seu e-mail</div>
                                        </div>
                                    </div>
                                    <div class="step">
                                        <i class="lock icon"></i>
                                        <div class="content">
                                            <div class="title">Redefina sua senha</div>
                                            <div class="description">Informe a nova senha</div>
                                        </div>
                                    </div>
                                    <div class="step">
                                        <i class="check icon"></i>
                                        <div class="content">
                                            <div class="title">Redefinição concluída</div>
                                            <div class="description">Sua senha foi redefinida com sucesso</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui attached segment">
                                    <h2>E-mail de redefinição enviado</h2>
                                    <p>Enviamos um e-mail para você com instruções de como configurar uma nova senha
                                        para o endereço de e-mail que você informou.</p>
                                    <p>Você deve recebê-lo dentro de instantes.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}