{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Redefinição de senha{% endblock %}

{% block meta_description %}{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}

    <!-- Redefinição de Senha -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Redefinição de Senha</h1>
                    <p><br></p>
                </div>
                <div class="row">
                    <div class="ui centered grid">
                        <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui four top attached steps">
                                    <div class="step">
                                        <i class="user icon"></i>
                                        <div class="content">
                                            <div class="title">Identifique-se</div>
                                            <div class="description">Informe seu e-mail cadastrado</div>
                                        </div>
                                    </div>
                                    <div class="step">
                                        <i class="mail icon"></i>
                                        <div class="content">
                                            <div class="title">E-mail de redefinição enviado</div>
                                            <div class="description">Verifique seu e-mail</div>
                                        </div>
                                    </div>
                                    <div class="active step">
                                        <i class="lock icon"></i>
                                        <div class="content">
                                            <div class="title">Redefina sua senha</div>
                                            <div class="description">Informe a nova senha</div>
                                        </div>
                                    </div>
                                    <div class="step">
                                        <i class="check icon"></i>
                                        <div class="content">
                                            <div class="title">Redefinição concluída</div>
                                            <div class="description">Sua senha foi redefinida com sucesso</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui attached segment">

                                    {% if validlink %}
                                        <h2>Informe sua nova senha</h2>
                                        <p>Por favor, informe-a duas vezes para garantirmos que você digitou-a
                                            corretamente.</p>

                                        <form action="" method="post" class="ui form">
                                            <div style="display:none">
                                                <input type="hidden" value="{{ csrf_token }}"
                                                       name="csrfmiddlewaretoken">
                                            </div>
                                            <div class="field">
                                                <label>Nova senha</label>
                                                <div class="ui left icon input">
                                                    <input type="password" name="new_password1" placeholder="Nova senha"
                                                           id="new_password1">
                                                    <i class="lock icon"></i>
                                                </div>
                                            </div>

                                            {% if form.new_password1.errors %}
                                                <div class="ui error message">

                                                    <div class="content">
                                                        <div class="header">
                                                        </div>
                                                        {{ form.new_password1.errors }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="field">
                                                <label>Confirmação da nova senha</label>
                                                <div class="ui left icon input">
                                                    <input type="password" name="new_password2"
                                                           placeholder="Confirmação da nova senha"
                                                           id="new_password2">
                                                    <i class="lock icon"></i>
                                                </div>
                                            </div>

                                            {% if form.new_password2.errors %}
                                                <div class="ui error message">
                                                    <div class="content">
                                                        <div class="header">
                                                        </div>
                                                        {{ form.new_password2.errors }}
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if form.errors %}
                                                    <div class="ui negative message">
                                                        <div class="header">
                                                            Erro(s):
                                                        </div>
                                                    {% for field, errors in form.errors.items %}
                                                        {% for error in errors %}
                                                            {{ error }}<br>
                                                        {% endfor %}
                                                    {% endfor %}
                                                    </div>
                                                {% endif %}
                                            <p><input type="submit" value="Redefinir"
                                                      class="ui blue submit button"></p>
                                        </form>
                                    {% else %}
                                        <h2>Redefinição de senha não concluída</h2>
                                        <p>O link de redefinição da senha utilizado era inválido, provavelmente porque
                                            alguém já usou-o anteriormente.</p>
                                        <p>Por favor, faça uma nova requisição de redefinição de senha.</p>
                                        <p><a href="/2016/areadoparticipante/redefinirsenha/">
                                            <button class="ui blue button">Redefinir senha</button>
                                        </a></p>

                                    {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <script type="text/javascript">
        $('.ui.form')
                .form({
                    fields: {
                        new_password: {
                            identifier: 'new_password1',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Por favor, insira a nova senha.'
                                }
                            ]
                        },
                        confirmacaodesenha: {
                            identifier: 'new_password2',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Por favor, entre com a confirmação da nova senha.'
                                },
                                {
                                    type: 'match[new_password1]',
                                    prompt: 'A senha de confirmação não confere com a senha digitada.'
                                }
                            ]
                        },
                    },
                    inline: true,
                    on: 'blur'

                })
        ;
    </script>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}
