<html>
<head>
    <title>Redefinir senha - SECOMP UFSCar</title>
</head>
<body>
<h1>Redefinição de senha - SECOMP UFSCar</h1>
<p>
    Você solicitou recuperação de senha no sistema da SECOMP UFSCar para o e-mail <b>{{ email }}</b>.</p>
<p>Clique no link a
    seguir para redefinir a sua senha:
    <a href="{{ protocol }}://{{ domain }}{% url 'secompufscar2016:password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'secompufscar2016:password_reset_confirm' uidb64=uid token=token %}</a>
</p>
<p>
    Equipe VII SECOMP UFSCar
</p>
</body>
</html>
