{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Formulário de Redefinição de Senha{% endblock %}

{% block meta_description %}{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}

    <!-- Redefinição de Senha -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Redefinição de Senha</h1>
                    <p><br></p>
                </div>
                <div class="row">
                    <div class="ui centered grid">
                        <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui four top attached steps">
                                    <div class="active step">
                                        <i class="user icon"></i>
                                        <div class="content">
                                            <div class="title">Identifique-se</div>
                                            <div class="description">Informe seu e-mail cadastrado</div>
                                        </div>
                                    </div>
                                    <div class="step">
                                        <i class="mail icon"></i>
                                        <div class="content">
                                            <div class="title">E-mail de redefinição enviado</div>
                                            <div class="description">Verifique seu e-mail</div>
                                        </div>
                                    </div>
                                    <div class="step">
                                        <i class="lock icon"></i>
                                        <div class="content">
                                            <div class="title">Redefina sua senha</div>
                                            <div class="description">Informe a nova senha</div>
                                        </div>
                                    </div>
                                    <div class="step">
                                        <i class="check icon"></i>
                                        <div class="content">
                                            <div class="title">Redefinição concluída</div>
                                            <div class="description">Sua senha foi redefinida com sucesso</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui attached segment">
                                    <h2>Informe seu endereço de e-mail para enviarmos instruções de redefinição da
                                        senha.</h2>

                                    <form action="" method="post" class="ui form">
                                        <div style="display:none">
                                            <input type="hidden" value="{{ csrf_token }}"
                                                   name="csrfmiddlewaretoken">
                                        </div>
                                        <div class="field">
                                            <label>E-mail</label>
                                            <div class="ui left icon input">
                                                <i class="user icon"></i>
                                                <input type="text" name="email" placeholder="E-mail" id="id_email">
                                            </div>
                                        </div>
                                        <p><input type="submit" value="Enviar e-mail de redefinição"
                                                   class="ui blue submit button"></p>
                                    </form>

                                    {% if form.email.errors %}
                                        <div class="ui error message">

                                            <div class="content">
                                                <div class="header">
                                                </div>
                                                {{ form.email.errors }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}