{% extends 'secompufscar2017/helpers/base.html' %}
{% load staticfiles %}

{% block title %}
    SECOMP UFSCar -
    {% if request.path == url_palestras %}
        Palestras
    {% elif request.path == url_palestras_empresariais %}
        Palestras Empresariais
    {% elif request.path == url_minicursos %}
        Minicursos
    {% elif request.path == url_workshops %}
        Workshops
    {% elif request.path == url_mesas_redondas %}
        Mesas-Redondas
    {% elif request.path == url_processos_seletivos %}
        Processos Seletivos
    {% endif %}
{% endblock %}

{% block meta_description %}
    Confira aqui
    {% if request.path == url_palestras %}
        as palestras
    {% elif request.path == url_palestras_empresariais %}
        as palestras empresariais
    {% elif request.path == url_minicursos %}
        os minicursos
    {% elif request.path == url_workshops %}
        os workshops
    {% elif request.path == url_mesas_redondas %}
        as mesas-redondas
    {% elif request.path == url_processos_seletivos %}
        os processos seletivos
    {% endif %}
    da programação da IX SECOMP USFCar
{% endblock meta_description %}

{% block body_content %}
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                        {% if request.path == url_palestras %}
                            Palestras
                        {% elif request.path == url_palestras_empresariais %}
                            Palestras Empresariais
                        {% elif request.path == url_minicursos %}
                            Minicursos
                        {% elif request.path == url_workshops %}
                            Workshops
                        {% elif request.path == url_mesas_redondas %}
                            Mesas-Redondas
                        {% elif request.path == url_processos_seletivos %}
                            Processos Seletivos
                        {% endif %}
                    </h1>
                    <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">
                        {% if request.path == url_palestras %}
                            Todas as palestras da SECOMP são abertas ao público, sem necessidade de inscrição no evento.
                            Entretanto, para receber o certificado de participação, você deve se inscrever em nosso site
                            e realizar o credenciamento durante o evento.
                        {% elif request.path == url_palestras_empresariais %}
                            Venha conhecer mais sobre algumas das maiores empresas de tecnologia da região. De olho em
                            uma vaga de estágio? Essa pode ser a sua chance!
                        {% elif request.path == url_minicursos %}
                            {% if data_hora_inscricoes_atividades.minicursos %}
                                {% with data_hora=data_hora_inscricoes_atividades.minicursos %}
                                    {% include 'secompufscar2017/programacao/helpers/informacoes_sobre_inscricoes.html' %}
                                {% endwith %}
                            {% endif %}
                        {% elif request.path == url_workshops %}
                            Os workshops são abertos ao público, mas você precisa realizar a inscrição e levar 1kg
                            de alimento não-perecível para cada workshop que participar. Os alimentos recolhidos serão
                            doados a instituições de caridade de São Carlos.
                            {% if data_hora_inscricoes_atividades.workshops %}
                                {% with data_hora=data_hora_inscricoes_atividades.workshops %}
                                    {% include 'secompufscar2017/programacao/helpers/informacoes_sobre_inscricoes.html' %}
                                {% endwith %}
                            {% endif %}
                        {% elif request.path == url_processos_seletivos %}
                            De olho em uma vaga de estágio?
                            Participe dos processos seletivos das maiores empresas de tecnologia da região durante a
                            SECOMP.
                            {% if data_hora_inscricoes_atividades.workshops %}
                                {% with data_hora=data_hora_inscricoes_atividades.workshops %}
                                    {% include 'secompufscar2017/programacao/helpers/informacoes_sobre_inscricoes.html' %}
                                {% endwith %}
                            {% endif %}
                        {% elif request.path == url_mesas_redondas %}
                            As mesas-redondas são abertas a todos os participantes, mas lembre-se que para receber o
                            certificado de participação, você deve realizar a sua inscrição no evento.
                        {% endif %}

                    </h3>
                    {% if not atividades.first.tipo.nome in tipos_atividade_com_cronograma_fechado %}
                        <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">
                            {% if atividades.first.tipo.nome == 'Palestra Empresarial' %}
                                Fique ligado(a) em nosso site! Mais palestras empresariais em breve.
                            {% elif atividades.first.tipo.nome == 'Processo Seletivo' %}
                                Fique ligado(a) em nosso site! Mais processos seletivos em breve.
                            {% elif atividade.first.tipo.nome == 'Mesa-redonda' %}
                                Fique ligado(a) em nosso site! Mais mesas-redondas em breve.
                            {% else %}
                                Fique ligado(a) em nosso site! Mais {{ atividades.first.tipo.nome|lower }}s em breve.
                            {% endif %}
                        </h3>
                    {% endif %}
                </div>
            </div>

            {% for atividade in atividades %}
                <div class="ui sixteen wide column atividade wow fadeInUp" data-wow-delay="0.2s">
                    {% include 'secompufscar2017/programacao/helpers/item_atividade.html' %}
                </div>
            {% endfor %}

            {% include 'secompufscar2017/programacao/helpers/modal_atividade.html' %}
            {% include 'secompufscar2017/programacao/helpers/modal_erro.html' %}

            <div class="ui row">
                <h4 class="ui centered header">Programação sujeita a alterações.</h4>
            </div>
        </div>
    </div>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}

    <script type="text/javascript">
        $(window).on('load', function() {
            var fotosMinistrantes = $('.foto_ministrante');

            for (var indexFoto = 0; indexFoto < fotosMinistrantes.length; indexFoto++) {
                $(fotosMinistrantes[indexFoto]).attr('src', $(fotosMinistrantes[indexFoto]).attr('data-src'));
            }
        });
    </script>
{% endblock body_content %}
