{% extends 'secompufscar2017/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Churrasco{% endblock %}

{% block meta_description %}Faça login para entrar na Área do Participante da VII SECOMP
    UFSCar.{% endblock meta_description %}

{% block body_content %}

    <!-- Pacotes -->
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">CHURRASCO DE INTEGRAÇÃO</h1>
                <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">Um churrasco descontraído
                    Quinta-feira, dia 29/09, a partir das 19h. Apenas R$ 25,00 para inscritos no pacote FULL ou R$
                    30,00 para os demais. Vagas limitadas. Preencha o formulário a seguir para receber mais
                    informações.</h3>
            </div>
            <div class="ui sixteen wide column wow fadeInUp">
                <p align="center">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe8tCgwbtmOYo1mU6NQLQR1bj1SwEsvJf6sYJ2dz3GljXT0vQ/viewform?embedded=true"
                            width="760" height="1900" frameborder="0" marginheight="0" marginwidth="0">Carregando…
                    </iframe>
                </p>
            </div>
        </div>
    </div>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}

{% endblock body_content %}