{% extends 'secompufscar2017/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Cronograma{% endblock %}

{% block meta_description %}Acesse aqui o cronograma da IX SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}

    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">CRONOGRAMA</h1>
                <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">Consulte aqui um resumo das
                    atividades da VIII SECOMP e seus respectivos locais.</h3>
            </div>
            <div class="ui sixteen wide center aligned column wow fadeInUp">
                <div class="ui huge image">
                    <img src="{% static 'secompufscar2017/images/cronograma/cronograma.png' %}"
                         alt="Cronograma da IX SECOMP UFSCar.">
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}

{% endblock body_content %}