{% extends 'secompufscar2017/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Capture The Flag{% endblock %}

{% block meta_description %}I Capture The Flag da SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}

    <div class="ui inverted vertical stripe segment" id="capture_the_flag_main_container">
        <div class="ui grid" id="capture_the_flag_texto_main_container">
            <div class="ui middle aligned centered grid container">
                <div class="sixteen wide mobile computer fifteen wide tablet column">
                    <h1 class="ui inverted centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s"
                        id="capture_the_flag_titulo_principal">
                        Capture The Flag</h1>
                    <h2 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.4s"
                        id="header_patrocinado_por">
                        patrocinado por
                    </h2>
                    <div class="row">
                        <div class="ui centered middle aligned grid">
                            <div class="ui six wide computer six wide tablet eight wide mobile column">
                                <img class="ui fluid image wow fadeInUp" data-wow-delay="0.5s"
                                     src="{% static 'secompufscar2017/images/ctf/hackers_to_hackers_conference.png' %}"
                                     alt="Logotipo da H2HC">
                            </div>

                            <div class="ui four wide computer four wide tablet six wide mobile column">
                                <img class="ui fluid image wow fadeInUp" data-wow-delay="0.5s"
                                     src="{% static 'secompufscar2017/images/ctf/logo_ctf.png' %}"
                                     alt="Logotipo da CTF-BR">
                            </div>
                        </div>
                    </div>

                    <h3 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.6s" id="ctf_texto_principal">
                        Nessa edição da SECOMP temos uma novidade em nossa programação, a competição chamada Capture
                        The Flag (CTF), constituída de desafios que envolvem engenharia reversa, criptografia,
                        computação forense, networking, web hacking e outros temas presentes na área de segurança.</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted vertical stripe segment" id="desafio_de_programadores_detalhes">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h2 class="ui inverted centered header titulo_secao wow fadeInUp" data-wow-delay="0.3s">
                    Monte sua equipe e inscreva-se!</h2>
                <div class="ui sixteen wide column">
                    <div class="ui four column stackable center aligned grid" id="detalhes_desafio_grid">
                        <div class="column wow fadeInUp" data-wow-delay="0.3s">
                            <h3 class="ui center aligned icon inverted header">
                                <i class="calendar icon"></i>
                                QUANDO?</h3>
                            <p><b>Início: 18/09/2017 às 17h</b></p>
                            <p><b>Fim: 20/09/2017 à 01h (da manhã)</b></p>
                        </div>

                        <div class="column wow fadeInUp" data-wow-delay="0.5s">
                            <h3 class="ui center aligned icon inverted header">
                                <i class="users icon"></i>
                                EQUIPES</h3>
                            <p><b>Até 4 pessoas</b></p>
                        </div>

                        <div class="column wow fadeInUp" data-wow-delay="0.7s">
                            <h3 class="ui center aligned icon inverted header">
                                <i class="edit icon"></i>
                                INSCRIÇÕES</h3>

                            <div class="ui vertical buttons">
                                <a class="ui inverted button"
                                   href="http://ctf.tecland.com.br/ctfbr/cadastro/?lang=br" target="_blank">
                                    Introdutório
                                </a>

                                <a class="ui inverted button"
                                   href="https://github.com/scmp-ctf/SCMPv8" target="_blank">
                                    Intermediário
                                </a>
                            </div>

                        </div>
                        <div class="column wow fadeInUp" data-wow-delay="0.7s">
                            <h3 class="ui center aligned icon inverted header">
                                <i class="trophy icon"></i>
                                PREMIAÇÃO</h3>
                            <p><b>Introdutório: R$ 100,00 em BitCoins</b></p>
                            <p><b>Intermediário: 4 ingressos para o evento <a
                                    href="https://www.h2hc.com.br" target="_blank">H2HC</a></b></p>
                        </div>
                    </div>

                    <div class="ui sixteen wide column">
                        <div class="row">
                            <hr class="wow fadeInUp" data-wow-delay="0.9s">
                            <h3 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.9s">
                                DESCRIÇÃO:
                            </h3>
                            <h4 class="ui inverted centered header wow fadeInUp" data-wow-delay="1.1s"></h4>
                            <h4 class="ui inverted centered header wow fadeInUp" data-wow-delay="1.1s">
                                Na área da computação, CTF (Capture the Flag) são competições que envolvem a
                                resolução
                                de desafios relacionados a segurança da informação, tendo como principal objetivo a
                                captura da bandeira (um código) para a obtenção de pontos. Nessa edição a
                                competição será no estilo Jeopardy, apresentando diversas questões
                                e
                                desafios de diferentes categorias, níveis de dificuldade e pontuações.</h4>
                        <div class="centered wow fadeInUp" align="center" data-wow-delay="1.1s" id="canais_suporte_ctf">
                            <h4>
                                Canais de suporte:
                                <br>
                                <a href="https://t.me/SCMPv8_CTF" target="_blank">Grupo do Telegram</a>
                                <br>
                                <a href="https://webchat.freenode.net" target="_blank">Freenode channel:</a> #SCMPv8
                            </h4>
                        </div>
                            <h4 class="ui inverted centered header wow fadeInUp" data-wow-delay="1.1s"
                                id="descricao_capture_the_flag">
                                Saiba mais em nosso edital abaixo!
                            </h4>
                        </div>

                        <div class="row wow fadeInUp" data-wow-delay="1.2s">
                            <div class="ui centered grid">
                                <div class="ui sixteen wide center aligned column">
                                    <div class="ui inverted blue button" id="botao_modal_edital">
                                        Acesse o edital
                                        <i class="right chevron icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui large modal" id="modal_detalhes_atividade">
                            <i class="close icon"></i>
                            <div class="header">
                                Edital do CTF da SECOMP UFSCar
                            </div>
                            <div class="scrooling content">
                                <h3>1. SOBRE O CTF</h3>
                                <p>
                                    Na área da computação, CTF (Capture the Flag) são competições que envolvem a
                                    resolução
                                    de desafios relacionados a segurança da informação, tendo como principal objetivo a
                                    captura da bandeira (um código) para a obtenção de pontos.
                                </p>

                                <p>
                                    Existem dois tipos de CTFs, a Jeopardy-style que são apresentadas diversas questões
                                    e desafios de diferentes categorias, níveis de dificuldade e pontuações, e os
                                    Attack/Defense, no qual as equipes obtém uma VM com diversos serviços e o seu
                                    objetivo é capturar as bandeiras dos adversários e proteger as do seu time.
                                </p>

                                <h3>2. SOBRE A COMPETIÇÃO</h3>
                                <p>
                                    A competição ocorrerá do dia 18 de setembro de 2017 às 17h00 até dia 20 de setembro
                                    de
                                    2017 às 01h00 e terá como formato o Jeopardy-style. Ela será dividida em duas
                                    edições,
                                    a primeira terá desafios mais básicos e menos prêmios, e a segunda terá desafios
                                    mais
                                    elaborados e com mais prêmios.
                                </p>

                                <p>
                                    Durante a competição as equipes deverão resolver os desafios propostos durante a
                                    competição com a finalidade de obter pontos e também uma melhor classificação. Além
                                    dos
                                    desafios, haverá flags espalhados durante o evento que também poderão ser utilizados
                                    para se obter os pontos.
                                </p>

                                <h3>2.1 Equipes</h3>

                                <p>
                                    Os participantes poderão competir em equipes formadas de até 4 pessoas, sendo que
                                    cada
                                    competidor apenas pode participar de uma única equipe durante todo o processo da
                                    competição.
                                </p>

                                <h3>2.2 Inscrições</h3>

                                <p>
                                    As inscrições para o evento serão realizadas por meio de um formulário
                                    disponibilizado
                                    no site da SECOMP (www.secompufscar.com.br) e nas redes sociais da mesma, a partir
                                    do
                                    dia 1 de setembro e estarão abertas até o fim da competição.
                                    Para cada equipe, somente um dos membros deverá fazer a inscrição da equipe completa
                                    no
                                    formulário, no qual deverá ser preenchido de acordo com as instruções contidas no
                                    mesmo.

                                </p>

                                <h3>2.3 Premiação</h3>

                                <ul>
                                    <li>
                                        Para a edição com desafios mais básicos, a equipe com maior pontuação será
                                        premiada
                                        com
                                        100 reais convertidos em bitcoins no início da competição.
                                    </li>
                                    <li>
                                        Para a edição com desafios mais elaborados, a equipe vencedora receberá 4
                                        ingressos
                                        para
                                        o evento H2HC, generosamente cedidos pela organização.
                                    </li>
                                </ul>


                                <h3>3. DISPOSIÇÕES LEGAIS</h3>

                                <p>
                                    Os membros inscritos que participarão da competição concordam com este edital em sua
                                    integridade.
                                </p>

                                <p>
                                    Quaisquer descumprimentos em relação ao estabelecido neste edital acarretará nas
                                    devidas
                                    providências legais, que serão tomadas pela VIII SECOMP UFSCar. As equipes inscritas
                                    permitem o uso e divulgação de suas imagens e programas submetidos pela organização
                                    da
                                    VIII SECOMP UFSCar.
                                </p>

                                <p><i>São Carlos, 5 de setembro de 2017.</i></p>

                                <h3>1° Adendo ao Edital de Inscrição para o I CTF da VIII SECOMP UFSCar</h3>

                                <p>
                                    A <b>Organização da VIII SECOMP UFSCar</b> torna público o ADENDO ao Edital de Inscrição para
                                    o I CTF da VIII SECOMP UFSCar, nos seguintes termos:
                                </p>
                                <ol>
                                    <li>
                                        <p>
                                            No item 2.2, onde se lê:
                                        </p>
                                        <p>
                                            “As inscrições para o evento serão realizadas por meio de um formulário
                                            disponibilizado no site da SECOMP (www.secompufscar.com.br) e nas redes
                                            sociais da mesma, a partir do dia 1  de setembro e estarão abertas até o
                                            fim da competição.
                                        </p>
                                        <p>
                                            Para cada equipe, somente um dos membros deverá fazer a inscrição da equipe
                                            completa no formulário, no qual deverá ser preenchido de acordo com as
                                            instruções contidas no mesmo.”
                                        </p>
                                        <p>
                                            <b>Leia-se:</b>
                                        </p>
                                        <p>
                                            “As inscrições para o evento na modalidade básica serão realizadas por meio
                                            de um formulário disponibilizado no site do evento
                                            (ctf.tecland.com.br/ctfbr/cadastro/?lang=br).
                                            As instruções para a inscrição na modalidade intermediária serão
                                            disponibilizadas na seguinte página: https://github.com/scmp-ctf/SCMPv8.
                                            As inscrições estarão abertas até o fim da competição.
                                        </p>
                                        <p>
                                            A inscrição de cada equipe deverá ser realizada por somente um dos membros
                                            desta, que deverá disponibilizar as informações de cadastro da equipe para
                                            os demais membros, de acordo com as instruções apresentadas em cada
                                            plataforma de inscrição.”
                                        </p>
                                    </li>
                                    <br>
                                    <li>
                                        <p>
                                            No item 3, onde se lê:
                                        </p>
                                        <p>
                                            “Os membros inscritos que participarão da competição concordam com este
                                            edital em sua integridade.
                                        </p>
                                        <p>
                                            Quaisquer descumprimentos em relação ao estabelecido neste edital
                                            acarretará nas devidas providências legais, que serão tomadas pela VIII
                                            SECOMP UFSCar. As equipes inscritas permitem o uso e divulgação de suas
                                            imagens e programas submetidos pela organização da VIII SECOMP UFSCar.”
                                        </p>
                                        <p>
                                            <b>Leia-se:</b>
                                        </p>
                                        <p>
                                            “Os membros inscritos que participarão da competição concordam com este
                                            edital em sua integridade.
                                        </p>
                                        <p>
                                            Quaisquer descumprimentos em relação ao estabelecido neste edital acarretará
                                            nas devidas providências legais, que serão tomadas pela VIII SECOMP UFSCar.”
                                        </p>
                                    </li>
                                </ol>
                                <p>
                                    As demais disposições do Edital ficam inalteradas.
                                </p>
                                <p><i>São Carlos, 14 de setembro de 2017</i></p>

                                <p align="center" style="color: #dddddd">
                                    SCMPv8{c0ngr47ul4710n5, y0u RTFMed!}
                                </p>
                            </div>
                            <div class="actions">
                                <div class="ui blue ok button">
                                    <i class="close icon"></i>
                                    Fechar edital
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(window).on('load', function () {
            $('#capture_the_flag_main_container').backstretch(
                "{% static 'secompufscar2017/images/ctf/ctf_background.jpg' %}", {
                    fade: 700
                });
        });


        var modal_edital = $('.ui.large.modal');
        modal_edital.modal();
        modal_edital.modal('attach events', '#botao_modal_edital');
    </script>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}
{% endblock body_content %}