{% extends 'secompufscar2017/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Desafio de Programadores{% endblock %}

{% block meta_description %}IV Desafio de Programadores da SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}

    <div class="ui inverted vertical stripe segment" id="desafio_de_programadores_main_container">
        <div class="ui grid" id="desafio_de_programadores_texto_main_container">
            <div class="ui middle aligned centered grid container">
                <div class="sixteen wide mobile computer fifteen wide tablet column">
                    <h1 class="ui inverted centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s"
                        id="desafio_de_programadores_titulo_principal">
                        IV Desafio de Programadores</h1>
                    <h2 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.4s"
                        id="header_patrocinado_por">
                        patrocinado por
                    </h2>
                    <div class="row">
                        <div class="ui centered grid">
                            <div class="ui five wide computer five wide tablet ten wide mobile column">
                                <img class="ui fluid image wow fadeInUp" data-wow-delay="0.5s"
                                     src="{% static 'secompufscar2017/images/desafio/amdocs-2017-alternative-brand-mark-rgb-white-text.png' %}"
                                     alt="Logotipo da Amdocs">
                            </div>
                        </div>
                    </div>

                    {% if evento.desafio_programadores.texto_descricao %}
                    <h3 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.6s"
                        id="desafio_de_programadores_texto_principal">
                        {{ evento.desafio_programadores.texto_descricao|safe }}
                    </h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted vertical stripe segment" id="desafio_de_programadores_detalhes">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h2 class="ui inverted centered header titulo_secao wow fadeInUp" data-wow-delay="0.3s">
                    Monte sua equipe e já comece a se preparar!</h2>
                <div class="ui sixteen wide column">
                    <div class="ui four column stackable center aligned grid" id="detalhes_desafio_grid">
                        <div class="column wow fadeInUp" data-wow-delay="0.3s">
                            <h3 class="ui center aligned icon inverted header">
                                <i class="calendar icon"></i>
                                QUANDO?</h3>
                            {% if evento.desafio_programadores.data_hora_desafio %}
                                <b>{{ evento.desafio_programadores.data_hora_desafio.first.data_hora_inicio|date:"l, d \d\e F \d\e Y \à\s H\hi" }}.</b>
                            {% else %}
                                <b>Data e horário a confirmar.</b>
                            {% endif %}
                        </div>
                        <div class="column wow fadeInUp" data-wow-delay="0.5s">
                            <h3 class="ui center aligned icon inverted header">
                                <i class="marker icon"></i>
                                ONDE?</h3>
                            <p><b>Laboratórios de Ensino do Departamento de Computação</b></p>
                        </div>
                        <div class="column wow fadeInUp" data-wow-delay="0.7s">
                            <h3 class="ui center aligned icon inverted header">
                                <i class="edit icon"></i>
                                INSCRIÇÕES</h3>
                            {% if evento.desafio_programadores.inicio_inscricoes_equipes_desafio_programadores %}
                                Inscrições de equipes a partir de
                                {{ evento.desafio_programadores.inicio_inscricoes_equipes_desafio_programadores|date:"d/m (l) \à\s H\hi" }},
                                na Área do Participante.
                            {% else %}
                                <p><b>Aguarde! Mais informações sobre as inscrições em breve.</b></p>
                            {% endif %}

                        </div>
                        <div class="column wow fadeInUp" data-wow-delay="0.7s">
                            <h3 class="ui center aligned icon inverted header">
                                <i class="trophy icon"></i>
                                PREMIAÇÃO</h3>
                            {% if evento.desafio_programadores.premiacao %}
                                <p><b>{{ evento.desafio_programadores.premiacao|safe }}</b></p>
                            {% else %}
                                <p><b>A ser divulgada.</b></p>
                            {% endif %}
                        </div>
                    </div>

                    {% if evento.desafio_programadores.texto_informacoes_importantes %}
                        <div class="ui sixteen wide column">
                            <div class="row">
                                <hr class="wow fadeInUp" data-wow-delay="0.9s">
                                <h3 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.9s">
                                    INFORMAÇÕES IMPORTANTES:
                                </h3>
                                <h4 class="ui inverted centered header wow fadeInUp" data-wow-delay="1.1s"
                                    id="desafio_de_programadores_texto_informacoes_importantes">
                                    {{ evento.desafio_programadores.texto_informacoes_importantes|safe }}
                                </h4>
                            </div>

                            {% if evento.desafio_programadores.edital %}
                                <div class="row wow fadeInUp" data-wow-delay="1.2s">
                                    <div class="ui centered grid">
                                        <div class="ui sixteen wide center aligned column">
                                            <div class="ui inverted blue button" id="botao_modal_edital">
                                                Acesse o edital
                                                <i class="right chevron icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ui large modal" id="modal_detalhes_atividade">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        Edital do IV Desafio de Programadores da SECOMP UFSCar
                                    </div>
                                    <div class="scrooling content">
                                        {{ evento.desafio_programadores.edital|safe }}
                                    </div>
                                    <div class="actions">
                                        <div class="ui blue ok button">
                                            <i class="close icon"></i>
                                            Fechar edital
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(window).on('load', function () {
            $('#desafio_de_programadores_main_container').backstretch(
                "{% static 'secompufscar2017/images/desafio/codigo.jpg' %}", {
                    fade: 700
                });
        });

        {% if evento.desafio_programadores.texto_informacoes_importantes and evento.desafio_programadores.edital %}
            var modal_edital = $('.ui.large.modal');
            modal_edital.modal();
            modal_edital.modal('attach events', '#botao_modal_edital');
        {% endif %}
    </script>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}
{% endblock body_content %}