{% extends 'secompufscar2017/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Enterprise Day{% endblock %}

{% block meta_description %}Veja aqui as empresas que virão para a VIII SECOMP
    UFSCar.{% endblock meta_description %}

{% block body_content %}

    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Enterprise Day - Estandes
                </h1>
                <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">Venha conhecer de perto algumas
                    das maiores empresas de tecnologia da região! Terça-feira, dia 19/09, à partir das 12h no
                    Saguão da Biblioteca Comunitária. As seguintes empresas terão estandes:
                </h3>

                <div class="ui grid centered">
                    {% for empresa in estandes %}
                        {% if empresa.cota.nome == 'Diamante' %}
                            <div class="ui six wide computer six wide tablet sixteen wide mobile center aligned column wow fadeInUp"
                                 data-wow-delay="0.6s">
                                <img class="ui fluid image" src="{{ empresa.logo.url }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="ui grid centered">
                    {% for empresa in estandes %}
                        {% if empresa.cota.nome != 'Diamante' %}
                            <div class="ui four wide computer four wide tablet ten wide mobile center aligned column wow fadeInUp"
                                 data-wow-delay="0.7s">
                                <img class="ui fluid image" src="{{ empresa.logo.url }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Palestras Empresariais
                </h1>

                <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.5s">
                    Veja um resumo das palestras empresariais que acontecerão no Entreprise Day. Para mais
                    detalhes, visite a página
                    <a href="{% url 'secompufscar2017:palestras_empresariais' %}">Palestras Empresariais</a>
                    do nosso site.
                </h3>
                <table class="ui celled striped table wow fadeInUp" data-wow-delay="0.7s">
                    <thead>
                        <tr>
                            <th>Palestra</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for atividade in atividades %}
                            <tr>
                                <td>
                                    <div class="ui internally celled grid">
                                        <h4 class="ui image header">
                                            {% for ministrante in atividade.ministrante.all %}
                                                {% if ministrante.foto %}
                                                    <img src="{{ ministrante.foto.url }}"
                                                         class="ui mini bordered rounded image">
                                                {% endif %}
                                            {% endfor %}

                                            <div class="content">
                                                {{ atividade.titulo }}
                                                {% if atividade.tipo.nome != 'Processo Seletivo' %}
                                                    <div class="sub header">
                                                        {% for ministrante in atividade.ministrante.all %}
                                                            {{ ministrante.nome }} {{ ministrante.sobrenome }}{% if not forloop.last %}, {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </h4>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="ui sixteen wide column">
                    <h4 class="ui centered header">Programação sujeita a alterações.</h4>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}
{% endblock body_content %}