{% extends 'secompufscar2017/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Feira de Projetos{% endblock %}

{% block meta_description %}
    Descrição e edital da Feira de Projetos da VIII SECOMP USFCar
{% endblock meta_description %}

{% block body_content %}
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Feira de Projetos</h1>
                {% if 'Projeto' not in atividades_cronograma_fechado %}
                    <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">
                        Submissão de projetos finalizada. Em breve divulgaremos os projetos selecionados.
                    </h3>
                {% else %}
                    <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">
                        Confira os projetos submetidos e aprovados para apresentação na Feira de Projetos da SECOMP.
                    </h3>

                {% endif %}
            </div>

            {% if 'Projeto' not in atividades_cronograma_fechado %}
                {% include 'secompufscar2017/programacao/helpers/formulario_cadastro_projeto.html' %}
            {% else %}

                <div class="ui ten wide computer ten wide tablet sixteen wide mobile column">
                    <div class="ui two column stackable center aligned grid" id="detalhes_desafio_grid">
                        <div class="column wow fadeInUp" data-wow-delay="0.3s">
                            <h3 class="ui center aligned icon header">
                                <i class="calendar icon"></i>
                                QUANDO?</h3>
                            <b>Sexta-feira, 22/09, das 8h às 12h</b>
                        </div>

                        <div class="column wow fadeInUp" data-wow-delay="0.4s">
                            <h3 class="ui center aligned icon header">
                                <i class="marker icon"></i>
                                ONDE?</h3>
                            <b>Departamento de Computação</b>
                        </div>
                    </div>
                </div>

                {% for projeto in projetos_aprovados %}
                    <div class="ui sixteen wide column wow fadeInUp" data-wow-delay="0.2s">
                        <div class="ui top attached header">
                            <h1 class="ui header">{{ projeto.nome }}</h1>
                        </div>

                        <div class="ui attached fluid segment">

                            <h3 class="ui header">
                                {% for integrante in projeto.integranteprojeto_set.all %}
                                    {{ integrante.nome }}{% if not forloop.last %} - {% endif %}
                                {% endfor %}
                            </h3>
                            <p class="justificado">
                                {{ projeto.descricao }}
                            </p>
                            <p class="justificado">
                                <b>Relação com a computação:</b> {{ projeto.relacao_computacao }}
                            </p>
                            {% for carater_projeto in projeto.carater.all %}
                                <div class="ui label">
                                    {% if carater_projeto.carater == 'Pesquisa' %}
                                        <i class="university icon"></i>
                                    {% elif carater_projeto.carater == 'Extensão' %}
                                        <i class="world icon"></i>
                                    {% elif carater_projeto.carater == 'Ensino' %}
                                        <i class="student icon"></i>
                                    {% endif %}
                                    {{ carater_projeto.carater }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}

{% endblock body_content %}

