{% extends 'secompufscar2017/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Futebol de Robôs{% endblock %}

{% block meta_description %}Futebol de Robôs na SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}

    <div class="ui inverted vertical stripe segment" id="futebol_de_robos_main_container">
        <div class="ui grid" id="futebol_de_robos_texto_main_container">
            <div class="ui middle aligned centered grid container">
                <div class="sixteen wide mobile computer fifteen wide tablet column">
                    <h1 class="ui inverted centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s"
                        id="futebol_de_robos_titulo_principal">
                        Futebol de Robôs</h1>
                    <h2 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.4s"
                        id="header_patrocinado_por">
                        organizado por
                    </h2>
                    <div class="row">
                        <div class="ui centered middle aligned grid">
                            <div class="ui six wide computer six wide tablet eight wide mobile column">
                                <img class="ui fluid image wow fadeInUp" data-wow-delay="0.5s"
                                     src="{% static 'secompufscar2017/images/futebol_de_robos/red_dragons.png' %}"
                                     alt="Logotipo da equipe Red Dragons UFSCar">
                            </div>
                        </div>
                    </div>

                    <h3 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.6s" id="ctf_texto_principal">
                        E eis que temos mais uma novidade na programação da SECOMP! Amistoso de Futebol de Robôs organizado
                        pela equipe Red Dragons da UFSCar.</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted vertical stripe segment">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h2 class="ui inverted centered header titulo_secao wow fadeInUp" data-wow-delay="0.3s">
                    FUTEBOL DE ROBÔS NA SECOMP UFSCAR</h2>
                <h4 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.3s">
                    Uma competição de futebol de robôs consiste em uma arena, dois times com três robôs, um técnico,
                    um computador responsável por gerar as estratégias para cada jogador e uma câmera CCD situada acima
                    do campo que é responsável por obter as imagens que serão utilizadas pelo técnico para gerar novas
                    estratégias para o time. Estas estratégias serão executadas pelo robô através de um controlador.
                </h4>
                <h4 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.4s">
                    Tecnicamente, o futebol de robô é um jogo competitivo que produz elevadas demandas em todas as
                    áreas de tecnologia robótica como mecânica, controle, sensores, comunicação e inteligência artificial.
                </h4>

                <div class="ui sixteen wide column">
                    <div class="ui three column stackable center aligned grid" id="detalhes_desafio_grid">
                        <div class="column wow fadeInUp" data-wow-delay="0.3s">
                            <h3 class="ui center aligned icon inverted header">
                                <i class="calendar icon"></i>
                                QUANDO?</h3>
                            <b>Sexta-feira, 22/09, das 8h às 11h30</b>
                        </div>

                        <div class="column wow fadeInUp" data-wow-delay="0.4s">
                            <h3 class="ui center aligned icon inverted header">
                                <i class="marker icon"></i>
                                ONDE?</h3>
                            <b>Departamento de Computação</b>
                        </div>

                        <div class="column wow fadeInUp" data-wow-delay="0.5s">
                            <h3 class="ui center aligned icon inverted header">
                                <i class="users icon"></i>
                                EQUIPES PARTICIPANTES</h3>
                            <b>Warthog USP e Red Dragons UFSCar</b>
                        </div>
                    </div>
                </div>
                <h4 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.6s">
                    <i>Quer conhecer mais sobre a equipe Red Dragons? Visite a página no Facebook:<br>
                    <a href="https://www.facebook.com/RedDragonsUFSCar" target="_blank">
                        facebook.com/RedDragonsUFSCar
                    </a></i>
                </h4>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(window).on('load', function () {
            $('#futebol_de_robos_main_container').backstretch(
                "{% static 'secompufscar2017/images/futebol_de_robos/futebol_de_robos.jpg' %}", {
                    fade: 700,
                    alignY: 'center',
                    alignX: 'center'
                });
        });
    </script>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}
{% endblock body_content %}