{% extends 'secompufscar2017/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Game Night{% endblock %}

{% block meta_description %}Prepare-se para uma noite de muita jogatina e café! Game Night by CAEnC: das 7 às
    7.{% endblock meta_description %}

{% block body_content %}

    <div class="ui inverted vertical stripe segment" id="gamenight_main_container">
        <div class="ui grid" id="gamenight_texto_main_container">
            <div class="ui middle aligned centered grid container">
                <div class="sixteen wide mobile computer fifteen wide tablet column">
                    <div class="row">
                        <div class="ui centered middle aligned grid">
                            <div class="ui ten wide computer ten wide tablet sixteen wide mobile column">
                                <img class="ui fluid image wow fadeInUp" data-wow-delay="0.5s"
                                     src="{% static 'secompufscar2017/images/gamenight/gamenight-secomp-2017-2-logo.png' %}"
                                     alt="Logotipo da Game Night 2017.2">
                            </div>
                        </div>
                        <div class="ui centered middle aligned grid">
                            <div class="ui four wide computer four wide tablet eight wide mobile column">
                                <h2 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.4s"
                                    id="header_patrocinado_por">
                                    by
                                </h2>
                                <img class="ui fluid image wow fadeInUp" data-wow-delay="0.5s"
                                     src="{% static 'secompufscar2017/images/gamenight/logo-caenc-horizontal-branco.png' %}"
                                     alt="Logotipo da Game Night 2017.2">
                            </div>
                        </div>
                    </div>

                    <h3 class="ui inverted centered header wow fadeInUp" data-wow-delay="0.6s"
                        id="gamenight_texto_principal">
                        Prepare-se para uma noite de muita jogatina e café! Board games, campeonatos com premiação,
                        open de café por 5 reais, venda de comidas, laboratórios para uso de notebooks e computadores e
                        muito mais!<br>
                        Game Night by CAEnC: das 7 às 7.
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted vertical stripe segment" id="secao_traga_seus_jogos">
        <div class="ui centered grid container">
            <div class="ui sixteen wide computer sixteen wide mobile center aligned column">
                <h2 class="ui inverted centered header titulo_secao">
                    Venha se divertir e traga também os seus jogos!
                </h2>
                <h3 class="ui inverted centered header">
                    Segunda-feira, dia 18/09, a partir das 19h, no Departamento de Computação da UFSCar.
                </h3>
                <h3 class="ui inverted centered header">
                    Não vai perder, né? Confirme presença no evento do Facebook:
                </h3>
            </div>
            <div class="ui sixteen wide center aligned computer tablet only column">
                <iframe id="iframe_evento_gamenight_facebook"
                        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsecompufscar%2Fposts%2F10156623431594196&width=720&show_text=true&appId=413827685492270&height=650" width="720" height="650" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
            <div class="ui sixteen wide center aligned mobile only column">
                <iframe id="iframe_evento_gamenight_facebook"
                        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsecompufscar%2Fposts%2F10156623431594196&width=300&show_text=true&appId=413827685492270&height=520" width="100%" height="520" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
        </div>
    </div>

    <div class="ui three column stackable grid" id="game_night_grid">
        <div class="column">
            <div id="league_of_legends"></div>
        </div>
        <div class="column">
            <div id="just_dance"></div>
        </div>
        <div class="column">
            <div id="truco"></div>
        </div>
    </div>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}

    <script type="text/javascript">
        $(window).on('load', function () {
            $('#gamenight_main_container').backstretch(
                "{% static 'secompufscar2017/images/gamenight/gamenight-secomp-2017-2-fundo.jpg' %}", {
                    fade: 700
                });
        }).on('resize', function() {
            if ($(window).width() < 768) {
                $('#iframe_evento_gamenight_facebook').width(300);
            } else {
                $('#iframe_evento_gamenight_facebook').width(720);
            }
        });
        $('#league_of_legends').backstretch("{% static 'secompufscar2017/images/gamenight/league_of_legends.jpg' %}", {
            fade: 500,
            preload: 1,
            animateFirst: true
        });

        $('#just_dance').backstretch("{% static 'secompufscar2017/images/gamenight/just_dance2016.jpg' %}", {
            fade: 600,
            preload: 1,
            alignX: 'left',
            animateFirst: true
        });
        $('#truco').backstretch("{% static 'secompufscar2017/images/gamenight/truco.jpg' %}", {
            fade: 700,
            preload: 1,
            animateFirst: true
        });

    </script>

{% endblock body_content %}