{% extends 'secompufscar2017/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Parcerias Exclusivas{% endblock %}

{% block meta_description %}Veja aquis os processos seletivos que acontecerão na VII SECOMP
    UFSCar.{% endblock meta_description %}

{% block body_content %}

    <!-- Parcerias -->
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">PARCERIAS EXCLUSIVAS</h1>
                <h3 class="ui centered header wow fadeInUp" data-wow-delay="0.6s">Aproveite descontos exclusivos que nossos parceiros prepararam para os participantes da VII SECOMP UFSCar.</h3>
            </div>

            <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp">
                <h2 class="ui top attached header">
                    Venda de livros da Novatec com desconto
                </h2>
                <div class="ui attached fluid segment">
                    <div class="ui divided items">
                        <div class="item">
                            <div class="content">
                                <p align="center">
                                    <img class="ui medium image"
                                         src="{% static 'secompufscar2017/images/patrocinadores/novatec.png' %}">
                                    <br>
                                </p>
                                <div class="description">

                                    <p align="center">A Editora Novatec estará vendendo livros com desconto durante a VII SECOMP UFSCar. Pagamentos com cartão de crédito serão aceitos.</p>
                                    <p align="center"><a href="http://novatec.com.br">novatec.com.br</a>
                                    </p>
                                </div>
                                <div class="extras">
                                    <div class="ui label"><i class="calendar icon"></i> Quarta-feira, dia
                28/09
            </div>
            <div class="ui label"><i class="clock icon"></i>13h - 19h
            </div>
                                    <div class="ui label"><i class="marker icon"></i>Anfiteatro Bentro Prado Jr.
            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="ui top attached header">
                    15% de desconto na Casa do Código
                </h2>
                <div class="ui attached fluid segment">
                    <div class="ui divided items">
                        <div class="item">
                            <div class="content">
                                <p align="center">
                                    <img class="ui medium image"
                                         src="{% static 'secompufscar2016/images/patrocinadores/casadocodigo.png' %}">
                                    <br>
                                </p>
                                <div class="description">

                                    <p align="center">15% de desconto para compras no site. Basta utilizar o cupom <b>Semana_da_Computação</b>. O cupom é válido de 26/09 a 26/10/2016.</p>
                                    <p align="center"><a href="http://www.casadocodigo.com.br">www.casadocodigo.com.br</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="ui top attached header">
                    US$ 10 de crédito na DigitalOcean
                </h2>
                <div class="ui attached fluid segment">
                    <div class="ui divided items">
                        <div class="item">
                            <div class="content">
                                <p align="center">
                                    <img class="ui large image"
                                         src="{% static 'secompufscar2017/images/patrocinadores/digitalocean_horizontal.png' %}">
                                    <br>
                                </p>
                                <div class="description">

                                    <p align="center">Participantes inscritos no evento receberão no credenciamento um cartão com um código que dá 10 dólares de crédito na plataforma de cloud computing DigitalOcean.</p>
                                    <p align="center"><a href="http://digitalocean.com">digitalocean.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}
{% endblock body_content %}