{% extends 'secompufscar2017/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Programação{% endblock %}

{% block meta_description %}A programação deste ano conta com palestras, minicursos, workshops, mesas-redondas, Game
    Night, Desafio de Programadores, Enterprise Day e muito mais!{% endblock meta_description %}

{% block body_content %}
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="sixteen wide center aligned column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">Programação</h1>
            </div>
            <div class="eight wide mobile four wide tablet three wide computer center aligned column">
                <div class="row wow fadeInUp" data-wow-delay="0.5s">
                    <div class="ui vertical labeled icon menu">
                        {% include 'secompufscar2017/helpers/itens_menu_programacao.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}

{% endblock body_content %}