{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Área Administrativa{% endblock %}

{% block meta_description %}Acesse aqui a Área Administrativa da IX SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}

    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    ÁREA ADMINISTRATIVA
                </h1>
            </div>

            <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                <h2 class="ui top attached header">
                    Olá, {{ user.first_name }}!
                    <a href="{% url 'secompufscar2017:logout' %}">
                        <button class="ui right floated button">Fazer logout</button>
                    </a>
                </h2>

                <div class="ui attached fluid segment">
                    <div class="ui grid">
                        {% if request.user in permissoes.ADMIN %}
                            <div class="ui sixteen wide column">
                                <h3 class="ui horizontal divider header">
                                    <i class="mail icon"></i>
                                    Envio de emails
                                </h3>
                                <button class="ui blue button" id="id_botao_abrir_modal_enviar_email">
                                    <i class="send icon"></i>
                                    Enviar email
                                </button>
                            </div>
                            {% include 'secompufscar2017/area_administrativa/modal_enviar_email.html' %}

                        {% endif %}
                        {% if request.user in permissoes.ADMIN or request.user in permissoes.NOTIFICACOES_APP %}
                            <div class="ui sixteen wide column">
                                <h3 class="ui horizontal divider header">
                                    <i class="android icon"></i>
                                    Notificações
                                </h3>
                                <button class="ui blue button" id="id_botao_enviar_notificacoes">
                                    <i class="send icon"></i>
                                    Enviar notificações
                                </button>
                            </div>
                            {% include 'secompufscar2017/area_administrativa/modal_enviar_notificacao.html' %}
                        {% endif %}

                        {% if request.user in permissoes.ADMIN or request.user in permissoes.VENDA_PRESENCIAL %}
                            <div class="ui sixteen wide column">
                                <h3 class="ui horizontal divider header">
                                    <i class="add to shopping cart icon"></i>
                                    Vendas de Kit
                                </h3>
                                <button class="ui blue button" id="id_botao_venda_presencial">
                                    <i class="shopping bag icon"></i>
                                    Vender kit
                                </button>
                            </div>

                            {% include 'secompufscar2017/area_administrativa/modal_venda_presencial.html' %}
                        {% endif %}

                        {% if request.user in permissoes.ADMIN or request.user in permissoes.APROVAR_COMPROVANTES %}
                            <div class="ui sixteen wide column">
                                <h3 class="ui horizontal divider header">
                                    <i class="money icon"></i>
                                    Pagamentos
                                </h3>
                                <button class="ui blue button" id="id_botao_aprovar_pagamentos">
                                    <i class="money icon"></i>
                                    Aprovar/rejeitar pagamentos
                                </button>
                            </div>
                            {% include 'secompufscar2017/area_administrativa/modal_aprovar_pagamentos.html' %}
                        {% endif %}

                        {% if request.user in permissoes.ADMIN or request.user in permissoes.ALTERAR_CAMISETAS %}
                            <div class="ui sixteen wide column">
                                <h3 class="ui horizontal divider header">
                                    <i class="child icon"></i>
                                    Camisetas
                                </h3>
                                <button class="ui blue button" id="id_botao_alterar_camisetas">
                                    <i class="write icon"></i>
                                    Alterar reservas de camisetas
                                </button>
                            </div>
                            {% include 'secompufscar2017/area_administrativa/modal_alterar_camiseta.html' %}
                        {% endif %}

                        {% if request.user in permissoes.ADMIN or request.user in permissoes.GERAR_CRACHAS %}
                            <div class="ui sixteen wide column">
                                <h3 class="ui horizontal divider header">
                                    <i class="file pdf outline icon"></i>
                                    Geração de crachás
                                </h3>
                                <button class="ui blue button" id="id_botao_gerar_crachas">
                                    <i class="configure icon"></i>
                                    Gerar crachás
                                </button>
                            </div>

                            {% include 'secompufscar2017/area_administrativa/modal_gerar_crachas.html' %}
                        {% endif %}

                        {% if request.user in permissoes.ADMIN or request.user in permissoes.GERAR_LISTAS %}
                            <div class="ui sixteen wide column">
                                <h3 class="ui horizontal divider header">
                                    <i class="file text icon"></i>
                                    Geração de listas
                                </h3>
                                <button class="ui blue button" id="id_botao_gerar_listas">
                                    <i class="file text outline icon"></i>
                                    Gerar Listas
                                </button>
                            </div>
                            {% include 'secompufscar2017/area_administrativa/modal_gerar_listas.html' %}
                        {% endif %}

                        {% if request.user in permissoes.ADMIN or request.user in permissoes.SORTEAR %}
                            <div class="ui sixteen wide column">
                                <h3 class="ui horizontal divider header">
                                    <i class="i cursor icon"></i>
                                    Sortear participante presente
                                </h3>
                                <button class="ui blue button" id="id_botao_sortear">
                                    <i class="i cursor icon"></i>
                                    Sortear
                                </button>
                            </div>
                            {% include 'secompufscar2017/area_administrativa/modal_sortear_o_sortudo.html' %}
                        {% endif %}
                        {% if request.user in permissoes.ADMIN or request.user in permissoes.GERAR_CRACHAS %}
                            <div class="ui sixteen wide column">
                                <h3 class="ui horizontal divider header">
                                    <i class="arrows alternate icon"></i>
                                    Gerar crachás
                                </h3>
                                <button class="ui blue button" id="id_botao_gerar_unitario">
                                    <i class="arrows alternate icon"></i>
                                    Gerar crachás unitários
                                </button>
                            </div>
                            {% include 'secompufscar2017/area_administrativa/modal_gerar_crachas_unitarios.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}