<div class="ui large modal" id="id_modal_enviar_notificacao">
    <i class="close icon"></i>
    <div class="icon header">
        <i class="android icon"></i>
        Enviar notificações para o aplicativo
    </div>
    <div class="content">
        <div class="description">
            <form class="ui form" id="id_formulario_enviar_notificacao" novalidate>
            {% csrf_token %}
                <div class="row">
                {{ form_enviar_notificacao.mensagem }}
                </div>
                 <div class="row" align="right">
                    <p><span id="caracteres">135</span> caracteres restantes</p>
                </div>
                <div class="ui success message">
                    <b>Deu bom! o/</b><br>
                    A notificação foi enviada para o Firebase e Twitter com sucesso!
                </div>
                <div class="ui error message">
                    <span><b>Ops, deu ruim :-(</b></span><br>
                    <span id="detalhes_erro_enviar_notificacao"></span>
                </div>
            </form>
        </div>
    </div>
    <div class="actions">
        <button class="ui blue button" id="id_botao_enviar_notificacao">
            <i class="send icon"></i>
            Enviar notificação
        </button>
    </div>
</div>

<script type="text/javascript">

    $('#id_botao_enviar_notificacoes').on('click', function () {
        $('#id_modal_enviar_notificacao').modal('show');
        resetarModalEnviarNotificacoes();
    });

    function resetarModalEnviarNotificacoes() {
        $('#id_mensagem').val("");
        $("#caracteres").text("135");
        $('#id_formulario_enviar_notificacao').removeClass('error').removeClass('success');
        $('#id_modal_enviar_notificacao').modal('refresh');
        botaoEnviarNotificacao.addClass('disabled');
    }

    var botaoEnviarNotificacao = $('#id_botao_enviar_notificacao');

    botaoEnviarNotificacao.on('click', function () {
        botaoEnviarNotificacao.addClass('loading');

        var formulario = $('#id_formulario_enviar_notificacao');
        formulario.removeClass('success').removeClass('error');

        $.post("{% url 'secompufscar2017:enviar_notificacao' %}", formulario.serialize())
            .done(function () {
                botaoEnviarNotificacao.removeClass('loading');
                formulario.addClass('success');
                $('#id_modal_enviar_notificacao').modal('refresh');
            }).fail(function(data) {
                botaoEnviarNotificacao.removeClass('loading');
                formulario.addClass('error');
                $('#detalhes_erro_enviar_notificacao').text(data.mensagem);
                $('#id_modal_enviar_notificacao').modal('refresh');
        });
    });

    $('#id_mensagem').on('input', function() {
        var limite = 135;
        var caracteresDigitados = $(this).val().length;
        var caracteresRestantes = limite - caracteresDigitados;

        $("#caracteres").text(caracteresRestantes);

        if (caracteresDigitados > 0) {
            botaoEnviarNotificacao.removeClass('disabled');
        }
    });

</script>