<div class="ui large modal" id="id_modal_gerar_listas">
    <i class="close icon"></i>
    <div class="icon header">
        <i class="file pdf outline icon"></i>
        Geração de listas
    </div>
    <div class="content">
        <div class="description">
            <h3 class="ui horizontal divider header">
                Lista de Inscritos
            </h3>
            <div class="row">
                <div class="ui form" id="form_lista_inscritos">
                    <div class="fields">
                        <div class="two wide field">
                            <label for="id_range_start">De</label>
                            <input id="range_start_lista_inscritos" name="range_start" maxlength="1" placeholder="a">
                        </div>
                        <div class="two wide field">
                            <label for="id_range_end">Até</label>
                            <input id="range_end_lista_inscritos" name="range_end" maxlength="1" placeholder="z">
                        </div>
                    </div>
                </div>
                <div class="ui two wide column">
                    <div id="button_lista_inscritos" class="ui green button">Todas as inscrições</div>
                    <div id="button_lista_inscritos_kit" class="ui green button">Apenas inscrições com KIT</div>
                </div>
            </div>

            <h3 class="ui horizontal divider header">
                Listas para Atividades
            </h3>
            <div class="row">
                <div class="ui form" id="form_lista_inscritos">
                    <div class="fields">
                        <div class="sixteen wide field">
                            <label for="id_dropdown_atividades">
                                Atividade:</label>
                            <div class="ui search selection scrooling dropdown"
                                 id="id_dropdown_atividades">
                                <i class="dropdown icon"></i>
                                <input type="hidden" name="inscricao" id="id_inscricao">
                                <div class="default text">Selecione a atividade</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui two wide column">
                    <div id="button_lista_presenca_atividade" class="ui disabled green button">Presenças</div>
                    <div id="button_lista_inscritos_atividade" class="ui disabled green button">Inscrições</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.ui.dropdown')
        .dropdown();

    $('#id_botao_gerar_listas').on('click', function () {

        $('#id_dropdown_atividades').dropdown({
            apiSettings: {
                url: "{%  url 'secompufscar2017:api_get_atividades' %}",
                cache: false
            },
            message: {
                noResults: 'Nenhuma atividade encontrada'
            },
            saveRemoteData: false,
            onChange: function (value) {
                if (value) {
                    atividade_id = value;
                    $('#button_lista_presenca_atividade').removeClass('disabled');
                    $('#button_lista_inscritos_atividade').removeClass('disabled');
                } else {
                    $('#button_lista_presenca_atividade').addClass('disabled');
                    $('#button_lista_inscritos_atividade').addClass('disabled');
                }
            }
        });

        $('#id_modal_gerar_listas').modal('show');
    });


    $('#button_lista_inscritos').on('click', function () {
        var start = $('#range_start_lista_inscritos').val();
        var end = $('#range_end_lista_inscritos').val();
        var url = "{% url 'secompufscar2017:gerar_lista_inscricoes' %}" + "?start=" + start + "&end=" + end + "&tipo=0";

        window.open(url, '_blank');
    });


    $('#button_lista_inscritos_kit').on('click', function () {
        var start = $('#range_start_lista_inscritos').val();
        var end = $('#range_end_lista_inscritos').val();
        var url = "{% url 'secompufscar2017:gerar_lista_inscricoes' %}" + "?start=" + start + "&end=" + end + "&tipo=1";

        window.open(url, '_blank');
    });

    var atividade_id;

    $('#button_lista_presenca_atividade').on('click', function () {

        var url = "{% url 'secompufscar2017:gerar_lista_atividades' %}" + "?id=" + atividade_id + "&tipo=0";
        window.open(url, '_blank');

    });

    $('#button_lista_inscritos_atividade').on('click', function () {

        var url = "{% url 'secompufscar2017:gerar_lista_atividades' %}" + "?id=" + atividade_id + "&tipo=1";
        window.open(url, '_blank');
    })


</script>