<div class="ui large modal" id="id_modal_aprovar_comprovante">
    <i class="close icon"></i>
    <div class="icon header">
        <i class="money icon"></i>
        Aprovar/rejeitar comprovantes de pagamento
    </div>
    <div class="content">
        <div class="description">
            <form class="ui form" id="id_formulario_aprovar_comprovante">
                {% csrf_token %}
                <div class="ui grid">
                    <div class="ui sixteen wide column">
                        <div class="field">
                            <label for="id_dropdown_selecionar_inscricao">
                                Inscrições com comprovantes pendentes de aprovação:</label>
                            <div class="ui search selection scrooling dropdown"
                                    id="id_dropdown_selecionar_inscricao">
                                <i class="dropdown icon"></i>
                                <input type="hidden" name="inscricao" id="id_inscricao_comprovante">
                                <div class="default text">Selecione a inscrição</div>
                            </div>
                        </div>
                    </div>

                    <div class="ui sixteen wide column" id="id_detalhes_inscricao">
                        <table class="ui celled striped table">
                            <tbody>
                            <tr>
                                <td class="two wide"><b>Nome completo</b></td>
                                <td class="fourteen wide">
                                    <span id="nome"></span> <span id="sobrenome"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="two wide"><b>E-mail</b></td>
                                <td class="fourteen wide"><span id="email"></span></td>
                            </tr>
                            <tr>
                                <td class="two wide"><b>Camiseta</b></td>
                                <td class="fourteen wide"><span id="camiseta"></span></td>
                            </tr>
                            <tr>
                                <td class="two wide"><b>Pagamentos não aprovados</b></td>
                                <td class="fourteen wide">
                                    <b>Valor:</b> R$ <span id="valor"></span><br>
                                    <b>Registro:</b> <span id="registro"></span><br>
                                    <b>Enviado em:</b> <span id="enviado_em"></span><br>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ui success icon message">
                    <i class="check icon"></i>
                    <div class="content">
                        <div class="header">
                            Operação realizada sucesso!
                        </div>
                       Um e-mail de confirmação foi enviado ao participante.
                    </div>
                </div>
                <div class="ui error icon message">
                    <i class="remove icon"></i>
                    <div class="content">
                        <div class="header">
                            Erro ao atualizar status do pagamento!
                        </div>
                        <span id="detalhes_erro_aprovacao_comprovante"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="actions">
        <button class="ui red left floated button" id="id_botao_rejeitar_comprovante">
            <i class="remove icon"></i>
            Rejeitar comprovante
        </button>
        <button class="ui green button" id="id_botao_aprovar_comprovante">
            <i class="check icon"></i>
            Aprovar comprovante
        </button>
    </div>
</div>

<script type="text/javascript">

    var botaoRejeitarComprovante = $('#id_botao_rejeitar_comprovante');
    var botaoAprovarComprovante = $('#id_botao_aprovar_comprovante');

    $('#id_botao_aprovar_pagamentos').on('click', function () {
        resetarModalDeAprovacaoDePagamento();
        $('#id_dropdown_selecionar_inscricao').dropdown({
            apiSettings: {
                url: "{%  url 'secompufscar2017:api_get_inscricoes_pagamentos_pendentes' %}",
                cache: false
            },
            message: {
                noResults: 'Nenhuma inscrição com pagamentos pendentes de aprovação o/'
            },
            saveRemoteData: false,
            onChange: function (value) {
                if (value) {
                    $('#id_detalhes_inscricao').hide(150);
                    $('#id_modal_aprovar_comprovante').modal('refresh');
                    $('#id_formulario_aprovar_comprovante').removeClass('success').removeClass('error');
                    var id_inscricao_comprovante = $('#id_inscricao_comprovante').val();

                    $.ajax({
                        url: "{% url 'secompufscar2017:api_get_detalhes_inscricao' id_inscricao='123456789' %}".replace('123456789', id_inscricao_comprovante),
                        data: function (data) {
                            return data.responseJSON;
                        },
                        success: function (data) {
                            $('#id_detalhes_inscricao').show(300, function () {
                                $('#nome').text(data.nome);
                                $('#sobrenome').text(data.sobrenome);
                                $('#email').text(data.email);
                                $('#camiseta').text(data.camiseta);
                                $('#valor').text(data.pagamento_nao_aprovado.valor);
                                $('#registro').text(data.pagamento_nao_aprovado.registro);
                                $('#enviado_em').text((new Date(data.pagamento_nao_aprovado.enviado_em)).toLocaleString('pt-BR'));
                                botaoAprovarComprovante.removeClass('disabled');
                                botaoRejeitarComprovante.removeClass('disabled');
                                $('#id_modal_aprovar_comprovante').modal('refresh');
                            });
                        }
                    });
                } else {
                    resetarModalDeAprovacaoDePagamento();
                }
            }
        });

        $('#id_modal_aprovar_comprovante').modal('show');
    });

    function resetarModalDeAprovacaoDePagamento() {
        $('#id_dropdown_selecionar_inscricao').dropdown('clear');
        $('#nome').text("-");
        $('#sobrenome').text("");
        $('#email').text("-");
        $('#camiseta').text("-");
        $('#valor').text("-");
        $('#registro').text("-");
        $('#enviado_em').text("-");
        $('#id_formulario_aprovar_comprovante').removeClass('success').removeClass('error');
        $('#id_modal_aprovar_comprovante').modal('refresh');
        botaoAprovarComprovante.addClass('disabled');
        botaoRejeitarComprovante.addClass('disabled');
    }

    botaoAprovarComprovante.on('click', function () {
        botaoAprovarComprovante.addClass('loading');

        var formulario = $('#id_formulario_aprovar_comprovante');

        $.post("{% url 'secompufscar2017:aprovar_comprovante' %}", formulario.serialize())
            .done(function () {
                botaoAprovarComprovante.removeClass('loading');
                formulario.removeClass('error');
                formulario.addClass('success');
                botaoAprovarComprovante.addClass('disabled');
                botaoRejeitarComprovante.addClass('disabled');
                atualizarCamisetas();
                $('#id_modal_aprovar_comprovante').modal('refresh');
            }).fail(function(data) {
                botaoAprovarComprovante.removeClass('loading');
                formulario.removeClass('success');
                formulario.addClass('error');
                $('#detalhes_erro_aprovacao_comprovante').text(data.descricao);
                botaoAprovarComprovante.removeClass('disabled');
                atualizarCamisetas();
                $('#id_modal_aprovar_comprovante').modal('refresh');
        });
    });

    botaoRejeitarComprovante.on('click', function () {
        botaoRejeitarComprovante.addClass('loading');

        var formulario = $('#id_formulario_aprovar_comprovante');

        $.post("{% url 'secompufscar2017:rejeitar_comprovante' %}", formulario.serialize())
            .done(function () {
                botaoRejeitarComprovante.removeClass('loading');
                formulario.removeClass('error');
                formulario.addClass('success');
                botaoRejeitarComprovante.addClass('disabled');
                botaoAprovarComprovante.addClass('disabled');
                $('#id_modal_aprovar_comprovante').modal('refresh');
            }).fail(function(data) {
                botaoRejeitarComprovante.removeClass('loading');
                formulario.removeClass('success');
                formulario.addClass('error');
                $('#detalhes_erro_aprovacao_comprovante').text(data.descricao);
                botaoRejeitarComprovante.removeClass('disabled');
                $('#id_modal_aprovar_comprovante').modal('refresh');
        });
    });

</script>
