<div class="ui large modal" id="id_modal_gerar_crachas">
    <i class="close icon"></i>
    <div class="icon header">
        <i class="file pdf outline icon"></i>
        Geração de crachás
    </div>
    <div class="content">
        <div class="description">
            <form class="ui form" action="{% url 'secompufscar2017:gerar_crachas' %}" method="post"
                  id="crachas_participantes" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="ui grid">
                    <div class="ui equal width row">
                        <div class="column">
                            <div class="field">
                                <label for="id_tipo_cracha">{{ form_gerar_crachas.tipo_cracha.label_tag }}</label>
                                {{ form_gerar_crachas.tipo_cracha }}
                            </div>
                        </div>
                    </div>

                    <div class="ui equal width row">
                        <div class="column">
                            <div class="field">
                                <label for="id_datetime_inicio">{{ form_gerar_crachas.datetime_inicio.label_tag }}</label>
                                <input name="datetime_inicio" id="id_datetime_inicio" type="date"/>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label for="id_datetime_fim">{{ form_gerar_crachas.datetime_fim.label_tag }}</label>
                                <input name="datetime_fim" id="id_datetime_fim" type="date"/>
                            </div>
                        </div>
                    </div>

                    <div class="ui equal width row">
                        <div class="column">
                            <div class="field">
                                <label for="id_font_family">{{ form_gerar_crachas.font_family.label_tag }}</label>
                                {{ form_gerar_crachas.font_family }}
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label for="id_cracha_front">{{ form_gerar_crachas.cracha_front.label_tag }}</label>
                                {{ form_gerar_crachas.cracha_front }}
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label for="id_cracha_back">{{ form_gerar_crachas.cracha_back.label_tag }}</label>
                                {{ form_gerar_crachas.cracha_back }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="actions">
        <button class="ui blue button" id="id_botao_gerar">
            <i class="file pdf outline icon"></i>
            Gerar PDF com crachás
        </button>
    </div>
</div>

<script type="text/javascript">
    $('.ui.dropdown')
        .dropdown();

    $('#id_botao_gerar_crachas').on('click', function () {
        $('#crachas_participantes')[0].reset();
        $('#id_modal_gerar_crachas').modal('show');
    });

    var botaoGerarPdf = $('#id_botao_gerar');

    botaoGerarPdf.on('click', function () {
        $('#crachas_participantes').submit();
    });

</script>