<div class="ui large modal" id="id_modal_alterar_camiseta">
    <i class="close icon"></i>
    <div class="icon header">
        <i class="child icon"></i>
        Alterar tamanho da camiseta
    </div>
    <div class="content">
        <form class="ui form" id="id_formulario_camiseta"
              method="post">
            {% csrf_token %}
            <div class="ui grid">
                <div class="ui sixteen wide column">
                    <div class="field">
                        <label for="id_dropdown_selecionar_inscricao_com_kit">
                            Inscrições que compraram camisetas:</label>
                        <div class="ui live search selection scrooling dropdown"
                             id="id_dropdown_selecionar_inscricao_com_kit">
                            <i class="dropdown icon"></i>
                            <input type="hidden" name="inscricao" id="id_inscricao_camiseta">
                            <div class="default text">Selecione a inscrição</div>
                        </div>
                    </div>
                </div>
                <div class="ui sixteen wide column">
                    <h3 class="ui header">
                        Selecione a nova camiseta:
                    </h3>
                    <div class="grouped fields">
                        {% for camiseta in camisetas %}
                            <div class="{% if camiseta.quantidade_restante <= 0 %}error disabled {% endif %}field"
                                 id="id_field_camiseta_{{ camiseta.id }}">
                                <div class="ui radio checkbox">
                                    <label for="id_camiseta_{{ camiseta.id }}"
                                           id="id_label_camiseta_{{ camiseta.id }}">
                                        {{ camiseta.tamanho }}
                                        {% if camiseta.quantidade_restante > 0 %}
                                            ({{ camiseta.quantidade_restante }})
                                        {% endif %}
                                        {% if camiseta.quantidade_restante <= 0 %}
                                            (esgotada){% endif %}</label>
                                    <input type="radio" name="camiseta"
                                           value="{{ camiseta.id }}"
                                           id="id_camiseta_{{ camiseta.id }}"
                                           tabindex="0"
                                           class="hidden">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="ui icon success message" id="id_alterar_camiseta_mensagem_sucesso">
                        <i class="check icon"></i>
                        <div class="content">
                            <div class="header">
                                Operação realizada!
                            </div>
                            Tamanho da camiseta alterado com sucesso.
                        </div>
                    </div>
                    <div class="ui icon error message" id="id_alterar_camiseta_mensagem_erro">
                        <i class="remove icon"></i>
                        <div class="content">
                            <div class="header">
                                Erro :-(
                            </div>
                            <span id="id_alterar_camiseta_conteudo_mensagem_erro"></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui blue button" id="id_botao_salvar_camisetas">
            <i class="save icon"></i>
            Salvar alteração
        </button>
    </div>
</div>

{% include 'secompufscar2017/area_administrativa/auto_atualizacao_quantidades_camisetas.html' %}

<script type="text/javascript">

    $('.ui.checkbox').checkbox();

    $('#id_botao_alterar_camisetas').on('click', function () {
        resetModalDeAlteracaoDeCamisetas();
        $('#id_dropdown_selecionar_inscricao_com_kit').dropdown({
            apiSettings: {
                url: "{%  url 'secompufscar2017:api_get_participantes_com_camiseta' %}",
                cache: false
            },
            message: {
                noResults: 'Nenhuma camiseta comprada :('
            },
            localSearch: false,
            saveRemoteData: false
        });
        $('#id_modal_alterar_camiseta').modal('show');
    });

    function resetModalDeAlteracaoDeCamisetas() {
        var formulario = $('#id_formulario_camiseta');
        formulario[0].reset();
        formulario.removeClass('error').removeClass('success');
        $('#id_modal_alterar_camiseta').modal('refresh');
    }

    var botaoSalvarAlteracao = $('#id_botao_salvar_camisetas');

    botaoSalvarAlteracao.addClass('disabled');

    $('#id_dropdown_selecionar_inscricao_com_kit').dropdown({
        apiSettings: {
            url: "{%  url 'secompufscar2017:api_get_participantes_com_camiseta' %}",
            cache: false
        },
        message: {
            noResults: 'Nenhum kit comprado :('
        },
        saveRemoteData: false
    }).on('change', function () {
            $('#id_detalhes_inscricao').hide(150);
            $('#id_formulario_camiseta').removeClass('success').removeClass('error');
            var id_inscricao = $('#id_inscricao_camiseta').val();

            $.ajax({
                url: "{% url 'secompufscar2017:api_get_detalhes_inscricao_all' id_inscricao='123456789' %}".replace('123456789', id_inscricao),
                data: function (data) {
                    return data.responseJSON;
                },
                success: function (data) {
                    atualizarCamisetas();
                    var camiseta = 'input#id_camiseta_' + data.camiseta_id.toString();
                    $(camiseta).prop('checked', true);
                    botaoSalvarAlteracao.removeClass('disabled');
                }
            });
    }).on('click', function () {
        $('#id_formulario_camiseta').removeClass('error').removeClass('success');
        $('#id_modal_alterar_camiseta').modal('refresh');
    });

    botaoSalvarAlteracao.on('click', function () {
        botaoSalvarAlteracao.addClass('loading');

        var formulario = $('#id_formulario_camiseta');
        formulario.removeClass('error').removeClass('success');
        $('#id_modal_alterar_camiseta').modal('refresh');

        $.post("{% url 'secompufscar2017:atualizar_tamanho_camisetas' %}", formulario.serialize())
            .done(function () {
                botaoSalvarAlteracao.removeClass('loading');
                formulario.removeClass('error').addClass('success');
                atualizarCamisetas();
                $('#id_modal_alterar_camiseta').modal('refresh');
            }).fail(function (data) {
                botaoSalvarAlteracao.removeClass('loading');
                formulario.removeClass('success').addClass('error');
                $('#id_alterar_camiseta_conteudo_mensagem_erro').text(data.responseJSON.mensagem);
                botaoAprovarComprovante.removeClass('disabled');
                $('#id_modal_alterar_camiseta').modal('refresh');
        });
    });

</script>