<div class="ui large modal" id="id_modal_enviar_email">
    <i class="close icon"></i>
    <div class="header">
        Enviar email para todos os inscritos
    </div>
    <div class="scrooling content">
        <div class="description">
            <form class="ui form" id="id_formulario_enviar_email">
                {% csrf_token %}

                <div class="row">
                    <div class="field">
                        <label for="id_assunto">{{ form_enviar_email.assunto.label_tag }}</label>
                        {{ form_enviar_email.assunto }}
                    </div>

                </div>

                <div class="row">
                    <div class="field">
                        <label for="id_titulo">{{ form_enviar_email.titulo.label_tag }}</label>
                        {{ form_enviar_email.titulo }}
                    </div>

                </div>

                <div class="row">
                    <div class="field">
                        <label for="id_conteudo">{{ form_enviar_email.conteudo.label_tag }}</label>
                        {{ form_enviar_email.conteudo }}
                    </div>
                </div>

                <div class="ui success message">
                    <span><b>Emails enviados com sucesso!</b></span><br>

                    <span id="detalhes_sucesso_enviar_email"></span>
                </div>
                <div class="ui error message">
                    <span id="detalhes_erro_enviar_email"></span>
                </div>
            </form>
        </div>
    </div>
    <div class="actions">

        <button class="ui blue left floated button" id="id_botao_realizar_teste">
            <i class="mail forward icon"></i>
            Realizar teste
        </button>

        <button class="ui green button" id="id_botao_enviar_email">
            <i class="send icon"></i>
            Enviar email
        </button>
    </div>
</div>

<script type="text/javascript">


    $('#id_botao_abrir_modal_enviar_email').on('click', function () {
        $('#id_modal_enviar_email').modal('show');
    });

    var botaoEnviarEmail = $('#id_botao_enviar_email');
    var botaoRealizarTeste = $('#id_botao_realizar_teste');
    var formulario = $('#id_formulario_enviar_email');

    formulario.removeClass('success').removeClass('error');

    botaoRealizarTeste.on('click', function () {
        botaoRealizarTeste.addClass('loading');

        formulario.removeClass('success').removeClass('error');

        $.post("{% url 'secompufscar2017:realizar_teste_email' %}", formulario.serialize())
            .done(function (data) {
                botaoRealizarTeste.removeClass('loading');
                formulario.removeClass('error');
                formulario.addClass('success');
                $('#detalhes_sucesso_enviar_email').text(JSON.parse(data.responseText).mensagem);
            }).fail(function (data) {
            botaoRealizarTeste.removeClass('loading');
            formulario.removeClass('success');
            formulario.addClass('error');
            $('#detalhes_erro_enviar_email').text(JSON.parse(data.responseText).mensagem);
        });
    });

    botaoEnviarEmail.on('click', function () {
        botaoEnviarEmail.addClass('loading');

        formulario.removeClass('success').removeClass('error');

        $.post("{% url 'secompufscar2017:enviar_email_generico' %}", formulario.serialize())
            .done(function (data) {
                botaoEnviarEmail.removeClass('loading');
                formulario.removeClass('error');
                formulario.addClass('success');
                $('#detalhes_sucesso_enviar_email').text(JSON.parse(data.responseText).mensagem);

            }).fail(function (data) {
            botaoEnviarEmail.removeClass('loading');
            formulario.removeClass('success');
            formulario.addClass('error');
            $('#detalhes_erro_enviar_email').text(JSON.parse(data.responseText).mensagem);
        });
    });
</script>