<div class="ui large modal" id="id_modal_venda_presencial">
    <i class="close icon"></i>
    <div class="icon header">
        <i class="shopping bag icon"></i>
        Venda presencial de kits
    </div>
    <div class="content">
        <div class="description">
            <form class="ui form" id="id_formulario_venda_presencial" novalidate>
                {% csrf_token %}
                <div class="ui grid">
                    <div class="ui sixteen wide column">
                        <div class="field">
                            <label for="id_dropdown_venda_presencial_inscricoes_sem_kit">
                                Inscrições que não compraram o kit</label>
                            <div class="ui search selection scrooling dropdown"
                                    id="id_dropdown_venda_presencial_inscricoes_sem_kit">
                                <i class="dropdown icon"></i>
                                <input type="hidden" name="inscricao_venda_presencial" id="id_inscricao_venda_presencial">
                                <div class="default text">Selecione a inscrição</div>
                            </div>
                        </div>
                    </div>

                    <div class="ui stackable row" id="id_venda_presencial_detalhes_inscricao">
                        <div class="ten wide computer six wide tablet sixteen wide mobile column">
                            <h3 class="ui header" id="venda_presencial_titulo_confirme_inscricao">
                                Selecione uma inscrição no dropdown acima.
                            </h3>
                            <input type="hidden" name="codigo_inscricao_venda_presencial"
                                   id="id_codigo_inscricao_venda_presencial">

                            <table class="ui celled striped table">
                                <tbody>
                                <tr>
                                    <td class="three wide"><b>Nome completo</b></td>
                                    <td class="thirteen wide">
                                        <span id="venda_presencial_nome">-</span> <span id="venda_presencial_sobrenome"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="three wide"><b>E-mail</b></td>
                                    <td class="thirteen wide"><span id="venda_presencial_email">-</span></td>
                                </tr>
                                <tr>
                                    <td class="three wide"><b>Pagamentos registrados:</b></td>
                                    <td class="thirteen wide">
                                        <div id="venda_presencial_pagamentos">-</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="three wide computer six wide tablet sixteen wide mobile column">
                            <h3 class="ui header">
                                Selecione a camiseta:
                            </h3>

                            <div class="disabled grouped fields" id="camisetas_venda_presencial">
                                {% for camiseta in evento.camisetas.all %}
                                    <div class="{% if camiseta.quantidade_restante <= 0 %}error disabled {% endif %}field"
                                         id="id_field_camiseta_{{ camiseta.id }}">
                                        <div class="ui radio checkbox">
                                            <label for="id_camiseta_{{ camiseta.id }}"
                                                   id="id_label_camiseta_{{ camiseta.id }}">
                                                {{ camiseta.tamanho }}
                                                ({{ camiseta.quantidade_restante }} disp.)</label>
                                            <input type="radio" name="camiseta"
                                                   value="{{ camiseta.id }}"
                                                    {% if forloop.first and camiseta.quantidade_restante > 0 %}
                                                   checked="" {% endif %}
                                                   id="id_camiseta_{{ camiseta.id }}"
                                                   tabindex="0"
                                                   class="hidden" required>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="ui three wide computer four wide tablet sixteen wide mobile center aligned column">
                            <h3 class="ui header">
                                Valor a pagar:
                            </h3>
                            <p>
                                <label class="ui huge green label">
                                    <span id="venda_presencial_valor_a_pagar">R$ 0,00</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="ui sixteen wide column">
                        <div class="ui success icon message">
                            <i class="check icon"></i>
                            <div class="content">
                                <div class="header">
                                    Venda realizada com sucesso!
                                </div>
                               Um e-mail de confirmação foi enviado ao participante.
                            </div>
                        </div>
                        <div class="ui error icon message">
                            <i class="remove icon"></i>
                            <div class="content">
                                <div class="header">
                                    Erro ao realizar a venda:
                                </div>
                                <span id="venda_presencial_mensagem_erro"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="actions">
        <button class="ui blue left floated button" id="id_botao_realizar_nova_venda">
            <i class="repeat icon"></i>
            Realizar nova venda
        </button>
        <button class="ui disabled green button" id="id_botao_confirmar_venda">
            <i class="save icon"></i>
            Confirmar venda
        </button>
    </div>
</div>

{% include 'secompufscar2017/area_administrativa/auto_atualizacao_quantidades_camisetas.html' %}

<script type="text/javascript">
    $('#id_botao_venda_presencial').on('click', function () {

        var idCamisetaSelecionada = $('input[name="camiseta"]:checked').val();
        if (idCamisetaSelecionada) {
            $('input#id_camiseta_' + idCamisetaSelecionada).prop('checked', false);
        }

        $('#id_modal_venda_presencial').modal('show', {
            onHidden: resetarCamposDetalhesInscricao()
        });

        $('#id_dropdown_venda_presencial_inscricoes_sem_kit').dropdown({
            apiSettings: {
                url: "{%  url 'secompufscar2017:api_get_inscricoes_sem_kit' %}",
                cache: false
            },
            message: {
                noResults: 'Todos os inscritos compraram o kit o/'
            },
            saveRemoteData: false,
            onChange: function (value) {
                $('#id_botao_confirmar_venda').removeClass('disabled');
                $('#id_formulario_venda_presencial').removeClass('error').removeClass('success');
                var id_inscricao = $('#id_inscricao_venda_presencial').val();
                if (id_inscricao) {
                    resetarCamposDetalhesInscricao();
                    $('#id_codigo_inscricao_venda_presencial').val(value);

                    $.ajax({
                        url: "{% url 'secompufscar2017:api_get_detalhes_inscricao' id_inscricao='123456789' %}".replace('123456789', id_inscricao),
                        data: function (data) {
                            return data.responseJSON;
                        },
                        success: function (data) {
                            atualizarCamisetas();
                            $('#venda_presencial_titulo_confirme_inscricao').text('Confirme os dados da inscrição:');
                            $('#camisetas_venda_presencial').removeClass('disabled');
                            var vendaPresencialDetalhesInscricao = $('#id_venda_presencial_detalhes_inscricao');
                            vendaPresencialDetalhesInscricao.hide(150);
                            vendaPresencialDetalhesInscricao.show(300, function () {
                                $('#venda_presencial_nome').text(data.nome);
                                $('#venda_presencial_sobrenome').text(data.sobrenome);
                                $('#venda_presencial_email').text(data.email);
                                $('#venda_presencial_valor_a_pagar').text('R$ ' + data.valor_pendente_pagamento);

                                if (data.pagamentos) {
                                    var pagamentos = $('#venda_presencial_pagamentos');
                                    if (data.pagamentos.length > 0) {
                                        pagamentos.html("");
                                    }

                                    for (var i = 0; i < data.pagamentos.length; i++) {
                                        var pagamento = '<b>Valor</b>: R$ ' + data.pagamentos[i].valor;
                                        pagamento += '<br><b>Registro</b>: ' + data.pagamentos[i].registro;
                                        pagamento += '<br><b>Data/hora do registro</b>: ' +
                                            formatarDataPagamento(new Date(data.pagamentos[i].data_hora_pagamento));
                                        pagamento += '<br>';

                                        if (i !== data.pagamentos.length - 1 && data.pagamentos.length > 1) {
                                            pagamento += '<br>';
                                        }
                                        pagamentos.html(pagamentos.html() + pagamento);
                                    }
                                }
                                $('#id_modal_venda_presencial').modal('refresh');
                            });
                        }
                    });
                }
            }
        });
    });

    $('#id_botao_realizar_nova_venda').on('click', function() {
        $('#id_dropdown_venda_presencial_inscricoes_sem_kit').dropdown('clear');
        $('#venda_presencial_titulo_confirme_inscricao').text('Selecione uma inscrição no dropdown acima.');
        $('#camisetas_venda_presencial').addClass('disabled');
        $('#id_botao_confirmar_venda').addClass('disabled');
        resetarCamposDetalhesInscricao();
    });

    var formularioVendaPresencial = $('#id_formulario_venda_presencial');

    $('#id_botao_confirmar_venda').on('click', function() {
        formularioVendaPresencial.removeClass('error').removeClass('success');
        if (formularioVendaPresencial.form('is valid')) {
            $(this).addClass('loading');
            $.post("{% url 'secompufscar2017:realizar_venda_presencial' %}", formularioVendaPresencial.serialize())
                .done(function () {
                    var botaoConfirmarVenda = $('#id_botao_confirmar_venda');
                    botaoConfirmarVenda.removeClass('loading').addClass('disabled');
                    formularioVendaPresencial.removeClass('error').addClass('success');
                    resetarCamposDetalhesInscricao();
                    botaoConfirmarVenda.addClass('disabled');
                    atualizarCamisetas();
                    $('#id_modal_venda_presencial').modal('refresh');
                }).fail(function(data) {
                    $('#id_botao_confirmar_venda').removeClass('loading').removeClass('disabled');
                    formularioVendaPresencial.removeClass('success').addClass('error');
                    $('#venda_presencial_mensagem_erro').text(data.responseJSON.mensagem);
                    atualizarCamisetas();
                    $('#id_modal_venda_presencial').modal('refresh');
                });
            }
        });

    function formatarDataPagamento(dataHora) {
        return dataHora.toLocaleString('pt-BR');
    }

    function resetarCamposDetalhesInscricao() {
        var pagamentos = $('#venda_presencial_pagamentos');
        pagamentos.html("-");
        $('#venda_presencial_nome').text("-");
        $('#venda_presencial_sobrenome').text("");
        $('#venda_presencial_email').text("-");
        $('#venda_presencial_valor_a_pagar').text("R$ 0,00");
        $('#id_botao_confirmar_venda').removeClass('disabled');
        $('#id_modal_venda_presencial').modal('refresh');
        $('#id_codigo_inscricao_venda_presencial').val("");
    }

    $('.ui.radio.checkbox').checkbox();
</script>
