<div class="ui large modal" id="sortear">
    <div class="header">
        <i class="i cursor icon"></i>
        Sorteio muito honesto, confie na gente!
    </div>
    <div class="content">
        <div class="ui form" id="formzao_da_massa" novalidade>
            <div class="sixteen wide field">
                <label>Selecione a atividade:</label>
                <select name="atividade" class="ui dropdown" id="drop_sorteio">
                    {% for a in atividades_do_evento %}
                        <option value="{{ a.id }}">{{ a.titulo }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="sixteen wide field">
                <div class="ui positive button" onclick="faz_a_boa()">
                    Sortear
                </div>
            </div>
            <div class="field">
                <label>Nome do vencedor honesto:</label>
                <h2 id="vencedor"></h2>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#id_botao_sortear').on('click', function () {
        $('#sortear').modal('show');
    });

    form = $('#formzao_da_massa');
    form.submit(function (event) {
        event.preventDefault();
    });

    function faz_a_boa()
    {
        select = document.getElementById('drop_sorteio');
        id = select.options[select.selectedIndex].value;
        $.get(window.location.href + 'sortear-presente/' + id, function (data) {
            $('#vencedor').html(data.mensagem);
        }).fail(function () {
            $('#vencedor').html("Um erro ocorreu. Talvez as inscrições não tenham sido enviadas.");
        });
    }
</script>