<div class="ui large modal" id="id_modal_gerar_crachas_unitarios">
    <i class="close icon"></i>
    <div class="icon header">
        <i class="file pdf outline icon"></i>
        Geração de crachás
    </div>
    <div class="content">
        <div class="description">
            <form class="ui form" action="{% url 'secompufscar2017:gerar_crachas_unitarios' %}" method="post"
                  id="crachas_participantes_unit" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="ui grid">
                    <div class="ui equal width row">
                        <div class="column">
                            <div class="field">
                                <label for="id_tipo_cracha">{{ form_unique_crachas.tipo_cracha.label_tag }}</label>
                                {{ form_unique_crachas.tipo_cracha }}
                            </div>
                        </div>
                    </div>
                    <div class="ui equal width row">
                        <div class="column">
                            <div class="field">
                                <label for="id_tipo_cracha">{{ form_unique_crachas.tipo_cracha.label_tag }}</label>
                                {{ form_unique_crachas.participantes }}
                            </div>
                        </div>
                    </div>

                    <div class="ui equal width row">
                        <div class="column">
                            <div class="field">
                                <label for="id_font_family">{{ form_unique_crachas.font_family.label_tag }}</label>
                                {{ form_unique_crachas.font_family }}
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label for="id_cracha_front">{{ form_unique_crachas.cracha_front.label_tag }}</label>
                                {{ form_unique_crachas.cracha_front }}
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label for="id_cracha_back">{{ form_unique_crachas.cracha_back.label_tag }}</label>
                                {{ form_unique_crachas.cracha_back }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="actions">
        <button class="ui blue button" id="id_botao_gerar_unit">
            <i class="file pdf outline icon"></i>
            Gerar PDF com crachás
        </button>
    </div>
</div>

<script type="text/javascript">
    $('.ui.dropdown')
        .dropdown();

    $('#id_botao_gerar_unitario').on('click', function () {
        //$('#crachas_participantes')[0].reset();
        $('#id_modal_gerar_crachas_unitarios').modal('show');
    });

    var botaoGerarPdf = $('#id_botao_gerar_unit');

    botaoGerarPdf.on('click', function () {
        $('#crachas_participantes_unit').submit();
    });

</script>