{% extends 'secompufscar2018/helpers/base.html' %}

{% block body_content %}
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">Redefinição de Senha</h1>
            </div>
            <div class="sixteen wide column">
                <div class="row">
                    <div class="ui four top attached steps">
                        <div class="step" id="passo_password_reset_form">
                            <i class="user icon"></i>
                            <div class="content">
                                <div class="title">Identifique-se</div>
                                <div class="description">Informe seu e-mail cadastrado</div>
                            </div>
                        </div>
                        <div class="step" id="passo_password_reset_done">
                            <i class="mail icon"></i>
                            <div class="content">
                                <div class="title">E-mail de redefinição enviado</div>
                                <div class="description">Verifique seu e-mail</div>
                            </div>
                        </div>
                        <div class="step" id="passo_password_reset_confirm">
                            <i class="lock icon"></i>
                            <div class="content">
                                <div class="title">Redefina sua senha</div>
                                <div class="description">Informe a nova senha</div>
                            </div>
                        </div>
                        <div class="step" id="passo_password_reset_complete">
                            <i class="check icon"></i>
                            <div class="content">
                                <div class="title">Redefinição concluída</div>
                                <div class="description">Sua senha foi redefinida com sucesso</div>
                            </div>
                        </div>
                    </div>

                    <div class="ui attached segment">
                        {% block passo_redefinicao_senha %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}
{% endblock %}