{% extends 'secompufscar2017/area_do_participante/gerenciamento_senha/container_redefinicao_de_senha.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Redefinição de senha{% endblock %}

{% block meta_description %}{% endblock meta_description %}

{% block passo_redefinicao_senha %}
    {% if validlink %}
        <h2>Informe sua nova senha</h2>
        <p>Por favor, informe-a duas vezes para garantirmos que você digitou-a corretamente.</p>

        <form action="" method="post" class="ui form">
            {% csrf_token %}
            <div class="sixteen wide mobile eight wide tablet six wide column field">
                <label>Nova senha (mínimo de 8 caracteres, não todos numéricos)</label>
                <div class="ui left icon input">
                    <input type="password" name="new_password1" placeholder="Nova senha"
                           id="new_password1">
                    <i class="lock icon"></i>
                </div>
            </div>

            <div class="sixteen wide mobile eight wide tablet six wide column field">
                <label>Confirmação da nova senha</label>
                <div class="ui left icon input">
                    <input type="password" name="new_password2"
                           placeholder="Confirmação da nova senha"
                           id="new_password2">
                    <i class="lock icon"></i>
                </div>
            </div>

            {% if form.errors %}
                <div class="ui negative message">
                    <div class="header">
                        Erro(s):
                    </div>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            - {{ error }}<br>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <p><button class="ui blue submit button">Redefinir</button></p>
        </form>
    {% else %}
        <h2>Redefinição de senha não concluída</h2>
        <p>O link de redefinição da senha utilizado era inválido, provavelmente porque
            alguém já usou-o anteriormente.</p>
        <p>Por favor, faça uma nova requisição de redefinição de senha.</p>
        <p><a href="{% url 'secompufscar2017:password_reset' %}">
            <button class="ui blue button">Redefinir senha</button>
        </a></p>

    {% endif %}

    <script type="text/javascript">
        $('#passo_password_reset_confirm').addClass('active');

        $('.ui.form').form({
            fields: {
                senha: {
                    identifier: 'new_password1',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Digite uma senha.'
                        },
                        {
                            type   : 'minLength[8]',
                            prompt : 'A senha deve conter pelo menos {ruleValue} caracteres.'
                        },
                        {
                            type: 'regExp',
                            value: /^(?=.*[a-zA-Z!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/,
                            prompt: 'A senha deve conter pelo menos um caractere não numérico.'
                        }
                    ]
                },
                confirmacao_senha: {
                    identifier: 'new_password2',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Digite novamente a sua senha.'
                        },
                        {
                            type: 'match[new_password1]',
                            prompt: 'A senha de confirmação não confere com a senha digitada.'
                        },
                        {
                            type   : 'minLength[8]',
                            prompt : 'A senha deve conter pelo menos {ruleValue} caracteres.'
                        },
                        {
                            type: 'regExp',
                            value: /^(?=.*[a-zA-Z!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/,
                            prompt: 'A senha deve conter pelo menos um caractere não numérico.'
                        }

                    ]
                }
            },
            inline: true,
            on: 'blur'
        });

        $('.ui.blue.submit.button').on('click', function() {
            $('.ui.blue.submit.button').addClass('loading');
        });
    </script>
{% endblock %}