{% extends 'secompufscar2017/area_do_participante/gerenciamento_senha/container_redefinicao_de_senha.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Formulário de Redefinição de Senha{% endblock %}

{% block meta_description %}{% endblock meta_description %}

{% block passo_redefinicao_senha %}
    <h2>Informe seu endereço de e-mail para enviarmos instruções de redefinição da senha</h2>

    <form action="" method="post" class="ui form" novalidate>
        {% csrf_token %}
        <div class="sixteen wide mobile eight wide tablet six wide column field">
            <label>E-mail</label>
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="email" name="email" placeholder="E-mail" id="id_email">
            </div>
        </div>
        <p><button class="ui blue submit button">Enviar e-mail de redefinição</button></p>
    </form>

    {% if form.email.errors %}
        <div class="ui negative message">
            <div class="content">
                <div class="header"></div>
                {{ form.email.errors }}
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        $('#passo_password_reset_form').addClass('active');

        $('.ui.form').form({
            fields: {
                email: {
                    identifier: 'id_email',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Digite seu e-mail.'
                        },
                        {
                            type: 'email',
                            prompt: 'Digite um e-mail válido.'
                        }

                    ]
                }
            },
            inline: true,
            on: 'blur'
        });

        $('.ui.blue.submit.button').on('click', function() {
            $('.ui.blue.submit.button').addClass('loading');
        });
    </script>
{% endblock %}