{% extends 'secompufscar2017/area_do_participante/gerenciamento_senha/container_redefinicao_de_senha.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Senha Redefinida{% endblock %}

{% block meta_description %}{% endblock meta_description %}

{% block passo_redefinicao_senha %}
    <h2>Senha redefinida com sucesso</h2>
    <p>Você já pode fazer login na Área do Participante com a nova senha.</p>
    <p>
        <a href="{% url 'secompufscar2017:login' %}">
            <input type="submit" value="Fazer login" class="ui blue submit button">
        </a>
    </p>

    <script type="text/javascript">
        $('#passo_password_reset_complete').addClass('active');
    </script>
{% endblock %}