{% extends 'secompufscar2017/area_do_participante/gerenciamento_senha/container_redefinicao_de_senha.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - E-mail de redefinição de senha{% endblock %}

{% block meta_description %}{% endblock meta_description %}

{% block passo_redefinicao_senha %}
    <h2>E-mail de redefinição enviado</h2>
    <p>Enviamos um e-mail para você com instruções de como configurar uma nova senha
        para o endereço de e-mail que você informou.</p>
    <p>Você deve recebê-lo dentro de instantes.</p>

    <script type="text/javascript">
        $('#passo_password_reset_done').addClass('active');
    </script>
{% endblock %}