<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Redefinição de senha - IX SECOMP UFSCar</title>
</head>
<body>

Você solicitou recuperação de senha no sistema da SECOMP UFSCar para o e-mail {{ email }}.
Clique no link a seguir para redefinir a sua senha:
{{ protocol }}://{{ domain }}{% url 'secompufscar2017:password_reset_confirm' uidb64=uid token=token %}

</body>
</html>