{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Comprar KIT{% endblock %}

{% block meta_description %}Confira os detalhes de sua inscrição na IX SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}

    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Compra do KIT IX SECOMP UFSCar
                </h1>
            </div>
            <div class="ui sixteen wide column">
                <div class="row">
                    <div class="ui centered grid">
                        <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui icon message wow fadeInUp" data-wow-delay="0.3s">
                                    <i class="smile icon"></i>
                                    <div class="content">
                                        <div class="header">Olá, {{ user.first_name }}!
                                            <a href="{% url 'secompufscar2017:logout' %}">
                                                <button class="ui right floated button">
                                                    Fazer logout
                                                </button>
                                            </a>
                                        </div>
                                        <p>Você não perde por esperar nos brindes do KIT deste ano.</p>
                                    </div>
                                </div>

                                {% include 'secompufscar2017/area_do_participante/inscricao/helpers/passos_inscricao.html' %}

                                <div class="ui attached segment">
                                    <h2 class="ui header">Compra online do KIT SECOMP 2018</h2>
                                    <div class="ui divider"></div>
                                    <div class="ui grid">
                                        <div class="ui sixteen wide column">
                                            <div class="ui grid">
                                                <div class="ui sixteen wide column">
                                                    <h3 class="ui header">
                                                        <i class="ticket icon"></i>
                                                        Cupom de desconto
                                                    </h3>
                                                    <p>Possui algum cupom de desconto? Aplique-o aqui. <b>Atenção:</b>
                                                        se você
                                                        aplicar um cupom de valor maior que o total a pagar, não haverá
                                                        estorno da diferença!</p>

                                                    {% if total_a_pagar != 0 %}
                                                        <form class="ui form" id="id_formulario_cupom" method="post"
                                                              action="{% url 'secompufscar2017:aplicar_cupom' %}"
                                                              novalidate>
                                                            {% csrf_token %}
                                                            <div class="ui centered grid">
                                                                <div class="ui eight wide computer sixteen wide tablet sixteen wide mobile column">
                                                                    <div class="field">
                                                                        <label for="id_cupom">Cupom:</label>
                                                                        {{ form_cupom.cupom }}
                                                                    </div>
                                                                    <button class="ui blue button"
                                                                            onclick="$('#id_formulario_cupom').submit()">
                                                                        <i class="add icon"></i>
                                                                        Aplicar cupom
                                                                    </button>
                                                                </div>
                                                            </div>


                                                            {% if form_cupom.errors %}
                                                                <div class="ui negative message">
                                                                    {% for field, errors in form_cupom.errors.items %}
                                                                        {% for erro in errors %}
                                                                            <i class="attention icon"></i>
                                                                            <b>{{ erro }}</b><br>
                                                                        {% endfor %}
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        </form>

                                                    {% else %}
                                                        <div class="ui form">
                                                            <div class="ui centered grid">
                                                                <div class="ui eight wide computer sixteen wide tablet sixteen wide mobile column">
                                                                    <div class="disabled field">
                                                                        <label for="id_cupom">Cupom:</label>
                                                                        <div class="ui action input">
                                                                            <input placeholder="Código de desconto">
                                                                            <button class="ui blue button"
                                                                                    onclick="$('#id_formulario_cupom').submit()">
                                                                                <i class="add icon"></i>
                                                                                Aplicar cupom
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <div class="ui sixteen wide center aligned column">
                                                    <h4 class="ui centered header">Total a pagar:</h4>
                                                    <div class="ui huge green label">
                                                        <span id="total_a_pagar">
                                                            R$ {{ total_a_pagar|floatformat:2 }}
                                                        </span>
                                                    </div>
                                                    {% if total_a_pagar == 0 %}
                                                        <div class="ui green message">
                                                            <b>Seu KIT já está pago! Escolha sua camiseta.</b>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                {% if inscricao.pagamentos.count > 0 %}
                                                    <div class="ui sixteen wide center aligned column">
                                                        {% include 'secompufscar2017/area_do_participante/dashboard/informacoes_pagamentos_realizados.html' %}
                                                    </div>
                                                {% endif %}
                                            </div>

                                            <div class="ui divider"></div>

                                            <div class="ui sixteen wide column">
                                                <h3 class="ui header">
                                                    <i class="add to cart icon"></i>
                                                    Camiseta
                                                </h3>

                                                <p>Não tem certeza do tamanho? Consulte a tabela de medidas clicando
                                                    <a href="{% static 'secompufscar2017/images/inscricoes/tabela_de_medidas_camisetas.png' %}" target="_blank">aqui</a>.</p>
                                                <div class="four wide computer six wide tablet sixteen wide mobile column">
                                                    <form class="ui form" id="id_formulario_camiseta"
                                                            {% if total_a_pagar != 0 %}
                                                          action="{% url 'secompufscar2017:realizar_pagamento_paypal' %}"
                                                            {% else %}
                                                          action="{% url 'secompufscar2017:reservar_kit' %}"
                                                            {% endif %}
                                                          method="post">
                                                        {% csrf_token %}
                                                        <div class="grouped fields">
                                                            {% for camiseta in evento.camisetas.all %}
                                                                <div class="{% if camiseta.quantidade_restante <= 0 %}error disabled {% endif %}field"
                                                                     id="id_field_camiseta_{{ camiseta.id }}">
                                                                    <div class="ui radio checkbox">
                                                                        <label for="id_camiseta_{{ camiseta.id }}"
                                                                               id="id_label_camiseta_{{ camiseta.id }}">
                                                                            {{ camiseta.tamanho }}
                                                                            {% if camiseta.quantidade_restante <= 0 %}
                                                                                (esgotada){% endif %}</label>
                                                                        <input type="radio" name="camiseta"
                                                                               value="{{ camiseta.id }}"
                                                                                {% if forloop.first and camiseta.quantidade_restante > 0 %}
                                                                               checked="" {% endif %}
                                                                               id="id_camiseta_{{ camiseta.id }}"
                                                                               tabindex="0"
                                                                               class="hidden">
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>

                                                        {% if total_a_pagar == 0 %}
                                                            <button class="ui blue button"
                                                                    onclick="$('#id_formulario_camiseta').submit()">
                                                                Selecionar camiseta
                                                            </button>
                                                        {% endif %}

                                                        {% if total_a_pagar != 0 %}
                                                            <div class="ui divider"></div>

                                                            <h3 class="ui header">
                                                                <i class="paypal card icon"></i>
                                                                Pagamento via PayPal
                                                            </h3>
                                                            <p>Você pode pagar com cartões de crédito via PayPal.
                                                                É rápido e prático!</p>
                                                            <p>Nesta opção, você será redirecionado ao portal seguro de
                                                                pagamento do PayPal
                                                                e,
                                                                após
                                                                conclusão do pagamento, será redirecionado de volta ao
                                                                nosso
                                                                site.</p>
                                                            <a href="javascript:void(0);"
                                                               onclick="pagarComPayPal();"
                                                               data-paypal-button="true">
                                                                <img src="{% static 'secompufscar2017/images/inscricoes/botao_pagar_com_paypal.png' %}"
                                                                     alt="Pague com PayPal">
                                                            </a>

                                                            <div class="ui divider"></div>
                                                            <h3 class="ui header">
                                                                <i class="money icon"></i>
                                                                Pagamento por transferência bancária ou depósito
                                                            </h3>
                                                            <p>Caso opte por pagar por transferência ou depósito, clique
                                                                no
                                                                botão abaixo para enviar o comprovante.</p>

                                                            <button class="ui blue labeled icon button"
                                                                    onclick="enviarComprovante()">
                                                                <i class="right arrow icon"></i>
                                                                Enviar comprovante
                                                            </button>
                                                            <!-- TODO colocar as informações corretas -->
                                                            <h3 class="ui header">Dados para depósito/transferência</h3>
                                                            <p>
                                                                <b>BANCO DO BRASIL</b><br>
                                                                <b>Razão Social:</b>Associação Acadêmica da Semana da Computação da Universidade Federal de São Carlos<br>
                                                                <b>Endereço:</b>Rodovia Washington Luís, Km 235 - SP-310 - Departamento de Computação - Jardim Guanabara - CEP 13565-905<br>
                                                                <b>Agência:</b> 1888-0<br>
                                                                <b>Conta corrente:</b> 35716-2<br>
                                                                <b>CNPJ:</b> 30800496/0001-49
                                                            </p>

                                                            <p>Caso queira enviar o comprovante mais tarde, basta
                                                                entrar na Área do Participante e clicar em "Comprar
                                                                KIT".</p>

                                                            <div class="ui divider"></div>

                                                            <h3 class="ui header">
                                                                <i class="shopping bag icon"></i>
                                                                Vendas presenciais
                                                            </h3>
                                                            <p>Prefere pagar em dinheiro? Também teremos vendas presenciais do
                                                                KIT! Acompanhe a nossa página do Facebook para datas e local
                                                                das vendas presenciais.</p>
                                                        {% endif %}
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if form_camiseta.errors %}
        <div class="ui small modal" id="modal_erro">
            <i class="close icon"></i>
            <div class="header">Erro na compra do KIT</div>
            <div class="content">
                <div class="description">
                    <p>Ocorreu um ou mais erros na compra do seu KIT. Verifique-os e tente novamente.</p>
                    <div class="ui error message">
                        {% for field, errors in form_camiseta.errors.items %}
                            {% for erro in errors %}
                                <b>- {{ erro }}</b><br>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <p>Caso acredite que este erro não devia ter acontecido,
                        entre em contato com a organização através do e-mail
                        <a href="mailto:contato@secompufscar.com.br">contato@secompufscar.com.br</a>.</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui blue ok button">
                    <i class="close icon"></i>
                    Fechar
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $('#modal_erro').modal('show');
        </script>
    {% endif %}

    {% if total_a_pagar != 0 %}
        <div class="ui basic modal" id="modal_redirecionando_paypal">
            <div class="ui icon header">
                <i class="paypal icon"></i>
            </div>

            <div class="content">
                <div class="ui centered grid">
                    <h1 class="ui inverted centered header">
                        Redirecionando para o PayPal
                    </h1>
                    <div class="row">
                        <i class="huge notched circle loading icon"></i>
                    </div>
                    <div class="row">
                        <p>Por favor, aguarde...</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="ui basic modal" id="modal_reservando_kit">
            <div class="ui icon header">
                <i class="add to cart icon"></i>
            </div>

            <div class="content">
                <div class="ui centered grid">
                    <h1 class="ui inverted centered header">
                        Reservando KIT
                    </h1>
                    <div class="row">
                        <i class="huge notched circle loading icon"></i>
                    </div>
                    <div class="row">
                        <p>Por favor, aguarde...</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        $('#passo_compra_kit').removeClass('disabled').addClass('active');

        setInterval(atualizarCamisetas, 5000);

        function atualizarCamisetas() {
            {% for camiseta in evento.camisetas.all %}
                atualizarDisponibilidadeCamiseta({{ camiseta.id }}, '{{ camiseta.tamanho }}');
            {% endfor %}
        }

        function atualizarDisponibilidadeCamiseta(idCamiseta, tamanhoCamiseta) {
            return $.getJSON(
                '{% url 'secompufscar2017:api_camisetas' id_camiseta='123456789' %}'.replace('123456789', idCamiseta),
                function (data) {
                    if (data.quantidade_restante <= 0) {
                        desabilitarCamiseta(idCamiseta, tamanhoCamiseta)
                    } else {
                        habilitarCamiseta(idCamiseta, tamanhoCamiseta);
                    }
                });
        }

        function habilitarCamiseta(idCamiseta, tamanhoCamiseta) {
            $('#id_field_camiseta_' + idCamiseta).removeClass('error').removeClass('disabled');
            $('#id_label_camiseta_' + idCamiseta).text(tamanhoCamiseta);
        }

        function desabilitarCamiseta(idCamiseta, tamanhoCamiseta) {
            $('#id_field_camiseta_' + idCamiseta).addClass('error').addClass('disabled');
            $('#id_label_camiseta_' + idCamiseta).text(tamanhoCamiseta + ' (esgotada)');
        }

        $('.ui.radio.checkbox').checkbox();

        var formularioCamiseta = $('#id_formulario_camiseta');

        formularioCamiseta.form({
            fields: {
                camiseta: {
                    identifier: 'camiseta',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Você precisa selecionar uma camiseta.'
                        }
                    ]
                }
            },
            inline: true,
            on: 'blur'
        });

        $('#id_formulario_cupom').form({
            fields: {
                cupom: {
                    identifier: 'id_cupom',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Insira um cupom.'
                        }
                    ]
                }
            },
            inline: true,
            on: 'blur'
        });

        {% if total_a_pagar != 0 %}
            function pagarComPayPal() {
                formularioCamiseta.on('submit', function () {
                    if ($(this).form('is valid')) {
                        $('#modal_redirecionando_paypal').modal('setting', 'closable', false).modal('show');
                    }
                });
                formularioCamiseta.submit();
            }

            function enviarComprovante() {
                formularioCamiseta.attr('action', '{% url 'secompufscar2017:enviar_comprovante' %}');
            }

        {% else %}
            formularioCamiseta.on('submit', function () {
                if ($(this).form('is valid')) {
                    $('#modal_reservando_kit').modal('setting', 'closable', false).modal('show');
                }
            });
        {% endif %}
    </script>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}