{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Comprar KIT{% endblock %}

{% block meta_description %}Confira os detalhes de sua inscrição na IX SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}

    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Compra do KIT IX SECOMP UFSCar
                </h1>
            </div>
            <div class="ui sixteen wide column">
                <div class="row">
                    <div class="ui centered grid">
                        <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui icon message wow fadeInUp" data-wow-delay="0.3s">
                                    <i class="smile icon"></i>
                                    <div class="content">
                                        <div class="header">Olá, {{ user.first_name }}!
                                            <a href="{% url 'secompufscar2017:logout' %}">
                                                <button class="ui right floated button">
                                                    Fazer logout
                                                </button>
                                            </a>
                                        </div>
                                        <p>Você não perde por esperar nos brindes do KIT deste ano.</p>
                                    </div>
                                </div>

                                {% include 'secompufscar2017/area_do_participante/inscricao/helpers/passos_inscricao.html' %}

                                <div class="ui attached segment">
                                    <h2 class="ui header">Compra online do KIT SECOMP 2017</h2>
                                    <div class="ui divider"></div>

                                    {% if total_a_pagar != 0 %}
                                        <div class="ui sixteen wide column">
                                            <h3 class="ui header">
                                                <i class="money icon"></i>
                                                Pagamento por transferência bancária ou depósito
                                            </h3>


                                            <div class="ui grid">
                                                <div class="ui sixteen wide left aligned column">
                                                    <div class="row">
                                                    <h3 class="ui header">
                                                        Valor a pagar:
                                                    </h3>
                                                        </div>
                                                    <div class="row">
                                                        <div class="ui huge green label">
                                                            R$ {{ valor_a_pagar|floatformat:2 }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <h3 class="ui header">
                                                Upload de comprovante de pagamento
                                            </h3>

                                            <p>Envie o seu comprovante por aqui. São aceitos arquivos JPG, PNG e PDF.</p>

                                            <form action="{% url 'secompufscar2017:upload_comprovante' %}"
                                                  enctype="multipart/form-data" class="ui form"
                                                  method="post" novalidate>
                                                {% csrf_token %}
                                                <div class="field">
                                                    <label for="id_comprovante">
                                                        Selecione o arquivo do comprovante:
                                                    </label>
                                                    {{ form_envio_comprovante.comprovante }}
                                                </div>

                                                <div class="field">
                                                    <button class="ui blue submit button">
                                                        <i class="upload icon"></i>
                                                        Enviar comprovante
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if form_envio_comprovante.errors %}
        <div class="ui small modal" id="modal_erro">
            <i class="close icon"></i>
            <div class="header">Erro!</div>
            <div class="content">
                <div class="description">
                    <p>Ocorreu um ou mais erros no envio do seu comprovante. Verifique-os e tente novamente.</p>
                    <div class="ui error message">
                        {% for field, errors in form_envio_comprovante.errors.items %}
                            {% for erro in errors %}
                                <b>- {{ erro }}</b><br>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <p>Caso acredite que este erro não devia ter acontecido,
                        entre em contato com a organização através do e-mail
                        <a href="mailto:contato@secompufscar.com.br">contato@secompufscar.com.br</a>.</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui blue ok button">
                    <i class="close icon"></i>
                    Fechar
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $('#modal_erro').modal('show');
        </script>
    {% endif %}

{#    {% if total_a_pagar != 0 %}#}
        <div class="ui basic modal" id="modal_enviando_comprovante">
            <div class="ui icon header">
                <i class="upload icon"></i>
            </div>

            <div class="content">
                <div class="ui centered grid">
                    <h1 class="ui inverted centered header">
                        Enviando comprovante
                    </h1>
                    <div class="row">
                        <i class="huge notched circle loading icon"></i>
                    </div>
                    <div class="row">
                        <p>Por favor, aguarde...</p>
                    </div>
                </div>
            </div>
        </div>

    <script type="text/javascript">
        $('#passo_compra_kit').removeClass('disabled').addClass('active');

        $('.ui.form').form({
            fields: {
                comprovante: {
                    identifier: 'id_comprovante',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Selecione o arquivo para enviar.'
                        }
                    ]
                }
            },
            inline: true
        }).on('submit', function() {
            if ($(this).form('is valid')) {
                $('#modal_enviando_comprovante').modal('setting', 'closable', false).modal('show');
            }
        });
    </script>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}

{% endblock body_content %}