{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Comprovante enviado{% endblock %}

{% block meta_description %}Comprovante enviado com sucesso.{% endblock meta_description %}

{% block body_content %}

    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Compra do KIT IX SECOMP UFSCar
                </h1>
            </div>
            <div class="ui sixteen wide column">
                <div class="row">
                    <div class="ui centered grid">
                        <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui icon message wow fadeInUp" data-wow-delay="0.3s">
                                    <i class="smile icon"></i>
                                    <div class="content">
                                        <div class="header">Olá, {{ user.first_name }}!
                                            <a href="{% url 'secompufscar2017:logout' %}">
                                                <button class="ui right floated button">
                                                    Fazer logout
                                                </button>
                                            </a>
                                        </div>
                                        <p>Comprovante enviado!</p>
                                    </div>
                                </div>

                                {% include 'secompufscar2017/area_do_participante/inscricao/helpers/passos_inscricao.html' %}

                                <div class="ui attached segment">
                                    <h2 class="ui header">Comprovante enviado com sucesso</h2>
                                    <p>Você receberá um e-mail de confirmação.</p>
                                    <p>A organização verificará seu comprovante e, estando tudo certo,
                                        aprovará o pagamento em até dois dias úteis.</p>

                                    <div class="ui divider"></div>

                                    <div class="ui grid">
                                        <div class="ui sixteen wide right aligned column">
                                            <a href="{% url 'secompufscar2017:area_do_participante' %}">
                                                <button class="ui blue labeled icon button">
                                                    <i class="right arrow icon"></i>
                                                    Ir para Área do Participante
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}

    <script type="text/javascript">
        $('#passo_compra_kit').removeClass('disabled');
    </script>

{% endblock body_content %}