{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Inscrição{% endblock %}

{% block meta_description %}Realize aqui a sua inscrição para a IX SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}

    <script src='https://www.google.com/recaptcha/api.js?hl=pt-BR'></script>
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Inscrição IX SECOMP UFSCar
                </h1>
            </div>
            <div class="ui sixteen wide column">
                <div class="row">
                    <div class="ui centered grid">
                        <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui icon message wow fadeInUp" data-wow-delay="0.3s">
                                    <i class="smile icon"></i>
                                    <div class="content">
                                        <div class="header">Olá, {{ user.first_name }}!
                                            <a href="{% url 'secompufscar2017:logout' %}">
                                                <button class="ui right floated button">
                                                    Fazer logout
                                                </button>
                                            </a>
                                        </div>
                                        <p>Faça sua inscrição preenchendo os dados abaixo.</p>
                                    </div>
                                </div>

                                {% include 'secompufscar2017/area_do_participante/inscricao/helpers/passos_inscricao.html' %}

                                <div class="ui attached segment">
                                    <h2 class="ui header">Realizar inscrição</h2>
                                    <p>
                                        A inscrição na SECOMP é gratuita, inclusive para participar de
                                        minicursos e workshops! <br>Caso queira, você poderá comprar o KIT do
                                        evento (mais detalhes serão mostrados ao realizar a inscrição).
                                        Leia os termos e aceite-os para realizar a sua inscrição.
                                    </p>

                                    <form action="{% url 'secompufscar2017:inscricao' %}" method="post"
                                          class="ui form" id="id_formulario_inscricao" novalidate>
                                        {% csrf_token %}

                                        <div class="inline field">
                                            <div class="ui checkbox">
                                                <label for="id_aceite_compartilhamento_email">
                                                    {{ form.aceite_compartilhamento_email.label }}
                                                </label>
                                                {{ form.aceite_compartilhamento_email }}
                                            </div>
                                        </div>

                                        <div class="field">
                                            <label for="id_termo_inscricao">Termos de Inscrição da IX SECOMP
                                                UFSCar</label>
                                            <a target="_blank" href="{% static 'secompufscar2018/documentos/termos.pdf' %}" onclick="leuMesmoOsTermos()" id="id_termo_inscricao" class="ui labeled blue icon button">
                                                <i class="sticky note icon"></i>
                                                Termos de Inscrição
                                            </a>
                                        </div>
                                        <div class="ui ignored warning message" id="msg_termos_nao">
                                            Você realmente leu os termos de inscrição? <b>Termos de uso</b> também possuem sentimentos, e ignorá-los os deixa com uma baixa auto-estima.
                                            Por favor, considere pelo menos abrir o nosso termo de inscrição e dar uma olhada...
                                        </div>
                                        <div class="ui icon message" id="msg_termos_sim">
                                            <i class="heart icon"></i>
                                            <div class="content">
                                                <div class="header">
                                                    This was a triumph!
                                                </div>
                                                <p>Os termos de inscrição ficam felizes que você tenha clicado para lê-los =D</p>
                                            </div>
                                        </div>
                                        <div class="inline field">
                                            <div class="ui checkbox" id="id_checkbox_aceite_termos_inscricao">
                                                <label for="id_aceite_termos_inscricao">
                                                    <b>{{ form.aceite_termos_inscricao.label }}</b>
                                                </label>
                                                {{ form.aceite_termos_inscricao }}
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="g-recaptcha" data-sitekey="6LerM0gUAAAAAAc52ET2parkXXBNm1YvHYOHZ2KP"
                                                 data-callback="captcha_filled"
                                                 data-expired-callback="captcha_expired"></div>
                                        </div>
                                        <div class="ui icon warning message" id="captcha_warning">
                                            <i class="close icon"></i>
                                            <div class="content">
                                                <div class="header">Preencha o captcha!</div>
                                                <p> Confio que você não é um robô! Mas o nosso servidor infelizmente não. :/
                                                </p>
                                            </div>
                                        </div>
                                        <div class="ui grid">
                                            <div class="ui sixteen wide right aligned column">
                                                <button class="ui blue submit labeled icon button"
                                                        onclick="mostrarModalProcessandoInscricao();">
                                                    <i class="right arrow icon"></i>
                                                    Realizar inscrição
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if form.errors %}
        <div class="ui small modal" id="modal_erro">
            <i class="close icon"></i>
            <div class="header">Erro ao realizar inscrição!</div>
            <div class="content">
                <div class="description">
                    <p>Ocorreu um ou mais erros ao realizar a sua inscrição. Verifique-os e tente novamente.</p>
                    <div class="ui error message">
                        {% for field, errors in form.errors.items %}
                            {% for erro in errors %}
                                <b>- {{ erro }}</b><br>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <p>Caso acredite que este erro não devia ter acontecido,
                        entre em contato com a organização através do e-mail
                        <a href="mailto:contato@secompufscar.com.br">contato@secompufscar.com.br</a>.</p>

                </div>
            </div>
            <div class="actions">
                <div class="ui blue ok button">
                    <i class="close icon"></i>
                    Fechar
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $('#modal_erro').modal('show');
        </script>
    {% endif %}

    <div class="ui basic modal" id="modal_processando_inscricao">
        <div class="ui icon header">
            <i class="signup icon"></i>
        </div>

        <div class="content">
            <div class="ui centered grid">
                <h1 class="ui inverted centered header">
                    Registrando inscrição
                </h1>
                <div class="row">
                    <i class="huge notched circle loading icon"></i>
                </div>
                <div class="row">
                    <p>Por favor, aguarde...</p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        allowSubmit = false;
        leuTermos = false;

        captcha_warning = $("#captcha_warning");
        captcha_warning.hide();
        $('#msg_termos_sim').hide();
        $('#msg_termos_nao').hide();

        $('#passo_inscricao').addClass('active');
        $('.ui.checkbox').checkbox();


        function captcha_filled () {
            allowSubmit = true;
            captcha_warning.hide();
        }

        function captcha_expired () {
            allowSubmit = false;
            captcha_warning.show();
        }

        formulario = $('.ui.form');
        formulario.form({
            fields: {
                aceite_termos_inscricao: {
                    identifier: 'id_aceite_termos_inscricao',
                    rules: [
                        {
                            type: 'checked',
                            prompt: 'Você precisa aceitar os termos para realizar a sua inscrição na IX SECOMP UFSCar.'
                        }
                    ]
                }
            },
            inline: true,
            on: 'blur'
        });
        formulario.submit(function(event){
            if (allowSubmit) {
                if(leuTermos===true) {
                    if ($('#id_checkbox_aceite_termos_inscricao').hasClass('checked')) {
                        $('#modal_processando_inscricao').modal('setting', 'closable', false).modal('show');
                    }
                }
                else
                {
                    event.preventDefault();
                    $('#msg_termos_nao').show(100);
                }
            }
            else {
                event.preventDefault();
                captcha_warning.show(100);
            }
        });

        function leuMesmoOsTermos() {
            $('#msg_termos_nao').hide();
            $('#msg_termos_sim').show(100);
            leuTermos = true;
        }

        function mostrarModalProcessandoInscricao() {

        }
    </script>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}