{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Inscrição Realizada{% endblock %}

{% block meta_description %}Confira os detalhes de sua inscrição na IX SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}

    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Inscrição IX SECOMP UFSCar
                </h1>
            </div>
            <div class="ui sixteen wide column">
                <div class="row">
                    <div class="ui centered grid">
                        <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui icon message wow fadeInUp" data-wow-delay="0.3s">
                                    <i class="smile icon"></i>
                                    <div class="content">
                                        <div class="header">Olá, {{ user.first_name }}!
                                            <a href="{% url 'secompufscar2017:logout' %}">
                                                <button class="ui right floated button">
                                                    Fazer logout
                                                </button>
                                            </a>
                                        </div>
                                        <p>Sua inscrição foi realizada.</p>
                                    </div>
                                </div>

                                {% include 'secompufscar2017/area_do_participante/inscricao/helpers/passos_inscricao.html' %}

                                <div class="ui attached segment">
                                    <h2 class="ui header">Inscrição realizada com sucesso \o/</h2>
                                    <p>Um e-mail de confirmação será enviado para você.</p>
                                    <p>Agora você já tem acesso à Área do Participante, onde poderá fazer
                                        a inscrição em minicursos e workshops quando elas abrirem,
                                        poderá verificar suas presenças e muito mais.</p>

                                    <div class="ui divider"></div>

                                    <h3 class="ui header">
                                        Gostaria de comprar o KIT SECOMP 2018 pelo site?<br>
                                        (pagamento via PayPal ou depósito/transferência bancária)
                                    </h3>

                                    <p>Você também poderá comprar presencialmente, mediante disponibilidade, em datas
                                        e horários a serem divulgados em nossa página do Facebook.
                                        <br><b>Comprando online e pagando por PayPal ou transferência bancária você
                                            já reserva o seu KIT.</b>
                                    </p>

                                    {% include 'secompufscar2017/area_do_participante/inscricao/helpers/detalhes_kit.html' %}

                                    <div class="ui grid">
                                        <div class="ui sixteen wide center aligned column">
                                            <div class="row">
                                            <h3 class="ui centered header">
                                                Valor do KIT:
                                            </h3>
                                                </div>
                                            <div class="row">
                                                <div class="ui huge green label">
                                                    R$ 40,00
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui grid">
                                        <div class="ui sixteen wide right aligned column">
                                            <a href="{% url 'secompufscar2017:area_do_participante' %}">
                                                <button class="ui labeled icon button">
                                                    <i class="right arrow icon"></i>
                                                    Ir para Área do Participante
                                                </button>
                                            </a>
                                            <a href="{% url 'secompufscar2017:comprar_kit' %}">
                                                <button class="ui blue labeled icon button">
                                                    <i class="cart icon"></i>
                                                    Comprar o kit
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

    <script type="text/javascript">
        $('#passo_inscricao_realizada').addClass('active');
    </script>

{% endblock body_content %}
