{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Erro no pagamento{% endblock %}

{% block meta_description %}KIT IX SECOMP UFSCar reservado com sucesso.{% endblock meta_description %}

{% block body_content %}

    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Compra do KIT IX SECOMP UFSCar
                </h1>
            </div>
            <div class="ui sixteen wide column">
                <div class="row">
                    <div class="ui centered grid">
                        <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui icon message wow fadeInUp" data-wow-delay="0.3s">
                                    <i class="smile icon"></i>
                                    <div class="content">
                                        <div class="header">Olá, {{ user.first_name }}!
                                            <a href="{% url 'secompufscar2017:logout' %}">
                                                <button class="ui right floated button">
                                                    Fazer logout
                                                </button>
                                            </a>
                                        </div>
                                        <p>Eita! Algo de errado não está certo :S</p>
                                    </div>
                                </div>

                                {% include 'secompufscar2017/area_do_participante/inscricao/helpers/passos_inscricao.html' %}

                                <div class="ui attached segment">
                                    <h2 class="ui header">Erro no processamento do pagamento via PayPal</h2>
                                    <p>Algum parâmetro da requisição foi inválido.</p>
                                    <p>Para tentar novamente, clique no botão Comprar KIT.</p>
                                    <p>Caso o problema volte a ocorrer, entre em contato com a organização.</p>

                                    <div class="ui grid">
                                        <div class="ui sixteen wide right aligned column">
                                            <a href="{% url 'secompufscar2017:area_do_participante' %}">
                                                <button class="ui labeled icon button">
                                                    <i class="right arrow icon"></i>
                                                    Ir para Área do Participante
                                                </button>
                                            </a>
                                            <a href="{% url 'secompufscar2017:comprar_kit' %}">
                                                <button class="ui blue labeled icon button">
                                                    <i class="cart icon"></i>
                                                    Comprar o kit
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

    <script type="text/javascript">
        $('#passo_pagamento_paypal').removeClass('disabled').addClass('active');
        $('#passo_compra_kit').removeClass('disabled');
    </script>

{% endblock body_content %}