{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Inscrição{% endblock %}

{% block meta_description %}Realize aqui a sua inscrição para a IX SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}

    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Inscrição IX SECOMP UFSCar
                </h1>
            </div>
            <div class="ui sixteen wide column">
                <div class="row">
                    <div class="ui centered grid">
                        <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui icon message wow fadeInUp" data-wow-delay="0.3s">
                                    <i class="smile icon"></i>
                                    <div class="content">
                                        <div class="header">Olá, {{ user.first_name }}!
                                            <a href="{% url 'secompufscar2017:logout' %}">
                                                <button class="ui right floated blue button">
                                                    Fazer logout
                                                </button>
                                            </a>
                                        </div>
                                        <p>Faça sua inscrição preenchendo os dados abaixo.</p>
                                    </div>
                                </div>

                                {% include 'secompufscar2017/area_do_participante/inscricao/helpers/passos_inscricao.html' %}

                                <div class="ui attached segment">
                                    <h2 class="ui header">Pacotes IX SECOMP</h2>
                                    <p>
                                        A inscrição na SECOMP é gratuita. Entretando, você pode optar por comprar o pacote
                                        que inclui o KIT SECOMP e coffee-breaks.
                                    </p>
                                    <p>A grana tá apertada? A gente facilita!
                                        Você pode pagar presencialmente, por transferência ou depósito bancário e
                                        até mesmo com <b>cartão de crédito!</b></p>

                                    <h3 class="ui header">Escolha o seu pacote</h3>
                                    <p>Qual a diferença entre as opções? Consulte clicando
                                        <a href="javascript:abrirModalDePacotes()">aqui</a>.</p>

                                    {% include 'secompufscar2017/area_do_participante/inscricao/helpers/modal_pacotes.html' %}

                                    <form action="{% url 'secompufscar2017:inscricao' %}" method="post" class="ui form">
                                        {% csrf_token %}
                                        <div class="grouped fields">
                                            {% for pacote in evento.pacotes.all %}
                                                <div class="field">
                                                <div class="ui radio checkbox">
                                                    <label for="id_pacote_{{ pacote.nome }}">
                                                        <b>{{ pacote.descricao }}</b> <span
                                                            class="ui blue label">R$ {{ pacote.valor|floatformat:2 }}</span>
                                                    </label>
                                                    <input type="radio" name="pacote" id="id_pacote_{{ pacote.nome }}"
                                                           {% if forloop.first %} checked="" {% endif %}
                                                           tabindex="0"
                                                           value="{{ pacote.id }}"
                                                           onchange="ajustarOpcoesInscricao('{{ pacote.nome }}', '{{ pacote.valor|floatformat:2 }}')">
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>

                                        <div id="secao_camiseta">
                                            <h3 class="ui horizontal divider header">
                                                <i class="add to cart icon"></i>
                                                Camiseta
                                            </h3>
                                            <p>Não tem certeza do tamanho? Consulte a tabela de medidas clicando
                                                <a>aqui</a>.</p>
                                            <div class="ui grid">
                                                <div class="four wide computer six wide tablet sixteen wide mobile column">
                                                    <div class="grouped fields">
                                                        {% for camiseta in evento.camisetas.all %}
                                                            <div class="{% if camiseta.quantidade_restante <= 0 %}error disabled {% endif %}field"
                                                                 id="id_field_camiseta_{{ camiseta.id }}">
                                                                <div class="ui radio checkbox">
                                                                    <label for="id_camiseta_{{ camiseta.id }}"
                                                                           id="id_label_camiseta_{{ camiseta.id }}">
                                                                        {{ camiseta.tamanho }}{% if camiseta.quantidade_restante <= 0 %} (esgotada){% endif %}</label>
                                                                    <input type="radio" name="camiseta"
                                                                           value="{{ camiseta.id }}"
                                                                           {% if forloop.first and camiseta.quantidade_restante > 0 %} checked="" {% endif %}
                                                                           id="id_camiseta_{{ camiseta.id }}"
                                                                           tabindex="0"
                                                                           class="hidden">
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <h3 class="ui horizontal divider header">
                                            <i class="mail icon"></i>
                                            Contato com nossos parceiros
                                        </h3>
                                        <div class="ui checkbox">
                                            <label for="id_aceite_compartilhamento_email">
                                                Aceito receber e-mails de parceiros da IX SECOMP UFSCar.
                                            </label>
                                            {{ form.aceite_compartilhamento_email }}
                                        </div>

                                        <h3 class="ui horizontal divider header">
                                            <i class="money icon"></i>
                                            Total a pagar
                                        </h3>
                                        <div class="ui grid">
                                            <div class="ui sixteen wide center aligned column">
                                                <div class="ui huge green label">
                                                    <span id="total_a_pagar">
                                                        R$ {{ evento.pacotes.all.first.valor|floatformat:2 }}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="ui sixteen wide right aligned column">
                                                <button class="ui blue submit labeled icon button">
                                                    <i class="right arrow icon"></i>
                                                    Realizar inscrição
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if form.errors %}
        <div class="ui small modal" id="modal_erro">
            <i class="close icon"></i>
            <div class="header">Erro ao realizar inscrição!</div>
            <div class="content">
                <div class="description">
                    <p>Ocorreu um ou mais erros ao realizar a sua inscrição. Verifique-os e tente novamente.</p>
                    <div class="ui error message">
                        {% for field, errors in form.errors.items %}
                            {% for erro in errors %}
                                <b>- {{ erro }}</b><br>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <p>Caso acredite que este erro não devia ter acontecido,
                        entre em contato com a organização através do e-mail
                        <a href="mailto:contato@secompufscar.com.br">contato@secompufscar.com.br</a>.</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui blue ok button">
                    <i class="close icon"></i>
                    Fechar
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $('#modal_erro').modal('show');
        </script>
    {% endif %}



    <script type="text/javascript">
        $('#passo_pacotes').addClass('active');

        function ajustarOpcoesInscricao(pacote, valor) {
            valor = 'R$ ' + valor;
            if (pacote === 'FREE') {
                $('#secao_camiseta').hide(300);
                atualizarLabelValor(valor);
                $('#passo_instrucoes_pagamento').addClass('disabled');
                $('#passo_pagamento_paypal').addClass('disabled');
            } else if (pacote === 'DESAFIO') {
                $('#secao_camiseta').hide(300);
                atualizarLabelValor(valor);
                $('#passo_instrucoes_pagamento').addClass('disabled');
                $('#passo_pagamento_paypal').addClass('disabled');
            } else {
                $('#secao_camiseta').show(300);
                atualizarLabelValor(valor);
                $('#passo_instrucoes_pagamento').removeClass('disabled');
                $('#passo_pagamento_paypal').removeClass('disabled');
            }
        }

        function atualizarLabelValor(valor) {
            $('#total_a_pagar').fadeOut(100, function() {
                $(this).text(valor).fadeIn(100);
            });
        }

{#        setInterval(atualizarCamisetas, 5000);#}

        function atualizarCamisetas() {
            {% for camiseta in evento.camisetas.all %}
                atualizarDisponibilidadeCamiseta({{ camiseta.id }}, '{{ camiseta.tamanho }}');
            {% endfor %}
        }

        function atualizarDisponibilidadeCamiseta(idCamiseta, tamanhoCamiseta) {
            return $.getJSON(
                '{% url 'secompufscar2017:api_camisetas' id_camiseta='123456789' %}'.replace('123456789', idCamiseta),
                function(data) {
                    if (data.quantidade_restante <= 0) {
                        desabilitarCamiseta(idCamiseta, tamanhoCamiseta)
                    } else {
                        habilitarCamiseta(idCamiseta, tamanhoCamiseta);
                    }
            });
        }

        function habilitarCamiseta(idCamiseta, tamanhoCamiseta) {
            $('#id_field_camiseta_' + idCamiseta).removeClass('error').removeClass('disabled');
            $('#id_label_camiseta_' + idCamiseta).text(tamanhoCamiseta);
        }

        function desabilitarCamiseta(idCamiseta, tamanhoCamiseta) {
            $('#id_field_camiseta_' + idCamiseta).addClass('error').addClass('disabled');
            $('#id_label_camiseta_' + idCamiseta).text(tamanhoCamiseta + ' (esgotada)');
        }

        $('.ui.radio.checkbox').checkbox();

        $('.ui.checkbox').checkbox();
    </script>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}
