{% extends 'secompufscar2019/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Contato{% endblock %}

{% block meta_description %}Contribua para a SECOMP IX com um conteúdo.{% endblock meta_description %}

{% block body_content %}
    <script src='https://www.google.com/recaptcha/api.js?hl=pt-BR'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
        {% if tipo == 0 %} Contato - Mesa Redonda {%  endif %}
        {% if tipo == 1 %} Contato - Mini Curso {%  endif %}
        {% if tipo == 2 %} Contato - Palestra {%  endif %}
    </h1>
    <div class="ui main container wow fadeInUp" data-wow-delay="0.3s">
        <div class="ui raised segment secao_fundo_cinza">
            <div class="ui centered grid">
                <div class="ui column sixteen wide">
                    <form class="ui form" method="POST" id="post-form" enctype="multipart/form-data" action="
                        {% if tipo == 0%}{%url 'secompufscar2019:cadastra_ministrante' tipo=tipo %}{% endif %}
                        {% if tipo == 1%}{%url 'secompufscar2019:cadastra_ministrante' tipo=tipo %}{% endif %}
                        {% if tipo == 2%}{%url 'secompufscar2019:cadastra_ministrante' tipo=tipo %}{% endif %}">
                        {% csrf_token %}

                        <div class="field">
                            <div class="ui ordered stackable fluid mobile mini steps">
                                <div class="active step" id="one">
                                    <div class="content">
                                        <div class="title">Informações Pessoais</div>
                                        <div class="description">Preenchimento das informações pessoais</div>
                                    </div>
                                </div>
                                {% if tipo != 0 %}
                                    <div class="step" id="two">
                                        <div class="content">
                                            <div class="title">
                                                {% if tipo == 1 %}
                                                    Informações Minicurso
                                                {% endif %}
                                                {% if tipo == 2 %}
                                                    Informações Palestra
                                                {% endif %}
                                            </div>
                                            <div class="description">
                                                {% if tipo == 1 %}
                                                    Preenchimento das informações sobre o minicurso
                                                {% endif %}
                                                {% if tipo == 2 %}
                                                    Preenchimento das informações sobre a palestra
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="step" id="three">
                                    <div class="content">
                                        <div class="title">Informações Locomoção e Estadia</div>
                                        <div class="description">Preenchimento das informações de locomoção</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Informações pessoas inicio-->
                        <div id="info-pessoais">
                            <div class="required fields">
                                <div class="eleven wide field">
                                    <label>Nome completo</label>
                                    <div class="ui left icon input">
                                        {{ form.nome }}
                                        <i class="user icon"></i>
                                    </div>
                                </div>
                                <div class="five wide field">
                                    <label>Telefone</label>
                                    <div class="ui left icon input">
                                        {{ form.tel }}
                                        <i class="call icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="sixteen wide required field">
                                <label>Email</label>
                                <div class="ui left icon input">
                                    <i class="envelope icon"></i>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="required fields">
                                <div class="eight wide field">
                                    <label>Profissão</label>
                                    <div class="ui left icon input">
                                        {{ form.profissao }}
                                        <i class="travel icon"></i>
                                    </div>
                                </div>
                                <div class="eight wide field">
                                    <label>Empresa / Universidade</label>
                                    <div class="ui left icon input">
                                        {{ form.empresa }}
                                        <i class="student icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="required sixteen wide field">
                                <label>Breve biografia</label>
                                {{ form.bio }}
                            </div>
                            <div class="fields">
                                <div class="ten wide field">
                                    <label>Foto</label>
                                    {{ form.foto }}
                                </div>
                                <div class="required six wide field">
                                    <label>Tamanho da camiseta</label>
                                    {{ form.tamanho_camiseta }}
                                </div>
                            </div>
                            <div class="field">
                            </div>
                            <div class="fields equal width">
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="facebook icon"></i>
                                        {{ form.face }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="twitter icon"></i>
                                        {{ form.twitter }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="linkedin icon"></i>
                                        {{ form.linkedin }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="github icon"></i>
                                        {{ form.github }}
                                    </div>
                                </div>
                            </div>
                            <a class="ui right floated button" onclick="proxPessoal({{ tipo }})">
                                <i class="right arrow icon"></i>
                                Próximo
                            </a>
                        </div>
                        <!-- Informações pessoais fim-->


                        <!-- Informações minicurso inicio -->
                        {% if tipo == 1 %}
                            <div id="info-minicurso">
                                <label class="ui header">Informações sobre o minicurso</label>
                                <p>É necessário que todos os campos marcados sejam preenchidos pois estas informações serão utilizadas na divulgação, tanto no site quanto na página do Facebook.</p>
                                <div class="required field">
                                    <label>Título do minicurso</label>
                                    <div class="ui left icon input">
                                        {{ form.curso_titulo }}
                                        <i class="laptop icon"></i>
                                    </div>
                                </div>
                                <div class="required equal width fields">
                                    <div class="field">
                                        <label>Descrição do minicurso</label>
                                        {{ form.curso_descricao }}
                                    </div>
                                    <div class="field">
                                        <label>Como se daria a dinâmica de participantes?</label>
                                        {{ form.tipo_dinamica }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Se houver, liste aqui os pré-requisitos recomendados aos participantes</label>
                                    {{ form.prereqs }}
                                </div>
                                <label class="ui header">Requisitos de laboratório</label>
                                <p>Liste aqui os requisitos dos computadores dos laboratórios, caso houverem. Ex.: Linux, Windows 7, Windows 8, algum compilador específico, alguma configuração mínima de hardware, etc.</p>
                                <div class="required equal width fields">
                                    <div class="field">
                                        <label>Requisitos de Hardware</label>
                                        {{ form.lab_hw }}
                                    </div>
                                    <div class="field">
                                        <label>Requisitos de Software</label>
                                        {{ form.lab_sw }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Observações</label>
                                    {{ form.obs_lab }}
                                </div>
                                <a class="ui left floated button" onclick="anterior2({{ tipo }})">
                                    <i class="left arrow icon"></i>
                                    Voltar
                                </a>
                                <a class="ui right floated button" onclick="proximo2({{ tipo }})">
                                    <i class="right arrow icon"></i>
                                    Próximo
                                </a>
                            </div>
                        {% endif %}
                        <!-- Informações minicurso fim -->

                        <!-- Informações palestra inicio -->
                        {% if tipo == 2 %}
                            <div id="info-palestra">
                                <p>É necessário que todos os campos marcados sejam preenchidos pois estas informações serão utilizadas na divulgação, tanto no site quanto na página do Facebook.</p>
                                <div class="required field">
                                    <label>Título da palestra</label>
                                    <div class="ui left icon input">
                                        {{ form.palestra_titulo }}
                                        <i class="idea icon"></i>
                                    </div>
                                </div>
                                <div class="required equal width fields">
                                    <div class="field">
                                        <label>Descrição da palestra</label>
                                        {{ form.palestra_descricao }}
                                    </div>
                                    <div class="field">
                                        <label>Recursos que serão utilizados</label>
                                        {{ form.recursos }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Observações</label>
                                    {{ form.obs_palestra }}
                                </div>
                                <a class="ui left floated button" onclick="anterior2({{ tipo }})">
                                    <i class="left arrow icon"></i>
                                    Voltar
                                </a>
                                <a class="ui right floated button" onclick="proximo2({{ tipo }})">
                                    <i class="right arrow icon"></i>
                                    Próximo
                                </a>
                            </div>

                        {% endif %}
                        <!-- Informações palestra fim -->

                        {#                    AREA DA MESA REDONDA COMUM A TODOS#}


                        <!-- Informações de locomoção e estadia inicio -->
                        <div id="info-locomocao">
                            <p>Mesmo que já tenha informado à alguém da equipe que não deseja que
                                a SECOMP UFSCar se encarregue pelos gastos de locomoção/estadia, favor deixar isto claro
                                ao preencher este formulário.</p>
                            <div class="required field">
                                <label>Cidade de onde sairá para vir à SECOMP</label>
                                <div class="ui left icon input">
                                    {{ form.cidade }}
                                    <i class="plane icon"></i>
                                </div>
                            </div>
                            <div class="grouped fields">
                                <label>Deseja que a SECOMP se encarregue pelos gastos da sua locomoção até o evento?</label>
                                <div class="field">
                                    {{ form.locomocao }}
                                </div>
                            </div>
                            <div class="grouped field" id="locomocao_tipo_modo">
                                <label>De qual modo ela se dará?</label>
                                <div class="field">
                                    {{ form.locomocao_tipo }}
                                </div>
                            </div>
                            <div class="fields">
                                <div class="four wide required field">
                                    <label>Data de chegada em São Carlos</label>
                                    {{ form.data_chegada }}
                                </div>
                                <div class="four wide required field">
                                    <label>Data de saída de São Carlos</label>
                                    {{ form.data_saida }}
                                </div>
                            </div>
                            <div class="grouped fields">
                                <label>Necessita de acomodação (estadia em hotel)?</label>
                                <div class="field">
                                    {{ form.acomodacao }}
                                </div>
                            </div>
                            <div class="grouped fields" id="vaga_garagem">
                                <label>É necessário uma vaga na garagem do hotel?</label>
                                <div class="field">
                                    {{ form.vaga_acomodacao }}
                                </div>
                            </div>
                            <div class="field">
                                <label>Observações:</label>
                                {{ form.obs }}
                            </div>
                            <div class="field">
                                <div class="g-recaptcha" data-sitekey="6LerM0gUAAAAAAc52ET2parkXXBNm1YvHYOHZ2KP" data-callback="captcha_filled"
                                     data-expired-callback="captcha_expired"></div>
                            </div>

                            <br/>

                           {% include 'secompufscar2019/area_conteudo/termos_de_uso.html' %}

                            <br/>

                            <div class="inline field">
                                <input name="termos" type="checkbox">
                                <label>Li e aceito os termos de uso</label>
                            </div>

                            <br/>

                            <a class="ui left floated button" onclick="anterior3({{ tipo }})">
                                <i class="left arrow icon"></i>
                                Voltar
                            </a>
                            <button class="ui right floated submit button" type="submit" id="botao_enviar" onclick="isValid()"><i class="send icon"></i>Enviar</button>
                        </div>
                        <!-- Informações de locomoção e estadia fim -->



                    </form>
                    <div class="ui icon success message" id="sucesso">
                        <i class="send icon"></i>
                        <i class="close icon"></i>
                        <div class="content">
                            <div class="header">Seu contato foi enviada com sucesso!</div>
                            <p>Entraremos em contato em breve :-)</p>
                            <p><a class="ui positive button" href="{% url 'secompufscar2019:index' %}">Voltar</a></p>
                        </div>
                    </div>

                    <div class="ui icon error message" id="erro">
                        <i class="frown icon"></i>
                        <i class="close icon"></i>
                        <div class="content">
                            <div class="header">Houve um erro no envio de seu contato!</div>
                            <div id="msgs"></div>
                            <p>Se você acha que não deveria estar vedo isso por favor, entre em contato conosco pelo e-mail <a
                                    href="mailto:ti@secompufscar.com.br">
                                ti@secompufscar.com.br</a> e informe o ocorrido
                            </p>
                        </div>
                    </div>
                    <div class="ui icon warning message" id="captcha_warning">
                        <i class="close icon"></i>
                        <div class="content">
                            <div class="header">Preencha o captcha!</div>
                            <p> Confio que você não é um robô! Mas o nosso servidor infelizmente não. :/
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'secompufscar2019/js/formulario_conteudo.js' %}"></script>
{% endblock body_content %}
