{% extends 'secompufscar2019/area_conteudo/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Área do Conteúdo{% endblock %}

{% block meta_description %}Contribua para a X SECOMP com um conteúdo.
{% endblock meta_description %}
{% block body_content %}
    <div class="hidden" id="tipo">{{ tipo }}</div>
    <div class="ui container">
        <h1 class="ui header centered titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
            Processo-Seletivo
        </h1>
        <div class="ui six statistics small">
            <div class="statistic">
                <div class="value">
                    <i class="file code outline icon"></i>
                    {{ numeros.primeira_ti }} | {{ numeros.segunda_ti }}
                </div>
                <div class="label">
                    TI
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <i class="thumbs up icon"></i>
                    {{ numeros.primeira_socio }} | {{ numeros.segunda_socio }}
                </div>
                <div class="label">
                    Sociocultural
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <i class="tasks icon"></i>
                    {{ numeros.primeira_co }} | {{ numeros.segunda_co }}
                </div>
                <div class="label">
                    Conteudo
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <i class="calculator icon"></i>
                    {{ numeros.primeira_jf }} | {{ numeros.segunda_jf }}
                </div>
                <div class="label">
                    Jurídico-Financeiro
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <i class="paint brush icon"></i>
                    {{ numeros.primeira_dm }} | {{ numeros.segunda_dm }}
                </div>
                <div class="label">
                    Design e Marketing
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <i class="dollar sign icon"></i>
                    {{ numeros.primeira_pa }} | {{ numeros.segunda_pa }}
                </div>
                <div class="label">
                    Patrocínio
                </div>
            </div>
        </div>
        <table class="ui selectable celled table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Primeira opção</th>
                <th>Segunda opção</th>
                <th>Curso</th>
                <th>Email</th>
                <th>Tel</th>
            </tr>
            </thead>
            <tbody>
            {% for pessoa in form %}
                <tr>
                    <td>{{ pessoa.nome }}</td>
                    <td>{{ pessoa.primeira_opcao }}</td>
                    <td>{{ pessoa.segunda_opcao }}</td>
                    <td>{{ pessoa.curso }}</td>
                    <td>{{ pessoa.email }}</td>
                    <td>{{ pessoa.tel }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td>Vazio</td>
                    <td>Vazio</td>
                    <td>Vazio</td>
                    <td>Vazio</td>
                    <td>Vazio</td>
                    <td>Vazio</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


    {% include 'secompufscar2019/helpers/patrocinadores.html' %}
{% endblock body_content %}
