<a href="{{ contato.link }}" target="_blank">
    <i class="
        {% if contato.tipo_contato.nome == 'Outro' %}
            share alternate
        {% else %}
            {{ contato.tipo_contato.nome|lower }}
        {% endif %} fitted square icon"></i>
</a>