<div class="ui label">
    <i class="calendar icon"></i>
    {% if atividade.horarios.count > 0 %}
        {{ atividade.horarios.all.0.data_hora_inicio|date:"l, d/m" }}
    {% else %}
        Data a definir
    {% endif %}
</div>
<div class="ui label">
    <i class="clock icon"></i>
    {% if atividade.horarios.count > 0 %}
        {{ atividade.horarios.all.0.data_hora_inicio|date:"H\hi" }} -
        {{ atividade.horarios.all.0.data_hora_fim|date:"H\hi" }}
        {% if atividade.horarios.all.1 %}
            e {{ atividade.horarios.all.1.data_hora_inicio|date:"H\hi" }} -
            {{ atividade.horarios.all.1.data_hora_fim|date:"H\hi" }}
        {% endif %}
    {% else %}
        Horário a definir
    {% endif %}
</div>
<div class="ui label">
    <i class="marker icon"></i>
    {% if atividade.local %}
        {{ atividade.local.predio }}{% if atividade.local.sala %}, {{ atividade.local.sala }}{% endif %}
    {% else %}
        Local a definir
    {% endif %}
</div>