<div class="detalhes_atividade">
    {% include 'secompufscar2017/programacao/helpers/data_hora_local_atividade.html' %}

    {% if atividade.vagas_totais %}
        <div class="ui label"><i class="users icon"></i>
            {{ atividade.vagas_totais }} vagas
        </div>
    {% endif %}
</div>
