<form id="form_novo_projeto"  class="ui form" novalidate>
    {% csrf_token %}
    <div class="ui attached message">
        <div class="ui centered middle aligned grid">
            <div class="ui mobile only row">
                <div class="sixteen wide column">
                    <div class="header">Submissão de projetos para a Feira de Projetos</div>
                    <p>A Feira de Projetos da VIII SECOMP UFSCar tem como objetivo apresentar as
                        diversas aplicações da computação, enaltecendo, em especial, a
                        interdisciplinaridade da área.</p>
                    <p>Mais detalhes
                        podem ser encontrados em nosso edital (botão abaixo).</p>
                </div>
            </div>
            <div class="ui mobile only row">
                <div class="sixteen wide column">
                    <div class="ui centered grid">
                        <a target="_blank"
                           href="{% static 'secompufscar2017/feira_de_projetos/edital_feira.pdf' %}">
                            <div class="row">
                                <i class="huge download icon"></i>
                            </div>
                            <div class="row">
                                <h3>Edital</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="computer tablet only row">
                <div class="fourteen wide column">
                    <div class="header">Submissão de projetos para a Feira de Projetos</div>
                    A Feira de Projetos da VIII SECOMP UFSCar tem como objetivo apresentar as
                    diversas
                    aplicações
                    da computação, enaltecendo, em especial, a interdisciplinaridade da área.
                    Mais detalhes
                    podem ser encontrados em nosso edital (botão ao lado).
                </div>

                <div class="two wide column">
                    <div class="ui centered grid">
                        <a target="_blank"
                           href="{% static 'secompufscar2017/feira_de_projetos/edital_feira.pdf' %}">
                            <div class="row">
                                <i class="huge download icon"></i>
                            </div>
                            <div class="row">
                                <h3>Edital</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui attached fluid segment">
        <div class="ui equal width stackable centered grid container">
            <div class="ui center aligned basic segment">
                <div class="ui horizontal divider">
                    Sobre o projeto
                </div>
            </div>

            <div class="ui equal width row">
                <div class="column">
                    <div class="required field">
                        <label for="id_nome_projeto">{{ form.nome_projeto.label_tag }}</label>
                        {{ form.nome_projeto }}
                    </div>
                </div>
            </div>

            <div class="ui equal width row">
                <div class="column">
                    <div class="field required">
                        <label for="id_carater_projeto">{{ form.carater_projeto.label_tag }}<span
                                data-tooltip="{{ form.carater_projeto.help_text }}"
                                data-position="top left" data-variation="wide" data-inverted=""><i
                                class="help circle icon"></i></span></label>
                        {{ form.carater_projeto }}
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label for="id_link_video ">{{ form.link_video.label_tag }} (opcional)
                            <span data-tooltip="{{ form.link_video.help_text }}"
                                  data-position="top left" data-variation="wide" data-inverted=""><i
                                    class="help circle icon"></i></span></label>
                        {{ form.link_video }}
                    </div>
                </div>
            </div>

            <div class="ui equal width row">
                <div class="column">
                    <div class="field required">
                        <label for="id_carater_projeto">{{ form.areas.label_tag }} <span
                                data-tooltip="{{ form.areas.help_text }}"
                                data-position="top left" data-variation="wide" data-inverted=""><i
                                class="help circle icon"></i></span></label>
                        {{ form.areas }}
                    </div>
                </div>
            </div>

            <div class="ui equal width row">
                <div class="column">
                    <div class="required field">
                        <label for="id_conteudo">{{ form.conteudo.label_tag }} <span
                                data-tooltip="{{ form.conteudo.help_text }}"
                                data-position="top left" data-variation="wide" data-inverted=""><i
                                class="help circle icon"></i></span></label>
                        {{ form.conteudo }}
                    </div>
                </div>
                <div class="column">
                    <div class="required field">
                        <label for="id_descricao">{{ form.descricao.label_tag }} <span
                                data-tooltip="{{ form.descricao.help_text }}"
                                data-position="top left" data-variation="wide" data-inverted=""><i
                                class="help circle icon"></i></span></label>
                        {{ form.descricao }}
                    </div>
                </div>
            </div>

            <div class="ui equal width row">
                <div class="column">
                    <div class="required field">
                        <label for="id_relacao_computacao">{{ form.relacao_computacao.label_tag }}<span
                                data-tooltip="{{ form.relacao_computacao.help_text }}"
                                data-position="top left" data-variation="wide" data-inverted=""><i
                                class="help circle icon"></i></span></label>
                        {{ form.relacao_computacao }}
                    </div>
                </div>
                <div class="column">
                    <div class="required field">
                        <label for="id_objetivo">{{ form.objetivo.label_tag }} <span
                                data-tooltip="{{ form.objetivo.help_text }}"
                                data-position="top left" data-variation="wide" data-inverted=""><i
                                class="help circle icon"></i></span></label>
                        {{ form.objetivo }}
                    </div>
                </div>
            </div>

            <div class="ui equal width row">
                <div class="column">
                    <div class="field">
                        <label for="id_material_utilizado">{{ form.material_utilizado.label_tag }} <span
                                data-tooltip="{{ form.material_utilizado.help_text }}"
                                data-position="top left" data-variation="wide" data-inverted=""><i
                                class="help circle icon"></i></span></label>
                        {{ form.material_utilizado }}
                    </div>
                </div>
                <div class="column">
                    <div class="required field">
                        <label for="id_resultados">{{ form.resultados.label_tag }} <span
                                data-tooltip="{{ form.resultados.help_text }}"
                                data-position="top left" data-variation="wide" data-inverted=""><i
                                class="help circle icon"></i></span></label>
                        {{ form.resultados }}
                    </div>
                </div>
            </div>

            <div class="ui center aligned basic segment">
                <div class="ui horizontal divider">
                    Integrantes do projeto
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <div class="ui yellow message">
                        <div class="header">Aviso aos participantes</div>
                        <p>Nos campos abaixo, informe os dados do integrante reponsável pela submissão
                            e o nome de todos os participantes do projeto. Lembre-se, o
                            número máximo de pessoas presentes, simultaneamente, na mesa para a
                            apresentação é de 3 (três) participantes.
                        </p>
                        <p>Todas as pessoas a apresentarem o
                            projeto precisam, obrigatoriamente, estarem inscritas na VIII SECOMP
                            UFSCar.</p>
                    </div>
                </div>
            </div>

            <div class="ui equal width row">
                <div class="column">
                    <div class="required field">
                        <label for="id_nome_responsavel">{{ form.nome_responsavel.label_tag }} <span
                                data-tooltip="{{ form.nome_responsavel.help_text }}"
                                data-position="top left" data-variation="wide" data-inverted=""><i
                                class="help circle icon"></i></span></label>
                        {{ form.nome_responsavel }}
                    </div>
                </div>
                <div class="column">
                    <div class="required field">
                        <label for="id_telefone_responsavel">{{ form.telefone_responsavel.label_tag }}
                            <span data-tooltip="{{ form.telefone_responsavel.help_text }}"
                                  data-position="top left" data-variation="wide" data-inverted=""><i
                                    class="help circle icon"></i></span></label>
                        {{ form.telefone_responsavel }}
                    </div>
                </div>
            </div>

            <div class="ui equal width row">
                <div class="column">
                    <div class="required field">
                        <label for="id_email_responsavel">{{ form.email_responsavel.label_tag }}<span
                                data-tooltip="{{ form.email_responsavel.help_text }}"
                                data-position="top left" data-variation="wide" data-inverted=""><i
                                class="help circle icon"></i></span></label>

                        {{ form.email_responsavel }}
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label for="id_facebook_responsavel">{{ form.facebook_responsavel.label_tag }}
                            (opcional)
                            <span data-tooltip="{{ form.facebook_responsavel.help_text }}"
                                  data-position="top left" data-variation="wide" data-inverted=""><i
                                    class="help circle icon"></i></span></label>
                        {{ form.facebook_responsavel }}
                    </div>
                </div>
            </div>

            <div class="integrantes sixteen wide column">

            </div>

            <div class="row">
                <div class="column">
                    <div class="ui green button add_field_button"><i class="add user icon"></i>Adicionar
                        integrante
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <hr>
                    <div class="ui blue button" id="submit_button">Submeter
                        projeto
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui icon success message" id="msg_sucesso">
        <i class="checkmark icon"></i>
        <div class="content">
            <div class="header">Seu projeto "<b id="projeto_submetido"></b>" foi submetido com sucesso
            </div>
            <p>Entraremos em contato pelo seu e-mail em breve :-)</p>
        </div>
    </div>

    <div class="ui icon error message" id="msg_erro">
        <i class="frown icon"></i>
        <div class="content">
            <div class="header">Houve um erro na submissão do seu projeto!</div>
            <p>Desculpe-nos pelo transtorno.</p>
            <p>Por favor, tente novamente ou entre em contato conosco pelo e-mail <a
                    href="mailto:contato@secompufscar.com.br">
                contato@secompufscar.com.br</a> e nos informe sobre o erro.
            </p>

            <span id="campo_erros"></span>
        </div>
    </div>
</form>
<div class="ui positive message">O período para submissão de projetos acabou. Em breve divulgaremos
    os projetos aprovados, fique ligado :)
</div>

<div class="ui small modal" id="modal_confirma">
        <div class=" header">
            Confirmação de submissão
        </div>
        <div class="content">
            <div class="ui centered grid">
                <p>Você concorda com os termos descritos em nosso edital e deseja submeter seu projeto para a VIII
                    SECOMP UFSCar?</p>
            </div>
        </div>

        <div class="actions">
            <div class="ui red cancel button">
                <i class="remove icon"></i>
                Não
            </div>
            <div class="ui green ok button" id="confirma_button">
                <i class="checkmark icon"></i>
                Sim
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        {# TODO: Verificar esse limite e validar no back-end#}
        {#            var max_fields = 10;#}
        var wrapper = $(".integrantes");
        var add_button = $(".add_field_button");
        {#            var form_count = 0;#}

        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            {#                if (form_count < max_fields) { //max input box allowed#}
            {#                    form_count++; //text box increment#}

            $(wrapper).append('<div class="field wow fadeInUp" ><label>Nome do integrante</label>' +
                '<div class="ui action input"><input type="text" name=nome_integrantes id="id_nome_integrantes">' +
                '<div class="ui red button remove_field"><i class="remove icon"></i></div></div></div>');
        });

        $(add_button).click(function () {
            $("#id_nome_integrantes").toggleClass("animated");
        });

        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault();

            $(this).parent('div').parent('div').remove();
            {#                form_count--;#}
        })
    });
</script>

<script type="text/javascript">

    $("#form_novo_projeto").on('submit', function (e) {
        e.preventDefault();
        return false
    });

    function isFormularioValido(formulario) {
        return formulario.form('is valid');
    }

    function scrollToFormError() {
        elem = $('.ui.red.prompt:first');
        $('html, body').animate({scrollTop: $(elem).offset().top - 200}, 'slow', function () {
            $(elem).focus();
        });

    }

    $('#submit_button').on('click', function () {
            var formulario = $('.ui.form');
            formulario.removeClass('success').removeClass('error');

            if (isFormularioValido(formulario)) {
                $('#modal_confirma')
                    .modal('show')
            }
            else {
                scrollToFormError()
            }
        }
    );

    $('#confirma_button').click(function () {
        var formulario = $('.ui.form');
        formulario.removeClass('success').removeClass('error');

        if (isFormularioValido(formulario)) {
            $('#submit_button').addClass('loading');
            $.post("{% url 'secompufscar2017:feiradeprojetos' %}", formulario.serialize())
                .done(function (result) {
                    console.log(result);
                    if (result.hasOwnProperty('erro')) {
                        document.getElementById("campo_erros").innerHTML = "<p>Possíveis erros:</p>" + result.erro;
                        formulario.addClass('error')
                    }
                    else {
                        document.getElementById("projeto_submetido").innerText = result.projeto_submetido;
                        formulario.addClass('success');
                    }

                    $('#submit_button').removeClass('loading');
                }).fail(function () {
                formulario.addClass('error');
                $('#submit_button').removeClass('loading');
            })
        }
    });

    var formValidationRules = {
        nome_projeto: {
            identifier: 'id_nome_projeto',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Digite o nome do seu projeto'
                }
            ]
        },

        carater_projeto: {
            identifier: 'id_carater_projeto',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Selecione pelo menos uma opção'
                }
            ]
        },

        conteudo: {
            identifier: 'id_conteudo',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Informe o conteúdo abordado pelo seu projeto'
                }
            ]
        },

        descricao: {
            identifier: 'id_descricao',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Informe a descrição do seu projeto'
                }
            ]
        },

        areas: {
            identifier: 'id_areas',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Informe pelo menos uma área que seu projeto aborda'
                }
            ]
        },

        relacao_computacao: {
            identifier: 'id_relacao_computacao',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Informe a relação do seu projeto com a computação'
                }
            ]
        },

        objetivo: {
            identifier: 'id_objetivo',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Informe o objetivo do seu projeto'
                }
            ]
        },

        resultados: {
            identifier: 'id_resultados',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Informe os resultados já alcançados'
                }
            ]
        },

        nome_responsavel: {
            identifier: 'id_nome_responsavel',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Digite o nome do integrante responsável'
                }
            ]
        },

        email_responsavel: {
            identifier: 'id_email_responsavel',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Digite o e-mail do responsável'
                },
                {
                    type: 'email',
                    prompt: 'Digite um e-mail válido'
                }

            ]
        },
        telefone_responsavel: {
            identifier: 'id_telefone_responsavel',
            rules: [
                {
                    type: 'empty',
                    prompt: 'Informe o telefone do integrante reponsável.'
                }
            ]
        }
    };

    $('.ui.form')
        .form({
            fields: formValidationRules,
            inline: true,
            on: 'blur',
            onSuccess: function () {
                $("#form_novo_projeto").removeClass('success').removeClass('error');
            },
            onFailure: function () {
                $("#form_novo_projeto").removeClass('success').removeClass('error');

                scrollToFormError()
            }
        });
</script>


<script type="text/javascript">
    $('#id_carater_projeto')
        .dropdown()
    ;

    var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
        spOptions = {
            onKeyPress: function (val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        };

    $('#id_telefone_responsavel').mask(SPMaskBehavior, spOptions);

</script>