{% load staticfiles %}
<div class="ui top attached header {% if atividade.empresa %}patrocinador {% endif %}
    {% if atividade.empresa.cota.nome == 'Apoio' %}
        patrocinador_apoio
    {% elif atividade.empresa.cota.nome == 'Prata' or atividade.empresa.cota.nome == 'Ouro' %}
        patrocinador_ouro_prata
    {% endif %}
">
    {% if atividade.empresa %}
        <div class="ui internally celled stackable padded grid">
            <div class="ui middle aligned row">
                <div class="four wide computer five wide tablet sixteen wide mobile center aligned column coluna_logo_empresa
                    {% if atividade.empresa.cota.nome == 'Apoio' %}
                        patrocinador_apoio
                    {% elif atividade.empresa.cota.nome == 'Prata' or atividade.empresa.cota.nome == 'Ouro' %}
                        patrocinador_ouro_prata
                    {% endif %}
                ">
                    <img class="ui medium image" src="{{ atividade.empresa.logo.url }}">
                </div>
                <div class="twelve wide computer eleven wide tablet sixteen wide mobile column">
                        <div class="middle aligned row">
                            <h1 class="ui header">{{ atividade.titulo }}</h1>
                        </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1 class="ui header">{{ atividade.titulo }}</h1>
    {% endif %}

</div>

<div class="ui attached fluid segment">
    {% for ministrante in atividade.ministrante.all %}
        <div class="ui grid">
            {% if ministrante.foto %}
                <div class="ui four wide computer five wide tablet sixteen wide mobile column coluna_foto_ministrante">
                    <img class="ui fluid rounded image foto_ministrante"
                         src="{% static 'secompufscar2017/images/loading_squared.gif' %}"
                         data-src="{{ ministrante.foto.url }}"
                         alt="Foto do ministrante {{ ministrante.nome }} {{ ministrante.sobrenome }}">

                </div>
            {% endif %}

            <div class="ui {% if ministrante.foto %} twelve wide computer eleven wide tablet sixteen wide mobile
                {% else %}sixteen wide {% endif  %}column">
                <h2>
                    {{ ministrante.nome }} {{ ministrante.sobrenome }}
                    {% for contato in ministrante.contatos.all %}
                        {% include 'secompufscar2017/programacao/helpers/contatos_ministrante.html' %}
                    {% endfor %}

                    {% if ministrante.profissao %}
                        <br>
                        <span class="profissao_ministrante">
                            {{ ministrante.profissao }},
                            {{ ministrante.empresa }}
                        </span>
                    {% endif %}

                </h2>
                <div class="description">
                    <div class="justificado">{{ ministrante.descricao|safe }}</div>
                    {% if forloop.last %}
                        <p>
                            <br>
                            <button class="ui small primary button"
                                    onclick="buscarDadosDaAtividade({{ atividade.id }})"
                                    id="botao_modal_{{ atividade.id }}">
                                {% if request.path == url_minicursos %}
                                    Detalhes do minicurso
                                {% elif request.path == url_workshops %}
                                    Detalhes do workshop
                                {% else %}
                                    Detalhes da {{ atividade.tipo.nome|lower }}
                                {% endif %}
                                <i class="right chevron icon"></i>
                            </button>
                        </p>
                        {% include 'secompufscar2017/programacao/helpers/detalhes_atividade.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    {% if atividade.empresa and atividade.ministrante.count == 0 %}
        <p class="justificado">
            {{ atividade.descricao|safe }}
        </p>

        {% include 'secompufscar2017/programacao/helpers/detalhes_atividade.html' %}
    {% endif %}
</div>