<div class="ui small modal" id="modal_erro">
    <i class="close icon"></i>
    <div class="header">Erro</div>
    <div class="content">
        <div class="description">
            <p>Ocorreu um erro ao obter detalhes desta atividade.
                Por favor, tente novamente mais tarde.</p>
            <p>Caso o erro persista, entre em contato com a organização.</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui blue ok button">
            <i class="close icon"></i>
            Fechar
        </div>
    </div>
</div>