{% load staticfiles %}
<div class="ui large modal" id="modal_detalhes_atividade">
    <i class="close icon"></i>
    <div class="header">
        [<span id="tipo_atividade"></span>] <span id="nome_atividade"></span>
    </div>
    <div class="image content">
        <img class="ui medium rounded image"
             src="{% static 'secompufscar2017/images/usuario_anonimo.jpg' %}"
             id="foto_ministrante">
        <div class="description">
            {% if atividades.first.tipo.nome == 'Mesa-Redonda' %}
                Participantes:
            {% elif atividades.first.tipo.nome == 'Palestra' or atividades.first.tipo.nome == 'Palestra Empresarial' %}
                Ministrante:
            {% else %}
                Ministrado por:
            {% endif %}
            <h2 class="ui header" id="nome_ministrante"></h2>
            <p class="justificado">
                <span id="descricao_atividade"></span>
            </p>
            <p id="secao_pre_requisitos">
                <b>Pré-requisitos:</b> <span id="pre_requisitos"></span>
            </p>
            <p id="secao_pre_requisitos_recomendados">
                <b>Pré-requisitos recomendados:</b> <span id="pre_requisitos_recomendados"></span>
            </p>
            <div class="extra">
                <div class="ui label">
                    <i class="calendar icon"></i>
                    <span id="data_atividade"></span>
                </div>
                <div class="ui label">
                    <i class="clock icon"></i>
                    <span id="horario_atividade"></span>
                </div>
                <div class="ui label">
                    <i class="marker icon"></i>
                    <span id="local_atividade"></span>
                </div>
                <div class="ui label" id="vagas_totais_label">
                    <i class="users icon"></i><span id="vagas_totais_atividade"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui blue ok button">
            <i class="close icon"></i>
            Fechar descrição
        </div>
    </div>
</div>

<script type="text/javascript">

    var diasDaSemana = [
        'Domingo',
        'Segunda-feira',
        'Terça-feira',
        'Quarta-feira',
        'Quinta-feira',
        'Sexta-feira',
        'Sábado'
    ];

    function getDiaDaSemana(indice) {
        return diasDaSemana[indice];
    }

    function getDiaFormatado(dia) {
        return dia < 10 ? '0' + dia : dia;
    }

    function getMesFormatado(mes) {
        return mes < 10 ? '0' + mes : mes;
    }

    function getDataFormatada(data) {
        var dataConvertida = new Date(data);
        return getDiaDaSemana(dataConvertida.getDay()) + ', ' + getDataFormatadaSemDiaDaSemana(dataConvertida);
    }

    function getDataFormatadaSemDiaDaSemana(data) {
        return getDiaFormatado(data.getDate()) + '/' + getMesFormatado(data.getMonth() + 1);
    }

    function getMinutoFormatado(minuto) {
        return minuto < 10 ? '0' + minuto : minuto;
    }

    function getHoraFormatada(hora) {
        return (hora < 10 ? '0' + hora : hora) + 'h';
    }

    function getIntervaloDeHorarioFormatado(dataHora) {
        var dataHoraInicioConvertida = new Date(dataHora.data_hora_inicio);
        var dataHoraFimConvertida = new Date(dataHora.data_hora_fim);
        return getHoraFormatada(dataHoraInicioConvertida.getHours()) +
            getMinutoFormatado(dataHoraInicioConvertida.getMinutes()) + ' - ' +
            getHoraFormatada(dataHoraFimConvertida.getHours()) +
            getMinutoFormatado(dataHoraFimConvertida.getMinutes());
    }

    function getHorariosFormatados(horarios) {
        var horarioFormatado = '';
        var primeiroHorario = horarios[0] || false;
        var segundoHorario = horarios[1];

        horarioFormatado += primeiroHorario ? getIntervaloDeHorarioFormatado(primeiroHorario) : 'Horário a definir';

        if (segundoHorario) {
            horarioFormatado += ' e ' + getIntervaloDeHorarioFormatado(segundoHorario);
        }

        return horarioFormatado;
    }

    function buscarDadosDaAtividade(id_atividade) {
        $('#botao_modal_' + id_atividade).addClass('loading');

        $.ajax({
            url: "{% url 'secompufscar2017:api_atividades' id_atividade='123456789' %}".replace('123456789', id_atividade),
            data: function (data) {
                return data.responseJSON;
            },
            cache: false,
            success: function (data) {
                $('#descricao_atividade').html(data.descricao);
                $('#tipo_atividade').html(data.tipo.toUpperCase().replace('_', ' '));
                $('#nome_atividade').html(data.titulo);

                if (data.ministrantes.length > 1) {
                    $('#foto_ministrante').hide();
                    $('#imagem_modal_atividade').hide();
                } else {
                    if (data.ministrantes[0].link_foto) {
                        var fotoMinistrante = $('#foto_ministrante');
                        fotoMinistrante.attr("src", data.ministrantes[0].link_foto);
                        fotoMinistrante.show();
                        $('#imagem_modal_atividade').show();
                    } else {
                        $('#foto_ministrante').hide();
                        $('#imagem_modal_atividade').hide();
                    }
                }

                var ministrantes = '';

                for (var i = 0; i < data.ministrantes.length; i++) {
                    ministrantes += data.ministrantes[i].nome + ' ' + data.ministrantes[i].sobrenome;
                    if (i !== data.ministrantes.length) {
                        ministrantes += '<br>'
                    }
                }

                $('#nome_ministrante').html(ministrantes);

                if (data.pre_requisitos) {
                    $('#pre_requisitos').html(data.pre_requisitos);
                    $('#secao_pre_requisitos').show();
                } else {
                    $('#secao_pre_requisitos').hide();
                }

                if (data.pre_requisitos_recomendados) {
                    $('#pre_requisitos_recomendados').html(data.pre_requisitos_recomendados);
                    $('#secao_pre_requisitos_recomendados').show();
                } else {
                    $('#secao_pre_requisitos_recomendados').hide();
                }

                if (data.horarios[0]){
                    $('#data_atividade').html(getDataFormatada(data.horarios[0].data_hora_inicio));
                } else {
                    $('#data_atividade').text('Data a definir');
                }

                $('#horario_atividade').html(getHorariosFormatados(data.horarios));
                if (data.local && data.local.predio) {
                    $('#local_atividade').html(data.local.predio + (data.local.sala ? ', ' + data.local.sala : ''));
                } else {
                    $('#local_atividade').html('Local a definir');
                }

                if (data.vagas_totais) {
                    $('#vagas_totais_atividade').html(data.vagas_totais +
                        (data.vagas_totais === 1 ? ' vaga' : ' vagas'));
                    $('#vagas_totais_label').show();
                } else {
                    $('#vagas_totais_label').hide();
                }

                $('#modal_detalhes_atividade').modal('show');
                $('#botao_modal_' + id_atividade).removeClass('loading');
            }
        });

        $(document).ajaxError(function () {
            $('#modal_erro').modal('show');
            $('.ui.small.primary.button').removeClass('loading');
        });
    }
</script>
