{% load staticfiles %}

{% url 'root:index' as url_root %}
{% url 'secompufscar2017:index' as url_site2017 %}
{% url 'secompufscar2016:index' as url_site2016 %}
{% url 'secompufscar2015:index' as url_site2015 %}

{% url 'secompufscar2017:asecomp' as url_a_secomp %}
{% url 'secompufscar2017:apresentacao' as url_apresentacao %}
{% url 'secompufscar2017:historia' as url_historia %}
{% url 'secompufscar2017:sociocultural' as url_sociocultural %}

{% url 'secompufscar2017:programacao' as url_programacao %}
{% url 'secompufscar2017:cronograma' as url_cronograma %}
{% url 'secompufscar2017:palestras' as url_palestras %}
{% url 'secompufscar2017:palestras_empresariais' as url_palestras_empresariais %}
{% url 'secompufscar2017:minicursos' as url_minicursos %}
{% url 'secompufscar2017:workshops' as url_workshops %}
{% url 'secompufscar2017:mesasredondas' as url_mesas_redondas %}
{% url 'secompufscar2017:processosseletivos' as url_processos_seletivos %}
{% url 'secompufscar2017:enterpriseday' as url_enterprise_day %}
{% url 'secompufscar2017:feiradeprojetos' as url_feira_de_projetos %}
{% url 'secompufscar2017:desafiodeprogramadores' as url_desafio_de_programadores %}
{% url 'secompufscar2017:gamenight' as url_game_night %}
{% url 'secompufscar2017:ctf' as url_ctf %}
{% url 'secompufscar2017:futebol_de_robos' as url_futebol_de_robos %}
{% url 'secompufscar2017:churrascodeintegracao' as url_churrasco_de_integracao %}

{% url 'secompufscar2017:patrocinio' as url_patrocinio %}
{% url 'secompufscar2017:equipe' as url_equipe %}
{% url 'secompufscar2017:contato' as url_contato_faq %}
{% url 'secompufscar2017:area_do_participante' as url_area_do_participante %}
{% url 'secompufscar2017:area_administrativa' as url_area_administrativa %}
{% url 'secompufscar2017:reenviar_email_confirmacao' as url_reenviar_email_confirmacao %}

<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    <meta name="keywords"
          content="secomp, semana, computação, computacao, ufscar, universidade, federal, secompufscar, computing, week, acadêmica, academica, academic, dc, departamento">
    <meta name="author" content="Marcelo de Oliveira da Silva">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="theme-color" content="#314B78">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <link rel="stylesheet" type="text/css" href="{% static 'secompufscar2017/semantic/dist/semantic.2.2.13.min.css' %}">
    <link rel="stylesheet" href="{% static 'secompufscar2017/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'secompufscar2017/css/secompufscar_19092017.min.css' %}">

    <script src="{% static 'secompufscar2017/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'secompufscar2017/js/wow.min.js' %}"></script>
    <script src="{% static 'secompufscar2017/js/custom.min.js' %}"></script>

    {% if request.path == url_root or request.path == url_site2017 or request.path == url_apresentacao or request.path == url_desafio_de_programadores or request.path == url_game_night or request.path == url_ctf or request.path == url_futebol_de_robos%}
        <script src="{% static 'secompufscar2017/js/jquery.backstretch.min.js' %}"></script>
    {% endif %}
    <script src="{% static 'secompufscar2017/semantic/dist/semantic.2.2.13.min.js' %}"></script>

    {% if request.path == url_root or request.path == url_site2017 %}
        <script src="{% static 'secompufscar2017/js/particles.min.js' %}"></script>
    {% endif %}

    {% if request.path == url_feira_de_projetos %}
        <script src="{% static 'secompufscar2017/js/jquery.mask.min.js' %}"></script>
    {% endif %}

    {% if producao %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ google_analytics_key }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Event",
            "name": "VIII SECOMP UFSCar",
            "description": "Vem aí a 8ª edição da Semana da Computação da UFSCar. Palestras, minicursos, workshops, Desafio de Programadores, Game Night, Enterprise Day e muito mais!",
            "startDate" : "2017-09-18T08:30",
            "endDate": "2017-09-22T18:00",
            "image": "https://secompufscar.com.br/static/secompufscar2017/images/logos/secomp_logo.png",
            "url" : "https://secompufscar.com.br",
            "sameAs" : "http://www.facebook.com/secompufscar",
            "location" : {
                "@type" : "Place",
                "sameAs" : "http://www.ufscar.br",
                "name" : "UFSCar - campus São Carlos",
                "address" : {
    	                "streetAddress": "Rodovia Washington Luís, Km 235 - Bairro Jardim Guanabara - São Carlos/SP",
                    "addressLocality": "São Carlos/SP"
                }
            }
        }

    </script>

    {% include 'secompufscar2017/helpers/favicons.html' %}
</head>

<body>

{% include 'secompufscar2017/helpers/sidebar.html' %}

<main class="pusher">

    {% include 'secompufscar2017/helpers/preloader.html' %}

    {% include 'secompufscar2017/helpers/menu.html' %}

    {% block body_content %}{% endblock body_content %}

    {% include 'secompufscar2017/helpers/realizacao.html' %}

    {% include 'secompufscar2017/helpers/footer.html' %}

    {% include 'secompufscar2017/helpers/backtotop.html' %}

</main>

<script type="text/javascript">
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", $("[name=csrfmiddlewaretoken]").val());
            }
        }
    });
</script>
</body>
</html>