{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8"/>
    <title>Novo projeto submetido</title>
</head>
<body>
<h1>Detalhes do Projeto</h1>
<p><b>Nome do responsável:</b> {{ nome }}</p>
<p><b>E-mail do responsável:</b> {{ email }}</p>
<p><b>Status de envio de email:</b> {{ status }}</p>
<p><b>Telefone do responsável:</b> {{ telefone_responsavel }}</p>
<hr/>
<p><b>Nome do projeto:</b> {{ nome_projeto }}</p>

<p><b>Caráter:</b></p>
<ul>
    {% for carater in carater_projeto %}
        <li>{{ carater }}</li>
    {% endfor %}
</ul>

<p><b>Descrição:</b></p>
<p>{{ descricao }}</p>

<p><b>Conteúdo:</b></p>
<p>{{ conteudo }}</p>

<p><b>Objetivo do projeto:</b></p>
<p>{{ objetivo }}</p>

<p><b>Relação com a computação:</b></p>
<p>{{ relacao_computacao }}</p>

<p><b>Link para vídeo:</b> {{ link_video }}</p>

<p><b>Material utilizado:</b></p>
<p>{{ material_utilizado }}</p>

<p><b>Áreas abordadas:</b></p>
<p>{{ areas }}</p>

<p><b>Resultados alcançados:</b></p>
<p>{{ resultados }}</p>

<p><b>Integrantes do projeto:</b></p>
<ul>
    {% for integrante in nome_integrantes %}
        <li>{{ integrante }}</li>
    {% endfor %}
</ul>

</body>
</html>
