{% load staticfiles %}

<!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57"
          href="{% static 'secompufscar2017/images/favicons/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60"
          href="{% static 'secompufscar2017/images/favicons/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72"
          href="{% static 'secompufscar2017/images/favicons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76"
          href="{% static 'secompufscar2017/images/favicons/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114"
          href="{% static 'secompufscar2017/images/favicons/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120"
          href="{% static 'secompufscar2017/images/favicons/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144"
          href="{% static 'secompufscar2017/images/favicons/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152"
          href="{% static 'secompufscar2017/images/favicons/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'secompufscar2017/images/favicons/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" href="{% static 'secompufscar2017/images/favicons/favicon-32x32.png' %}"
          sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'secompufscar2017/images/favicons/android-chrome-192x192.png' %}"
          sizes="192x192">
    <link rel="icon" type="image/png" href="{% static 'secompufscar2017/images/favicons/favicon-96x96.png' %}"
          sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'secompufscar2017/images/favicons/favicon-16x16.png' %}"
          sizes="16x16">
    <link rel="manifest" href="{% static 'secompufscar2017/images/favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'secompufscar2017/images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">

