{% if 'Apresentação' in menus_ativos %}
    <a class="{% if request.path == url_apresentacao %}active {% endif %}item"
       href="{% url 'secompufscar2017:apresentacao' %}">
        <i class="ui smile icon"></i>Apresentação</a>
{% endif %}
{% if 'História' in menus_ativos %}
    <a class="{% if request.path == url_historia %}active {% endif %}item"
       href="{% url 'secompufscar2017:historia' %}">
        <i class="ui line chart icon"></i>História</a>
{% endif %}
{% if 'Sociocultural' in menus_ativos %}
    <a class="{% if request.path == url_sociocultural %}active {% endif %}item"
       href="{% url 'secompufscar2017:sociocultural' %}">
        <i class="ui heart icon"></i>Sociocultural</a>
{% endif %}
{% if 'Site da edição 2016' in menus_ativos %}
    <a class="{% if request.path == url_site2016 %}active {% endif %}item"
       href="{% url 'secompufscar2016:index' %}">
        <i class="ui star icon"></i>Site da edição 2016</a>
{% endif %}
{% if 'Site da edição 2015' in menus_ativos %}
    <a class="{% if request.path == url_site2015 %}active {% endif %}item"
       href="{% url 'secompufscar2015:index' %}">
        <i class="ui star icon"></i>Site da edição 2015</a>
{% endif %}