{% load staticfiles %}

<div class="ui grid fixed">
    <div class="computer only row">
        <div class="ui fixed inverted medium menu" id="menu_principal">
            <a class="item" href="{% url 'secompufscar2017:index' %}">
                <img class="ui small image" src="{% static 'secompufscar2017/images/logos/secomp_logo_branco.png' %}"
                     alt="Logo da SECOMP UFSCar">
            </a>

            <div class="fixed right menu">
                {% if 'A SECOMP' in menus_ativos %}
                    <div class="ui inverted dropdown item">
                        A SECOMP <i class="ui dropdown icon"></i>
                        <div class="ui vertical menu">
                            {% include 'secompufscar2017/helpers/itens_menu_a_secomp.html' %}
                        </div>
                    </div>
                {% endif %}
                {% if 'Programação' in menus_ativos %}
                    <div class="ui dropdown item">
                        PROGRAMAÇÃO <i class="ui dropdown icon"></i>
                        <div class="ui inverted vertical menu">
                            {% include 'secompufscar2017/helpers/itens_menu_programacao.html' %}
                        </div>
                    </div>
                {% endif %}
                {% if 'Patrocínio' in menus_ativos %}
                    <a class="{% if request.path == url_patrocinio %}active {% endif %}item"
                       href="{% url 'secompufscar2017:patrocinio' %}">PATROCÍNIO</a>
                {% endif %}
                {% if 'Equipe' in menus_ativos %}
                    <a class="{% if request.path == url_equipe %}active {% endif %}item"
                       href="{% url 'secompufscar2017:equipe' %}">EQUIPE</a>
                {% endif %}
                {% if 'Contato + FAQ' in menus_ativos %}
                    <a class="{% if request.path == url_contato_faq %}active {% endif %}item"
                       href="{% url 'secompufscar2017:contato' %}">CONTATO + FAQ</a>
                {% endif %}
                {% if 'Área do Participante' in menus_ativos %}
                    <a class="{% if request.path == url_area_do_participante %}active {% endif %}item"
                       href="{% url 'secompufscar2017:area_do_participante' %}">ÁREA DO PARTICIPANTE</a>
                {% endif %}
                {% if request.user in permissoes.AREA_ADMINISTRATIVA %}
                    <a class="{% if request.path == url_area_administrativa %}active {% endif %}item"
                       href="{% url 'secompufscar2017:area_administrativa' %}">ÁREA ADMINISTRATIVA</a>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="mobile tablet only row">
        <div class="ui fixed inverted medium menu" id="menu_principal_mobile">
            <a class="item" href="{% url 'secompufscar2017:index' %}">
                <img class="ui tiny image" src="{% static 'secompufscar2017/images/logos/secomp_logo_branco.png' %}"
                     alt="Logo da SECOMP UFSCar">
            </a>
            <div class="right menu">
                <a class="toc item">
                    <i class="large sidebar icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.ui.dropdown')
        .dropdown({
            on: 'hover'
        })
    ;
    $('.ui.sidebar')
        .sidebar('setting', 'transition', 'overlay')
        .sidebar('setting', 'mobileTransition', 'top overlay')
        .sidebar('attach events', '.toc.item')
    ;
</script>