{% load staticfiles %}

<div class="ui vertical inverted right sidebar menu" id="sidebar">
    <a class="item" href="#">
        <img class="ui small image" src="{% static 'secompufscar2017/images/logos/secomp_logo_branco.png' %}">
    </a>
    {% if 'A SECOMP' in menus_ativos %}
        <a class="{% if request.path == url_a_secomp %}active {% endif %}item"
           href="{% url 'secompufscar2017:asecomp' %}">A SECOMP</a>
    {% endif %}
    {% if 'Programação' in menus_ativos %}
        <a class="{% if request.path == url_programacao %}active {% endif %}item"
           href="{% url 'secompufscar2017:programacao' %}">PROGRAMAÇÃO</a>
    {% endif %}
    {% if 'Patrocínio' in menus_ativos %}
        <a class="{% if request.path == url_patrocinio %}active {% endif %}item"
           href="{% url 'secompufscar2017:patrocinio' %}">PATROCÍNIO</a>
    {% endif %}
    {% if 'Equipe' in menus_ativos %}
        <a class="{% if request.path == url_equipe %}active {% endif %}item"
           href="{% url 'secompufscar2017:equipe' %}">EQUIPE</a>
    {% endif %}
    {% if 'Contato + FAQ' in menus_ativos %}
        <a class="{% if request.path == url_contato_faq %}active {% endif %}item"
           href="{% url 'secompufscar2017:contato' %}">CONTATO + FAQ</a>
    {% endif %}
    {% if 'Área do Participante' in menus_ativos %}
        <a class="{% if request.path == url_area_do_participante %}active {% endif %}item"
           href="{% url 'secompufscar2017:area_do_participante' %}">ÁREA DO PARTICIPANTE</a>
    {% endif %}
    {% if request.user in permissoes.AREA_ADMINISTRATIVA %}
        <a class="{% if request.path == url_area_administrativa %}active {% endif %}item"
           href="{% url 'secompufscar2017:area_administrativa' %}">ÁREA ADMINISTRATIVA</a>
    {% endif %}
</div>