{% if patrocinadores|length != 0 %}
    <div class="ui vertical segment secao_cota_patrocinio wow fadeInUp" data-wow-delay="{{ tempo_animacao }}">
        <div class="ui centered grid">
            <div class="ui middle aligned row titulo_cota_patrocinio">
                <div class="ui medium {{ cor }} label label_cota_patrocinio">{{ cota|upper }}</div>
            </div>
            <div class="ui middle aligned row">
                {% for patrocinador in patrocinadores %}
                    {% include 'secompufscar2017/helpers/patrocinio/patrocinador_individual.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}