{% if patrocinador.logo %}
    <div class="ui {{ tamanho_coluna }} column">
        <div class="ui fluid image">
            {% if patrocinador.link_website %}
                <a href="{{ patrocinador.link_website }}" target="_blank">
            {% endif %}
            <img src="{{ patrocinador.logo.url }}"
                 alt="Logotipo da empresa {{ patrocinador.nome_empresa }}">
            {% if patrocinador.link_website %}
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}