/* Página inicial - Cronômetro */


/* Utilizado para corrigir o espaçamento entre os labels no modal */
.ui.label {
    margin: 0.25rem 0.5rem 0.25rem 0em;
}

#icone_rede_social_ministrantes {
    width: 0.8em;
}

#headercinza {
    color: #808080;
    font-size: 0.8em;
}

#clockdiv {
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 36px;
}

#clockdiv > div {
    padding: 12px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.4);
    display: inline-block;
}

#clockdiv div > span {
    padding: 18px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.8);
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

@media (max-width: 320px) {
    #clockdiv {
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size: 20px;
    }

    #clockdiv > div {
        padding: 8px;
    }

    #clockdiv div > span {
        padding: 14px;
    }

    .smalltext {
        font-size: 12px;
    }
}

@media (min-width: 321px) and (max-width: 1024px) {
    #clockdiv {
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size: 20px;
    }

    #clockdiv > div {
        padding: 10px;
    }

    #clockdiv div > span {
        padding: 16px;
    }

    .smalltext {
        font-size: 13px;
    }
}

/* Página inicial - masthead */

#data {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 30px;
    letter-spacing: 4px;
    padding: 0.4em 0.6em 0.4em;
    text-space: 0.2;
}

@media (max-width: 1024px) {
    #data {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    h1.ui.header {
        font-size: 2.0rem;
    }
}

.ui.centered.grid, .ui.centered.grid > .row, .ui.grid > .centered.row {
    text-align: left;
}

footer {
    background-attachment: fixed;
}

h3 {
    font-weight: 500;
}

#rodapebranco {
    color: #FFFFFF;
    text-align: center;
    margin: 0em 0em 0.4em 0em;
    font-weight: bold;
    font-size: 16px;
}

#rodapecinza {
    color: #808080;
    text-align: center;
}

/* Back top */
.go-top {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 1em;
    right: 1em;
    color: #ffffff;
    font-size: 26px;
    display: none;
    position: fixed;
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.go-top:hover {
    background: #21ba45;
    color: #ffffff;
}

/* Desabilitar isso quando remover o "Em Breve" dos itens de Programação*/
.ui.menu .dropdown.item .menu {
    min-width: 230px;
}

/* Usado para corrigir a perda de espaço no grid de cards da página Equipe*/
.ui.cards > .card > .content, .ui.card > .content {
    padding: 1em 1em;
}

/* Usado para evitar que as tags "Diretor" e "Coordenador" fiquem em cima do texto do card.*/
@media (min-width: 321px) and (max-width: 767px) {
    .ui.cards > .card > .content > .header:not(.ui), .ui.card > .content > .header:not(.ui) {
        font-size: 1.1em;
    }

    .ui.cards > .card .meta, .ui.card .meta {
        font-size: 0.8em;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .ui.cards > .card > .content, .ui.card > .content {
        padding: 0.5em;
    }

    .ui.cards > .card .meta, .ui.card .meta {
        font-size: 0.95em;
    }
}

@media (min-width: 1024px) and (max-width: 1024px) {
    .ui.cards > .card > .content, .ui.card > .content {
        padding: 0.5em;
    }

    .ui.cards > .card .meta, .ui.card .meta {
        font-size: 0.9em;
    }
}

@media (max-width: 320px) {
    .ui.cards > .card > .content, .ui.card > .content {
        padding: 0.5em;
    }

    .ui.cards > .card > .content > .header:not(.ui), .ui.card > .content > .header:not(.ui) {
        font-size: 1em;
    }

    .ui.cards > .card .meta, .ui.card .meta {
        font-size: 0.7em;
    }
}

/* Usado para ajustar as cores dos links da sidebar */
.ui.vertical.inverted.menu .menu .item, .ui.vertical.inverted.menu .menu .item a:not(.ui) {
    color: rgba(255, 255, 255, 0.8);
}

.ui.vertical.inverted.menu .menu .item.disabled, .ui.vertical.inverted.menu .menu .item.disabled:hover {
    color: rgba(255, 255, 255, 0.5);
}

/* Usado para o segmento Nova Identidade da página inicial */
#novaidentidade {
    background-color: #21ba45;
}

.ui.inverted.menu .item {
    font-family: 'PT Sans';
    font-weight: 600;
    color: #eee;
    line-height: 26px;
}

.ui.grid > .column:not(.row),
.ui.grid > .row > .column {
    position: relative;
    display: inline-block;
    width: 6.25%;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    /*margin-left: 1px;*/
    /*margin-right:1px;*/
    vertical-align: top;
}

.ui.grid > * {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

/*.ui.centered.grid > .column:not(.aligned):not(.row), .ui.centered.grid > .row > .column:not(.aligned), .ui.grid .centered.row > .column:not(.aligned) {*/
/*!*text-align: center;*!*/
/*}*/

.ui.grid > .column:not(.row) {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

h1.ui.header {
    font-size: 3rem;
    text-transform: uppercase;
}

h2.ui.header {
    font-size: 2rem;
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
}

/* CSS Adicional */

#headingpages {
    padding-top: 4rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #f9f9f9;
    font-size: 48px;
}

@media (max-width: 768px) {
    #headingpages {
        padding-bottom: 0rem;
        background: #f9f9f9;
    }
}

#headingpages_gamenight {
    padding-top: 4rem;
    padding-bottom: 1rem;
    text-align: center;
    background: #1b1c1d;
    font-size: 48px;
}

@media (max-width: 768px) {
    #headingpages {
        padding-bottom: 0rem;
        background: #f9f9f9;
    }
}

#menuprincipal {
    background: rgba(0, 0, 0, 0.7);
}

#menuprincipal_home {
    font-size: 1.8rem;
}

#oquetemnasecomp .fa {
    color: #62b550;
    font-size: 48px;
}

#fundocinza {
    background-color: #f9f9f9;
}

.masthead.segment {
    min-height: 100vh;
    padding: 0em 0em;
}

.masthead {
    height: 100vh;
    text-align: center;
}

.container {
    overflow-x: hidden;
    overflow-y: hidden;
}

/*---------------------------------------
    Preloader section
-----------------------------------------*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}