{% extends 'secompufscar2017/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Apresentação{% endblock %}

{% block meta_description %}Confira aqui um pouco mais sobre o propósito da Semana da Computação da UFSCar, bem como um
    pouquinho sobre o Departamento de Computação e a Universidade Federal de São Carlos.{% endblock meta_description %}

{% block body_content %}

    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">A SECOMP UFSCar</h1>
            </div>
            <div class="sixteen wide column wow fadeInUp">
                <div class="row paragrafos_justificados">
                    <p>A Semana Acadêmica da Computação da Universidade Federal de São Carlos surgiu da
                        necessidade de se trazer assuntos que fossem de interesse tanto da comunidade acadêmica
                        quanto de entusiastas. Nela, pessoas de diferentes áreas são convidadas a apresentar,
                        discutir e debater experiências e novidades que trarão informação, conhecimento e
                        inovação aos participantes.</p>
                    <p>
                        Desde a sua primeira edição, a SECOMP trabalha para que os assuntos sejam os mais
                        atuais possíveis e que sejam transmitidos da maneira mais dinâmica tentando aproximar o
                        participante de áreas que vão da academia até o mercado de trabalho através de
                        minicursos, workshops, palestras técnicas, empresariais, mesas redondas, feira de
                        recrutamento e muitos outros conteúdos que foram pensados ao longo do tempo em busca de
                        um evento cada vez melhor.</p>
                    <p>
                        Em prol disso, os estudos são constantes para que o modelo de evento sempre melhore e se
                        torne referência, trazendo cada vez mais experiências únicas a quem nos acompanha e
                        encurtando as relações para que todos os segmentos de público sejam beneficiados.</p>
                    <p>
                        Convidamos vocês a acompanhar nosso crescimento e inclusive a nos sugerir melhorias, por
                        entendermos que você, participante, é a peça fundamental para a nossa evolução!<br><br></p>
                </div>
            </div>
        </div>
    </div>

    <div id="a_secomp"></div>

    <div class="ui inverted vertical stripe segment">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui inverted centered header titulo_pagina menor_padding_top wow fadeInUp"
                    data-wow-delay="0.3s">A UFSCar</h1>
            </div>
            <div class="sixteen wide column wow fadeInUp">
                <div class="row paragrafos_justificados">
                    <p>Fundada em 1968, a Universidade Federal de São Carlos (UFSCar), única instituição federal
                        de Ensino Superior localizada no interior do Estado de São Paulo, destaca-se pelo alto
                        nível de qualificação de seu corpo docente: 96,1% são doutores ou mestres. Em sua
                        maioria, 98,6% dos professores desenvolvem atividades de ensino, pesquisa e extensão em
                        regime de dedicação exclusiva.</p>

                    <p>A Universidade possui quatro <i>campi</i>, sendo que o principal fica em São Carlos, município
                        localizado a 235 km da capital do Estado, e tem 645 hectares de extensão, sendo 196 mil
                        m² de área construída.</p>

                    <p>O <i>campus</i> São Carlos possui 300 laboratórios, uma biblioteca, um ambulatório, dois
                        teatros, nove anfiteatros, 12 auditórios, um ginásio, um parque esportivo, sete quadras,
                        duas piscinas, um restaurante universitário, quatro lanchonetes, 124 salas de aula e 672
                        vagas internas e externas de moradia estudantil.</p>

                    <p>Os 48 departamentos acadêmicos da Universidade estão divididos em oito centros: Ciências
                        Agrárias, Ciências Biológicas e da Saúde, Ciências em Gestão e Tecnologia, Ciências e
                        Tecnologias para a Sustentabilidade, Ciências Exatas e de Tecnologia, Ciências Humanas e
                        Biológicas, Educação e Ciências Humanas e Ciências da Natureza.</p>

                    <p>A UFSCar oferece 62 cursos e um total de 2.757 vagas na graduação presencial. Além disso, conta
                        com 47 programas de pós-graduação, oito cursos de mestrado profissional, 41 de mestrado
                        acadêmico, 27 de doutorado e 95 cursos de especialização. No escopo da extensão, a UFSCar
                        oferece 1355 atividades de extensão e 311 programas. Oferece, também, 94 Atividades Curriculares
                        de Integração (Aciepes).</p>

                    <p>Há, no total, 24.825 alunos matriculados na Universidade: 12.338 de graduação presencial; 1.584
                        de educação a distância; 369 são alunos de mestrado profissional; 1.915 de mestrado acadêmico;
                        1.690 de doutorado; e 6.929 de especialização.</p>

                    <p>Em 2014, a UFSCar obteve a 18ª colocação entre as 300 universidades da América Latina incluídas
                        no ranking elaborado pela Quacquarelli Symonds (QS). A instituição obteve 82 pontos na avaliação
                        geral e é, portanto, considerada a 10ª melhor instituição brasileira.</p>

                    <p><i>Texto obtido da página institucional da UFSCar, disponível em
                        <a href="http://www.ufscar.br" target="_blank">www.ufscar.br</a>.</i>
                    </p>
                    <p><i><b>Créditos da imagem:</b> Erick Radner, Revista UFSCar (edição n.º 01, Abril de 2017).
                    Disponível em <a href="http://revista.ufscar.br">http://revista.ufscar.br</a>.</i><br><br></p>
                </div>
            </div>
        </div>
    </div>

    <div id="a_ufscar"></div>

    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina menor_padding_top wow fadeInUp"
                    data-wow-delay="0.3s">O Departamento de Computação</h1>
            </div>
            <div class="sixteen wide column wow fadeInUp">
                <div class="row paragrafos_justificados">
                    <p>O Departamento de Computação existe desde 1972, sendo responsável por habilitar e colocar com
                        excelência anualmente no mercado de trabalho cerca de uma centena de profissionais, que
                        atuam em empresas e em Instituições de Ensino Superior.</p>

                    <p>Atento à constante evolução na área de computação, o DC-UFSCar tem atuado na vanguarda do
                        desenvolvimento tecnológico, firmando-se no cenário nacional e internacional como um centro
                        de pesquisa bastante atuante.</p>
                    <p><i>Texto obtido da página institucional do Departamento de Computação da UFSCar, disponível
                        em <a href="http://www.dc.ufscar.br" target="_blank">www.dc.ufscar.br</a>.</i><br><br></p>
                </div>
            </div>
        </div>
    </div>

    <div id="o_departamento_de_computacao"></div>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}

    <script type="application/javascript">
        $(window).on('load', function() {
            $('#a_secomp').backstretch({
                url: "{% static 'secompufscar2017/images/apresentacao/abertura_vii_secomp.jpg' %}",
                fade: 700
            });

            $('#a_ufscar').backstretch({
                url: "{% static 'secompufscar2017/images/apresentacao/ufscar_entrada_sul.jpg' %}",
                alignY: 'center',
                fade: 700
            });

            $('#o_departamento_de_computacao').backstretch({
                url: "{% static 'secompufscar2017/images/apresentacao/fachada_dc_ufscar.jpg' %}",
                alignY: 'bottom',
                fade: 700
            });
        });
    </script>

{% endblock body_content %}