{% extends 'secompufscar2017/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Sociocultural{% endblock %}

{% block meta_description %}Saiba mais sobre o trabalho realizado pela Diretoria Sociocultural da SECOMP
    UFSCar.{% endblock meta_description %}

{% block body_content %}
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Sociocultural SECOMP UFSCar</h1>
            </div>
            <div class="ui sixteen wide column wow fadeInUp">
                <div class="row paragrafos_justificados">
                    <h1 class="ui header">Sociocultural SECOMP? Conta melhor essa história...</h1>
                    <p>
                        É isso mesmo! A organização da SECOMP conta com a coordenação geral e seis diretorias, sendo uma
                        delas a Diretoria Sociocultural. Nós achamos muito importante promover a cultura de consciência
                        social
                        não apenas para os membros da organização, mas também para toda a comunidade do Departamento de
                        Computação da UFSCar e os participantes do evento.
                    </p>
                    <p>
                        O ideal da SECOMP é de liderança servidora, ou seja, não apenas promover conteúdo no âmbito
                        acadêmico,
                        mas também contribuir socialmente para a população, servindo-a. O principal objetivo da
                        Diretoria
                        Sociocultural é atuar promovendo capital cultural e desenvolver o sentido de responsabilidade
                        social.
                        Desta forma, a diretoria promove ações que se estendem durante todo o ano, envolvendo todos os
                        membros
                        da equipe SECOMP.
                    </p>
                </div>
            </div>
            <div class="ui sixteen wide column wow fadeInUp">
                <div class="row paragrafos_justificados">
                    <h1 class="ui header">Em 2016...</h1>
                    <p>
                        Em 2016 implantamos a Diretoria Sociocultural na organização da SECOMP e começamos as nossas
                        ações.
                        Em parceria com a <b>APAE São Carlos</b>, promovemos eventos e encontros de digitação de notas
                        fiscais, para
                        garantir o retorno de tributos a esta instituição. O sucesso foi absoluto, com mais de 20.000
                        notas
                        digitadas.
                    </p>
                    <p>
                        Ainda em 2016, dando continuidade aos trabalhos da VI SECOMP, foram doados aos <b>Salesianos</b>
                        diversos
                        materiais cuja necessidade foi determinada pela entidade, tais como: bolas de futebol, materiais
                        de
                        secretaria, cabos audiovisuais e materiais para construção do espaço de areia para atividades
                        lúdicas
                        no parque. A doação de materiais totalizou R$ 750,00, provenientes das inscrições da SECOMP
                        2015.
                    </p>
                </div>
            </div>
            <div class="ui sixteen wide column wow fadeInUp">
                <div class="row paragrafos_justificados">
                    <h1 class="ui header">Já em 2017...</h1>
                    <p>
                        Na VII SECOMP foram arrecadados mais de 200 quilos de alimentos não-perecíveis, vindos da
                        contribuição dos participantes inscritos nos workshops do evento. Esses alimentos foram doados
                        para a <b>ONG Nave Sal da Terra</b>, que tem um trabalho muito bonito com as crianças carentes
                        do
                        Jardim Zavaglia e arredores.
                    </p>
                    <h1 class="ui header">Em resumo...</h1>
                </div>
            </div>

            <div class="ui four column doubling stackable row">
                <div class="center aligned column wow fadeInUp">
                    <div class="ui medium statistic">
                        <div class="value">
                            20 MIL+
                        </div>
                        <div class="label">
                            notas digitadas para a<br> APAE São Carlos em 2016
                        </div>
                    </div>
                </div>
                <div class="center aligned column wow fadeInUp" data-wow-delay="0.4s">
                    <div class="ui medium statistic">
                        <div class="value">
                            R$ 750
                        </div>
                        <div class="label">
                            revertidos em doação de<br>materiais para o<br>Grupo Salesianos em 2016
                        </div>
                    </div>
                </div>
                <div class="center aligned column wow fadeInUp" data-wow-delay="0.6s">
                    <div class="ui medium statistic">
                        <div class="value">
                            200KG+
                        </div>
                        <div class="label">
                            de alimentos doados para<br>a ONG Nave Sal da Terra
                        </div>
                    </div>
                </div>
                <div class="center aligned column wow fadeInUp" data-wow-delay="0.8s">
                    <div class="ui medium statistic">
                        <div class="value">
                            40 MIL+
                        </div>
                        <div class="label">
                            notas digitadas para a<br> APAE São Carlos em 2017<br>
                            e contando...
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui sixteen wide column wow fadeInUp">
                <div class="row paragrafos_justificados">
                    <h1 class="ui header">O que vem por aí...</h1>
                    <p>
                        É com grande felicidade que podemos informar que vem muito mais pela frente! No segundo semestre
                        de 2017, já estão programados vários eventos. Acompanhe a nossa
                        <a href="https://facebook.com/secompufscar" target="_blank">página no Facebook</a> para ficar
                        informado!
                    </p>
                    <p>
                        E quem disse que a SECOMP é só para universitários? Por que não levar um pouco da SECOMP para as
                        escolas de São Carlos? Pensando nisso, no dia 26 de agosto de 2017, na E. E. Professor Aduar
                        Kemel Dibo aconteceu a primeira edição da <b>SECOMP XP</b>, que mostrou para as crianças um
                        pouco da computação que tanto adoramos. Mais informações sobre a SECOMP XP em breve.
                    </p>
                    <p>
                        E ainda tem mais em 2017! Este ano vamos começar a arrecadar leite para o asilo <b>Cantinho
                        Fraterno Dona Maria Jacinta</b> e lacres de alumínio em parceria com a <b>Lacre do Bem</b>
                        para ajudar na manufatura de próteses.
                    </p>
                </div>
            </div>
            <div class="ui sixteen wide column wow fadeInUp">
                <div class="row paragrafos_justificados">
                    <h1 class="ui header">Gostou das nossas ações? Faça parte você também!</h1>
                    <p>
                        Entre em contato com as instituições e informe-se sobre como ajudar:
                    </p>
                    <ul>
                        <li>
                            <b>Asilo Cantinho Fraterno Dona Maria Jacinta:</b>
                            <a href="https://www.facebook.com/cantinhofraterno.OFICIAL" target="_blank">
                                facebook.com/cantinhofraterno.OFICIAL</a>
                        </li>
                        <li>
                            <b>ONG Nave Sal da Terra:</b>
                            <a href="http://www.navesaldaterra.com.br" target="_blank">
                                www.navesaldaterra.com.br</a>
                        </li>
                        <li>
                            <b>APAE São Carlos:</b>
                            <a href="http://www.apaesc.org.br" target="_blank">
                                www.apaesc.org.br</a>
                        </li>
                        <li>
                            <b>Salesianos São Carlos:</b>
                            <a href="http://www.salesianos.dmti.com.br" target="_blank">
                                www.salesianos.dmti.com.br</a>
                        </li>
                    </ul>
                    <p>
                        A cada ano melhoramos e aprendemos, e com nosso trabalho ampliamos ainda mais o alcance da
                        capacidade humana da SECOMP, mostrando que vamos muito além da Ciência e Tecnologia!
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2017/helpers/patrocinadores.html' %}

{% endblock body_content %}

