{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Erro 404{% endblock %}

{% block meta_description %}Ops... Algo deu errado :-({% endblock meta_description %}

{% block body_content %}
    <!-- Erro 404 -->
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Erro 404 - Página não encontrada
                </h1>
            </div>
            <div class="twelve wide computer sixteen wide mobile centered column">
                <div class="row">
                    <div class="ui icon negative message wow fadeInUp" data-wow-delay="0.3s">
                        <i class="frown icon"></i>
                        <div class="content">
                            <div class="header">A página que você está tentando acessar não foi
                                encontrada.
                            </div>
                            <p>Se você acha que isso é um erro, entre em contato conosco pelo e-mail <a
                                    href="mailto:contato@secompufscar.com.br">contato@secompufscar.com.br</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}