{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Erro 500{% endblock %}

{% block meta_description %}Ops... Algo deu errado :-({% endblock meta_description %}

{% block body_content %}
    <!-- Erro 500 -->
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Erro Interno no Servidor
                </h1>
            </div>
            <div class="twelve wide computer sixteen wide mobile centered column">
                <div class="row">
                    <div class="ui icon negative message wow fadeInUp" data-wow-delay="0.3s">
                        <i class="frown icon"></i>
                        <div class="content">
                            <div class="header">O servidor encontrou um erro interno ou configuração
                                inválida e não foi possível completar sua requisição.
                            </div>
                            <p>Por favor, contate o administrador do sistema pelo e-mail <a
                                    href="mailto:ti@secompufscar.com.br">ti@secompufscar.com.br</a>
                                para informar que você recebeu este erro, e os passos que você acabou de
                                fazer antes de receber esta mensagem de erro.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}