{% if 'Apresentação' in menus_ativos %}
    <a class="{% if request.path == url_apresentacao %}active {% endif %}item"
       href="{% url 'secompufscar2019:apresentacao' %}">
        <i class="ui smile icon"></i>Apresentação</a>
{% endif %}
{% if 'História' in menus_ativos %}
    <a class="{% if request.path == url_historia %}active {% endif %}item"
       href="{% url 'secompufscar2019:historia' %}">
        <i class="ui line chart icon"></i>História</a>
{% endif %}
{% if 'Sociocultural' in menus_ativos %}
    <a class="{% if request.path == url_sociocultural %}active {% endif %}item"
       href="{% url 'secompufscar2019:sociocultural' %}">
        <i class="ui heart icon"></i>Sociocultural</a>
{% endif %}
{% if 'Site da edição 2018' in menus_ativos %}
  <a class="{% if request.path == url_equipe %}active {% endif %}item"
      href="{% url 'secompufscar2018:index' %}"><i class="arrow alternate circle left icon"></i>Site da edição 2018</a>
{% endif %}
