{% if 'Patrocínio' in menus_ativos %}
<div class="ui vertical stripe segment secao_fundo_cinza">
    <div class="ui centered grid container">
        <div class="ui sixteen wide column">
            {% if request.path == url_patrocinio %}
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Patrocínio
                </h1>
            {% else %}
                <h2 class="ui centered header titulo_secao wow fadeInUp" data-wow-delay="0.3s">
                    Patrocínio
                </h2>
            {% endif %}
        </div>
        <div class="ui sixteen wide column secao_patrocinadores">
            {% with cota='diamante' cor='blue' tempo_animacao="0.2s" tamanho_coluna="fourteen wide mobile five wide tablet four wide computer" patrocinadores=patrocinadores.diamante %}
                {% include 'secompufscar2019/helpers/patrocinio/cota_patrocinio.html' %}
            {% endwith %}

            {% with cota='ouro' cor='yellow' tempo_animacao="0.4s" tamanho_coluna="eight wide mobile four wide tablet three wide computer" patrocinadores=patrocinadores.ouro %}
                {% include 'secompufscar2019/helpers/patrocinio/cota_patrocinio.html' %}
            {% endwith %}

            {% with cota='prata' cor='grey' tempo_animacao="0.6s" tamanho_coluna="eight wide mobile four wide tablet three wide computer" patrocinadores=patrocinadores.prata %}
                {% include 'secompufscar2019/helpers/patrocinio/cota_patrocinio.html' %}
            {% endwith %}

{#            {% with cota='desafio de programadores' cor='pink' tempo_animacao="0.8s" tamanho_coluna="eight wide mobile four wide tablet three wide computer" patrocinadores=patrocinadores.desafio_de_programadores %}#}
{#                {% include 'secompufscar2019/helpers/patrocinio/cota_patrocinio.html' %}#}
{#            {% endwith %}#}

            {% with cota='apoio' cor='black' tempo_animacao="1s" tamanho_coluna="five wide mobile three wide tablet two wide computer" patrocinadores=patrocinadores.apoio %}
                {% include 'secompufscar2019/helpers/patrocinio/cota_patrocinio.html' %}
            {% endwith %}
        </div>
    </div>
</div>
{% endif %}