{% load staticfiles %}

<!-- Realização -->
<div class="ui vertical stripe segment" id="secao_realizacao">
    <div class="ui centered grid container">
        <div class="row">
            <h2 class="ui centered header titulo_secao wow fadeInUp" data-wow-delay="0.3s">
                Realização
            </h2>
        </div>
        <div class="row">
            <div class="three wide tablet five wide mobile three wide computer column">
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                    <p align="center">
                        <a href="#">
                            <img class="ui medium fluid image"
                                 src="{% static 'secompufscar2019/images/organizacao/secomp.png' %}"
                                 alt="Logo SECOMP UFSCar">
                        </a>
                    </p>
                </div>
            </div>
            <div class="three wide tablet five wide mobile three wide computer column">
                <div class="wow fadeInUp" data-wow-delay="0.6s">
                    <p align="center">
                        <a href="http://www.dc.ufscar.br" target="_blank">
                            <img class="ui medium fluid image" src="{% static 'secompufscar2019/images/organizacao/dc.png' %}"
                                 alt="Logo DC UFSCar">
                        </a>
                    </p>
                </div>
            </div>
            <div class="three wide tablet five wide mobile three wide computer column">
                <div class="wow fadeInUp" data-wow-delay="0.9s">
                    <p align="center">
                        <a href="http://ufscar.br" target="_blank">
                            <img class="ui medium fluid image"
                                 src="{% static 'secompufscar2019/images/organizacao/ufscar.png' %}"
                                 alt="Logo UFSCar">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
