{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Área do Participante: Cadastro{% endblock %}

{% block meta_description %}Faça aqui o seu cadastro para a IX SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}
    <script src='https://www.google.com/recaptcha/api.js?hl=pt-BR'></script>
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">Novo cadastro</h1>
            </div>

            <div class="ui sixteen wide column">
                <div class="ui attached message">
                    <div class="header">Dados da conta</div>
                    <p>Informe aqui os dados para acesso à Área do Participante.
                        Note que os campos marcados com * são obrigatórios.</p>
                </div>

                <div class="ui attached fluid segment">
                    <form action="{% url 'secompufscar2017:cadastro' %}" method="post" class="ui form"
                          novalidate>
                        <div class="ui equal width stackable centered grid">
                            {% csrf_token %}
                            {% if erro %}
                                <div class="row">
                                    <div class="ui sixteen wide column">
                                        <div class="ui negative message">
                                            <b>{{ erro|safe }}</b>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="ui equal width row">
                                <div class="column">
                                    <div class="required field">
                                        <label for="id_email">{{ form.email.label }}</label>
                                        <div class="ui left icon input">
                                            {{ form.email }}
                                            <i class="mail icon"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="required field">
                                        <label for="id_confirmacao_email">{{ form.confirmacao_email.label }}</label>
                                        <div class="ui left icon input">
                                            {{ form.confirmacao_email }}
                                            <i class="mail icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui equal width row">
                                <div class="column">
                                    <div class="required field">
                                        <label for="id_senha">{{ form.senha.label }}
                                            (mínimo 8 caracteres, não todos numéricos)</label>
                                        <div class="ui left icon input">
                                            {{ form.senha }}
                                            <i class="lock icon"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="required field">
                                        <label for="id_confirmacao_senha">{{ form.confirmacao_senha.label }}</label>
                                        <div class="ui left icon input">
                                            {{ form.confirmacao_senha }}
                                            <i class="lock icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="column">
                                    <div class="ui yellow message">
                                        <div class="header">Atenção para os campos nome e sobrenome!</div>
                                        <p>Os dados aqui informados serão os utilizados para emissão de seu
                                            certificado.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="two column row">
                                <div class="column">
                                    <div class="required field">
                                        <label for="id_nome">{{ form.nome.label }}</label>
                                        {{ form.nome }}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="required field">
                                        <label for="id_sobrenome">{{ form.sobrenome.label }}</label>
                                        {{ form.sobrenome }}
                                    </div>
                                </div>
                            </div>

                            <div class="three column row">
                                <div class="column">
                                    <div class="grouped fields">
                                        <div class="field">
                                            <label for="id_instituicao">{{ form.instituicao.label }}</label>
                                            {{ form.instituicao }}
                                        </div>
                                        <div class="field" id="id_instituicao_field">
                                            <label for="id_outra_instituicao">{{ form.outra_instituicao.label }}</label>
                                            {{ form.outra_instituicao }}
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="grouped fields">
                                        <div class="field">
                                            <label for="id_curso">{{ form.curso.label }}</label>
                                            {{ form.curso }}
                                        </div>
                                        <div class="field" id="id_curso_field">
                                            <label for="id_outro_curso">{{ form.outro_curso.label }}</label>
                                            {{ form.outro_curso }}
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="grouped fields">
                                        <div class="field">
                                            <label for="id_ano_ingresso">{{ form.ano_ingresso.label }}</label>
                                            <select class="ui search selection scrooling dropdown" name="ano_ingresso"
                                                    id="id_ano_ingresso" multiple="">
                                                <option value="">{{ form.ano_ingresso.label }}</option>
                                                {% for ano_ingresso in form.ano_ingresso %}
                                                    {{ ano_ingresso }}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="column">
                                    <div class="field">
                                        <div class="g-recaptcha" data-sitekey="6LerM0gUAAAAAAc52ET2parkXXBNm1YvHYOHZ2KP"
                                             data-callback="captcha_filled"
                                             data-expired-callback="captcha_expired"></div>
                                    </div>
                                    <div class="ui icon warning message" id="captcha_warning">
                                        <i class="close icon"></i>
                                        <div class="content">
                                            <div class="header">Preencha o captcha!</div>
                                            <p> Confio que você não é um robô! Mas o nosso servidor infelizmente não. :/
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <input type="submit" value="Cadastrar" class="ui blue submit button">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="ui basic modal" id="modal_processando_cadastro">
        <div class="ui icon header">
            <i class="signup icon"></i>
        </div>

        <div class="content">
            <div class="ui centered grid">
                <h1 class="ui inverted centered header">
                    Registrando cadastro
                </h1>
                <div class="row">
                    <i class="huge notched circle loading icon"></i>
                </div>
                <div class="row">
                    <p>Por favor, aguarde...</p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        allowSubmit = false;
        captcha_warning = $("#captcha_warning");
        captcha_warning.hide();
        ocultarCamposSeNecessario('#id_instituicao');
        ocultarCamposSeNecessario('#id_curso');
        formulario = $('.ui.form');
        function captcha_filled () {
            allowSubmit = true;
            captcha_warning.hide();
        }

        function captcha_expired () {
            allowSubmit = false;
            captcha_warning.show();
        }
        function ocultarCamposSeNecessario(campo) {
            if ($(campo).val()[0] !== '0') {
                $(campo + '_field').hide();
            }
        }

        function esconderCampo(campo) {
            var field = $(campo);
            field.hide(300);
        }

        function mostrarCampo(campo) {
            var field = $(campo);
            field.show(300);
            $(campo.replace('_field', '').replace('curso', 'outro_curso').replace('instituicao', 'outra_instituicao')).focus();
        }

        function cadastrarOutraInstituicaoOuCurso(outraOpcao) {
            var outraOpcaoField = outraOpcao + '_field';

            if ($(outraOpcao).val()[0] === '0') {
                mostrarCampo(outraOpcaoField);
            } else {
                esconderCampo(outraOpcaoField);
            }
        }

        var dropdownInstituicao = $('#id_instituicao');
        dropdownInstituicao.addClass('ui search selection scrooling dropdown');
        dropdownInstituicao.on('change', function() {
            cadastrarOutraInstituicaoOuCurso(('#id_instituicao'));
        });

        var dropdownCurso = $('#id_curso');
        dropdownCurso.addClass('ui search selection scrooling dropdown');
        dropdownCurso.on('change', function () {
            cadastrarOutraInstituicaoOuCurso(('#id_curso'));
        });

        $('.ui.dropdown').dropdown({
            direction: 'upward',
            maxSelections: 1,
            message: {
                maxSelections: "Opção selecionada:",
                noResults: "Nenhum resultado encontrado."
            }
        });

        formulario
            .form({
                fields: {
                    email: {
                        identifier: 'id_email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Digite seu e-mail.'
                            },
                            {
                                type: 'email',
                                prompt: 'Digite um e-mail válido.'
                            }

                        ]
                    },
                    confirmacao_email: {
                        identifier: 'id_confirmacao_email',
                        rules: [

                            {
                                type: 'email',
                                prompt: 'Digite novamente o seu e-mail.'
                            },
                            {
                                type: 'match[email]',
                                prompt: 'O e-mail de confirmação não confere com o e-mail digitado.'
                            }

                        ]
                    },
                    senha: {
                        identifier: 'id_senha',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Digite uma senha.'
                            },
                            {
                                type   : 'minLength[8]',
                                prompt : 'A senha deve conter pelo menos {ruleValue} caracteres.'
                            },
                            {
                                type: 'regExp',
                                value: /^(?=.*[a-zA-Z!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/,
                                prompt: 'A senha deve conter pelo menos um caractere não numérico.'
                            }
                        ]
                    },
                    confirmacao_senha: {
                        identifier: 'id_confirmacao_senha',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Digite novamente a sua senha.'
                            },
                            {
                                type: 'match[senha]',
                                prompt: 'A senha de confirmação não confere com a senha digitada.'
                            },
                            {
                                type   : 'minLength[8]',
                                prompt : 'A senha deve conter pelo menos {ruleValue} caracteres.'
                            },
                            {
                                type: 'regExp',
                                value: /^(?=.*[a-zA-Z!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/,
                                prompt: 'A senha deve conter pelo menos um caractere não numérico.'
                            }

                        ]
                    },
                    nome: {
                        identifier: 'id_nome',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Digite seu nome.'
                            }
                        ]
                    },
                    sobrenome: {
                        identifier: 'id_sobrenome',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Digite seu sobrenome.'
                            }
                        ]
                    }
                },
                inline: true,
                on: 'blur'
            });
        formulario.submit(function(event){
            if (allowSubmit) {
                if ($(this).form('is valid')) {
                    $('#modal_processando_cadastro').modal('setting', 'closable', false).modal('show');
                }
            }
            else {
                event.preventDefault();
                captcha_warning.show(100);
            }
        });
    </script>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}