{% extends 'secompufscar2018/helpers/base.html' %}

{% load staticfiles %}

{% block title %}SECOMP UFSCar - Confirmação de e-mail{% endblock %}

{% block meta_description %}Confirmação de e-mail do cadastro na SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}

    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Cadastro confirmado
                </h1>
            </div>
            <div class="ui sixteen wide column">
                <div class="ui centered grid">
                    <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                        <div class="row">
                            <div class="ui attached segment">
                                <h2>Cadastro concluído!</h2>
                                <div class="ui positive message">
                                    <div class="content">
                                        <div class="header">
                                            E-mail confirmado com sucesso!
                                        </div>
                                        <p>Agora você já pode se inscrever na IX SECOMP UFSCar. Clique no botão
                                            <b>Fazer login e ir para a inscrição</b>.</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <p align="right"><br>
                                        <a href="{% url 'secompufscar2017:login' %}">
                                            <button class="ui primary right labeled icon button">
                                                <i class="right arrow icon"></i>
                                                Fazer login e ir para a inscrição
                                            </button>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}