{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Confirmação de e-mail{% endblock %}

{% block meta_description %}Confirmação de e-mail do cadastro na SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Confirmação de e-mail
                </h1>
            </div>
            <div class="ui sixteen wide column">
                <div class="ui centered grid">
                    <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                        <div class="row">
                            <div class="ui attached segment">
                                <h2>Quase pronto o seu cadastro!</h2>
                                {% if request.path == url_reenviar_email_confirmacao %}
                                    <p>Se o e-mail informado estiver cadastrado em nossa base de dados, nosso sistema
                                        enviou um e-mail com o link para que você possa confirmar o seu cadastro.
                                    </p>
                                {% else %}
                                    <p>Enviamos um link para o seu e-mail para que você possa confirmar o seu cadastro.</p>
                                {% endif %}
                                <p>Você deve receber o e-mail em instantes. Caso não tenha recebido, clique no botão
                                abaixo para tentarmos novamente.</p>

                                <a href="{% url 'secompufscar2017:reenviar_email_confirmacao' %}">
                                    <button class="ui blue button">Reenviar e-mail de confirmação</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}