{% extends 'secompufscar2018/helpers/base.html' %}

{% load staticfiles %}

{% block title %}SECOMP UFSCar - Confirmação de e-mail{% endblock %}

{% block meta_description %}Confirmação de e-mail do cadastro na SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}

    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Confirmação de e-mail
                </h1>
            </div>
            <div class="ui sixteen wide column">
                <div class="ui centered grid">
                    <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                        <div class="row">
                            <div class="ui attached segment">
                                <h2>Falha ao confirmar cadastro :-(</h2>
                                <div class="ui error message">
                                    <div class="content">
                                        <div class="header">Link inválido!
                                        </div>
                                        <p>O link pode estar errado ou expirado. Tente copiar o link novamente ou clique no
                                            botão abaixo para enviarmos um novo e-mail de confirmação.</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <a href="{% url 'secompufscar2017:reenviar_email_confirmacao' %}">
                                        <button class="ui primary button">
                                            Reenviar e-mail de confirmação
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}