{% extends 'secompufscar2018/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Confirmação de e-mail{% endblock %}

{% block meta_description %}Confirmação de e-mail do cadastro na SECOMP UFSCar.{% endblock meta_description %}

{% block body_content %}
    <div class="ui vertical stripe segment secao_fundo_cinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header titulo_pagina wow fadeInUp" data-wow-delay="0.3s">
                    Confirmação de cadastro
                </h1>
            </div>
            <div class="ui sixteen wide column">
                <div class="ui centered grid">
                    <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                        <div class="row">
                            <div class="ui attached segment">
                                <h2>Reenviar e-mail de confirmação</h2>
                                <p>Entre com o e-mail utilizado no cadastro para reenviarmos o e-mail de confirmação.</p>

                                <form class="ui form" method="post"
                                      action="{% url 'secompufscar2017:reenviar_email_confirmacao' %}">
                                    {% csrf_token %}
                                    <div class="field">
                                        <div class="ui left icon input">
                                            <label for="id_email"></label>
                                            <input type="email" name="email" id="id_email" placeholder="E-mail">
                                            <i class="mail icon"></i>
                                        </div>
                                    </div>
                                    <button class="ui blue submit button">Reenviar e-mail de confirmação</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.ui.form')
            .form({
                fields: {
                    email: {
                        identifier: 'id_email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Digite o e-mail utilizado no cadastro.'
                            },
                            {
                                type: 'email',
                                prompt: 'Digite um e-mail válido.'
                            }

                        ]
                    }
                },
                inline: true,
                on: 'blur'
            });
    </script>

    {% include 'secompufscar2018/helpers/patrocinadores.html' %}

{% endblock body_content %}