{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Área do Participante{% endblock %}

{% block meta_description %}Veja aquis os processos seletivos que acontecerão na VII SECOMP
    UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}

    <style>
        .hide {
            display: none;
        }

        .show {
            display: block;
        }
    </style>

    <script type="text/javascript">
        function editarCadastro() {
            $('#editarcadastro').addClass('show');
            $('#fecharedicaodecadastro').removeClass('disabled');
        }

        function alterarSenha() {
            $('#alterarsenha').addClass('show');
            $('#fecharedicaodecadastro').removeClass('disabled');
        }

        function fecharTelaDeEdicao() {
            $('#editarcadastro').removeClass('show');
            $('#fecharedicaodecadastro').addClass('disabled');
        }

        function escolherCurso() {
            document.getElementById('outroCurso').checked = false;
        }

        function selecionaOutroCurso() {
            document.getElementById('outroCurso').checked = true;
        }

        function escolherInstituicao() {
            document.getElementById('outraInstituicao').checked = false;
        }

        function selecionaOutraInstituicao() {
            document.getElementById('outraInstituicao').checked = true;
        }
    </script>

    <!-- Dashboard da Área do Participante -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">ÁREA DO PARTICIPANTE</h1>
                </div>
            </div>

            <div class="row">
                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                    <h2 class="ui top attached header" style="text-transform: none;">
                        Olá, {{ user.first_name }}!<a href="/2016/areadoparticipante/logout/">
                        <button class="ui right floated button">Fazer logout</button>
                    </a>
                    </h2>


                    <div class="ui attached fluid segment">
                        <div class="ui divided items">
                            <div class="item">
                                <div class="content">
                                    <div class="description">
                                        {% if admin or autorizador_pagamento_presencial %}
                                            <p align="center">
                                                <a href="/2016/areadoparticipante/areaadministrativa/">
                                                    <button class="ui blue button">Área Administrativa</button>
                                                </a>
                                            </p>
                                        {% endif %}
                                        <h3 class="ui horizontal divider header">
                                            <i class="user icon"></i>
                                            Seu Cadastro
                                        </h3>
                                        <p>

                                        <table class="ui celled striped table">
                                            <tbody>
                                            <tr>
                                                <td class="two wide"><b>Nome completo</b></td>
                                                <td class="fourteen wide">{{ user.first_name }} {{ user.last_name }}</td>
                                            </tr>

                                            <tr>
                                                <td class="two wide"><b>E-mail</b></td>
                                                <td class="fourteen wide">{{ user.email }}</td>
                                            </tr>

                                            <tr>
                                                <td class="two wide"><b>Curso/Cargo</b></td>
                                                <td class="fourteen wide">{{ user.participante.curso }}</td>
                                            </tr>

                                            <tr>
                                                <td class="two wide"><b>Instituição/Empresa</b></td>
                                                <td class="fourteen wide">{{ user.participante.instituicao }}</td>
                                            </tr>

                                            <tr>
                                                <td class="two wide"><b>Ano de Ingresso</b></td>
                                                <td class="fourteen wide">{{ user.participante.anodeingresso }}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <button class="ui button" onclick="editarCadastro()">Editar cadastro
                                        </button>
                                        <button class="ui disabled button" onclick="fecharTelaDeEdicao()"
                                                id="fecharedicaodecadastro">Cancelar edição
                                        </button>
                                        <button class="ui button" onclick="alterarSenha()">Alterar senha
                                        </button>
                                        <br>
                                        </p>

                                        {% if senha_alterada %}
                                            <div class="ui positive message">
                                                <i class="close icon"></i>
                                                Senha alterada com sucesso!
                                            </div>
                                        {% endif %}

                                        <script type="text/javascript">
                                            $('.message .close')
                                                    .on('click', function () {
                                                        $(this)
                                                                .closest('.message')
                                                                .transition('fade')
                                                        ;
                                                    })
                                            ;
                                        </script>
                                        <form action="/2016/areadoparticipante/alterarsenha/" method="POST"
                                              class="ui hide form" id="alterarsenha">
                                            {% csrf_token %}
                                            <h3 class="ui top attached header" style="text-transform: none;">
                                                Alterar senha
                                            </h3>

                                            <div class="ui attached fluid segment">
                                                <div class="field">
                                                    <label>Nova senha</label>
                                                    <div class="ui left icon input">
                                                        <input type="password" name="password">
                                                        <i class="lock icon"></i>
                                                    </div>
                                                </div>

                                                <div class="field">
                                                    <label>Confirme a nova senha</label>
                                                    <div class="ui left icon input">
                                                        <input type="password" name="confirmacaodesenha">
                                                        <i class="lock icon"></i>
                                                    </div>
                                                </div>
                                                <input type="submit" value="Alterar senha"
                                                       class="ui blue submit button">
                                            </div>
                                        </form>

                                        <form action="/2016/areadoparticipante/editarcadastro/" method="POST"
                                              class="ui hide form" id="editarcadastro">
                                            {% csrf_token %}
                                            <h3 class="ui top attached header" style="text-transform: none;">
                                                Editar cadastro
                                            </h3>

                                            <div class="ui attached fluid segment">
                                                <div class="ui message">
                                                    <div class="header">Atenção para os campos nome e sobrenome!</div>
                                                    <p>Os dados aqui informados serão os utilizados para emissão de seu
                                                        certificado.</p>
                                                </div>

                                                <div class="ui message">
                                                    <div class="header">Campos em branco são desconsiderados.</div>
                                                    <p>Preencha apenas os campos que deseja alterar. Os campos deixados
                                                        em branco não serão alterados.</p>
                                                </div>
                                                <div class="ui two fields">

                                                    <div class="field">
                                                        <label>Nome</label>
                                                        <input type="text" name="first_name" placeholder="Nome">
                                                    </div>
                                                    <div class="field">
                                                        <label>Sobrenome</label>
                                                        <input type="text" name="last_name" placeholder="Sobrenome">
                                                    </div>
                                                </div>

                                                <div class="ui three fields">
                                                    <div class="grouped fields">
                                                        <label for="instituicao">Instituição/Empresa</label>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input type="radio" name="instituicao" tabindex="0"
                                                                       class="hidden"
                                                                       value="UFSCar - campus São Carlos">
                                                                <label>UFSCar - campus São Carlos</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input type="radio" name="instituicao" tabindex="0"
                                                                       class="hidden"
                                                                       value="UFSCar - campus Sorocaba">
                                                                <label>UFSCar - campus Sorocaba</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input type="radio" name="instituicao" tabindex="0"
                                                                       class="hidden"
                                                                       value="UFSCar - campus Araras">
                                                                <label>UFSCar - campus Araras</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input type="radio" name="instituicao" tabindex="0"
                                                                       class="hidden"
                                                                       value="UFSCar - campus Lagoa do Sino">
                                                                <label>UFSCar - campus Lagoa do Sino</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input type="radio" name="instituicao" tabindex="0"
                                                                       class="hidden"
                                                                       value="USP - São Carlos">
                                                                <label>USP - São Carlos</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input type="radio" name="instituicao" tabindex="0"
                                                                       class="hidden"
                                                                       value="IFSP - São Carlos">
                                                                <label>IFSP - São Carlos</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input type="radio" name="instituicao" tabindex="0"
                                                                       class="hidden"
                                                                       value="IFSP - São Carlos">
                                                                <label>UNICEP</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui radio checkbox"
                                                                 onclick="selecionaOutraInstituicao()">
                                                                <input type="radio" name="instituicao" tabindex="0"
                                                                       class="hidden"
                                                                       value="Outra"
                                                                       id="outraInstituicao" checked="">
                                                                <label>Outra instituição/Empresa:</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="field" id="outroInstituicaoTextField"
                                                                 onclick="selecionaOutraInstituicao()">
                                                                <input type="text" name="outrainstituicao"
                                                                       placeholder="Qual?"
                                                                       id="outraInstituicaoTextFieldInput">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="grouped fields">
                                                        <label for="curso">Curso/Cargo</label>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input type="radio" name="curso" tabindex="0"
                                                                       class="hidden"
                                                                       value="Ciência da Computação">
                                                                <label>Ciência da Computação</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input type="radio" name="curso" tabindex="0"
                                                                       class="hidden"
                                                                       value="Engenharia de Computação">
                                                                <label>Engenharia de Computação</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input type="radio" name="curso" tabindex="0"
                                                                       class="hidden"
                                                                       value="Sistemas de Informação">
                                                                <label>Sistemas de Informação</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input type="radio" name="curso" tabindex="0"
                                                                       class="hidden"
                                                                       value="Análise e Desenvolvimento de Sistemas">
                                                                <label>Análise e Desenvolvimento de Sistemas</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui radio checkbox"
                                                                 onclick="selecionaOutroCurso()">
                                                                <input type="radio" name="curso" tabindex="0"
                                                                       class="hidden" value="Outro"
                                                                       checked="" id="outroCurso">
                                                                <label>Outro curso/Cargo na empresa: </label>
                                                            </div>
                                                        </div>

                                                        <div class="field">
                                                            <div class="field" id="outroCursoTextField"
                                                                 onclick="selecionaOutroCurso()">
                                                                <input type="text" name="outrocurso" placeholder="Qual?"
                                                                       id="outroCursoTextFieldInput">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <script type="text/javascript">
                                                        $('.ui.radio.checkbox')
                                                                .checkbox()
                                                        ;
                                                    </script>

                                                    <div class="field">
                                                        <label>Ano de Ingresso<br> (utilize a rolagem para ver mais
                                                            opções)</label>
                                                        <div class="ui search selection dropdown" id="anodropdown">
                                                            <input type="hidden" name="anodeingresso">
                                                            <i class="dropdown icon"></i>
                                                            <div class="default text">Ano de Ingresso</div>
                                                            <div class="menu">
                                                                <div class="item" data-value="2016">2016</div>
                                                                <div class="item" data-value="2015">2015</div>
                                                                <div class="item" data-value="2014">2014</div>
                                                                <div class="item" data-value="2013">2013</div>
                                                                <div class="item" data-value="2012">2012</div>
                                                                <div class="item" data-value="2011">2011</div>
                                                                <div class="item" data-value="2010">2010</div>
                                                                <div class="item" data-value="2009">2009</div>
                                                                <div class="item" data-value="2008">2008</div>
                                                                <div class="item" data-value="2007">2007</div>
                                                                <div class="item" data-value="2006">2006</div>
                                                                <div class="item" data-value="2005">2005</div>
                                                                <div class="item" data-value="2004">2004</div>
                                                                <div class="item" data-value="2003">2003</div>
                                                                <div class="item" data-value="2002">2002</div>
                                                                <div class="item" data-value="2001">2001</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <script type="text/javascript">
                                                    $('#anodropdown').dropdown();
                                                </script>

                                                <input type="submit" value="Salvar alterações"
                                                       class="ui blue submit button">

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 class="ui horizontal divider header">
                            <i class="ticket icon"></i>
                            Sua Inscrição no Evento
                        </h3>

                        <p>
                        <table class="ui celled striped unstackable table">
                            <tbody>
                            <tr>
                                <td class="two wide"><b>Pacote</b></td>
                                <td class="fourteen wide">{{ user.inscricao_set.last.pacote }}</td>
                            </tr>

                            <tr>
                                <td class="two wide"><b>Camiseta</b></td>
                                <td class="fourteen wide">{% if user.inscricao_set.last.pacote == 'FULL' %}
                                    {{ user.inscricao_set.last.camiseta }}{% else %}O pacote
                                    {{ user.inscricao_set.last.pacote }} não inclui camiseta.{% endif %}</td>
                            </tr>

                            <tr>
                                <td class="two wide"><b>Pagamento(s)</b></td>
                                <td class="fourteen wide">
                                    {% if user.inscricao_set.last.pacote != 'FREE' %}
                                        {% for pagamento in user.inscricao_set.last.pagamentos.all %}
                                            {{ forloop.counter }}.
                                            {{ pagamento.metodo_pagamento }} ({{ pagamento.registro_pagamento }}) em
                                            {{ pagamento.data_hora_pagamento }}

                                            no valor de R$
                                            {{ pagamento.valor_pagamento|floatformat:2 }}.
                                            {#                                             Autorização: {{ pagamento.autorizacao_pagamento }}.#}

                                            {#                                            {% if admin %}#}
                                            {#                                                {% if pagamento.metodo_pagamento == 'Pagamento Presencial' %}#}
                                            {#                                                    confirmado por {{ pagamento.autorizacao_pagamento }}.#}
                                            {#                                                {% elif pagamento.metodo_pagamento == 'PayPal' %}#}
                                            {#                                                    Autorização: {{ pagamento.registro_pagamento }}.#}
                                            {#                                                {% endif %}#}
                                            {##}
                                            {#                                                Referência: {{ pagamento.referencia_pagamento }}.#}
                                            {#                                            {% endif %}#}
                                            <br>
                                        {% endfor %}
                                        {% if participante.inscricao_set.last.pagamentos.count == 0 %}
                                            Não há registros de pagamento.<br>
                                        {% endif %}
                                    {% else %}
                                        Não há pagamento a ser realizado no seu pacote.
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <h3 class="ui horizontal divider header">
                            <i class="trophy icon"></i>
                            Inscrição no Desafio de Programadores
                        </h3>

                        {% if user.inscricao_set.all.last.pacote == 'FULL' %}
                            <table class="ui celled striped table">
                                <tbody>
                                <tr>
                                    <td class="two wide"><b>Inscrito(a)</b></td>
                                    <td>{% if user.inscricao_set.all.last.desafio_de_programadores %}
                                        Sim
                                    {% else %}
                                        Não
                                    {% endif %}
                                    </td>
                                </tr>
                                {% if user.inscricao_set.all.last.desafio_de_programadores %}
                                    <tr>
                                        <td class="two wide"><b>Equipe</b></td>
                                        <td>{% if equipe %}
                                            {{ equipe }}
                                        {% else %}
                                            Não inscrito(a) em uma equipe ainda
                                        {% endif %}
                                        </td>
                                    </tr>
                                    {% if equipe %}
                                        <tr>
                                            <td class="two wide"><b>Equipe inscrita por</b></td>
                                            <td>{{ inscrita_por }}</td>
                                        </tr>
                                        <tr>
                                            <td class="two wide"><b>Membros da equipe</b></td>
                                            <td>
                                                {{ integrante1 }}<br>
                                                {{ integrante2 }}<br>
                                                {{ integrante3 }}<br>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endif %}

                                </tbody>
                            </table>
                        {% else %}
                            <table class="ui celled striped table">
                                <tbody>
                                <tr>
                                    <td class="two wide"><b>Inscrição</b></td>
                                    <td>O pacote {{ user.inscricao_set.all.last.pacote }} não inclui o
                                        Desafio de Programadores.
                                        {% if user.inscricao_set.last.pacote != 'FULL' and user.inscricao_set.last.pagamentos.all.count > 0 %}
                                            <br>Para fazer upgrade do seu pacote, entre em contato com a organização
                                            pelo e-mail <a href="mailto:contato@secompufscar.com.br">contato@secompufscar.com.br</a>.
                                        {% endif %}
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <p align="center"></p>
                        {% endif %}

{#                        <p align="center">Alteração no status da inscrição no Desafio de Programadores e inscrições de#}
{#                            equipes serão liberadas em breve.</p>#}

                            {% if user.inscricao_set.last.pacote == 'FULL' and not user.inscricao_set.last.inscrito_em_equipe %}
                                <form action="/2016/areadoparticipante/editardesafio/" method="post" class="ui form">
                                    {% csrf_token %}
                                    {% if user.inscricao_set.all.last.desafio_de_programadores %}
                                        <p>
                                        <br>
                                            <button class="ui submit button">Cancelar inscrição no Desafio de
                                                Programadores
                                            </button>
                                        </p>
                                    {% else %}
{#                                        <br>#}
                                        <p>
                                            <button class="ui submit button">Fazer inscrição no Desafio de Programadores
                                            </button>
                                        </p>
                                    {% endif %}
                                </form>

                                {% if user.inscricao_set.all.last.desafio_de_programadores and not user.inscricao_set.all.last.inscrito_em_equipe %}

                                    <a href="/2016/areadoparticipante/inscreverequipe/">
                                        <button class="ui button">Inscrever equipe
                                        </button>
                                    </a>
                                {% endif %}
                            {% endif %}

                        </p>

                        <h3 class="ui horizontal divider header" id="secao_minicursos">
                            <i class="terminal icon"></i>
                            Inscrição em Minicursos
                        </h3>
                        {% if user.inscricao_set.last.pacote == 'FREE' %}
                            <p align="center">Seu pacote não inclui inscrição em minicursos.</p>
                        {% else %}

{#                            {% if horario.hour > 17 %}#}
                                <p align="center">Você
                                pode consultar as descrições e pré-requisitos de
                                cada minicurso <a href="/2016/programacao/minicursos" target="_blank">neste
                                    link</a>.
                                <br><b>Atenção: os números de vagas mostrados nesta página NÃO são atualizados em tempo real.</b> Se ficar muito tempo parado nesta página, atualize-a para verificar possíveis alterações nos números de vagas. Quando você se inscrever, a linha do minicurso escolhido ficará com
                                fundo verde, indicando que sua vaga foi reservada com sucesso.<br>
                                Caso queira trocar de minicurso inscrito, você precisará cancelar a sua inscrição no
                                minicurso atual e se inscrever no novo minicurso. Vale ressaltar que ao cancelar a
                                inscrição no minicurso atual, você <b>perde a garantia de vaga</b> neste minicurso.
                            </p>

                            {% if vagas_esgotadas %}
                                <script> window.location.hash = '#secao_minicursos'; </script>
                                <div class="ui negative message">
                                    <b>Vagas esgotadas!</b><br>
                                    Alguém se inscreveu primeiro e as vagas para o minicurso
                                    <b>{{ minicurso_vagas_esgotadas }}</b> estão esgotadas! Escolha outro minicurso.
                                </div>
                            {% endif %}
                            {% if minicurso_inscrito %}
                                <p align="center">
                                    <b>Local do seu minicurso:</b>
                                    {% for m in minicursos %}{% if minicurso_inscrito == m.id %}{{ m.local_atividade }}
                                    {% endif %}{% endfor %}</p>
                            {% endif %}
                            <p></p>

                            <p>
                            <table class="ui celled striped selectable table">
                                <thead>
                                <tr>
                                    <th>Minicurso</th>
                                    <th>Dia e Horário(s)</th>
                                    <th>Vagas<br>totais</th>
                                    <th>Vagas<br>restantes</th>
                                    <th>Inscrição</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for atividade in minicursos %}
                                    <tr {% if minicurso_inscrito == atividade.id %} class="positive" {% endif %}>
                                        <td>
                                            <h4 class="ui image header">
                                                <img src="{% static 'secompufscar2016/images/palestrantes/minicursos/'|add:atividade.ministrante_atividade.get.foto_ministrante %}"
                                                     class="ui mini bordered rounded image">
                                                <div class="content">
                                                    {{ atividade.nome_atividade }}
                                                    <div class="sub header">{{ atividade.ministrante_atividade.get.nome_ministrante }}
                                                    </div>
                                                </div>
                                            </h4>
                                        </td>

                                        <td class="two wide">{{ atividade.data_inicio_atividade|date:"l, d/m" }},<br>{{ atividade.hora_inicio_atividade.hour }}h{% if atividade.hora_inicio_atividade|time:'i' != '00' %}{{ atividade.hora_inicio_atividade|time:'i' }}{% endif %}-{{ atividade.hora_fim_atividade.hour }}h{% if atividade.hora_fim_atividade|time:'i' != '00' %}{{ atividade.hora_fim_atividade|time:'i' }}{% endif %}
                                            {% if atividade.hora_retorno_atividade %}e {{ atividade.hora_retorno_atividade.hour }}h{% if atividade.hora_retorno_atividade|time:'i' != '00' %}{{ atividade.hora_retorno_atividade|time:'i' }}{% endif %}-{{ atividade.hora_fim_retorno_atividade.hour }}h{% if atividade.hora_fim_retorno_atividade|time:'i' != '00' %}{{ atividade.hora_fim_retorno_atividade|time:'i' }}{% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="one wide">{{ atividade.vagas_atividade }}</td>
                                        <td class="one wide">{{ atividade.vagas_disponiveis_atividade }}</td>
                                        <td class="one wide">
                                            <form class="ui form" {% if minicurso_inscrito != atividade.id %}
                                                  action="/2016/areadoparticipante/inscricaoemminicurso/" {% else %}
                                                  action="/2016/areadoparticipante/cancelarinscricaoemminicurso/"{% endif %}
                                                  method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="id_minicurso" value="{{ atividade.id }}">
                                                <button class="ui
{#{% if minicurso_inscrito and minicurso_inscrito != atividade.id or atividade.vagas_disponiveis_atividade <= 0 and minicurso_inscrito != atividade.id %}disabled{% else %} #}
{#submit #}
{#{% endif %} #}
disabled
{% if minicurso_inscrito == atividade.id %} green {% else %}blue {% endif %} button">
                                                    {% if minicurso_inscrito == atividade.id %}Cancelar{% elif atividade.vagas_disponiveis_atividade == 0%}Esgotado{% else %}
                                                        Inscrever{% endif %}</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </p>
{#                                {% else %}#}
{#                                <p align="center">Início das inscrições na <b>segunda-feira, 19/09</b>, às <b>19h</b>.<br>#}
{#                                Você#}
{#                                pode consultar as descrições e pré-requisitos de#}
{#                                cada minicurso <a href="/2016/programacao/minicursos" target="_blank">neste#}
{#                                    link</a>.</p>#}
{#                            {% endif %}#}

                        {% endif %}

                        <h3 class="ui horizontal divider header" id="secao_workshops">
                            <i class="at icon"></i>
                            Inscrição em Workshops
                        </h3>

                        <p align="center">Inscrições a partir de domingo, 25/09, às 19h.<br>Você pode consultar as descrições e pré-requisitos de cada
                            workshop <a href="/2016/programacao/workshops/" target="_blank">neste link</a>.<br>

                    <b>Atenção: os números de vagas mostrados nesta página NÃO são atualizados em tempo real.</b> Se ficar muito tempo parado nesta página, atualize-a para verificar possíveis alterações nos números de vagas. Quando você se inscrever, a linha do workshop escolhido ficará com fundo verde, indicando que sua vaga foi reservada com sucesso.</p>



{#                {% if horario.hour > 18 or user.email == 'marcelodeoliveira@outlook.com' %}#}
                    <p align="center"><b>Não se esqueça de trazer 1kg de alimento não-perecível para cada workshop que você se inscrever.<br>Os alimentos arrecadados serão doados a instituições de caridade de São Carlos.</b></p>

                        <p>
                    {% if vagas_esgotadas_workshops %}
                                <script> window.location.hash = '#secao_workshops'; </script>
                                <div class="ui negative message">
                                    <b>Vagas esgotadas!</b><br>
                                    Alguém se inscreveu primeiro e as vagas para o workshop
                                    <b>{{ workshop_vagas_esgotadas }}</b> estão esgotadas!
                                </div>
                            {% endif %}

                        <table class="ui celled striped selectable table">
                            <thead>
                            <tr>
                                <th>Workshop</th>
                                <th>Dia e Horário(s)</th>
                                <th>Vagas<br>totais</th>
                                <th>Vagas<br>restantes</th>
                                <th>Inscrição</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for atividade in workshops %}
                                <tr {% if atividade.id == workshops_inscritos.0 or atividade.id == workshops_inscritos.1 or atividade.id == workshops_inscritos.2 %} class="positive" {% endif %}>
                                    <td>
                                        <h4 class="ui image header">
                                            <img src="{% static 'secompufscar2016/images/palestrantes/workshops/'|add:atividade.ministrante_atividade.get.foto_ministrante %}"
                                                 class="ui mini bordered rounded image">
                                            <div class="content">
                                                {{ atividade.nome_atividade }}
                                                <div class="sub header">{{ atividade.ministrante_atividade.get.nome_ministrante }}
                                                </div>
                                            </div>
                                        </h4>
                                    </td>
                                    <td class="two wide">{{ atividade.data_inicio_atividade|date:"l, d/m" }}, {{ atividade.hora_inicio_atividade.hour }}h{% if atividade.hora_inicio_atividade|time:'i' != '00' %}{{ atividade.hora_inicio_atividade|time:'i' }}{% endif %}-{{ atividade.hora_fim_atividade.hour }}h{% if atividade.hora_fim_atividade|time:'i' != '00' %}{{ atividade.hora_fim_atividade|time:'i' }}{% endif %}
                                    </td>
                                    <td class="one wide">{{ atividade.vagas_atividade }}</td>
                                    <td class="one wide">{{ atividade.vagas_disponiveis_atividade }}</td>
                                    <td class="one wide">
                                        <form class="ui form" {% if atividade.id == workshops_inscritos.0 or atividade.id == workshops_inscritos.1 or atividade.id == workshops_inscritos.2  %}
                                                  action="/2016/areadoparticipante/cancelarinscricaoemworkshop/" {% else %}
                                                    action="/2016/areadoparticipante/inscricaoemworkshop/"
                                                  {% endif %}
                                                  method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="id_workshop" value="{{ atividade.id }}">

{#                                        <button class="ui {% if minicurso_inscrito and minicurso_inscrito != atividade.id or atividade.vagas_disponiveis_atividade <= 0 and minicurso_inscrito != atividade.id %}disabled{% else %} submit {% endif %} {% if minicurso_inscrito == atividade.id %} green {% else %}blue {% endif %} button">#}

                                         <button class="ui
{#{% if workshops_inscritos and atividade.id != workshops_inscritos.0 and atividade.id != workshops_inscritos.1 and atividade.id != workshops_inscritos.2 or atividade.vagas_disponiveis_atividade <= 0 and atividade.id != workshops_inscritos.0 and atividade.id != workshops_inscritos.1 and atividade.id != workshops_inscritos.2 %}#}
{#{% if atividade.vagas_disponiveis_atividade <= 0 and atividade.id not in workshops_inscritos %}#}
{#                                         disabled{% else %}#}
                                        disabled
{#                                        submit #}
{#{% endif %}#}
{% if atividade.id == workshops_inscritos.0 or atividade.id == workshops_inscritos.1 or atividade.id == workshops_inscritos.2 %} green {% else %}blue {% endif %} button">
                                                    {% if atividade.id == workshops_inscritos.0 or atividade.id == workshops_inscritos.1 or atividade.id == workshops_inscritos.2 %}Cancelar{% elif atividade.vagas_disponiveis_atividade == 0 and atividade.id not in workshops_inscritos %}Esgotado{% else %}
                                                        Inscrever{% endif %}</button>
                                            </form>
{#                                        <button class="ui disabled blue button">Breve</button>#}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
{#                    {% endif %}#}
                        </p>

                        <h3 class="ui horizontal divider header">
                            <i class="checkmark box icon"></i>
                            Controle de Presença
                        </h3>
                        <p align="center">Será disponibilizado durante o evento. Para que possamos fazer o controle de
                            presença, faça o seu credenciamento durante os dias do evento para pegar a sua
                            credencial.<br>Lembrando que para receber o certificado, você precisa participar de pelo
                            menos 75% das atividades do evento.</p>
                        <p align="center"><b>Quais atividades contam presença?</b><br>Todas as palestras (exceto
                            Lightning Talks), todas as palestras empresariais, visita aos estandes no Enterprise Day e
                            todas as mesas-redondas.<br>São emitidos certificados separados para a participação em
                            workshops e minicursos.</p>

                        <table class="ui celled striped selectable table">
                            <thead>
                            <tr>
                                <th>Palestra</th>
                                <th>Dia e Horário(s)</th>
                                {#                                <th>Feedback</th>#}
                            </tr>
                            </thead>
                            <tbody>

                            {% for atividade in palestras %}
                                <tr {% if atividade.id in presencas %}class="positive"{% endif %}>
                                    <td>
                                        <h4 class="ui image header">
                                            <img src="{% static 'secompufscar2016/images/palestrantes/palestras/'|add:atividade.ministrante_atividade.get.foto_ministrante %}"
                                                 class="ui mini bordered rounded image">
                                            <div class="content">
                                                {{ atividade.nome_atividade }}
                                                <div class="sub header">{{ atividade.ministrante_atividade.get.nome_ministrante }}
                                                </div>
                                            </div>
                                        </h4>
                                    </td>
                                    <td class="three wide">{{ atividade.data_inicio_atividade|date:"l, d/m" }},<br>{{ atividade.hora_inicio_atividade.hour }}h{% if atividade.hora_inicio_atividade|time:'i' != '00' %}
                                        {{ atividade.hora_inicio_atividade|time:'i' }}{% endif %}
                                        - {{ atividade.hora_fim_atividade.hour }}h{% if atividade.hora_fim_atividade|time:'i' != '00' %}
                                            {{ atividade.hora_fim_atividade|time:'i' }}{% endif %}
                                    </td>
                                    {#                                    <td class="one wide">#}
                                    {#                                        <div class="ui large star rating"></div>#}
                                    {#                                        <script type="text/javascript">#}
                                    {#                                            $('.rating')#}
                                    {#                                                    .rating({maxRating: 5})#}
                                    {#                                            ;#}
                                    {#                                        </script>#}
                                    {#                                    </td>#}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <table class="ui celled striped selectable table">
                            <thead>
                            <tr>
                                <th>Mesa-redonda</th>
                                <th>Dia e Horário(s)</th>
                                {#                                <th>Feedback</th>#}
                            </tr>
                            </thead>
                            <tbody>

                            {% for atividade in mesasredondas %}
                                <tr {% if atividade.id in presencas %}class="positive"{% endif %}>
                                    <td>
                                        <h4 class="ui image header">

                                            {% for ministrante in atividade.ministrante_atividade.all %}
                                                <img src="{% static 'secompufscar2016/images/palestrantes/mesasredondas/'|add:ministrante.foto_ministrante %}"
                                                     class="ui mini bordered rounded image">
                                            {% endfor %}
                                            <div class="content">
                                                {{ atividade.nome_atividade }}
                                                <div class="sub header">
                                                    {% for ministrante in atividade.ministrante_atividade.all %}
                                                        {{ ministrante.nome_ministrante }}{% if not forloop.last %},
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </h4>
                                    </td>
                                    <td class="three wide">{{ atividade.data_inicio_atividade|date:"l, d/m" }},<br>{{ atividade.hora_inicio_atividade.hour }}h{% if atividade.hora_inicio_atividade|time:'i' != '00' %}
                                        {{ atividade.hora_inicio_atividade|time:'i' }}{% endif %}
                                        - {{ atividade.hora_fim_atividade.hour }}h{% if atividade.hora_fim_atividade|time:'i' != '00' %}
                                            {{ atividade.hora_fim_atividade|time:'i' }}{% endif %}
                                    </td>
                                    {#                                    <td class="one wide">#}
                                    {#                                        <div class="ui large star rating"></div>#}
                                    {#                                        <script type="text/javascript">#}
                                    {#                                            $('.rating')#}
                                    {#                                                    .rating({maxRating: 5})#}
                                    {#                                            ;#}
                                    {#                                        </script>#}
                                    {#                                    </td>#}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <script type="text/javascript">
        $('.ui.form')
                .form({
                    fields: {
                        password: {
                            identifier: 'password',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Por favor, insira uma senha.'
                                }
                            ]
                        },
                        confirmacaodesenha: {
                            identifier: 'confirmacaodesenha',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Por favor, entre com a confirmação da senha.'
                                },
                                {
                                    type: 'match[password]',
                                    prompt: 'A senha de confirmação não confere com a senha digitada.'
                                }
                            ]
                        },
                    },
                    inline: true,
                    on: 'blur'

                })
        ;
    </script>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}
{% endblock body_content %}