{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Inscrição de equipe{% endblock %}

{% block meta_description %}Veja aquis os processos seletivos que acontecerão na VII SECOMP
    UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}

    <!-- Inscrição de equipes no Desafio -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">DESAFIO DE PROGRAMADORES</h1>
                </div>
            </div>

            <div class="row">
                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp">
                    <h2 class="ui top attached header" style="text-transform: none;">
                        Olá, {{ user.first_name }}!<a href="/2016/areadoparticipante/logout/">
                        <button class="ui right floated button">Fazer logout</button>
                    </a>
                    </h2>


                    <div class="ui attached fluid segment">
                        <div class="ui divided items">
                            <div class="item">
                                <div class="content">
                                    <div class="description">
                                        {% if admin %}
                                            <p align="center">
                                                <a href="/2016/areadoparticipante/areaadministrativa/">
                                                    <button class="ui blue button">Área Administrativa</button>
                                                </a>
                                            </p>

                                        {% endif %}
                                        <h3 class="ui horizontal divider header">
                                            <i class="trophy icon"></i>
                                            Inscrição de Equipe no Desafio de Programadores
                                        </h3>

                                    {% if not equipe_inscrita %}

                                        <form action="." method="POST" class="ui form">
                                            {% csrf_token %}

                                            <div class="required field">
                                                <label>Nome da equipe</label>
                                                <div class="ui input">
                                                    <input type="text" name="nome_da_equipe"
                                                           placeholder="Nome da equipe">
                                                </div>
                                            </div>
                                            <div class="three fields">
                                                <div class="required disabled field">
                                                    <label>E-mail do integrante 1</label>
                                                    <div class="ui input">
                                                        <input type="email" name="integrante1" value="{{ user.email }}"
                                                               placeholder="E-mail do integrante 1">
                                                    </div>
                                                </div>
                                                <div class="required field">
                                                    <label>E-mail do integrante 2</label>
                                                    <div class="ui input">
                                                        <input type="email" name="integrante2"
                                                               placeholder="E-mail do integrante 2">
                                                    </div>
                                                </div>
                                                <div class="required field">
                                                    <label>E-mail do integrante 3</label>
                                                    <div class="ui input">
                                                        <input type="email" name="integrante3"
                                                               placeholder="E-mail do integrante 3">
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="ui blue submit button">Inscrever equipe</button>
                                        </form>

                                        {% if formulario_invalido %}
                                            <div class="ui negative message">
                                                <b>Formulário incompleto. Preencha todos os campos e tente novamente.</b>
                                            </div>
                                        {% endif %}

                                        {% if nome_de_equipe_ja_cadastrado %}
                                            <div class="ui negative message">
                                                <b>Já existe outra equipe com o nome {{ nome_ja_cadastrado }}. Utilize outro nome.</b>
                                            </div>
                                        {% endif %}

                                        {% if usuarios_repetidos %}
                                            <div class="ui negative message">
                                                <b>Você não pode repetir um integrante da equipe.</b>
                                            </div>
                                        {% endif %}

                                        {% if usuarios_nao_cadastrados %}
                                            <div class="ui negative message">
                                               <b>Os seguintes usuários ainda não estão cadastrados no sistema da SECOMP:</b><br>
                                                {% for usuario in usuarios_nao_cadastrados %}
                                                    {{ usuario }}<br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                        {% if usuarios_nao_inscritos_no_evento %}
                                            <div class="ui negative message">
                                               <b>Os seguintes usuários ainda não fizeram inscrição na VII SECOMP:</b><br>
                                                {% for usuario in usuarios_nao_inscritos_no_evento %}
                                                    {{ usuario }}<br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                        {% if usuarios_com_desafio_desabilitado %}
                                            <div class="ui negative message">
                                                <b>Os seguintes usuários não fizeram inscrição no Desafio de Programadores:</b><br>
                                                {% for usuario in usuarios_com_desafio_desabilitado %}
                                                    {{ usuario }}<br>
                                                {% endfor %}
                                                <br>Solicite que eles habilitem a opção do Desafio na Área do Participante e depois volte para fazer a inscrição da equipe.
                                            </div>
                                        {% endif %}

                                        {% if usuarios_com_pacote_invalido %}
                                            <div class="ui negative message">
                                                <b>Os seguintes usuários não estão inscritos no pacote FULL:</b><br>
                                                {% for usuario in usuarios_com_pacote_invalido %}
                                                    {{ usuario }}<br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                        {% if usuarios_pendentes_de_pagamento %}
                                            <div class="ui negative message">
                                                <b>Os seguintes usuários ainda não realizaram o pagamento da inscrição:</b><br>
                                                {% for usuario in usuarios_pendentes_de_pagamento %}
                                                    {{ usuario }}<br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                        {% if usuarios_ja_inscritos_em_equipe %}
                                            <div class="ui negative message">
                                                <b>Os seguintes já estão inscritos em outra equipe:</b><br>
                                                {% for usuario in usuarios_ja_inscritos_em_equipe %}
                                                    {{ usuario }}<br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="ui positive message">
                                            <b>Equipe {{ equipe }} inscrita com sucesso!</b><br>
                                            Integrante 1: {{ integrante1 }}<br>
                                            Integrante 2: {{ integrante2 }}<br>
                                            Integrante 3: {{ integrante3 }}<br>
                                        </div>
                                    {% endif %}

                                        <br>
                                        <a href="/2016/areadoparticipante/">
                                            <button class="ui primary left labeled icon left floated button">
                                                <i class="left arrow icon"></i>
                                                Voltar para a Área do Participante
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <script type="text/javascript">
        $('.ui.form')
                .form({
                    fields: {
                        nome_da_equipe: {
                            identifier: 'nome_da_equipe',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Por favor, entre com o nome da equipe'
                                },
                            ]
                        },
                        integrante1: {
                            identifier: 'integrante1',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Por favor, entre com o e-mail do integrante.'
                                },
                                {
                                    type: 'email',
                                    prompt: 'Por favor, entre com um e-mail válido.'
                                }

                            ]
                        },
                        integrante2: {
                            identifier: 'integrante2',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Por favor, entre com o e-mail do integrante.'
                                },
                                {
                                    type: 'email',
                                    prompt: 'Por favor, entre com um e-mail válido.'
                                }

                            ]
                        },
                        integrante3: {
                            identifier: 'integrante3',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Por favor, entre com o e-mail do integrante.'
                                },
                                {
                                    type: 'email',
                                    prompt: 'Por favor, entre com um e-mail válido.'
                                }

                            ]
                        },
                    },
                    inline: true,
                    on: 'blur'

                })
        ;
    </script>


    {% include 'secompufscar2016/helpers/patrocinadores.html' %}
{% endblock body_content %}