{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Área do Participante: Login{% endblock %}

{% block meta_description %}Faça login para entrar na Área do Participante da VII SECOMP
    UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}
    <!-- Formulário de login -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Área do participante</h1>
                </div>
            </div>
            <div class="ui six wide computer twelve wide mobile column">
                <div class="row">
                    <p><br><br></p>
                    <div class="ui one column middle aligned very relaxed stackable grid">
                        <div class="column">
                            <form action="/2016/areadoparticipante/login/" method="post" class="ui form">
                                {% csrf_token %}
                                {% if senha_alterada %}
                                    <div class="ui positive message">
                                        Sua senha foi alterada com sucesso! Por favor, realize seu login novamente com a nova senha.
                                    </div>
                                {% endif %}
                                <div class="field">
                                    <label>E-mail</label>
                                    <div class="ui left icon input">
                                        <input type="email" name="email" placeholder="E-mail">
                                        <i class="user icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Senha</label>
                                    <div class="ui left icon input">
                                        <input type="password" name="password">
                                        <i class="lock icon"></i>
                                    </div>
                                </div>
                                <input type="submit" value="Entrar" class="ui blue submit button">
                                <a href="/2016/areadoparticipante/redefinirsenha/">&nbsp;&nbsp;Esqueci minha senha</a>
                            </form>
                            {% if invalid_login %}
                                <div class="ui error message">
                                    <div class="content">
                                        <div class="header">Falha no login!
                                        </div>
                                        <p>Usuário ou senha inválidos.</p>
                                    </div>
                                </div>
                            {% endif %}
                            {% if disabled_account %}
                                <div class="ui error message">
                                    <div class="content">
                                        <div class="header">Falha no login!
                                        </div>
                                        <p>Seu e-mail ainda não está confirmado. Confirme-o clicando <a
                                                href="/2016/areadoparticipante/cadastro/confirmaremail/">aqui</a>.</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
{#                        <div class="ui vertical divider">#}
{#                            ou#}
{#                        </div>#}
{#                        <div class="center aligned column">#}
{#                            <a href="/2016/areadoparticipante/cadastro/">#}
{#                                <div class="ui big green labeled icon disabled button">#}
{#                                    <i class="signup icon"></i>#}
{#                                    Cadastre-se#}
{#                                    Inscrições encerradas#}
{#                                </div>#}
{#                            </a>#}
{#                        </div>#}
                    </div>
                    <p><br><br></p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.ui.form')
                .form({
                    fields: {
                        email: {
                            identifier: 'email',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Entre com seu e-mail.'
                                },
                                {
                                    type: 'email',
                                    prompt: 'Entre com um e-mail válido.'
                                }
                            ]
                        },
                        password: {
                            identifier: 'password',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Entre com a senha.'
                                }
                            ]
                        }
                    },
                    inline: true,
                    on: 'blur'
                });
    </script>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}