<!-- TODO Adicionar os detalhes do kit desse ano -->
<table class="ui celled striped stackable table">
    <thead>
        <tr>
            <th colspan="2">O KIT inclui:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Camiseta e brindes</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
        </tr>
        <tr>
            <td>Acesso a todos os coffee-breaks do evento</td>
            <td class="center aligned"><i class="large green checkmark icon"></i>
            </td>
        </tr>
        <tr>
            <td>Desconto de R$ 5,00 no Churrasco de Integração</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
        </tr>
    </tbody>
</table>