<div class="ui four top attached steps">
    <div class="step" id="passo_inscricao">
        <i class="ticket icon"></i>
        <div class="content">
            <div class="title">Inscrição</div>
            <div class="description">Leia e aceite os termos de inscrição</div>
        </div>
    </div>
    <div class="step" id="passo_inscricao_realizada">
        <i class="check square icon"></i>
        <div class="content">
            <div class="title">Inscrição realizada</div>
            <div class="description">Verifique os dados da inscrição realizada</div>
        </div>
    </div>
    <div class="disabled step" id="passo_compra_kit">
        <i class="payment card icon"></i>
        <div class="content">
            <div class="title">Compra online do KIT</div>
            <div class="description">Garanta o seu KIT SECOMP 2018</div>
        </div>
    </div>
    <div class="disabled step" id="passo_pagamento_paypal">
        <i class="paypal card icon"></i>
        <div class="content">
            <div class="title">Pagamento via PayPal</div>
            <div class="description">Confirmação de pagamento do KIT via PayPal</div>
        </div>
    </div>
</div>