{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Inscrição{% endblock %}

{% block meta_description %}Realize aqui a sua inscrição para a VII SECOMP UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}
    <style>
        .ui.huge.labels .label, .ui.huge.label {
            font-size: 1.8rem;
        }

        .hide {
            display: none;
        }

        .show {
            display: block;
        }
    </style>


    <script type="text/javascript">
        var pacote = 0.00;

        function ajustarPacote() {

            if (document.getElementById('pacotestudy').checked) {
                $('#camiseta').removeClass('show');
                $('#desafiodeprogramadores').removeClass('show');
                $('#camiseta').addClass('hide');
                $('#desafiodeprogramadores').addClass('hide');
                pacote = 20.00;
            } else if (document.getElementById('pacotefree').checked) {
                $('#camiseta').removeClass('show');
                $('#desafiodeprogramadores').removeClass('show');
                $('#camiseta').addClass('hide');
                $('#desafiodeprogramadores').addClass('hide');
                pacote = 0.00;

            } else {
                $('#camiseta').removeClass('hide');
                $('#desafiodeprogramadores').removeClass('hide');
                $('#camiseta').addClass('show');
                $('#desafiodeprogramadores').addClass('show');
                pacote = 30.00;
            }

            document.getElementById('totalapagar').innerHTML = "R$ " + pacote.toString() + ",00"
        }
    </script>

    <!-- Inscrição -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Inscrição VII SECOMP
                        UFSCar</h1>
                    <p><br></p>
                </div>
                <div class="row">
                    <div class="ui centered grid">
                        <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui icon positive message wow fadeInUp" data-wow-delay="0.3s">
                                    <i class="smile icon"></i>
                                    <div class="content">
                                        <div class="header">Olá, {{ user.first_name }}!
                                            <a href="/2016/areadoparticipante/logout/">
                                                <button class="ui right floated button">
                                                    Fazer logout
                                                </button>
                                            </a>
                                        </div>
                                        <p>Faça sua inscrição preenchendo os dados abaixo.
                                        </p>
                                    </div>
                                </div>
                                <div class="ui four top attached steps">
                                    <div class="active step">
                                        <i class="ticket icon"></i>
                                        <div class="content">
                                            <div class="title">Dados da inscrição</div>
                                            <div class="description">Informe o pacote e opções de inscrição</div>
                                        </div>
                                    </div>
                                    <div class="step">
                                        <i class="check square icon"></i>
                                        <div class="content">
                                            <div class="title">Inscrição realizada</div>
                                            <div class="description">Verifique os dados da inscrição realizada</div>
                                        </div>
                                    </div>
                                    <div class="step">
                                        <i class="payment card icon"></i>
                                        <div class="content">
                                            <div class="title">Instruções de pagamento</div>
                                            <div class="description">Verifique as opções de pagamento da inscrição</div>
                                        </div>
                                    </div>
                                    <div class="step">
                                        <i class="paypal card icon"></i>
                                        <div class="content">
                                            <div class="title">Pagamento via PayPal</div>
                                            <div class="description">Realize o pagamento da inscrição</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui attached segment">
                                    <form action="/2016/areadoparticipante/inscricao/" method="post" class="ui form">
                                        {% csrf_token %}
                                        <p>
                                        <h3 class="ui horizontal divider header">
                                            <i class="tag icon"></i>
                                            Escolha de pacote
                                        </h3>
                                        <div class="grouped fields" onchange="ajustarPacote()"
                                             onclick="ajustarPacote()">
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" name="pacote" checked="" tabindex="0"
                                                           class="hidden" id="pacotefull" value="FULL">
                                                    <label>Pacote FULL</label>
                                                </div>
                                                <div class="ui left blue pointing label">
                                                    R$ 30,00
                                                </div>
                                            </div>

                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" name="pacote" tabindex="0" class="hidden"
                                                           id="pacotestudy" value="STUDY">
                                                    <label>Pacote STUDY</label>
                                                </div>
                                                <div class="ui left blue pointing label">
                                                    R$ 20,00
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" name="pacote" tabindex="0" class="hidden"
                                                           id="pacotefree" value="FREE">
                                                    <label>Pacote FREE</label>
                                                </div>
                                                <div class="ui left blue pointing label">
                                                    R$ 0,00
                                                </div>
                                            </div>
                                        </div>

                                        Estou em dúvida. Qual a diferença entre os pacotes?
                                        <p></p>
                                        {% include 'secompufscar2016/helpers/tabeladepacotes.html' %}

                                        <div id="camiseta">
                                            <p>
                                            <h3 class="ui horizontal divider header">
                                                <i class="add to cart icon"></i>
                                                Tamanho da camiseta
                                            </h3>
                                            <div class="inline fields">
                                                <div class="field">
                                                    <div class="ui radio checkbox">
                                                        <input type="radio" name="tamanho_camiseta" value="P" checked=""
                                                               tabindex="0"
                                                               class="hidden">
                                                        <label>P</label>

                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="ui radio checkbox">
                                                        <input type="radio" name="tamanho_camiseta" value="M"
                                                               tabindex="0" class="hidden">
                                                        <label>M</label>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="ui radio checkbox">
                                                        <input type="radio" name="tamanho_camiseta" value="G"
                                                               tabindex="0" class="hidden">
                                                        <label>G</label>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="ui radio checkbox">
                                                        <input type="radio" name="tamanho_camiseta" value="GG"
                                                               tabindex="0" class="hidden">
                                                        <label>GG</label>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="ui radio checkbox">
                                                        <input type="radio" name="tamanho_camiseta" value="54"
                                                               tabindex="0" class="hidden">
                                                        <label>54</label>
                                                    </div>
                                                </div>
{#                                                <div class="field">#}
{#                                                    <div class="ui radio checkbox">#}
{#                                                        <input type="radio" name="tamanho_camiseta" value="BabyLook P"#}
{#                                                               tabindex="0" class="hidden">#}
{#                                                        <label>BabyLook P</label>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="field">#}
{#                                                    <div class="ui radio checkbox">#}
{#                                                        <input type="radio" name="tamanho_camiseta" value="BabyLook M"#}
{#                                                               tabindex="0" class="hidden">#}
{#                                                        <label>BabyLook M</label>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="field">#}
{#                                                    <div class="ui radio checkbox">#}
{#                                                        <input type="radio" name="tamanho_camiseta" value="BabyLook G"#}
{#                                                               tabindex="0" class="hidden">#}
{#                                                        <label>BabyLook G</label>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="field">#}
{#                                                    <div class="ui radio checkbox">#}
{#                                                        <input type="radio" name="tamanho_camiseta" value="BabyLook GG"#}
{#                                                               tabindex="0" class="hidden">#}
{#                                                        <label>BabyLook GG</label>#}
{#                                                    </div>#}
{#                                                </div>#}
                                            </div>
                                            </p>
                                        </div>

                                        <div id="desafiodeprogramadores">
                                            <p><br></p>
                                            <h3 class="ui horizontal divider header">
                                                <i class="trophy icon"></i>
                                                Desafio de Programadores
                                            </h3>
                                            Você vai participar do Desafio de Programadores? Atente-se para as
                                            informações do
                                            edital disponíveis <a href="/2016/programacao/desafiodeprogramadores/"
                                                                  target="_blank">neste link</a>. Instruções de
                                            inscrição das
                                            equipes serão enviadas por e-mail posteriormente aos participantes que
                                            demonstrarem
                                            interesse em participar do Desafio.
                                            <p><br></p>
                                            <div class="ui toggle checkbox" onclick="ajustarPacote()">
                                                <input type="checkbox" name="desafio_de_programadores" tabindex="0"
                                                       class="hidden">
                                                <label>Sim, eu quero!</label>
                                            </div>
                                        </div>

                                        {#                                        <h4 class="ui horizontal divider header">#}
                                        {#                                            <i class="food icon"></i>#}
                                        {#                                            Churrasco de Integração#}
                                        {#                                        </h4>#}
                                        {##}
                                        {#                                        <p>#}
                                        {#                                            Gostaria de aproveitar e comprar o ingresso para o nosso fantástico#}
                                        {#                                            churrasco de#}
                                        {#                                            integração?#}
                                        {#                                            Quinta-feira, dia 29/09, por apenas R$ 25,00.<br></p>#}
                                        {#                                        <div class="ui toggle checkbox" onchange="ajustarPacote()">#}
                                        {#                                            <input type="checkbox" name="churrasco_de_integracao" tabindex="0" class="hidden" id="churrasco">#}
                                        {#                                            <label>Sim, eu quero!</label>#}
                                        {#                                        </div>#}

                                        <h3 class="ui horizontal divider header">
                                            <i class="mail icon"></i>
                                            Contato com nossos parceiros
                                        </h3>
                                        <div class="ui toggle checkbox">
                                            <input type="checkbox" name="contato_com_parceiros" tabindex="0" checked=""
                                                   class="hidden">
                                            <label>Aceito receber e-mails de parceiros da VII SECOMP UFSCar.</label>
                                        </div>
                                        <h3 class="ui horizontal divider header">
                                            <i class="money icon"></i>
                                            Total a pagar
                                        </h3>
                                        <p align="center">
                                            <a class="ui huge green label" id="totalapagar">R$
                                                30,00</a></p>
                                        <div class="row">
                                            <p>
                                                Ao realizar a sua inscrição, você concorda com os termos de participação da VII Semana da Computação da UFSCar, que podem ser lidos <a href="/2016/termos/" target="_blank">neste link</a>.
                                                <br>
                                                <button class="ui blue submit right floated right labeled icon button">
                                                    <i class="right arrow icon"></i>
                                                    Realizar inscrição
                                                </button>
                                            </p>
                                            <p><br></p>
                                        </div>
                                    </form>
                                    {#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <script type="text/javascript">
        $('.ui.radio.checkbox')
                .checkbox()
        ;

        $('.ui.toggle.checkbox')
                .checkbox()
        ;
        $('.ui.accordion')
                .accordion()
        ;
    </script>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}