{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Inscrição Realizada{% endblock %}

{% block meta_description %}Realize aqui a sua inscrição para a VII SECOMP UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}

    <style>
        .ui.huge.labels .label, .ui.huge.label {
            font-size: 1.8rem;
        }
    </style>

    <!-- Confirmação de Pagamento -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Inscrição VII SECOMP
                        UFSCar</h1>
                    <p><br></p>
                </div>
                <div class="row">
                    <div class="ui centered grid">
                        <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui four top attached steps">
                                    <div class="step">
                                        <i class="ticket icon"></i>
                                        <div class="content">
                                            <div class="title">Dados da inscrição</div>
                                            <div class="description">Informe o pacote e opções de inscrição</div>
                                        </div>
                                    </div>
                                    <div class="active step">
                                        <i class="check square icon"></i>
                                        <div class="content">
                                            <div class="title">Inscrição realizada</div>
                                            <div class="description">Verifique os dados da inscrição realizada</div>
                                        </div>
                                    </div>
                                    <div class="{% if user.inscricao_set.all.last.pacote == 'FREE' %}disabled {% endif %}step">
                                        <i class="payment card icon"></i>
                                        <div class="content">
                                            <div class="title">Instruções de pagamento</div>
                                            <div class="description">Verifique as opções de pagamento da inscrição</div>
                                        </div>
                                    </div>
                                    <div class="{% if user.inscricao_set.all.last.pacote == 'FREE' %}disabled {% endif %}step">
                                        <i class="paypal card icon"></i>
                                        <div class="content">
                                            <div class="title">Pagamento via PayPal</div>
                                            <div class="description">Realize o pagamento da inscrição</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui attached segment">
                                    <a href="/2016/areadoparticipante/logout/">
                                    <button class="ui right floated button">Fazer logout</button></a>
                                    <h2>Inscrição realizada com sucesso</h2>

                                    <p>Um e-mail de confirmação será enviado para você.
                                    </p>

                                    {% if user.inscricao_set.all.last.pacote == 'FREE' %}
                                        <p>A partir de agora, você terá acesso à Área do Participante, onde poderá se
                                            inscrever em workshops (quando a inscrição deles estiverem abertas).
                                            Caso desejar, você ainda pode alterar a sua inscrição.
                                        </p>
                                    {% else %}
                                        <p>Verique os dados de sua inscrição e prossiga para o pagamento. Uma vez que
                                            ainda não foi feito nenhum pagamento, você ainda pode alterar a sua
                                            inscrição, caso necessário. Após o pagamento, você terá acesso à Área do
                                            Participante, onde poderá fazer inscrição nos minicursos e workshops (quando
                                            a inscrição deles estiverem abertas).</p>
                                    {% endif %}
                                    <div class="ui form">
                                        <h3 class="ui horizontal divider header">
                                            <i class="tag icon"></i>
                                            Resumo da Inscrição Realizada
                                        </h3>

                                        <table class="ui celled striped unstackable table">
                                            <tbody>
                                            <tr>
                                                <td class="four wide"><b>Pacote</b></td>
                                                <td>{{ user.inscricao_set.last.pacote }}</td>
                                            </tr>

                                            <tr>
                                                <td class="four wide"><b>Camiseta</b></td>
                                                <td>{% if user.inscricao_set.last.pacote == 'FULL' %}
                                                    {{ user.inscricao_set.last.camiseta }}{% else %}O pacote
                                                    {{ user.inscricao_set.last.pacote }} não inclui
                                                    camiseta.{% endif %}</td>
                                            </tr>
                                            <tr>
                                                <td class="four wide"><b>Desafio de Programadores</b></td>
                                                <td>{% if user.inscricao_set.all.last.pacote == 'FULL' %}
                                                    {% if user.inscricao_set.all.last.desafio_de_programadores %}
                                                        Sim
                                                    {% else %}
                                                        Não (você poderá alterar esta opção na Área do Participante)
                                                    {% endif %}
                                                {% else %}
                                                    O pacote {{ user.inscricao_set.all.last.pacote }} não inclui o
                                                    Desafio de Programadores.
                                                {% endif %}</td>
                                            </tr>
                                            <tr>
                                                <td class="four wide"><b>Contato com os parceiros da SECOMP</b></td>
                                                <td>{% if user.inscricao_set.all.last.aceite_compartilhamento_email %}
                                                    Sim
                                                {% else %}
                                                    Não
                                                {% endif %}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <h4 class="ui horizontal divider header">
                                            <i class="money icon"></i>
                                            Valor a pagar
                                        </h4>
                                        <p align="center">
                                            <a class="ui huge green label" id="totalapagar">
                                                R$ {{ valor_a_pagar|floatformat:2 }}
                                            </a>
                                        </p>

                                        <div class="row">
                                            <p><br>
                                                <a href="/2016/areadoparticipante/inscricao/">
                                                    <button class="ui primary left labeled icon left floated button">
                                                        <i class="left arrow icon"></i>
                                                        Alterar inscrição
                                                    </button>
                                                </a>

                                                {% if user.inscricao_set.all.last.pacote == 'FREE' and not user.inscricao_set.all.last.churrasco_de_integracao %}

                                                    <a href="/2016/areadoparticipante/dashboard/">
                                                        <button class="ui primary right labeled icon right floated button">
                                                            <i class="right arrow icon"></i>
                                                            Ir para a Área do Participante
                                                        </button>
                                                    </a>

                                                {% else %}
                                                    {% if user.inscricao_set.all.last.pacote == 'FREE' %}
                                                        <a href="/2016/areadoparticipante/dashboard/">
                                                            <button class="ui primary right labeled icon right floated button">
                                                                <i class="right arrow icon"></i>
                                                                Ir para a Área do Participante
                                                            </button>
                                                        </a>
                                                    {% endif %}



                                                    <a href="/2016/areadoparticipante/inscricao/pagamento/">
                                                        <button class="ui primary right labeled icon right floated button">
                                                            <i class="right arrow icon"></i>
                                                            Ir para o Pagamento
                                                        </button>
                                                    </a>

                                                {% endif %}

                                                <br><br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}