{% extends 'secompufscar2016/helpers/base.html' %}
{% load staticfiles %}

{% block title %}SECOMP UFSCar - Pagamento{% endblock %}

{% block meta_description %}Realize aqui a sua inscrição para a VII SECOMP UFSCar.{% endblock meta_description %}

{% block headerspace %}{% include 'secompufscar2016/helpers/headerspace.html' %}{% endblock headerspace %}

{% block body_content %}
    <style>
        .ui.huge.labels .label, .ui.huge.label {
            font-size: 1.8rem;
        }
    </style>

    <!-- Pagamento -->
    <div class="ui vertical stripe segment" id="fundocinza">
        <div class="ui centered grid container">
            <div class="ui sixteen wide column">
                <div class="row">
                    <p><br></p>
                    <h1 class="ui centered header wow fadeInUp" data-wow-delay="0.3s">Inscrição VII SECOMP
                        UFSCar</h1>
                    <p><br></p>
                </div>
                <div class="row">
                    <div class="ui centered grid">
                        <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                            <div class="row">
                                <div class="ui four top attached steps">
                                    <div class="step">
                                        <i class="ticket icon"></i>
                                        <div class="content">
                                            <div class="title">Dados da inscrição</div>
                                            <div class="description">Informe o pacote e opções de inscrição</div>
                                        </div>
                                    </div>
                                    <div class="step">
                                        <i class="check square icon"></i>
                                        <div class="content">
                                            <div class="title">Inscrição realizada</div>
                                            <div class="description">Verifique os dados da inscrição realizada</div>
                                        </div>
                                    </div>
                                    <div class="active step">
                                        <i class="payment card icon"></i>
                                        <div class="content">
                                            <div class="title">Instruções de pagamento</div>
                                            <div class="description">Verifique as opções de pagamento da inscrição</div>
                                        </div>
                                    </div>
                                    <div class="step">
                                        <i class="paypal card icon"></i>
                                        <div class="content">
                                            <div class="title">Pagamento via PayPal</div>
                                            <div class="description">Realize o pagamento da inscrição</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui attached segment">
                                    <p>
                                        <div class="ui form">
                                            <h3 class="ui horizontal divider header">
                                                <i class="tag icon"></i>
                                                Cupom de desconto
                                            </h3>
                                    <p>Possui um cupom de desconto? Insira-o aqui.
                                <a href="/2016/areadoparticipante/logout/">
                                    <button class="ui right floated button">Fazer logout</button></a><br><br>
                                </p>

                                    <div class="ui message">
                                        <div class="header">Atenção:</div>
                                        Ao aplicar um cupom válido, você estará realizando um pagamento e, com isso, não
                                        poderá mais alterar a sua inscrição diretamente. Se necessário fazer upgrade de
                                        pacote posteriormente, entre em contato com a organização pelo e-mail <a
                                            href="mailto:contato@secompufscar.com.br">contato@secompufscar.com.br</a>.
                                    </div>

                                    <form action="/2016/areadoparticipante/inscricao/pagamento/aplicarcupomdedesconto/"
                                          method="post" class="ui form">
                                        {% csrf_token %}

                                        <div class="field">
                                            <label>Código do cupom de desconto</label>
                                            <input type="text" name="cupom_de_desconto"
                                                   placeholder="Cupom de desconto">
                                        </div>
                                        <button class="ui blue submit button">
                                            Aplicar cupom
                                        </button>

                                    </form>

                                    {% if aplicar_cupom %}

                                        {% if cupom_invalido %}
                                            <div class="ui negative message">
                                                O cupom informado é inválido!
                                            </div>

                                        {% else %}

                                            {% if cupom_ja_utilizado %}
                                                <div class="ui negative message">
                                                    O cupom informado já foi utilizado anteriormente!
                                                </div>
                                            {% else %}
                                                <div class="ui positive message">
                                                    Cupom <b>{{ cupom.codigo }}</b> de {{ cupom.desconto }}% de desconto
                                                    foi aplicado com sucesso.
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>

                                <h3 class="ui horizontal divider header">
                                    <i class="money icon"></i>
                                    Valor pendente de pagamento
                                </h3>
                                <p align="center">
                                    <a class="ui huge green label" id="totalapagar">
                                        R$ {{ valor_a_pagar|floatformat:2 }}
                                    </a>

                                    {% if valor_a_pagar == 0 %}

                                        <div class="ui positive message">
                                            Sua inscrição já foi paga! :-)
                                        </div>

                                    {% endif %}


                                {% if valor_a_pagar != 0 %}

                                    <h3 class="ui horizontal divider header">
                                        <i class="paypal card icon"></i>
                                        Pagamento com PayPal
                                    </h3>
                                    <p>
                                        Esta é a opção mais prática e você pode utilizar cartão de crédito! Após o
                                        pagamento, seu acesso à Área do Participante será liberado automaticamente.
                                        Isso significa que se as inscrições para minicursos e/ou workshops já
                                        estiverem abertas, você já poderá fazer a sua inscrição logo após concluir
                                        esta etapa de pagamento. Para pagar com o PayPal, clique no botão
                                        abaixo:</p>
                                    <p align="center">
                                        <a href="/2016/areadoparticipante/inscricao/pagamento/redirecionarpagamento/"
                                           data-paypal-button="true">
                                            <img src="{% static 'secompufscar_inscricoes/botao-checkout_horizontal_ap.png' %}"
                                                 alt="Pague com PayPal">

                                        </a></p>
                                    <p>
                                        Você será redirecionado ao portal seguro de pagamento do PayPal e, após
                                        conclusão do pagamento, será redirecionado de volta ao nosso site.
                                    </p>

                                    <h3 class="ui horizontal divider header">
                                        <i class="dollar icon"></i>
                                        Pagamento por transferência bancária
                                    </h3>
                                    <p>Você também pode realizar o pagamento de sua inscrição através de depósito ou
                                        transferência bancária para contas no Banco do Brasil ou Santander. Nesta
                                        opção, entretanto, seu acesso à Área do Participante não é liberado
                                        automaticamente. <b>Você precisará enviar o comprovante de depósito ou
                                            transferência para o e-mail <a href="mailto:pagamentos@secompufscar.com.br">pagamentos@secompufscar.com.br</a></b>.
                                        Faremos a conferência do comprovante e confirmação do pagamento em até dois dias
                                        úteis
                                        após o envio do comprovante. Você receberá um e-mail de confirmação do
                                        pagamento e liberação de seu acesso à Área do Participante.</p>
                                    <p>Em seu e-mail com o comprovante, utilize a seguinte tag no assunto:</p>
                                    <p><b>Pagamento SECOMP [E-MAIL UTILIZADO NA INSCRIÇÃO]</b></p>
                                    <p>
                                        <div class="ui styled fluid accordion">
                                            <div class="title">
                                                <i class="dropdown icon"></i>
                                                Dados da conta do Banco do Brasil
                                            </div>
                                            <div class="content">
                                    <p>Nome: Marcelo de Oliveira da Silva<br>
                                        Agência: 1888-0<br>
                                        Conta corrente: 27.599-9
                                    </p>
                                    </div>
                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        Dados da conta do Santander
                                    </div>
                                    <div class="content">
                                        <p>Nome: Marcelo de Oliveira da Silva<br>
                                            Agência: 0024<br>
                                            Conta corrente: 01.048.362-8
                                        </p>
                                    </div>
                                    </div>
                                    </p>

                                    <h3 class="ui horizontal divider header">
                                        <i class="money icon"></i>
                                        Pagamento presencial
                                    </h3>
                                    <p>Aceitaremos pagamento presencial também. Fique ligado em nossa página do
                                        Facebook para informes dos horários de recebimento de pagamento presencial
                                        no Departamento de Computação. Lembrando que seu acesso à Área do
                                        Participante (e consequentemente inscrição em minicursos e workshops) só
                                        será liberado após o pagamento.</p>
                                    <p>
                                    <div class="ui message">
                                        <div class="header">
                                            Caso tenha optado pelo pagamento presencial ou por depósito/transferência
                                            bancária:
                                        </div>
                                        Você já pode fechar esta janela. Se decidir posteriormente fazer o pagamento via
                                        PayPal, basta entrar novamente no link <b>Área do Participante</b> em nosso
                                        site, que você será redirecionado para esta tela de pagamento.
                                    </div>
                                    {% if user.inscricao_set.last.pagamentos.count == 0 %}
                                        <a href="/2016/areadoparticipante/inscricao/">
                                            <button class="ui primary left labeled icon left floated button">
                                                <i class="left arrow icon"></i>
                                                Alterar inscrição
                                            </button>
                                        </a>
                                        <br><br>
                                    {% endif %}
                                {% else %}
                                    <p><br>

                                        <a href="/2016/areadoparticipante/dashboard/">

                                            <button class="ui primary right labeled icon right floated button">
                                                <i class="right arrow icon"></i>
                                                Ir para a Área do Participante
                                            </button>
                                        </a>
                                        <br><br>
                                    </p>
                                {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <br>
    </div>

    <script type="text/javascript">
        $('.ui.radio.checkbox')
                .checkbox()
        ;

        $('.ui.toggle.checkbox')
                .checkbox()
        ;
        $('.ui.accordion')
                .accordion()
        ;
    </script>

    {% include 'secompufscar2016/helpers/patrocinadores.html' %}

{% endblock body_content %}